---
title: .eco for business
description: Thousands of sustainability-focused businesses are using .eco domain. Come join our community!
page-path: for/business/
og-image: opengraph/bikes-green-og.jpg
og-width: 1200
og-height: 630
active: for
---

<link rel="preload" as="image" href="/img/news/bikes-green.jpeg">

 <div class="jumbotron" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/news/bikes-green.jpeg'); background-size: cover; background-position: center;">
	<div class="container">
		<h1>.eco for business</h1>
    <h2>.eco is for eco-friendly businesses like yours</h2>
	</div>
</div>

<div class="section inverted">
	<div class="container for-justify">
    <p>
      Thousands of sustainability-focused businesses are using .eco domains. In fact, <strong>75% of .eco community members are businesses</strong>. This ranges from large corporations to local bakeries and organic farms.
    </p>
    <p>
      .eco is a great way for businesses like yours to showcase your commitment to supporting our planet.
    </p>
	</div>
</div>

<div class="section business-sectors">
	<div class="container">
		<div class="section-label">Sectors</div>

    <h3>Consumer goods</h3>
    <p>.eco businesses produce a range of eco-friendly consumer goods. From sustainable cleaning solutions and reusable packaging to plastic-free toothbrushes, .eco businesses are leading the way to a more sustainable future.</p>

    <div class="sector-profiles grid grid--m1d2">
      {{> profile profile=(lookupProfile featuredProfiles 'greenworx.eco') }}
      {{> profile profile=(lookupProfile featuredProfiles 'preserve.eco') }}
      {{> profile profile=(lookupProfile featuredProfiles 'bleu.eco') }}
      {{> profile profile=(lookupProfile featuredProfiles 'bumboo.eco') }}
      {{> profile profile=(lookupProfile featuredProfiles 'boox.eco') }}
    </div>

    <h3>Sustainable transportation</h3>
    <p>Getting us from place to place without carbon emissions, .eco businesses are at the forefront of making transportation more sustainable.</p>
    <div class="sector-profiles grid grid--m1d2">
      {{> profile profile=(lookupProfile featuredProfiles 'cycle.eco') }}
      {{> profile profile=(lookupProfile featuredProfiles 'current.eco') }}
    </div>

    <h3>Health and beauty</h3>
    <p>We can all still look and feel amazing while making positive change for our planet with the support of .eco businesses like these:</p>
    <div class="sector-profiles grid grid--m1d2">
      {{> profile profile=(lookupProfile featuredProfiles 'koala.eco') }}
      {{> profile profile=(lookupProfile featuredProfiles 'nuvola.eco') }}
    </div>

    <h3>Fashion and apparel</h3>
    <p>Built-to-last and looking great, .eco businesses make fashionable apparel that you can feel great wearing.</p>
    <div class="sector-profiles grid grid--m1d2">
      {{> profile profile=(lookupProfile featuredProfiles 'pirkani.eco') }}
      {{> profile profile=(lookupProfile featuredProfiles 'grunbag.eco') }}
    </div>

    <h3>Digital agencies and software</h3>
    <p>Building the next generations of digital tools to help address environmental challenges:</p>

    <div class="sector-profiles grid grid--m1d2">
      {{> profile profile=(lookupProfile featuredProfiles 'ducky.eco') }}
      {{> profile profile=(lookupProfile featuredProfiles 'terrabyte.eco') }}
    </div>

	</div>
</div>

<div class="section business-leadership inverted">
	<div class="container">
		<div class="section-label">Leadership</div>

    <h3>Certifications</h3>
    <p>Environmental certifications are one way .eco businesses demonstrate their commitment to sustainability. Hundreds of members of the .eco community hold environmental certifications. With all the work you put into getting certified, putting it on your .eco profile is a great way to highlight your company’s achievement.</p>

    <div class="grid grid--m1d3 leadership-logos">
      <div class="grid__cell">
        <a href="https://profiles.eco/profile/certification/b-corporation" title=".eco community members that are B&nbsp;Corp certified"><img src="/img/logos/bcorp.svg" alt="B Corporation logo" class="invert-icon"></a>
      </div>
      <div class="grid__cell">
        <a href="https://profiles.eco/profile/certification/forest-stewardship-council-fsc-chain-of-custody-certification" title=".eco community members that have FSC products"><img src="/img/logos/fsc.svg" alt="Forest Stewardship Council (FSC) Chain of Custody Certification logo" class="invert-icon"></a>
      </div>
      <div class="grid__cell">
        <a href="https://profiles.eco/profile/certification/global-organic-textile-standard" title=".eco community members that have organic textile products"><img src="/img/logos/gots.svg" alt="Global Organic Textile Standard logo"></a>
      </div>
    </div>

    <h3>Giving back</h3>
    <p>Eco-friendly businesses also find ways to support charities, non-profits and associations that work to help protect our planet. Here are some of the environmental organizations supported by the .eco community.</p>

    <div class="grid grid--m1d3 leadership-logos">
      <div class="grid__cell">
        <a href="https://profiles.eco/profile/membership/1pftp"><img src="https://cdn.profiles.eco/img/memberships/1pftp.png" alt="1% for the Planet logo"></a>
      </div>
      <div class="grid__cell">
        <a href="https://profiles.eco/profile/membership/gp"><img src="/img/logos/gp.svg" alt="Greenpeace logo"></a>
      </div>
      <div class="grid__cell">
        <a href="https://profiles.eco/profile/membership/ungi"><img src="/img/logos/ungc.svg" alt="UN Global Compact logo" class="invert-icon"></a>
      </div>
    </div>
  </div>
</div>

{{>search hnum=2 }}
