// Fonts
$font-body: "Lato", sans-serif;
$font-header: "Open Sans", sans-serif;
$font-header-weight: 700;
$font-subheader-weight: 300;

// Colours
$doteco-ruby: #9F1744;
$doteco-sapphire: #454A73;
$doteco-charcoal: #403B3E;
$doteco-citrine: #FCCC37;
$doteco-marrow: #EAECE6;
$doteco-amethyst: #501D4C;
$doteco-fireopal: #FE7635;


#doteco {

	body {
		font-family: $font-body;
		color: $doteco-charcoal;
	}

	h1, h2, h3, h4, h5, h6 {
	  font-family: $font-header;
	  font-weight: $font-header-weight;
	}

	.subheader, blockquote {
		font-family: $font-header;
		font-weight: $font-subheader-weight;
	}

	body, input, textarea {
		font-size: 16px;
	}

	h1 {
		font-size: 2.75em;
		line-height: 1.35;
	}

	h2, .subheader {
		font-size: 2em;
		line-height: 1.4;
	}

	h3, blockquote, .title {
		font-size: 1.5em;
		line-height: 1.5;
	}

	h5 {
		font-size: 1em;
	}

	@media (min-width: 768px) {
		h1 {
			font-size: 4.5em;
			line-height: 1.3;
		}

		h2, .subheader {
			font-size: 2.625em;
			line-height: 1.35;
		}

		h3, blockquote, .title {
			font-size: 2.25em;
			line-height: 1.4;
		}
	}

	@media (min-width: 1200px) {
		.container {
    		width: 970px;
    	}
	}

	body, h4, h5 {
		line-height: 1.56;
	}

	form button {
		background-color: $doteco-fireopal;
		border: none;
	}

	h1, h2, h3, h4, h5 {
		color: $doteco-sapphire;
	}

	h3, h4, h5, .title {
		margin-bottom: 1em;
	}

	a {
		color: $doteco-ruby;
	}

	a:hover, a:visited {
		color: $doteco-sapphire;
	}

	blockquote {
		border: none;
		margin-bottom: 0;

		footer, small {
			font-size: 70%;
		}
	}

	.jumbotron {
		color: white;
		margin-bottom: 0;

		h1, h2, h3, h4, h5 {
			color: white;
		}
	}
	.hero-caption {
		float: right;
		font-size: small;
		margin-right: 1em;
		margin-top: 0.5em;
	}

	.inverted {
		background-color: $doteco-marrow;

		h1, h2, h3, h4, h5, .subheader, .title {
			color: $doteco-fireopal;
		}

		form {
			button {
				background-color: $doteco-fireopal;
				border: none;
			}

			button:hover {
				background-color: $doteco-charcoal;
				color: white;
			}
		}
	}

	.confirmation-alert {
		background-color: $doteco-sapphire;

		h1, h2, h3, h4, h5, p, span, button {
			color: white;
		}

		.btn {
			background-color: $doteco-charcoal;
		}

		.confirmation-alert-content {
			margin: 0 20%;
		}
	}

	.btn-group {
		.btn-primary {
			background-color: transparent;
			color: inherit;
			border-color: $doteco-charcoal;
		}

		.btn-primary.active {
			background-color: $doteco-charcoal;
			color: white;
		}
	}

	.toggle-group label {
		display: block;
		margin-bottom: 0.5em;
	}

	fieldset {
		margin-bottom: 1em;
	}

	legend {
		border: none;
		font-size: initial;
		margin-bottom: 5px;
		font-weight: 700;
	}

	.section {
		padding-top: 2em;
		padding-bottom: 3em;
	}

	.content-section {
		margin-bottom: 2em;
	}

	.underlined-form {
		.form-control:not(textarea) {
			box-shadow: none;
			border: 0;
			border-radius: 0;
			border-bottom: 2px solid $doteco-charcoal;
			padding: 0;
			background-color: transparent;
		}

		.has-error .form-control {
			border-color: $doteco-ruby;
		}
		.has-error .help-block {
			color: $doteco-ruby;
		}

		.form-control-feedback {
			right: 0.5em;
		}
		.form-control:focus {
			box-shadow: 0 4px 2px -2px gray;
		}

		.btn.focus {
			outline: 5px auto $doteco-fireopal;
		}
		.btn.disabled {
			opacity: 0.8;
		}
	}

	.twitter-typeahead {
		width: 100%;
		.tt-menu {
			background-color: white;
			width: 100%;
		}
		.tt-selectable:hover, .tt-cursor {
			background-color: #403B3E;
			color: white;
			cursor: pointer;
		}
	}
}