// Fonts
$font-body: "Lato", sans-serif;
$font-header: "Open Sans",sans-serif;
$font-header-weight: 700;

body {
	font-family: $font-body;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-header;
  font-weight: $font-header-weight;
}

// Colours
$doteco-ruby: #9F1744;
$doteco-sapphire: #454A73;
$doteco-charcoal: #403B3E;
$doteco-citrine: #FCCC37;
$doteco-marrow: #EAECE6;
$doteco-amethyst: #501D4C;
$doteco-fireopal: #FE7635;
