// Fonts
$font-body: 100% "Lato", sans-serif;
$font-header: "Open Sans",sans-serif;
$font-header-weight: 700;

body {
	font: $font-body;
}

h1, h2, h3, h4, h5, h6 {
  font: $font-header;
  font-weight: $font-header-weight;
}

// Colours
