#doteco {
	.hero-champion {
		background-image: url('/img/flower-hero.jpg');
		background-size: cover;

		.container {
			margin-top: 3em;
			margin-bottom: 3em;
		}
	}

	.champion-header {
		background-color: $doteco-sapphire;
	}

	.champion-summary {
		a {
			color: $doteco-sapphire;

		}
	}

	.champion-terms {
		dt {
			float: left;
			clear: left;
			margin-right: 0.4em;
		}

		dd {
			margin-bottom: 1em;
		}

		ol {
			padding-left: 0;
		}

		li {
			margin-bottom: 1em;
			list-style: none;
		}
	}

	.champions-logo {
		border-style: solid;
		border-width: 1px;
		border-color: silver;
		padding: 1rem 1rem;
		height: auto;

		.champions-url {
			color: $doteco-charcoal;
			text-align: center;
			margin: 1rem;
		}

		p {
			color: $doteco-ruby;
			margin-top: 2rem;
		}
	}

	.champions-logo:hover {
		background-color: rgba(159, 23, 68, 0.7);
		border-style: none;

		p {
			color: white;
		}

		a {
			text-decoration: none;
		}
	}

	.registrar-logo {
		margin: 2rem;
	}

}
