#doteco {
	.hero-champion {
		background-image: url('/img/flower-hero.jpg');
		background-size: cover;

		.container {
			margin-top: 3em;
			margin-bottom: 3em;
		}
	}

	.champion-header {
		background-color: $doteco-sapphire;
	}

	.champion-summary {
		a {
			color: $doteco-sapphire;
		}
	}

	.champion-terms {
		dt {
			float: left;
			clear: left;
			margin-right: 0.4em;
		}

		dd {
			margin-bottom: 1em;
		}

		ol {
			padding-left: 0;
		}

		li {
			margin-bottom: 1em;
			list-style: none;
		}
	}

	.champions-logo {
		border-style: solid;
		border-width: 1px;
		border-color: silver;
		padding: 1rem;
		height: auto;
		margin-bottom: 1rem;
		position: relative;

		.champions-url {
			color: $doteco-charcoal;
			text-align: center;
			margin: 1rem;
		}

		img {
			height: 100px;
			width: auto;
			margin-left: auto;
			margin-right: auto;
			display: block;
		}

		p {
			color: $doteco-ruby;
			margin-top: 2rem;
			height: 40px;
		}
	}

	.champions-logo:hover {
		background-color: rgba(254, 118, 53, 0.9);
		border-color: white;

		p {
			color: white;
		}

		a {
			text-decoration: none;
		}
	}

	.champions-overlay {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		transition: 0.5s ease;
		background-color: $doteco-ruby;
	}

	.champions-overlay:hover {
		opacity: 0.9;
	}

	.champions-overlaytext {
		color: white;
		font-size: 20px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
	}

	.registrar-logo {
		margin: 2rem;
	}
}
