#doteco {
	.footer {
		padding: 1rem 0;
		width: 100%;

		a {
			text-decoration: none;
		}

		ul {
			padding: 0;
			list-style-type: none;
			margin: 1rem 0;
		}

		li {
			line-height: 1.8rem;
		}

		h4 {
			margin-bottom: 0.3rem;
			text-transform: uppercase;
		}

		.copyright, ul {
			text-align: left;
		}
	}

	.social-link img {
		max-width: 36px;
		margin: 1rem 1rem 0 0;
	}

	.climate-emergency {
		display: inline-block;
		margin-top: 1rem;
	}

	.bcorp {
		display: inline-block;
		width: 51%;
	}

	.bcorp-logo {
		margin-left: -0.5rem;
	}

	.copyright {
		margin-top: 1rem;
	}
}
