#doteco {
	.footer {
		width: 100%;
		padding: 1em 0;
		background-color: $doteco-ruby;
		color: white;
		font-size: 80%;
		line-height: 1.6em;

		a, a:visited {
			color: white;
			text-decoration: none;
		}

		a:hover {
			color: $doteco-citrine;
		}

		ul {
			text-align: center;
			padding: 0;
			list-style-type: none;
			margin: 1rem 0;
		}

		.address-small {
			font-size: 0.75em;
		}

		h5 {
			margin-bottom: 0.2em;
			color: $doteco-citrine;
			text-transform: uppercase;
		}

		.bcorp-logo, .climate-smart, .eco-trustmark {
			display: block;
			margin: 1rem auto;
		}

		.bcorp-logo {
			height: 7ex;
		}

		.climate-smart {
			height: 6ex;
			margin: 1.4rem auto;
		}

		.eco-trustmark {
			width: 40%;
		}

		@media (min-width: 768px) {
			.eco-trustmark {
				width: 75%;
				margin: 1rem auto;
			}
		}

		.copyright, ul {
			text-align: left;
		}
	}
}
