#doteco {
	.footer {
		width: 100%;
		padding: 1em 0;
		background-color: $doteco-ruby;
		color: white;

		a, a:visited {
			color: white;
			text-decoration: none;
		}

		a:hover {
			color: $doteco-citrine;
		}

		.bcorp-logo {
			height: 9ex;
			margin: 0 auto;
			display: block;
		}

		.climate-smart {
			height: 6ex;
			margin: 1rem auto;
			display: block;
		}

		ul {
			text-align: center;
			font-size: 80%;
		}

		ul {
			padding: 0;
			list-style-type: none;
			line-height: 1.6em;
			margin: 1rem 0;
		}

		.address-small {
			font-size: 0.75em;
		}

		h5 {
			margin-bottom: 0.2em;
		}

		// TODO: use bootstrap @screen-sm-min
		@media only screen and (min-width: 768px) {
			.bcorp-logo {
				display: block;
			}

			.climate-smart {
				display: block;
			}

			.copyright, ul {
				text-align: left;
			}
		}
	}
}
