#doteco {
	.hero-grants {
		background-image: url('/img/solar-panel-trees.jpg');
		background-size: 100%;

		h1 {
			color: white;
			margin-top: 0;
			padding: 1em 0;
		}
	}

	.section-apply-intro {
		padding-top: 2.5em;
		padding-bottom: 2.5em;
	}

	.underlined-form {
		.form-control:not(textarea) {
			box-shadow: none;
			border: 0;
			border-radius: 0;
			border-bottom: 2px solid $doteco-charcoal;
			padding: 0;
		}
	}

	.section-apply-form {
		background-color: $doteco-marrow;
		padding-top: 2.5em;
		padding-bottom: 2.5em;

		h3 {
			color: $doteco-fireopal;
		}

		h5 {
			margin: 25px 0 10px;
		}

		.submit-application {
			margin-top: 20px;
			float: right;
		}

		input {
			background-color: $doteco-marrow;
		}
	}

	.section-apply-quotes {
		padding-top: 2em;
		padding-bottom: 2em;

		blockquote {
			border: none;
			font-size: 2.25em;
			color: $doteco-sapphire;
		}

		img {
			width: 60%;
		}

		.leaf-icon {
			transform: rotate(30deg);
			float: right;
		}
	}
}
