#doteco {
	.hero-grants {
		background-image: url('/img/Kayaks_Darkened.jpg');
		background-size: cover;

		h1 {
			margin-top: 0;
			padding: 1em 0;
		}
	}

	.underlined-form {
		.form-control:not(textarea) {
			box-shadow: none;
			border: 0;
			border-radius: 0;
			border-bottom: 2px solid $doteco-charcoal;
			padding: 0;
		}
	}

	.section-grants-form {
		input {
			background-color: $doteco-marrow;
		}
	}

	.section-grants-quotes {
		.leaf-icon {
			margin-top: 1em;
			transform: rotate(30deg);
			float: right;
			width: 80%;
		}

		.windmill-icon {
			margin-top: 2em;
			width: 90%;
		}

		blockquote {
			@extend h3;
			font-family: $font-body;
			font-weight: normal;
		}
	}

	.section-grants-logos {
		.img-responsive {
			margin: auto;
			padding: 1em;
		}

		.img-square {
			width: 50%;
		}
		.img-rectangle {
			width: 75%;
		}
		.logo-greenpeace {
			padding-top: 60px;
		}
		.logo-ran {
			width: 60%;
		}
	}
}
