/*

TODO: text has an outline... bootstrap var?

*/


#doteco {

	color: $doteco-charcoal;

	.navbar {
		background-color: $doteco-ruby;

		a {
			color: white;
		}

		.active a {
			color: $doteco-citrine;
			background: none;
		}
	}

	.section-title {
		color: $doteco-ruby;
		font-size: 30px; // decrease
		margin: 30px 0 0;
	}

	.faq-entry h3 {
		color: $doteco-sapphire;
		font-size: 16px; // decrease
		margin-top: 50px;
		margin-bottom: 20px;
	}

}
