/*

TODO: text has an outline... bootstrap var?

*/


#doteco {

	color: $doteco-charcoal;

	.navbar {
		background-color: $doteco-ruby;

		a {
			color: white;
		}

		.active a {
			color: $doteco-citrine;
			background: none;
		}
	}

	.section-title {
		color: $doteco-ruby;
	}
	.faq-entry h3 {
		color: $doteco-sapphire;
	}

}
