#doteco {
	color: $doteco-charcoal;

	.top-banner {
		text-align: center;
		padding: 0.5rem;
		font-size: 1rem;
		background-color: $doteco-citrine;
		a {
			color: $doteco-charcoal;
		}
	}

	.navbar {
		background-color: $doteco-ruby;
		padding: 0;
		border-bottom: 1px white solid;

		.nav-link {
			padding: 1rem;
		}

		.navbar-toggle:focus {
			background-color: $doteco-ruby;
		}

		.navbar-toggle {
			border-color: white;
		}

		.navbar-toggle:hover {
			background-color: white;
		}

		a {
			color: white;
		}

		.active {
			background-color: $doteco-charcoal;
		}

		.navbar-brand {
			&:hover {
				background-color: transparent;
			}

			img {
				height: 2em;
			}
		}

		li {
			text-align: center;
		}

		.social {
			a {
				padding: 0 5px;
				display: inline-block;
			}

			img {
				height: 25px;
			}
		}

		a:hover, .language-toggle.show {
			background-color: $doteco-marrow;
			color: $doteco-ruby;
		}

		.dropdown {
			margin-bottom: 1rem;

			ul {
				background-color: $doteco-marrow;
			}

			.dropdown-link {
				color: black;
				margin-bottom: 5px;
				padding: 3px 15px;
			}

			.dropdown-menu {
				margin-top: 0;
				border: none;
				border-radius: 0 0 6px 6px;
			}
		}

		.navbar-toggler {
			border: 1px solid white;
			border-radius: 4px;
			background-color: white;
			box-shadow: none;
		}

		.navbar-toggler.collapsed {
			background-color: transparent;
		}

		.navbar-toggler-icon:hover, .navbar-toggler-icon {
			background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28159, 23, 68, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
		}

		.navbar-toggler.collapsed .navbar-toggler-icon {
			background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
		}

		.language-toggle {
			z-index: 1001;
		}

		.top-banner {
			text-align: center;
			width:1
		}

		@media only screen and (min-width: 768px) {
			.nav {
				justify-content: flex-end;
				width: 100%;
			}

			.dropdown {
				margin-bottom: 0;
			}

			.dropdown-link {
				text-align: left;
			}

			.navbar-links li {
				text-align: left;
			}

			.navbar-links {
				margin-top: 0;
			}
		}
	}
}
