#doteco {
	.carousel {
		.container {
			margin-top: 4em;
			margin-bottom: 3em;
		}

		.subheader {
			color: $doteco-citrine;
			font-size: 1.7em;
		}

		.btn-primary {
			background-color: $doteco-citrine;
			font-weight: bold;
			padding: 1em;
			color: $doteco-charcoal;
		}

		.btn-primary:hover {
			background-color: white;
		}

		h1 {
			color: white;
		}

		.item {
			height: 450px;
			background-size: cover;
		}

		a {
			color: $doteco-citrine;
		}

		.carousel-link {
			border: 1px solid $doteco-citrine;
			border-radius: 30px;
			padding: 0.6em 1.5em;
			margin: auto;
		}

		.carousel-link:hover {
			background-color: $doteco-citrine;
			text-decoration: none;
			color: white;
		}

		@media (max-width: 768px) {
			.container {
				margin-top: 1em;
				margin-bottom: 3em;
			}

			.carousel-control {
				height: 60px;
				width: 40%;
				top: 85%;
				background-image: none;
				z-index: 1000;
			}

			.item {
				background-position: center;
			}

			/*.home-business {
				background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/carousel/qure9nsy_cm-lukas-budimaier-mobile.jpeg');
				background-size: 130vh;
			}*/
		}

		@media (max-width: 1160px) and (min-width: 768px) {
			.carousel-control {
				height: 60px;
				width: 40%;
				top: 80%;
				background-image: none;
				z-index: 1000;
			}

			.container {
				margin-top: 2em;
			}
		}
	}

	.sunrise {
		background-color: $doteco-sapphire;
		padding: 2em;

		h3 {
			color: white;
			margin: 0;
		}

		p {
			color: white;
			font-size: 1.5em;
		}

		.btn-primary {
			background-color: $doteco-citrine;
			color: $doteco-charcoal;
			margin-top: 0.5em;
		}
	}

	.home-business {
		background-image: url('/img/carousel/woman-shopping.jpg');
		background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/carousel/woman-shopping.jpg');
	}

	.home-government {
		background-image: url('/img/carousel/salish-sea.jpg');
		background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/carousel/salish-sea.jpg');
	}

	.home-people {
		background-image: url('/img/carousel/daniel-fox2.jpg');
		background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/carousel/daniel-fox2.jpg');
	}

	.home-you {
		background-image: url('/img/carousel/for-you2-cropped.jpeg');
		background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/carousel/for-you2-cropped.jpeg');
	}

	.section-label {
		background-color: $doteco-sapphire;
		text-transform: uppercase;
		color: white;
		font-weight: bold;
		display: inline-block;
		padding: 0.2em 1em;
	}

	.inverted .section-label {
		background-color: $doteco-fireopal;
	}

	.eco-word-image {
		width: 100%;
		margin-top: 1em;
		margin-bottom: 1em;
	}

	.home-video {
		margin: 2em 0;

		iframe {
			width: 100%;
			border: none;
		}
	}

	.home-quote {
		padding: 0;

		blockquote {
			padding-top: 2em;
			padding-bottom: 2em;
			color: $doteco-ruby;
		}

		img {
			width: 100%;
			margin-top: 4em;
		}
	}

	blockquote {
		font-size: 1.5em;
		line-height: 1.5;
	}

	@media (min-width: 992px) {
		blockquote {
			font-size: 1.95em;
			line-height: 1.4;
		}
	}

	.home-orgs {
		.logos {
			margin-top: 3em;
			margin-bottom: 3em;
		}

		.img-responsive {
			margin: auto;
			vertical-align: middle;
			margin-bottom: 10px;
		}

		.logo-wbcsd {
			padding: 10px 0;
		}

		.logo-gri {
			height: 90px;
		}

		.logo-cdp {
			padding-top: 10px;
			height: 80px;
		}
	}

	.icon-row {
		margin-top: 1.5em;
		margin-bottom: 1em;

		p {
			margin-top: 0.5em;
		}

		img {
			height: 5em;
			margin-bottom: 0.5em;
		}

		.icon-text {
			margin-top: 1.5em;
		}
	}
}
