#doteco {
	.home-hero {
		background-image: url('/img/home/beach-trash-hero.jpg');
		background-size: cover;

		.container {
			margin-top: 3em;
			margin-bottom: 3em;
		}

		p {
			margin-bottom: 1em;
		}

		.underlined-form .form-control {
			color: white;
			border-bottom: 2px solid white;
			margin-top: 1em;
			margin-bottom: 1em;
		}

		.btn-default {
			background-color: $doteco-citrine;
			font-weight: bold;
			padding: 1em;
			width: 100%;
		}
		.btn-default:hover {
			background-color: white;
		}

		.form-control::-webkit-input-placeholder { color: white; }
		.form-control:-moz-placeholder { color: white; }
		.form-control::-moz-placeholder { color: white; }
		.form-control:-ms-input-placeholder { color: white; }
	}

	.section-label {
		background-color: $doteco-sapphire;
		text-transform: uppercase;
		color: white;
		font-weight: bold;
		display: inline-block;
		padding: 0.2em 1em;
	}

	.inverted .section-label {
		background-color: $doteco-fireopal;
	}

	.eco-word-image {
		width: 100%;
		margin-top: 1em;
		margin-bottom: 1em;
	}

	.home-quote {
		padding: 0;

		blockquote {
			padding-top: 2em;
			padding-bottom: 2em;
			color: $doteco-ruby;
		}

		img {
			width: 100%;
		}
	}

	.home-orgs {
		.img-responsive {
			margin: auto;
			padding: 1em;
		}

		.logo-greenpeace {
			padding-top: 60px;
		}
	}
}