#doteco {
	.infographic {
		font-size: 1.6rem;

		h2 {
			font-size: 2.5rem;
			margin-bottom: 0.5rem;
			margin-top: 4rem;
		}
	}

	@media (min-width: 768px) {
		.infographic {
			font-size: 2rem;

			h2 {
				font-size: 3.5rem;
			}
		}
	}

	.infographic-embed {
		width: 100%;
		background-color: #F7F7F7;
		color: #7D7E8D;
		margin-top: 1rem;
		padding: 0.5rem;
	}

	.infographic-copy {
		font-size: smaller;
	}

	.infographic-copied {
		padding: 0.6rem 2rem;
		background-color: #F7F7F7;
		color: #789F17;
	}
}
