#doteco {
	.marketing-header {
		color: white;
		background-image: url('/img/marketing.jpeg');
		background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('/img/marketing.jpeg');
		background-size: cover;
		background-attachment: fixed;

		p {
			font-weight: 300;
			margin: 6rem 0;
		}
	}

	.logo-adjust-med {
		padding-top: 0.5em;
	}

	@media (max-width: 768px) {
		.logo-adjust-med {
			padding-top: 0.3em;
		}
	}
}
