#doteco {
	.hero-404 {
		background-image: url('/img/windmill-sunflowers.jpg');
		background-image: linear-gradient(rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.2)), url('/img/windmill-sunflowers.jpg');
		background-size: cover;

		.container {
			margin-top: 6rem;
			margin-bottom: 6rem;
		}

		p {
			margin-top: 3rem;
		}
	}

	.section-contact {
		p,
		li {
			font-size: 18px;
			line-height: 28px;
		}

		h3 {
			font-size: 22px;
			margin-bottom: 1rem;
		}

		.col-md-6 {
			margin-bottom: 1rem;
		}
	}

	.contact-header {
		color: white;
		background-image: url('/img/windmill-sunflowers.webp');
		background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)), url('/img/windmill-sunflowers.webp');
		background-size: cover;
		background-position: top center;

		.container {
			margin-top: 3em;
			margin-bottom: 3em;
		}
	}

	.grants-header {
		color: white;
		background-image: url('/img/sewing-hero.jpg');
		background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)), url('/img/sewing-hero.jpg');
		background-size: cover;
		background-position: center;
		height: 300px;
	}
}
