#doteco {
	.hero-404 {
		background-image: url('/img/windmill-sunflowers.jpg');
		background-size: cover;

		.container {
			margin-top: 3em;
			margin-bottom: 3em;
		}

		p {
			margin-bottom: 1em;
		}
	}

	.section-contact h2 {
		margin-bottom: 1em;
	}
}