/* stylelint-disable indentation  */
@mixin border-radius($radius) {
	border-radius: $radius;
	border-radius: $radius;
	border-radius: $radius;
	border-radius: $radius;
}

@mixin transform($transforms) {
	transform: $transforms;
	transform: $transforms;
	transform: $transforms;
	transform: $transforms;
	transform: $transforms;
}
/* stylelint-enable */

// rotate
@mixin rotate($deg) {
	@include transform(rotate(#{$deg}deg));
}
