#doteco {
	.premiums-header {
		background-color: $doteco-sapphire;
	}

	.premiums-table {
		width: 100%;

		td, th {
			padding: 0.5rem;
		}

		th {
			padding-right: 3rem;
		}
	}

	.makeoffer-modal-title {
		text-align: center;
		margin: 0 1.1em;
	}

	.dataTables_length, .dataTables_filter {
		text-align: left;
		float: none;
	}

	.dataTables_filter input[type='search'] {
		width: 100%;
	}

	.dataTables_length {
		display: none;
	}

	.pagination > .active > a {
		background-color: $doteco-marrow;
		border-color: #ddd;
	}

	@media (min-width: 768px) {
		.dataTables_length {
			float: right;
			display: block;
		}

		.dt-bootstrap .col-sm-6:first-child {
			float: right;
		}

		.dataTables_filter {
			float: none;
			display: block;
		}
	}

	.submit-thanks {
		display: none;
	}
}
