#doteco {
	article, .policy {
		margin-bottom: 6rem;

		h1 {
			font-size: 32px;
		}

		h2 {
			font-size: 22px;
			font-weight: normal;
			margin-top: 10px;
			color: $doteco-charcoal;
		}

		h3 {
			font-size: 22px;
			margin-bottom: 1rem;
		}

		h4 {
			font-size: 20px;
			margin-bottom: 0.5rem;
			color: $doteco-charcoal;
		}

		p,
		li {
			font-size: 18px;
			line-height: 28px;
		}

		p, ol, ul, blockquote, table {
			margin-bottom: 2.8rem;
		}

		p + ul,
		p + ol {
			margin-top: -1.8rem;
		}

		blockquote {
			font-style: italic;
		}

		blockquote > ol:last-child, blockquote > p:last-child {
			margin-bottom: 0.5rem;
		}

		img {
			width: 100%;
			margin-top: 2rem;
		}

		table {
			width: 100%;
			vertical-align: top;
		}

		th {
			text-align: center;
		}

		td, th {
			border: 1px solid #ddd;
			padding: 1rem;
		}

		thead > tr, tr:nth-of-type(even) {
			background-color: #f9f9f9;
		}

		figcaption {
			text-align: center;
			margin-top: 0.5rem;
		}

		figure {
			margin-bottom: 2rem;
		}

		.article-header {
			margin: 3rem 0;
		}

		.article-author {
			display: block;
			font-weight: bold;
		}

		.article-pubdate {
			display: block;
			color: $doteco-charcoal;
		}

		.article-avatar {
			width: 48px;
			border-radius: 20px;
			background: $doteco-marrow;
			float: left;
			margin: 0 2rem 0 0;
		}
	}

	.news-headlines.container {
		padding: 2rem 0 1rem;
	}

	.news-tile {
		min-height: 300px;
		margin-bottom: 0.6rem;
		background-size: cover;
		position: relative;

		h3 {
			font-size: 2rem;
			color: white;
			line-height: 1.4;
			margin-bottom: 1rem;
		}

		a, p {
			color: white;
		}

		a:hover {
			text-decoration: none;
		}
	}

	.news-tile-overlay {
		min-height: 300px;
		background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
		background-size: cover;
	}

	.news-tile-overlay:hover {
		background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.85) 100%);
	}

	.news-tile-content {
		padding: 2rem;
		position: absolute;
		bottom: 0;
	}

	.eco-profile-icon {
		background-image: url('/android-chrome-512x512.png');
		background-size: cover;
		width: 20px;
		height: 20px;
		display: block;
		margin-top: 0.2rem;
	}

	.news-more {
		display: flex;
		justify-content: flex-end;
	}

	@media (min-width: 767px) {
		article.container,
		.breadcrumbs.container {
			width: 700px;
		}

		article {
			p, li {
				font-size: 20px;
				line-height: 32px;
			}
		}

		.news-tile {
			margin-right: 0.6rem;

			h3 {
				font-size: 30px;
			}
		}
	}
}
