#doteco {
	article {
		margin-bottom: 6rem;

		h1 {
			font-size: 32px;
		}

		h2 {
			font-size: 22px;
			font-weight: normal;
			margin-top: 10px;
			color: $doteco-charcoal;
		}

		h3 {
			font-size: 18px;
			margin-bottom: 1rem;
		}

		p,
		li {
			font-size: 18px;
			line-height: 28px;
		}

		p, ol, ul, blockquote, table {
			margin-bottom: 2.8rem;
		}

		blockquote {
			font-style: italic;
		}

		blockquote > ol, blockquote > p {
			margin-bottom: 0.5rem;
		}

		img {
			width: 100%;
			margin-top: 2rem;
		}

		table {
			width: 100%;
			vertical-align: top;
		}

		th {
			text-align: center;
		}

		td, th {
			border: 1px solid #ddd;
			padding: 1rem;
		}

		thead > tr, tr:nth-of-type(even) {
			background-color: #f9f9f9;
		}

		.article-header {
			margin: 3rem 0;
		}

		.article-author {
			display: block;
			font-weight: bold;
		}

		.article-pubdate {
			display: block;
			color: $doteco-charcoal;
		}

		.article-avatar {
			width: 48px;
			border-radius: 20px;
			background: $doteco-marrow;
			float: left;
			margin: 0 2rem 0 0;
		}
	}

	.news-headlines.container {
		padding: 2rem 0 1rem;
	}

	.news-tile {
		min-height: 300px;
		margin-bottom: 1rem;

		h3 {
			font-size: 26px;
			color: white;
		}

		a, p {
			color: white;
		}

		a:hover {
			text-decoration: none;
		}
	}

	.news-tile-content {
		width: 70%;
		padding: 2rem;
		position: absolute;
		bottom: 0;
	}

	.eco-profile-icon {
		background-image: url('/android-chrome-512x512.png');
		background-size: cover;
		width: 20px;
		height: 20px;
		float: right;
	}

	@media (min-width: 767px) {
		article.container,
		.breadcrumbs.container {
			width: 700px;
		}

		article {
			p, li {
				font-size: 20px;
				line-height: 32px;
			}

			p {
				margin-bottom: 3.6rem;
			}

			h3 {
				font-size: 20px;
			}
		}

		.news-tile {
			margin-right: 1rem;

			h3 {
				font-size: 30px;
			}
		}
	}
}
