#doteco {
	.registrar-logo {
		margin: auto;
		width: 85%;
		margin-top: 1em;
		margin-bottom: 3em;
	}

	.logo-adjust-big {
		padding-top: 1em;
	}

	.logo-adjust-med {
		padding-top: 0.5em;
	}

	.com-laude-logo {
		width: 60%;
		margin-left: 1.4em;
	}

	@media (max-width: 768px) {
		.logo-adjust-med {
			padding-top: 0.3em;
		}

		.com-laude-logo {
			margin-top: 0.7em;
		}
	}
}
