#doteco {
	.page-registrars .registrar:hover,
	.page-registrars .registrar:active {
		text-decoration: none;
	}

	.registrar-logo {
		margin: auto;
		width: 85%;
		margin-top: 1em;
		margin-bottom: 3em;
	}

	.registrar-logo {
		margin: 2rem;
	}

	.page-registrars .registrar-logo {
		background-color: white;
	}


	.registrar-name {
		text-align: center;
		color: transparent;
	}

	.logo-adjust-big {
		padding-top: 1em;
	}

	.logo-adjust-med {
		padding-top: 0.5em;
	}

	#com-laude {
		margin-left: 25%;
		width: 60%;
	}

	#pair-networks {
		padding: 0 3rem;
	}

	@media (max-width: 768px) {
		.logo-adjust-med {
			padding-top: 0.3em;
		}
	}
}
