#doteco {
	.press-header {
		color: white;
		background-image: url('/img/press.jpg');
		background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/press.jpg');
		background-size: cover;
		background-attachment: fixed;

		p {
			font-weight: 300;
			margin: 2rem 0;
		}
	}

	.press-date {
		background-color: #a3a3a3;
		color: white;
		display: inline-block;
		padding: 0.4em 1em;
		float: right;
		letter-spacing: 0.4px;
		font-size: 1.4rem;
	}

	.press-article {
		border-style: solid;
		border-width: 1px;
		border-color: silver;
		padding: 1.5rem;
		height: auto;
		position: relative;
		background-color: white;
		margin-bottom: 1.4em;

		a {
			color: $doteco-charcoal;
			font-weight: 500;
			font-size: 1.3em;
		}

		.press-title {
			margin-top: 2rem;
			font-size: 1.85rem;
		}

		.article-subheader {
			color: gray;
			font-size: 1.6rem;
			font-style: italic;
		}

		img {
			width: 25%;
			float: left;
		}

		p {
			color: $doteco-charcoal;
		}
	}

	.press-article:hover {
		border-color: $doteco-ruby;

		p {
			color: $doteco-ruby;
		}

		a {
			text-decoration: none;
		}
	}

	@media (max-width: 1160px) {
		.press-date {
			float: none;
		}

		.press-article {
			margin-right: 1em;
			margin-left: 1em;

			img {
				float: none;
				margin-left: auto;
				margin-right: auto;
				display: block;
			}
		}

		.press-title {
			text-align: center;
		}
	}
}
