@media print {
  body > *:not(main), footer, img, aside {
    display: none;
  }

  body {
    background: white !important;
    color: black !important;
  }

  a {
    color: black !important;
    text-decoration: underline;
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }
}
