#doteco {
	.registrar-hero {
		background-image: url('/img/windmill-hill-brown.jpeg');
		background-size: cover;
		background-position: center;

		.container {
			margin-top: 3em;
			margin-bottom: 3em;
		}
	}

	.registrar-header {
		color: white;
		background-image: url('/img/city-lights.webp');
		background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/city-lights.webp');
		background-size: cover;
	}

	.registrar-why {
		img {
			height: 120px;
			margin: auto;
			margin-bottom: 1rem;
		}

		.image-row {
			margin-top: 2em;
			margin-bottom: 2em;
		}
	}

	.colour-circle {
		display: inline-block;
		border-radius: 50%;
		width: 4rem;
		height: 4rem;
		margin-right: 2rem;
	}

	.brand-images {
		img {
			height: 170px;
			width: auto;
			margin: 0.5em auto;
			display: block;
		}
	}

	.button-panel {
		margin-bottom: 1em;
	}

	.table-hover {
		margin-bottom: 5em;
	}

	.registrar-funding td {
		height: 4.3em;
	}

	.med-icon {
		margin: auto;
		height: 7em;
		padding: 0 2rem 0 0;
	}

	.downloadables {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}

	.subscribe {
		margin-top: 4rem;
	}

	#registrar-list li {
		line-height: 3;
	}

	.registrar-join {
		margin-bottom: 4rem;

		h3 {
			font-size: 1.5rem;
		}
	}
}
