#doteco {
	.registrar-hero {
		background-image: url('/img/windmill-hill-brown.jpeg');
		background-size: cover;

		.container {
			margin-top: 3em;
			margin-bottom: 3em;
		}
	}

	.registrar-why {
		img {
			height: 120px;
			margin: auto;
			margin-bottom: 2em;
		}

		.image-row {
			margin-top: 2em;
			margin-bottom: 2em;
		}
	}

	.registrar-form {
		margin-bottom: 2em;
	}

	.registrar-resource {
		width: 100%;
		margin: 0.5em;
		padding: 2em;
		text-align: center;
		white-space: normal;

		.fa {
			font-size: xx-large;
			margin-bottom: 0.5em;
		}
	}

	.button-panel {
		margin-bottom: 1em;
	}
}