#doteco {
	.registrar-hero {
		background-image: url('/img/windmill-hill-brown.jpeg');
		background-size: cover;

		.container {
			margin-top: 3em;
			margin-bottom: 3em;
		}
	}

	.registrar-header {
		color: white;
		background-image: url('/img/iStock-603187076-header.jpg');
		background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/iStock-603187076-header.jpg');
		background-size: cover;
	}

	.registrar-why {
		img {
			height: 120px;
			margin: auto;
			margin-bottom: 2em;
		}

		.image-row {
			margin-top: 2em;
			margin-bottom: 2em;
		}
	}

	.registrar-form {
		margin-bottom: 2em;
	}

	.registrar-resource {
		width: 100%;
		margin: 0.5em 0;
		padding: 2em;
		text-align: center;
		white-space: normal;

		.fa {
			font-size: xx-large;
			margin-bottom: 0.5em;
		}
	}

	.brand-images {
		img {
			height: 170px;
			width: auto;
			margin: 0.5em auto;
			display: block;
		}
	}

	.resource-quote {
		font-size: 1em;
		color: dimgrey;
	}

	.button-panel {
		margin-bottom: 1em;
	}

	.table-hover {
		margin-bottom: 5em;
	}

	.registrar-funding td {
		height: 4.3em;
	}

	.med-icon {
		margin: auto;
		height: 7em;
		padding: 0 2rem 0 0;
	}

	.downloadables {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}

	.subscribe {
		margin-top: 4rem;
	}

	.search-results .container {
		text-align: center;
		padding: 4rem;
	}
}
