.search, .whois {
	background-color: $doteco-sapphire;
}

#doteco .search-header {
	color: white;
	text-align: center;
}

.search-form {
	margin: 4rem 0;
}

.domain-search {
	height: 100%;
	padding: 1.25rem 5%;
	border: 1px $doteco-charcoal solid;
}

.btn-search {
	border: 1px $doteco-charcoal solid;
	font-size: 2.25rem;
	background-color: $doteco-citrine;
	font-weight: bold;
	color: $doteco-charcoal;
}

.btn-search:hover {
	background-color: $doteco-charcoal;
	color: white;
}

.searched-domain {
	font-weight: bold;
	color: $doteco-sapphire;
}

.search-results {
	text-align: center;
	padding: 4rem;
}

.registars-header {
	text-align: center;
}

.registrars-filter {
	margin-bottom: 3rem;
	background-color: $doteco-grey;
	border-radius: 5px;
}

.registrar-filter {
	padding: 2rem;
}

.registrar-filter label {
	display: block;
}

.registrar-select {
	min-width: 16rem;
}

.registrar-button {
	height: 16rem;
	display: table;
	margin: auto;
}

.registrar-button a {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	height: 5rem;
}

.registrar-logo {
	width: 75%;
}

.registrar-logo:hover {
	width: 80%;
}

.registrar-name {
	text-align: center;
	color: transparent;
	z-index: -1;
	position: absolute;
	left: 50%;
	top: 50%;
}

.registrars-priority {
	background-color: #fff;
}

.no-registrars {
	text-align: center;
	font-weight: bold;
}

.whois .subheader {
	color: $doteco-citrine;
	text-align: center;
	font-size: smaller;
}
