#doteco .search-header {
	text-align: center;
}

.search-form {
	margin: 2rem 0;
}

.domain-search {
	padding: 1.1rem 5%;
	border: 0;
	border-right: 2px $doteco-charcoal solid;
}

.btn-search svg {
	width: 1.6rem;
}

.searched-domain {
	font-weight: bold;
}

.search-results {
	text-align: center;
	padding: 1rem;
}

#doteco .registars-header {
	text-align: center;
	margin-bottom: 3rem;
}

#doteco .domain-reserved h3 {
	font-size: 1.6rem;
}

.registrars-filter {
	margin-bottom: 3rem;
	background-color: $doteco-grey;
	border-radius: 5px;
}

.registrars-filter-row {
	padding: 2rem 0 1rem 2rem;
}

.registrar-filter {
	margin-bottom: 1rem;
}

.registrar-filter label {
	display: block;
	font-weight: bold;
}

.registrar-select {
	width: 100%;
}

.registrars-green-retailers {
	padding: 0 2rem 1rem;
	font-weight: bold;
}

.registrar-green {
	cursor: pointer;
	position: absolute;
	right: 12px;
	color: $doteco-green;
}

.registrars-promo {
	padding: 0 2rem 2rem;

	summary {
		font-weight: bold;
	}

	ul {
		background-color: $doteco-marrow;
		border-radius: 5px;
		padding: 0.5rem;
		margin-top: 0.5rem;
	}

	li {
		margin-left: 1rem;
	}
}

.registrar-button {
	height: 10rem;
	display: table;
	position: relative;
}

.registrar-button a {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	height: 5rem;
}

.registrar-logo {
	width: 75%;
}

.registrar-logo:hover {
	width: 80%;
}

.registrar-name {
	text-align: center;
	z-index: -1;
	position: absolute;
	left: 0;
}

.registrars-priority {
	background-color: #fff;
}

.no-registrars {
	text-align: center;
	font-weight: bold;
}

#doteco .domain-reserved {
	padding-top: 0;
}

.well {
	min-height: 20px;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgb(0, 0, 0, 0.05);
}

.well-lg {
	padding: 24px;
	border-radius: 6px;
}

#doteco .whois .subheader {
	color: $doteco-citrine;
	text-align: center;
}
