#doteco {
	.story-header {
		background-image: url('/img/story.webp');
		background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/story.webp');
		background-size: cover;

		p {
			margin: 2rem 0;
		}
	}
}
