#doteco {
	.story-header {
		color: white;
		background-image: url('/img/story.jpg');
		background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/story.jpg');
		background-size: cover;
		background-attachment: fixed;

		p {
			font-weight: 300;
			margin: 6rem 0;
		}
	}
}
