#doteco {
	.story-header {
		background-image: url('/img/story.webp');
		background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)), url('/img/story.webp');
		background-size: cover;

		p {
			margin: 2rem 0;
		}
	}

	@media (width >= 768px) {
		.compare-header {
			padding: 6rem 0;
			background-position: center;
		}
	}
}
