#doteco {
	.voltstack-header {
		color: white;
		background-image: url('/img/voltstack.png');
		background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/voltstack.png');
		background-size: cover;
		background-attachment: fixed;

		p {
			font-weight: 300;
			font-size: 1.8rem;
		}
	}

	.GOY-header {
		color: white;
		background-image: url('/img/good-on-you.jpg');
		background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/img/good-on-you.jpg');
		background-size: cover;
		background-attachment: fixed;

		p {
			font-weight: 300;
			font-size: 1.8rem;
		}
	}

	.salishsea-header {
		color: white;
		background-image: url('/img/salish-sea.jpg');
		background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/salish-sea.jpg');
		background-size: cover;
		background-attachment: fixed;

		p {
			font-weight: 300;
			font-size: 1.8rem;
		}
	}
}
