#doteco {
	.system-header {
		background-image: url('/img/system-header.jpg');
		background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/img/system-header.jpg');
		background-size: cover;
		background-attachment: fixed;

		p {
			font-weight: normal;
			margin: 2rem 0;
		}
	}

	.icon-row {
		margin-bottom: 1rem;

		p {
			margin-top: 0.5em;
		}

		img {
			height: 6rem;
		}

		.icon-text {
			margin-top: 3rem;
			text-align: center;
		}

		.text-center {
			margin-bottom: 0;
			margin-top: 15px;
		}
	}

	.grid {
		display: flex;
		flex-wrap: wrap;
		margin: -2rem 0 0 -2rem;
		justify-content: flex-start;
	}

	.grid__cell {
		flex: 0 0 100%; // always stack on mobile (flex-basis 100%)
		padding: 2rem 0 0 2rem;
		min-width: 0; // allow width to be restricted (https://css-tricks.com/flexbox-truncated-text/)
	}

	.grid--m2d2 > .grid__cell {
		flex: 0 0 calc(100% / 2);
	}

	.grid--m2d3 > .grid__cell {
		flex: 0 0 calc(100% / 2);
	}

	.grid--m1d3 > .grid__cell {
		flex: 0 0 100%;
	}

	.grid--m2d4 > .grid__cell {
		flex: 0 0 calc(100% / 2);
	}

	.profile-tile {
		display: block;
		margin-top: 2rem;
		border: 1px solid $doteco-grey;
		border-top-left-radius: $common-border-radius;
		border-top-right-radius: $common-border-radius;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;

		&:hover {
			text-decoration: none;
		}
	}

	.profile-tile__wrapper {
		width: 100%;
		height: 100%;
		position: relative;
	}

	.profile-tile__image {
		width: 100%;
		height: 100%;
	}

	.profile-tile__label {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		color: rgba(white, 0.7);
		font-size: 1.4rem;
		font-weight: normal;
		word-wrap: break-word;
		padding: 1.5rem;
		background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0) 60%);

		strong {
			font-weight: normal;
			color: white;
		}
	}

	.profile-tile:hover .profile-tile__label {
		background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.85) 100%);
	}

	.profile-tile-details {
		padding: 1rem;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	}

	.profile-tile-details-story {
		min-height: 6.2rem;
	}

	.profile-tile-details__section {
		display: flex;
	}

	.profile-type__icon {
		width: 26px;
		height: 26px;
		margin-right: 1rem;
	}

	.profile-type__globe {
		display: block;
		width: 20px;
		height: 20px;
		margin-right: 1rem;
		color: $doteco-ruby;
		background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="%239F1744" class="bi bi-globe" viewBox="0 0 16 16"><path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm7.5-6.923c-.67.204-1.335.82-1.887 1.855A7.97 7.97 0 0 0 5.145 4H7.5V1.077zM4.09 4a9.267 9.267 0 0 1 .64-1.539 6.7 6.7 0 0 1 .597-.933A7.025 7.025 0 0 0 2.255 4H4.09zm-.582 3.5c.03-.877.138-1.718.312-2.5H1.674a6.958 6.958 0 0 0-.656 2.5h2.49zM4.847 5a12.5 12.5 0 0 0-.338 2.5H7.5V5H4.847zM8.5 5v2.5h2.99a12.495 12.495 0 0 0-.337-2.5H8.5zM4.51 8.5a12.5 12.5 0 0 0 .337 2.5H7.5V8.5H4.51zm3.99 0V11h2.653c.187-.765.306-1.608.338-2.5H8.5zM5.145 12c.138.386.295.744.468 1.068.552 1.035 1.218 1.65 1.887 1.855V12H5.145zm.182 2.472a6.696 6.696 0 0 1-.597-.933A9.268 9.268 0 0 1 4.09 12H2.255a7.024 7.024 0 0 0 3.072 2.472zM3.82 11a13.652 13.652 0 0 1-.312-2.5h-2.49c.062.89.291 1.733.656 2.5H3.82zm6.853 3.472A7.024 7.024 0 0 0 13.745 12H11.91a9.27 9.27 0 0 1-.64 1.539 6.688 6.688 0 0 1-.597.933zM8.5 12v2.923c.67-.204 1.335-.82 1.887-1.855.173-.324.33-.682.468-1.068H8.5zm3.68-1h2.146c.365-.767.594-1.61.656-2.5h-2.49a13.65 13.65 0 0 1-.312 2.5zm2.802-3.5a6.959 6.959 0 0 0-.656-2.5H12.18c.174.782.282 1.623.312 2.5h2.49zM11.27 2.461c.247.464.462.98.64 1.539h1.835a7.024 7.024 0 0 0-3.072-2.472c.218.284.418.598.597.933zM10.855 4a7.966 7.966 0 0 0-.468-1.068C9.835 1.897 9.17 1.282 8.5 1.077V4h2.355z"/></svg>') center center no-repeat;
	}

	.profile-type__section {
		width: 50%;
		display: flex;
		align-items: center;
	}

	@media (min-width: 767px) {
		// do not stack on desktop
		.grid__cell {
			flex: 1 1 0%; // let autosize based on siblings
		}

		.grid--m1d2 > .grid__cell {
			flex: 0 0 calc(100% / 2); // 2 per row
		}

		.grid--m1d3 > .grid__cell {
			flex: 0 0 calc(100% / 3); // 3 per row
		}

		.grid--m2d2 > .grid__cell {
			flex: 0 0 calc(100% / 2);
		}

		.grid--m2d3 > .grid__cell {
			flex: 0 0 calc(100% / 3);
		}

		.grid--m2d4 > .grid__cell {
			flex: 0 0 calc(100% / 4);
		}
	}
}
