#doteco {
	.team-header {
		background-image: linear-gradient(rgba(0, 0, 0, 20%), rgba(0, 0, 0, 60%)), url('/img/windmill-sunflowers.jpg');
		background-size: cover;
		background-attachment: fixed;

		.container {
			margin-top: 2em;
			margin-bottom: 3em;
		}

		@media (min-width: 768px) {
			h1 {
				font-size: 4em;
			}
		}
	}

	.headshots {
		width: 100%;
		margin-bottom: 2em;
	}

	.team-subheader {
		color: black;
		font-style: italic;
	}
}
