#doteco {
	.team-header {
		background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/team.jpg');
		background-size: cover;
		background-attachment: fixed;

		.container {
			margin-top: 6em;
			margin-bottom: 6em;
		}

		@media (min-width: 768px) {
			h1 {
				font-size: 4em;
			}

			.subheader {
				font-size: 1.875em;
			}
		}
	}

	.headshots {
		width: 100%;
		margin: auto;
		padding-top: 1em;
		filter: grayscale(100%);
	}

	.headshots:hover {
		transition: filter .3s ease-in-out;
		filter: grayscale(0%);
	}

	#team-subheader {
		color: black;
		font-style: italic;
	}
}
