#doteco {
	.launch-timeline {
		h3 {
			margin-bottom: 0;
		}

		img {
			width: 50%;
			margin: auto;
			margin-top: 2em;
			margin-bottom: 3em;
		}
		.clock-icon {
			width: 35%;
			margin-bottom: 2em;
		}
		.www-icon {
			width: 40%;
		}
		.fa-chevron-down {
			text-align: center;
			display: block;
			font-size: 2.2em;
			color: $doteco-charcoal;
		}

		.tab-content {
			margin-top: 1em;
			margin-bottom: 1em;
		}

		.tab-pane {
			margin-bottom: 2em;
		}

		@media (max-width: 768px) {
			.tab-pane {
				display: block;
				opacity: 100;
			}
		}

		@media (min-width: 768px) {
			.tab-pane {
				margin-left: 2.6em;
			}
		}
	}
}