#doteco {
	.launch-timeline {
		.nav-tabs {
			.tab-header:after {
			    content: "\f078";
			    font-family: FontAwesome;
			    margin-left: 1em;
			}
			.active .tab-header:after {
			    content: "\f077";
			    font-family: FontAwesome;
			    margin-left: 1em;
			}

			a {
				border: none;
				color: $doteco-sapphire;
				font-weight: bold;

				i {
					margin-left: 1em;
				}
			}
			img {
				width: 50%;
				margin: auto;
				margin-top: 2em;
				margin-bottom: 3em;
			}
			.clock-icon {
				width: 35%;
				margin-bottom: 2em;
			}
			.www-icon {
				width: 40%;
			}
			.fa-chevron-right {
				position: absolute;
				top: 1.7em;
				font-size: 2.2em;
				right: -0.4em;
				color: $doteco-charcoal;
			}
		}

		.tab-content {
			margin-top: 1em;
			margin-bottom: 1em;
		}

		.tab-pane {
			margin-bottom: 2em;
		}

		@media (max-width: 768px) {
			.tab-pane {
				display: block;
				opacity: 100;
			}
		}

		@media (min-width: 768px) {
			.tab-pane {
				margin-left: 2.6em;
			}
		}
	}
}