---
collection:
- news
- studies
title: "Preserve: .eco champion"
excerpt: Keeping plastic pollution out of the ocean is good for the planet and can be good for business. Preserve demonstrates how to turn plastic waste into elegant and useful everyday products.
description: "We spoke Preserve CEO Eric Hudson about how Preserve is recycling plastic waste and converting it into everyday products."
header-img: /img/champion_logos/preserve-header.webp
header-img-alt: "A range of products manufactured by Preserve, including razors, toothbrushes and cookware."
pubdate: 2025-04-22
author: Eco Domain (.eco)
layout: article.hbs
og-image: champion_logos/preserve.jpg
og-width: 1200
og-height: 630
page-path: champions/preserve/
---

# Preserve: .eco&nbsp;champion

## {{{excerpt}}}

![{{header-img-alt}}]({{header-img}})

_We spoke with **Eric Hudson**, CEO and Founder of Preserve, a leading B Corporation that produces great products from recycled plastic, about why he started the company and how they are tackling the problem of plastic pollution._

### What was your motivation for starting Preserve?

I founded Preserve in 1996 out of a deep appreciation for nature and a goal to make a meaningful impact on environmental sustainability. Growing up in rural Western Massachusetts, I’ve always felt most at home outdoors, which sparked my lifelong commitment to protecting the natural world. After years of working in finance and consulting, I saw an opportunity to channel my professional experience into a cause I was passionate about.

At the time, recycling was becoming more popular, but there was a clear gap—while people were recycling more, manufacturers were not effectively repurposing recycled materials. I recognized this disconnect and set out to address it. I founded Preserve with the goal of using the Earth's resources more efficiently and responsibly, ensuring that recycled materials had a purposeful second life.

### What kinds of products do you make at Preserve?

Preserve designs and produces stylish eco-friendly household products including a full line of kitchen, tableware, and personal care products, using 100% recycled plastic and plant-based compostable materials. Some of our products include, toothbrushes, shavers, reusable food storage, cutlery, and cutlery dispensers.

![A range of products made by Preserve](/img/champion_logos/preserve.webp)

### What is your approach to working with plastic?

We choose recycled plastic in order to reduce dependence on virgin plastic, and to encourage recycling. Choosing recycled helps to lower the amount of plastic in landfills and on beaches and also saves water, energy and electricity.

With all of our products, we use a Life Cycle Assessment (LCA) approach to assess their impact. An LCA looks at the journey of a product, and its impacts from the point of extraction of that products’ components from the earth, all the way through to the ultimate disposal of the product.

### What is POPi? Why did you launch it?

Preserve Ocean Plastic Initiative (POPi) makes great products from plastic that was rescued from coastlines and waterways and was at risk of entering the ocean. In addition, 25% of the proceeds of the sale of POPi products are donated to organizations dedicated to ocean conservation, cleanup, and education. When one of our customers purchases a POPi product, they are playing a role in stopping the flow of wayward plastic that contaminates our oceans and harms our earth’s marine animals.

![Snokeller surrounded by fish and plastic pollution](/img/champion_logos/preserve-popi.webp)

We've got a crisis in the ocean. Plastic waste is finding its way to the ocean at a pace we never thought possible. One razor or toothbrush won’t solve the ocean plastic crisis, but we’re proud to be a small part of the solution while also supporting organizations making a positive impact on ocean health.

### How are you tackling the climate impact of your business?

Preserve isn’t committed to just one initiative combatting climate impact, but to several. In 2019, we joined more than 500 other B Corps in announcing our commitment to hit Net Zero by 2030, 20 years ahead of the Paris Climate Accords. 

Preserve also works directly with [Change Climate](https://www.changeclimate.org/) to measure our carbon footprint. Change Climate helps companies identify recognized business impact areas and then use established emissions factors to estimate the CO<sub>2</sub> that is attributable to activities within those impact areas. On top of measuring our full footprint (which includes most of the impacts of our products), we also participate in [Amazon’s Climate Pledge Friendly](https://www.aboutamazon.com/news/sustainability/amazon-launches-climate-pledge-friendly-program) program, which requires us to measure individual product footprints, create product level reductions and offset. 

### Preserve was one of the first companies to switch to using a .eco domain. What has a .eco domain meant to your business? 

For Preserve, the .eco domain was a must-have for our business because we are committed to a mission of sustainability and have always been transparent about our efforts to combat climate change. As an entrepreneurial company we respected the mission of the team behind .eco. We also, frankly, liked moving away from the .com identity that was so pervasive.

The .eco domain has established itself as the place to be for companies that are looking to combine the force of business to make a difference for the earth. The .eco domain also serves as the first touchpoint for many who discover sustainable businesses, organizations, and individuals and it has fostered a community where environmentalists collaborate, network, and grow.

<aside class="inverted" title=".eco champion details">
  <ul>
    <li><strong>Domain</strong>: <a href="https://preserve.eco/">preserve.eco</a> (<a href="https://profiles.eco/preserve">.eco profile</a>)</li>
    <li><strong>Community member since</strong>: Apr 2017</li>
    <li><strong>Domain retailer</strong>: Name.com</li>
  </ul>
</aside>

At .eco, we are fortunate to be surrounded by a community of businesses, organizations and individuals working hard to protect our planet. We are honoured to spread the word about the great work they're doing. If you are a member of the .eco community and would like to be featured, [get in touch](mailto:support@bigroom.eco).

