---
collection:
- news
- studies
title: "Let's Fix This - .eco champion"
excerpt: Want to feel inspired to take environmental action? [**Let's Fix This**](https://letsfixthis.eco) is a new book full of practical, step-by-step ideas of what you can do!
description: "Interview with Chandra Clarke, the author of Let's Fix This, a new book full of practical, step-by-step ideas of how you can take environmental action."
header-img: /img/champion_logos/letsfixthis.webp
header-img-alt: "Let's Fix This book cover"
pubdate: 2024-09-11
author: Eco Domain (.eco)
layout: article.hbs
og-image: champion_logos/letsfixthis.jpg
og-width: 1200
og-height: 630
page-path: champions/letsfixthis/
---

# {{title}}

## {{excerpt}}

![{{header-img-alt}}]({{header-img}})

_We spoke with **Chandra Clarke**, rocket scientist turned environmental activist and author, about we can collectively take action to address the crises facing our planet._

### What inspired you to write a book about environmental action?

In the comments sections of social media posts, I kept seeing a lot of apathy. Even in those people who understood the basics of the problems we face, there seemed to be a lot of helpless shrugging. The feeling is that the problems are too big, too complex, and corporations and politicians weren’t doing anything, so why bother?

While I understand those feelings, our future depends on ordinary people rolling up their sleeves and getting down to work. We can’t wait for our short-sighted politicians and profit-hungry corporations to do something. We have to make them do something. And we have to do something. [This book](https://letsfixthis.eco/) is my attempt to show people that there is a way forward. **We can do this.**

### Your book makes a case for environmental positivity. What makes you feel most optimistic about reaching a sustainable future?

The biggest thing for me is knowing that &mdash; in spite of the negativity you see online and on the news &mdash; there are other people out there fighting the good fight. Millions of them, actually. In spite of everything, they’re out there with real solutions and they’re making good progress. There are a lot of success stories if you start looking.

### Based on what you learned writing the book, what are the top things that you would recommend for an environmentally-concerned individual to act on?

One of the things I wanted to do with this book is get people **thinking bigger**. Too many of the “green solutions” books and sites I’ve seen have leaned towards things like “make your own mayonnaise at home” or “upcycle your old tires into a purse!” Self-sufficiency and upcycling are awesome, but they’re not going to move the needle very much and I think people instinctively understand that. 

So at the macro level, one of the biggest things you can do is go after a level of government or some other major organisation on an environmental issue. Start or join a campaign on something. It can be as straightforward as campaigning for more green space (public parks) in your city. Or it can be a major effort to bring proper public transit alternatives to your state. Like I said before, we have to make them do something.

At the personal level, the biggest thing to change is how you get around. Again, here the usual advice is just to walk or bike more. If you can, great! But this advice only works if you are physically fit, live within a reasonable distance of where you need to get to, and the weather isn’t horrendous. If you have a knee injury and there’s fifteen miles of highway pavement between you and the store and it’s 100F out, walking or biking aren’t really practical. Or for some, even possible. This is especially true in North America.

So, at the micro level you can convert to an electric or hybrid vehicle when funds allow. You can commit to using public transit once a week, to get those ridership numbers up so public officials have a reason to improve and properly fund those routes. If your job allows, go remote so you’re not having to commute. And so on.

### We understand you also run a board game café. Do you see a connection between board games and environmentalism?

Absolutely. Board games are all about in-person connections, having fun, socializing. We don’t do nearly as much of this kind of thing anymore. We’re all huddled behind our screens, doomscrolling. We need to bring back face-to-face interactions, and get back to building communities again. That’s part of what we’re trying to do at the cafe I run.

[Editor: Check out [Turns &amp; Tales](https://turnsandtales.com/) if you are in Chatham, Ontario.]

### When is your book available and where can we get it?

The book launches on **September 17th, 2024** and will be available at all major online retailers and through your local independent bookstore. If you want to shop online and still support indies, you can get it through [Bookshop.org](https://bookshop.org/p/books/let-s-fix-this-cleaner-living-in-a-dirty-world-chandra-clarke/21675223?ean=9781777217495).

### What made you choose a .eco domain name for your book’s website?

I liked the idea of a public commitment to what the book talks about. I felt I needed to walk the talk and demonstrate at least part of what I’m doing for environmentalism. The .eco extension was a good fit for that.

<aside class="inverted" title=".eco champion details">
  <ul>
    <li><strong>Domain</strong>: <a href="https://abs.eco">letsfixthis.eco</a> (<a href="https://profiles.eco/abs">.eco profile</a>)</li>
    <li><strong>Community member since</strong>: July 2024</li>
    <li><strong>Domain retailer</strong>: Webnames</li>
  </ul>
</aside>

At .eco, we are fortunate to be surrounded by a community of businesses, organizations and individuals working hard to protect our planet. We are honoured to spread the word about the great work they're doing. If you are a member of the .eco community and would like to be featured, [get in touch](mailto:support@bigroom.eco).

