---
title: 100 days of .eco | .eco
description: Stats and infographic covering the first 100 days of .eco.
page-path: infographic/100days/
og-image: opengraph/first100-og.png
og-width: 1134
og-height: 625
redirectTo: /
exclude: true
---
	<div class="section container infographic">
		<h1 class="title">Tracking our first 100 days in the wild</h1>

		<p>
		<strong>On Thursday, August 3, 2017</strong>, .eco &ndash; the new domain ending for those committed to positive change for the planet &ndash; passed 100 days of being in the wild. Getting through the first three months of running a new organization, launching a new product, or being a newly elected political official is a milestone. To mark this achievement, we created a sweet infographic for your viewing pleasure. We’re proud of what the .eco community has achieved in our first 100 days and are delighted to tell you what we’ve been up to.
		</p>

		<a href="/img/infographic/infographic-first100-footer-01.png"><img src="/img/infographic/infographic-first100-footer-01.png" alt="First 100 days of .eco infographic" width="100%" /></a>

		<h2>A closer look at the data</h2>

		<p>
		Registering a .eco domain is about more than just getting a great new domain name. It is also about showing mission alignment through a domain ending, and creating trust and transparency online.
		</p>

		<h2>Ready, set, go!</h2>
		<p>Each .eco registration comes with a .eco profile that showcases a .eco user's environmental actions. Creating a .eco profile is easy and quick to do &ndash; the fastest .eco profile took only <strong>56 seconds</strong> to create!</p>

		<h2>People <span class="heart">&hearts;</span> .eco</h2>
		<p>Every .eco profile is viewable at <a href="https://profiles.eco">www.profiles.eco</a>. Visitors to a .eco profile are able to 'like' it similar to liking on other social networks. For example, <a href="https://profiles.eco/revendo">revendo.eco</a> is getting a lot of love from the .eco community.</p>

		<h2>Business as a force for good</h2>
		<p>Businesses are embracing .eco, representing over 50% of all .eco profiles to date. As concern and awareness for the planet continues to increase, we expect even more businesses will align themselves with .eco.</p>

		<h2>16 goals, one planet</h2>
		<p>The United Nations has identified <a href="https://sustainabledevelopment.un.org/sdgs">16 Sustainable Development Goals (SDGs)</a> to transform our world. During the .eco profile creation process, .eco users are asked about their goals and how they align with the SDGs. <a href="https://profiles.eco/profile/focus/consumptionProduction">Responsible consumption and production</a> takes the top spot with the .eco community so far but there are .eco community members contributing to all 16 SDGs. You can see the whole list and who’s contributing at <a href="https://profiles.eco">www.profiles.eco</a>.</p>

		<h2>Where in the world is .eco</h2>
		<p><a href="https://profiles.eco/profile/location">In terms of geography</a>, the United States leads with the number of .eco profiles created. Europe represents eight of the top 10 spots with Germany, Spain, United Kingdom, Switzerland, France, Austria, and The Netherlands, indicating that .eco is top of mind for the European continent.</p>

		<h2>100 days and counting</h2>
		<p>It's been an awesome experience getting through the first three months of our .eco launch. We look forward to building and growing the .eco community and to showcasing great uses of .eco. For more information and to register your next .eco domain, visit <a href="https://go.eco">www.go.eco</a>. Be sure to follow us on twitter <a href="https://twitter.com/doteco">@doteco</a> for the latest updates and <a href="https://twitter.com/hashtag/newdoteco?f=tweets">#newdoteco</a> to learn about new .eco users joining the community.</p>

		<hr>

		<h2>Embed this infographic</h2>
		<p>Feel free to embed this infographic on your website to share the good news about .eco.</p>
		<textarea class="infographic-embed" readonly>
<a href="https://go.eco/img/infographic/infographic-first100-footer-01.png"><img src="https://go.eco/img/infographic/infographic-first100-footer-01.png" alt="First 100 days of .eco infographic" width="100%" /></a>
		</textarea>
		<button class="btn btn-default infographic-copy" data-clipboard-target=".infographic-embed">Copy &lt;/&gt;</button><span hidden class="infographic-copied"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Copied</span>
	</div>

<script src="/js/clipboard.min.js"></script>
<script>
  const clipboard = new Clipboard('.infographic-copy')
  clipboard.on('success', e => {
    const button = e.trigger
    const copiedLabel = button.nextSibling
    copiedLabel.removeAttribute('hidden')
    setTimeout(() => {
      copiedLabel.setAttribute('hidden', '')
    }, 700)
  })
</script>
