---
title: ".eco Supplier Policy"
description: "Sustainability criteria for evaluating new and existing .eco registry suppliers"
updated: 2025-07-23
layout: policy.hbs
og-image: opengraph/building-og.png
og-width: 1200
og-height: 630
page-path: policies/supplier/
---

Big Room, the .eco domain registry, is committed to maintaining a responsible supply chain for the goods and services that it procures. To achieve this goal, Big Room has identified three key criteria by which suppliers are evaluated:

- Suppliers should have a published sustainability policy. This policy identifies the environmental actions taken by the supplier and is publicly available so that they can be held to account.
- We prefer working with suppliers who have formalized their environmental and social commitments by achieving reputable third party certifications.
- We recognize suppliers who have made a public commitment to climate action, by setting a net zero target for their business

These criteria are used to regularly evaluate both new and existing suppliers.

- New suppliers are evaluated against these criteria during the procurement process.
- Existing suppliers are reviewed against these criteria on an annual basis.


## Supplier Review (July 2025)
In our annual supplier review, we consider all suppliers[*](#fn-1) that account for more than 1% of .eco’s total annual expenses and evaluate them against the three criteria defined above. For those existing suppliers that do not meet the criteria, we petition for additional information as to when they will be able to meet the criteria.

|Supplier|Sustainability policy|Environmental certifications|Climate commitment|
|-----------|--------------------------|-------------------------------------|----------------------------|
|[Amazon AWS](https://aws.amazon.com/)|[Sustainability at Amazon](https://sustainability.aboutamazon.com/)|[ISO 14001:2015](https://aws.amazon.com/compliance/iso-14001-faqs/) |[Net Zero by 2040](https://sustainability.aboutamazon.com/climate-solutions)<br>[100% of electricity matched with renewable energy sources](https://sustainability.aboutamazon.com/climate-solutions/carbon-free-energy) |
|[CIRA](https://cira.ca/)|[CIRA's commitment to the environment](https://www.cira.ca/en/sustainability/)|[Green Business Benchmark - Platinum](https://app.greenbusinessbenchmark.com/profile/canadian-internet-registration-authority-(cira)-default-group?tab=summary)|[Carbon neutral from 2024](https://www.cira.ca/en/sustainability/)<br> |
|[Escode (NCC)](https://www.nccgroup.com/us/)|[Sustainability strategy](https://www.nccgroupplc.com/sustainability/) | |[Net zero by 2050](https://www.nccgroupplc.com/sustainability/action-on-climate/greenhouse-gas-emissions/) |
|[Inhabit](https://www.inhabit.eco/)| | [B Corporation](https://www.bcorporation.net/en-us/find-a-b-corp/company/inhabit/) | [Net zero by 2035](https://www.inhabit.eco/about) |
|[Intercom](https://www.intercom.com/)| | | |

<a id="fn-1">*</a> While all suppliers are included in the evaluation, we are only publishing the results for suppliers of goods used to support the .eco registry. For privacy and security reasons we will not publish our suppliers of legal, accounting, banking and other professional services.

## Review and update of this policy
This policy is reviewed on an annual basis by the executive team and amended as necessary.
