.DS_Store

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules

# Optional npm cache directory
.npm

public/index.html
public/404.html
public/robots.txt
public/sitemap.xml
public/css
public/champions/
public/contact/
public/faq/
public/grants/
public/home/
public/impact/
public/privacy/
public/registrar/
