{
  "extends": "stylelint-config-standard",
  "rules": {
    "color-hex-case": null,
    "declaration-no-important": true,
    "font-family-name-quotes": "always-where-recommended",
    "function-url-quotes": "always",
    "indentation": "tab",
    "max-nesting-depth": 3,
    "no-unsupported-browser-features": [true, {
      "browsers": "> 1%, last 2 versions, not OperaMini all, ie >= 9"
    }],
    "selector-attribute-quotes": "always",
    "selector-list-comma-newline-after": "always-multi-line",
    "selector-max-compound-selectors": 3,
    "string-quotes": "single"
  }
}