---
collection: news
title: "2025 Eco Web Hosting Review"
excerpt: "How many .eco websites are using eco-friendly web hosting in 2025? We reviewed all active .eco domains to find out."
description: "Review of all active .eco websites to analyze how many are using eco-friendly hosting, which hosting providers are most popular and how .eco compares."
header-img: /img/news/english_bay.webp
header-img-alt: Stones piles on the shore at English Bay, Vancouver, Canada
pubdate: 2025-09-25
author: Eco Domain (.eco)
layout: article.hbs
og-image: opengraph/english_bay-og.jpg
og-width: 1200
og-height: 630
page-path: news/2025-eco-web-hosting-review/
more:
- news/2024-eco-web-hosting-review/
- news/2023-eco-web-hosting-review/
- news/eco-friendly-hosts-results/
- news/finding-a-green-domain-retailer/
- news/green-web-check-ecolabel/

---

# {{title}}

## {{excerpt}}

<figure>
<img alt="{{header-img-alt}}" src="{{header-img}}">
<figcaption>
Image by <a href="https://pixabay.com/users/dlohner-4631193/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=3100049">dlohner</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=3100049">Pixabay</a>
</figcaption>
</figure>

At .eco, we try to help people make more **eco-friendly technology choices**. One of the most impactful decisions that you make when setting up a new website is [choosing where to host it](/news/where-you-host-your-website-really-matters/). That’s why whenever someone [searches for a .eco domain](/search/) on this site, we highlight domain retailers and web hosts that are [operating more sustainably](/news/eco-friendly-web-host/), such as by being powered by renewable energy, operating a highly energy-efficient data center or having clear environmental policies and commitments.

To understand how many people are heeding this advice, we annually review all active .eco domains to see how many are using sustainable web hosting. We do this by checking every .eco domain against [Green Web Check](https://www.thegreenwebfoundation.org/green-web-check/) from the Green Web Foundation.

This is our fourth year doing this analysis. Every year, we've gained new insights reviewing this data. We're excited to share what we've learned.

### Methodology

First, we should have a quick word about our approach. It's a bit technical, so feel free to skip over this if you want to jump to the results.

For this analysis we are only considering .eco domains that have an "active website". This means that:
- the domain name should resolve to a valid website that returns a successful HTTP status code (200)
- we exclude domains that redirect to a websites that isn't using a .eco domain
- we exclude domains associated with a registrar parking or construction page or that are otherwise devoid of content

There are a few reasons why we focus only on active websites:
1. People care more about and have more control over their actual website than a parking page
2. Our baseline contains only valid websites, so it provides a better basis of comparison (more on this later)

### 2025 Results

As of September 29, 2025, **45% of active .eco websites** use an eco-friendly web hosting provider. This is a slight increase from last year.

.eco domains use 95 different green web hosting providers. This is down quite significantly (38%) from last year. Over the past few years, we have seen the number of different green web hosts grow each year as more providers register with the Green Web Foundation. This is the first time we've seen the number of providers drop. It is likely due to [clean up of the hosting directory done by the Green Web Foundation](https://www.thegreenwebfoundation.org/news/an-update-on-finding-representatives-for-large-hosting-providers/), but it does have some fairly significant implications which we'll dig into later.

Here are the **top 10** eco-friendly hosting providers with the largest number of .eco domains:

| Hosting provider | % of active websites |
| -----------------| -------------------- |
| [Cloudflare](https://www.cloudflare.com/impact/) | 14% |
| [OVH](https://corporate.ovhcloud.com/en/sustainability/environment/) | 5% |
| [Google](https://sustainability.google/) | 5% |
| [Hostinger](https://www.hetzner.com/unternehmen/umweltschutz/) | 3% |
| [Hetzer](https://www.hetzner.com/unternehmen/umweltschutz/) | 3% |
| [IONOS](https://www.ionos.com/environment) | 2% |
| [Infomaniak](https://www.infomaniak.com/en/ecology) | 1% |
| [Combell](https://www.combell.com/en/datacenters) | 1% |
| [Dinahosting](https://en.dinahosting.com/somos-dinahosting/responsabilidad-social) | 1% |
| [Microsoft Azure](https://azure.microsoft.com/en-gb/explore/global-infrastructure/sustainability) | 1% |

Some notable omissions from last year's top 10 include:
- Amazon Web Services (6% of last year's websites)
- Domeneshop (1% of last year's websites)
- InternetX (1% of last year's websites)

These hosting providers were likely removed from the Hosting Directory if the Green Web Foundation was unable to contact the provider to audit their green hosting claims.

Notably, the largest gain in eco-friendly websites versus last year is Hostinger, which has not previously broken the top 10.

### Is 45% any good?

To determine whether 45% of active .eco websites using eco-friendly hosting is relatively good, we need some sort of baseline.

Last year, we used the [Cloudflare Radar](https://radar.cloudflare.com/domains) top 10,000 most popular website index as a basis of comparison. This index tracks the domain names that receive the most DNS traffic through [Cloudflare's DNS resolvers](https://developers.cloudflare.com/radar/glossary/#domain-rankings) based on the week of September 15-22 2025. This is a reasonably representative sample of the most popular websites on the Internet.

Last year, running Cloudflare Radar’s top 10,000 websites through the Green Web Check, we found that **42%** of those domains use eco-friendly hosting. This year, that dropped to **27%**! That is likely due to removing AWS (a reduction of 8%) and Akamai (3%). That 11% accounts for most of the reduction versus last year.

This suggests that removing major providers from the hosting directory reduced the proportion of websites using green hosting by a similar amount both for .eco and for the Cloudflare Radar baseline.

Here are the top 5 eco-friendly hosting providers for the Cloudflare Top 10,000:

| Hosting provider | % of active websites |
| -----------------| -------------------- |
| [Cloudflare](https://www.cloudflare.com/impact/) | 14% |
| [Google](https://sustainability.google/) | 7 % |
| [Microsoft Azure](https://azure.microsoft.com/en-gb/explore/global-infrastructure/sustainability) | 1% |
| [Hetzer](https://www.hetzner.com/unternehmen/umweltschutz/) | 1% |
| [OVH](https://corporate.ovhcloud.com/en/sustainability/environment/) | 1% |
 
### What’s next

If you want to know if your website is using eco-friendly web hosting, you can enter your domain into the [Green Web Check](https://www.thegreenwebfoundation.org/green-web-check/). If your site is using a green host and you are using a .eco domain name, you can add a badge to your [.eco profile](https://profiles.eco/profile/certification/green-web-check) showing that. [Here’s how to do it](/news/green-web-check-ecolabel/).

If your site isn’t using an eco-friendly host, check out our [post on eco-friendly domain retailers](https://go.eco/news/finding-a-green-domain-retailer/) - they also offer web hosting services.

Let’s work together to achieve a **fossil-fuel free Internet by 2030**. Choosing a sustainable web hosting provider is a great place to start.
