---
collection:
- news
- studies
title: "CYCLE - .eco champion"
excerpt: A subscription e-bike service changing last mile delivery and reducing traffic-related CO2-emissions.
description: "Sustainable last-mile delivery throughout Europe."
header-img: /img/champion_logos/cycle.webp
header-img-alt: A man and a woman on cargo e-bikes
pubdate: 2023-04-18
author: Eco Domain (.eco)
layout: article.hbs
og-image: opengraph/cycle-og.png
og-width: 600
og-height: 315
page-path: champions/cycle/
---

# {{title}}

## {{excerpt}}

![{{header-img-alt}}]({{header-img}})

_At .eco, we are fortunate to be surrounded by a community of businesses, organizations and individuals working hard to protect our planet. We are honoured to spread the word about the great work they're doing. If you are a member of the .eco community and would like to be featured, [get in touch](mailto:support@bigroom.eco)._

_We asked the CEO &amp; co-founder of [CYCLE](https://cycle.eco/), **Luis Orsini-Rosenberg**, to tell us about how CYCLE is transforming sustainable delivery services._

### Tell us a little about what CYCLE is – what do you do, where are you based, and where do you operate?
CYCLE was founded in Berlin in 2018 by two cousins, Luis Orsini-Rosenberg and Nikodemus Seilern. We design and produce tailor made utility e-bikes and provide them to last-mile delivery businesses and couriers, including service and maintenance. Our in-house team of mechanics and mechatronics guarantees that the bikes are always up and running. Our damage-reporting and fleet management software allows customers to easily and efficiently book service appointments, as well as seeing real time data about the status of their fleet, allowing customers to focus on what is important to them - delivering orders. We currently operate in four countries (Germany, Austria, Italy, Netherlands) and over 75 cities in those countries, including Berlin, Vienna, Amsterdam, Rotterdam, Munich, Hamburg, Frankfurt, Milan and Rome.

### How did CYCLE get started? What’s the story behind the business?
We originally started our business renting out fleets of scooters to hotels, allowing their guests to roam the cities they were visiting in a convenient and emission-free way. However when the COVID-19 pandemic hit Europe and travel and tourism was effectively shut down overnight, we were forced to rethink our business strategy and pivot quickly - a real sink or swim situation. European lockdowns meant that deliveries were suddenly booming - people couldn’t go out to their favourite restaurants and wanted to avoid supermarkets, so they started ordering takeaway food and groceries for immediate delivery - or quick commerce. Here was where we found our niche and we started supplying the big last-mile delivery companies with serviced e-bikes designed specifically for delivery - bikes which are able to cover long distances and carry heavy loads. Fast forward a few years and we have expanded to four countries (with more in the pipeline), and are now a leading supplier of electric delivery vehicles.

### What kinds of companies are using CYCLE’s services? What are some of the most popular uses for CYCLE bikes?
We work with multiple customers in the last-mile delivery industry, as well as restaurants and individual couriers. Our customers include grocery delivery companies like Flink and Gorillas/Getir, food delivery customers like Just Eat Takeaway.com and Wolt as well as companies in the parcel and pharma delivery segments. Long range batteries and bikes with a larger payload mean our customers can deliver more orders in a shorter space of time, without compromising on courier safety or comfort.

### What led you to .eco and what made you choose a .eco domain name?
Sustainability is one of our key values and as well as implementing internal measures to operate more sustainably and encouraging our colleagues to live the value, we wanted this value to be immediately visible from an external perspective as well. For that reason we decided to go with a .eco domain name - the perfect way for us to display our public commitment to sustainability and climate action.

### What role do you see CYCLE playing in the evolution of sustainable transportation in cities?
By running a full service subscription, we increase the lifecycle of our bikes and decrease the number of CO2-emitting delivery vehicles on the road, contributing to greener, more liveable cities and helping to decarbonise the commercial transportation sector. We are convinced that e- and cargo bikes could fulfil over 50% of last mile deliveries in cities and save millions of tons of CO2 emissions every year. To accelerate that shift, logistic companies need low-cost access to alternative vehicles, maximum flexibility and professional management of assets.

### What’s next for CYCLE? New cities? New bikes? New services?
We have big plans! In the near future, we are planning to enter a fifth market, as well as build out market leadership in our existing markets. We will extend our product portfolio with our in-house built new generation e-bike (launched later this year), as well as through new form factors such as three and four-wheeled cargo bicycles (pedal-assisted transporters).

### Is there anything else you’d like to share about CYCLE?

We are happy to be a member of the .eco community and excited to see where our sustainability journey will take us over the years to come.

<aside>
  <ul>
    <li><strong>Domain</strong>: <a href="https://cycle.eco">cycle.eco</a> (<a href="https://profiles.eco/cycle">.eco profile</a>)</li>
    <li><strong>Community member since</strong>: Jan 2023</li>
    <li><strong>Retailer</strong>: Google Domains</li>
  </ul>
</aside>
