---
collection: news
title: "Spotlight: Race to Zero"
excerpt: Join the United Nations-backed Race to Zero campaign to get to net zero carbon emissions before 2050.
description: "How to join the United Nations-backed Race to Zero campaign and get to net zero carbon emissions before 2050."
header-img: /img/news/race-to-zero-spotlight.png
pubdate: 2022-08-24
author: Eco Domain (.eco)
layout: article.hbs
og-image: opengraph/race-to-zero-og.png
og-width: 1200
og-height: 630
page-path: news/race-to-zero-spotlight/
---

# {{title}}

## {{excerpt}}

![Race to Zero logo]({{header-img}})

### Let’s get to Net Zero!

If you’re feeling **fired up** to take action to address global climate change, you’re not alone. One of the best ways to do so is to commit yourself and your organization to getting to **net zero**.

> It is [international scientific consensus](https://www.ipcc.ch/sr15/chapter/spm/) that to prevent the worst damages from climate change, net global human-caused emissions of carbon dioxide and other greenhouse gases need to fall by 45% below 2010 levels by 2030, reaching net zero around 2050.

According to Oxford University, “[Net Zero](https://netzeroclimate.org/what-is-net-zero/) refers to the state in which the greenhouse gases going into the atmosphere are balanced by removal from the atmosphere.” In other words, we need to ensure that for any carbon pollution we produce, we remove an equal or greater amount. And the most effective way to do this is to reduce the amount of carbon pollution we produce in the first place.

Going **carbon neutral** or **climate neutral**, while subtly different, are similar to **net zero** - so don’t let that confuse you. The ultimate goal is to find that balance where our actions are not adversely affecting the climate.

Reducing and balancing out our carbon emissions sounds pretty daunting. It’s hard to even know where to start. Fortunately, there are thousands of other organizations around the world that are also on this journey with us. We’re able to build upon their trailblazing work. And there are more and more tools available to help us out.

 ### What is the Race to Zero?

The best way to mobilize and affirm your commitment in getting to Net Zero is to join the **Race to Zero**. [Race to Zero](https://unfccc.int/climate-action/race-to-zero-campaign) is a global campaign launched by the [United Nations Climate Change Secretariat](https://unfccc.int/) to rally businesses of all sizes and municipal, regional or national governments to get to net zero carbon emissions by 2050 or sooner.

Joining the Race to Zero means committing to take [4 steps](https://unfccc.int/climate-action/race-to-zero-campaign#eq-3):

1. **Pledge** to reach net zero as soon as possible, before 2050 at the latest.

2. Create a **Climate Action Plan** within 12 months of joining explaining how you are going to reach net zero.

3. **Take action** to reduce your carbon footprint and get to net zero

4. **Publish your progress** at least annually

### Joining the Race to Zero campaign

You can join the Race to Zero campaign by signing up with one of the [Race to Zero partners](https://unfccc.int/climate-action/race-to-zero-campaign#eq-4). There are specific partners working to help you out based on your type of organization.

If you’re a **small-to-medium business** (SME) like us, the [SME Climate Hub](https://smeclimatehub.org/) is a great place to start. 

<p><img src="https://cdn.profiles.eco/img/memberships/smeclimatehub.svg" alt="Climate Hub logo" height="200" width="670" /></p>

Joining SME Climate Hub is a simple matter of committing the [SME Climate Pledge](https://smeclimatehub.org/sme-climate-commitment/) and submitting some details about your organization. They will follow up with an email granting you access to the portal.

By joining SME Climate Hub, your organization will be listed in their directory of [committed businesses](https://smeclimatehub.org/committed-businesses/) and you will be automatically registered in the Race to Zero campaign. You can then use the SME Climate Hub and Race to Zero logos on your website to showcase your net zero commitment to the world.

The portal contains several tools that you can use to help you on your journey.
* There is a basic carbon calculator that can help you understand your current carbon footprint to build an initial baseline.
* There is also course material to bring you up-to-speed on what to do to get to net zero.

### Race to Zero and Profiles.eco

Now that you have joined the Race to Zero, your [.eco profile](https://profiles.eco/) is a great place to showcase this to the world. If you edit your profile, you can go to the Membership section and add Race to Zero to your profile. If you joined using the SME Climate Hub, you can add this membership to your .eco profile as well. You can check out our [.eco profile](https://profiles.eco/bigroom) as an example.

![Adding Race to Zero membership to your .eco profile](/img/news/race-to-zero-profiles.jpg)

Adding these memberships to your profile will also list your organization on the [profile aggregator pages](https://profiles.eco/profile/membership/rtz). It would be awesome to see every member of the .eco community join this worthwhile initiative.

### Take action!

Here’s the quick summary of what you can do:

1. Commit yourself and your organization to getting to **net zero**!

2. Join the **Race to Zero** through one of the [race partners](https://unfccc.int/climate-action/race-to-zero-campaign#eq-4)

3. Affirm your public commitment to this goal by adding your membership in the Race to Zero campaign to your [**.eco profile**](https://profiles.eco/). 

Time is running short to reverse global climate change but by working together to reach **net zero** we can get there!



