---
collection:
- news
- studies
title: "Pirkani.eco - .eco champion"
excerpt: A fashion-forward label on a mission to ethically produce contemporary British fashion with a minimalist design aesthetic.
description: "A fashion-forward label with a difference."
header-img: /img/champion_logos/pirkani-banner.webp
header-img-alt: Pirkani fashion model panel
pubdate: 2023-03-02
author: Eco Domain (.eco)
layout: article.hbs
og-image: champion_logos/pirkani-banner.webp
og-width: 1352
og-height: 451
page-path: champions/pirkani/
---

# {{title}}

## {{excerpt}}

![{{header-img-alt}}]({{header-img}})

_At .eco, we are fortunate to be surrounded by a community of businesses, organizations and individuals working hard to protect our planet. We are honoured to spread the word about the great work they're doing. If you are a member of the .eco community and would like to be featured, [get in touch](mailto:support@bigroom.eco)._

_We asked the co-founder of Pirkani, **Muneeb Khan**, to tell us about his take on sustainable fashion._

### What does Pirkani do?
Pirkani is a fashion-forward label with a difference. With sustainability at our core, we’re on an exciting mission to ethically produce contemporary British fashion with a minimalist design aesthetic to suit a range of styles and tastes. As sustainability becomes more of a mainstream demand, we understand that individuals are searching for ethical fashion brands that they can rely on to create a contemporary, versatile wardrobe. To meet these needs, we’ve built our brand on a powerful foundation of values and ethics, rooting Pirkani in a company ethos that caters to the modern consumer while championing the concept of impactful fashion.

### How does the fashion industry affect the environment?
The fashion industry, in particular the Fast-Fashion side of it, impacts the environment in a massively negative way. One common example is the amount of water used (about 2700 litres of water is used for producing a single t-shirt) and the chemicals released during production (the fashion industry accounts for 20% of all industrial water pollution worldwide). This not only puts aquatic ecosystems in danger but the people living near the contaminated rivers or lakes, which rely on them as their only water source, are equally affected.

### What is Pirkani doing to help the planet?
At Pirkani, nothing is more important than delivering on our promises and bringing our vision for the world of fashion to life. We are firm believers in our work, and we embrace sustainability, environmental consciousness, and natural goodness in everything we do. With that in mind, our unique, 5-step approach to sustainable fashion is how we separate ourselves from other fashion brands out there today. Our primary focus is on supporting fragile ecosystems by tackling climate change head-on through fashion and product development initiatives that keep the world cleaner, safer, and more resilient in the long run. Detail of all that’s done to ensure this, is at [Sustainability at Pirkani](https://pirkani.eco/pages/sustainability-at-pirkani).

### Why did you select a .eco domain for your business?
In line with our mission of being a sustainable and eco-conscious fashion brand, we choose eco-friendly partners in everything we do. As a .eco domain offered a credible showcase of our commitment to the environment, we did not even look elsewhere.

### Who else inspires you in the sustainable fashion industry?
Eileen Fisher. They are dedicated to ensuring that every aspect of their design and manufacturing process is as environmentally responsible and sustainable as possible, from the materials used to the fair treatment of workers who assemble the garments.

### What inspired you to start Pirkani? 
As entrepreneurs who are acutely aware of the responsibility, we must safeguard our planet, we always felt strongly about the detrimental impact that the fashion industry has on the earth. We strongly believe that we all have a vital role to play in curbing the effects of climate change as our choices today are critical to the imminent future of our planet.

When we founded Pirkani, we envisioned an ethically-focused community on the cutting edge of fashion that sought to change fast fashion habits and move towards the production of sustainable clothing. Today, we are proud to be upholding our promise to support workers throughout the entire production chain and remain accountable for the impact we have on the environment.

Embracing sustainable fashion and the circular economy is at the heart of Pirkani's mission to become one of the new leading fashion brands that is emerging with the evolution of conscious consumerism. Creating an ethical fashion brand that meets the foremost needs of 21st century consumers is a goal that we continue to strive towards.

Simply put, Pirkani’s commitment to sustainability and excellence reflects the vision that we have always had for the contemporary fashion industry.

### What's your favourite product and which is your bestseller?

Hands down we love our [sweatshirts](https://pirkani.eco/collections/women?filter.v.price.gte=&filter.v.price.lte=&filter.p.product_type=Sweatshirts), the finest and most adorable products we’ve crafted so far. Our [Eco world t-shirt](https://pirkani.eco/products/eco-world-mens-essential-crewneck-t-shirt) has also been a stellar bestseller.

### Will you be launching any new products in 2023? 
Certainly, we’re going to add some fantastic new products and designs to our collections including beanies and hats.

### Is there anything else we should know about Pirkani? 
At Pirkani, we believe in making sustainable apparel through simple, ethical sourcing and see ourselves as the gatekeepers between conscious consumption and sustainable investment. We are just as concerned with the health and integrity of the planet as we are with the products we sell. Fashion and sustainability, in our view, should not be mutually exclusive but symbiotically connected as we embark on a journey into a future where everyone cares about the origin and destiny of their clothing. We encourage slow fashion and conscious consumption and are dedicated to having an entire ecosystem of sustainable apparel and a community that shares our vision and drives us to protect the planet earth. We’re equally as passionate about using our place in the British fashion industry to make an indelible impact on the planet. That’s why we’ve conceptualized an initiative to plant a tree for every piece of sustainable clothing made under the Pirkani label.

<aside class="inverted">
  <ul>
    <li><strong>Domain</strong>: <a href="https://pirkani.eco">pirkani.eco</a> (<a href="https://profiles.eco/pirkani">.eco profile</a>)</li>
    <li><strong>Community member since</strong>: Feb 2021</li>
    <li><strong>Retailer</strong>: Google Domains</li>
  </ul>
</aside>
