---
collection: news
title: "2023 Eco Web Hosting Review"
excerpt: "How pervasive is eco-friendly web hosting in 2023? We reviewed all active .eco domains to find out."
description: "How pervasive is eco-friendly web hosting in 2023? We reviewed all active .eco domains to find out."
header-img: /img/news/hosting.webp
header-img-alt: Light streaming from rack of servers
pubdate: 2023-10-05
author: Eco Domain (.eco)
layout: article.hbs
og-image: opengraph/hosting-og.jpeg
og-width: 1200
og-height: 630
page-path: news/2023-eco-web-hosting-review/
more:
- news/2022-impact-report/
- news/eco-friendly-hosts-results/
- news/finding-a-green-domain-retailer/
- news/green-web-check-ecolabel/

---

# {{title}}

## {{excerpt}}

<figure>
<img alt="{{header-img-alt}}" src="{{header-img}}">
<figcaption>
Photo by <a href="https://unsplash.com/@sortino?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Joshua Sortino</a> on <a href="https://unsplash.com/photos/LqKhnDzSF-8?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
</figcaption>
</figure>

One of our goals at .eco HQ is to raise awareness about the environmental impacts of the Internet and to encourage everyone to make eco-friendly technology choices. One key technology decision that we as website owners and operators make is where we  host our web sites.

There are now a wide range of web hosting providers that run in data centers powered using renewable energy, that operate with high power and water usage efficiency, and deal responsibly with electronic waste. [Here is a list of eco-friendly web hosts worth considering](/news/finding-a-green-domain-retailer/).

Last year we conducted a [review of all .eco domains to determine how many are using an eco-friendly web host](/news/eco-friendly-hosts-results/). We checked all active .eco domains using [Green Web Check](https://www.thegreenwebfoundation.org/green-web-check/) from the Green Web Foundation and found that approximately **31% of active .eco web sites** run in data centers powered by [green energy](https://www.thegreenwebfoundation.org/what-we-accept-as-evidence-of-green-power/).

As part of our [2023 Impact Plan](/news/2022-impact-report/#encouraging-eco-friendly-digital-services), we set a goal of working with the .eco community to **boost this to 40%**. We’re pleased to announce that we’ve hit this goal!

### 2023 Results

As of September 28, 2023, 2,461 .eco web sites, **just over 40%  of active .eco domains**, use an eco-friendly web hosting provider. There are 136 green web hosts in use, a 21% increase over last year. This is likely due to more hosting providers meeting the criteria to be added to the [Green Hosting Directory](https://www.thegreenwebfoundation.org/tools/directory/).

Here are the **top 10** eco-friendly hosting providers with the largest number of .eco domains:

| Hosting provider | # of sites | % of active domains | % of eco-friendly websites |
| ---------------- | ---------- | ------------------- | -------------------------- |
| [Cloudflare](https://www.cloudflare.com/impact/) | 471 | 8% | 19% |
| [Google and Firebase](https://sustainability.google/) | 435 | 7%  | 18% |
| [OVH](https://corporate.ovhcloud.com/en/sustainability/environment/) | 337 | 6% | 17% |
| [Amazon AWS](https://sustainability.aboutamazon.com/) | 261 | 4% | 13% |
| [Hetzer](https://www.hetzner.com/unternehmen/umweltschutz/) | 129 | 2% | 5% |
| [InternetX](https://www.internetx.com/en/internetx/green-economy/) | 79 | 1% | 3% |
| [IONOS](https://www.ionos.com/environment) | 70 | 1% | 3% |
| [Akamai](https://www.akamai.com/company/corporate-responsibility/sustainability) | 58 | 1% | 2% |
| [Infomaniak](https://www.infomaniak.com/en/ecology) | 54 | 1% | 2% |
| [Microsoft Azure](https://azure.microsoft.com/en-gb/explore/global-infrastructure/sustainability) | 41 | 1% | 2% |

> While Cloudflare offers hosting services, it is principally a content delivery network (CDN). This means that the website is actually hosted elsewhere, but the content is served through Cloudflare’s network, obscuring the actual hosting service. Cloudflare is used as a CDN by many large website builders and hosting providers. Some members of the .eco community may not even be aware that their website is being served through Cloudflare. Same goes for Akamai.

The top 10 list is relatively consistent compared to last year, but all of these hosts have seen a growth in the number of .eco websites using their service. A big new entrant is InternetX that accounts for 3% of eco-friendly .eco sites.

If you want to dig deeper or see if your .eco website is on the list, you can [check out the raw data](https://docs.google.com/spreadsheets/d/1UeZwtuA8xZlQRPGbiWVut_hvs6WIVgYkOuJp6fcCldo/edit#gid=181973695).

### What’s next

If you’re wondering if your website is using an eco-friendly web host, you can check it using [Green Web Check](https://www.thegreenwebfoundation.org/green-web-check/). If your site is using a green host and you are using a .eco domain name, you can add a badge to your [.eco profile](https://profiles.eco/profile/certification/green-web-check) certifying that. [Here’s how to do it](/news/green-web-check-ecolabel/).

If your site isn’t using an eco-friendly host, check out our [post on eco-friendly domain retailers](/news/finding-a-green-domain-retailer/) - they also offer web hosting services.

Let’s work together to achieve a **fossil-fuel free Internet by 2030**. Choosing a sustainable web hosting provider is a great place to start.
