---
collection: news
title: ".eco joins Business Declares"
excerpt: We are proud to join a network of like-minded businesses working to tackle climate change.
description: "We reinforce our commitment to addressing the Climate Emergency and getting to net zero by joining the Business Declares network"
header-img: /img/news/business-declares.svg
header-img-alt: Business Declares logo
pubdate: 2022-10-06
update: 2025-07-23
author: Eco Domain (.eco)
layout: article.hbs
og-image: news/business-declares-logo.png
og-width: 966
og-height: 303
page-path: news/business-declares/
---

# {{title}}

## {{excerpt}}

<div>
  {{{ embedSVG header-img }}}
</div>

When we first took the steps to declare a [Climate Emergency](https://go.eco/news/we-declare-a-climate-emergency/) and commit ourselves to [reach net zero](https://go.eco/news/climate-action-plan-2022/), we looked around for ways to share our commitment and hold ourselves accountable to our targets.

We learned about [Business Declares](https://businessdeclares.com/) through [LEAP](https://leap.eco), one of our awesome [.eco champions](https://go.eco/champions/), who provide creative support to the organization. Business Declares is a network of businesses that have declared a Climate Emergency and are committed to reach carbon neutrality.

> We are proud to announce that we have joined the Business Declares network. Our aim is to be net zero before 2030 by reducing our emissions and impact on biodiversity.

### Updated Declaration (2025)

In light of our growing collective understanding of the escalating crises faced by life on our planet, Business Declares has updated their [Manifesto](https://businessdeclares.com/s/The-Business-Declares-Manifesto.pdf) to reflect the interdependency between climate, ecological and social conditions that are accelerating this polycrisis.

> In acknowledgment of the escalating, interdependent crises the world faces, and together with other Business Declares members, we declare there is a climate, ecological and social emergency.

We make this declaration with urgency and in certainty that the impacts these crises will have on our society and economy, let alone the environment, will be near-term, fundamental and far reaching for all, including ourselves, our business and our stakeholders.

Our declaration, in line with the Business Declares Manifesto, builds on our [existing sustainability policies and impact reports](/impact/). In addition, we commit to:
- Continue annually publish our impact and transition plans
- Use the power of collective action to advocate for the transformations necessary to bring about positive change for our planet

### Come join us!

For businesses looking to join, you can [fill in an application](https://businessdeclares.com/become-a-business-member) that will be reviewed by the team at Business Declares. Joining is a commitment to address these crises by taking 3 steps:

1. Publicly declare that we are facing a climate, ecological and social emergency in alignment with the Business Declares Manifesto
2. Set a science-based plan to reduce Scope 1, 2 &amp; 3 climate emissions by 50% by 2030, protect nature/biodiversity and support a just transition
3. Advocate for change by supporting Business Declares and other advocacy campaigns

Joining Business Declares also registers your organization in the United Nations-backed [Race to Zero](https://go.eco/news/race-to-zero-spotlight/) campaign.

![Race to Zero logo](/img/news/race-to-zero-spotlight.png)

Once you’ve joined you can also add your membership in Business Declares to your .eco profile, linking to the Business Declares membership page or your Climate Emergency declaration. See [our profile as an example](https://profiles.eco/bigroom).

![Screenshot of adding Business Declares membership to .eco profile](/img/news/business-declares-profiles.jpg)

Come join the growing list of businesses taking action. We'd love to learn more about how you are taking action to address these crises. [Please send us an email](mailto:support@bigroom.eco) with your story.
