---
title: Marketing resources | .eco
description: Marketing resources for registrars.
page-path: registrars/resources/
og-image: opengraph/building-og.png
active: registrars
exclude: true
---

<link rel="preload" as="image" href="/img/iStock-603187076-header.jpg">

<div class="jumbotron registrar-header">
	<div class="container">
		<h1>Marketing resources</h1>
	</div>
</div>

<div class="policy">
<div class="section registrar-resources">
	<div class="container">
		<p>This page provides .eco-related marketing and communication resources for registrars. As a registrar, you’re free to use any of the resources on this page in your promotion of .eco.</p>

		<p>If you have questions about these resources, contact us at <span class="email-link" data-name="registrars" data-domain="bigroom.eco"></span>.</p>
	</div>
</div>

<section class="section inverted">
	<div class="container">
		<h2>.eco Logos</h2>
		<p class="pb-3">Use one of the following logos when referencing .eco top-level domain or the .eco registry:</p>

		<div class="row image-row text-center">
			<div class="col-sm-4">
				<a href="/img/doteco-logo.svg"><img src="/img/doteco-logo.svg" alt=".eco logo in ruby color" class="w-50"></a>
				<p class="pt-3">Light backgrounds</p>
			</div>
			<div class="col-sm-4">
				<a href="/img/doteco-logo-white.svg"><img src="/img/doteco-logo-white.svg" alt=".eco logo in white color" class="w-50"></a>
				<p class="pt-3">Dark backgrounds</p>
			</div>
			<div class="col-sm-4">
				<a href="/img/doteco-logo-black.svg"><img src="/img/doteco-logo-black.svg" alt=".eco logo in black color" class="w-50"></a>
				<p class="pt-3">Print</p>
			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="container">
		<h2>.eco Brand Colors</h2>
		<div class="row mb-4">
			<div class="col-sm-4">
				<span class="colour-circle" style="background-color: #9F1744"></span><span><strong>Ruby</strong><br>#9F1744</span>
			</div>
			<div class="col-sm-4">
				<span class="colour-circle" style="background-color: #454A73"></span><strong>Sapphire</strong><br>#454A73
			</div>
			<div class="col-sm-4">
				<span class="colour-circle" style="background-color: #FE7635"></span><strong>Fire Opal</strong><br>#FE7635
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<span class="colour-circle" style="background-color: #FCCC37"></span><strong>Citrine</strong><br>#FCCC37
			</div>
			<div class="col-sm-4">
				<span class="colour-circle" style="background-color: #EAECE6"></span><strong>Marrow</strong><br>#EAECE6
			</div>
			<div class="col-sm-4">
				<span class="colour-circle" style="background-color: #403B3E"></span><strong>Charcoal</strong><br>#403B3E
			</div>
		</div>
	</div>
</section>

<section class="section inverted">
	<div class="container">

		<h2>About .eco</h2>
		<p>Use the following text to describe .eco.</p>

		<div class="row">
			<div class="col-sm-6">
				<h3>Here is a one sentence description of .eco:</h3>
				<p class="resource-quote">.eco is a domain name for anyone committed to positive change for the planet.</p>
			</div>
			<div class="col-sm-6">
				<h3>Here is a longer description:</h3>
				<p class="resource-quote">.eco is a domain name anyone committed to positive change for the planet. .eco web addresses are available to any business, government, non-profit or individual working toward a sustainable future.</p>

				<p class="resource-quote">The .eco domain is backed by more than 50 environmental organizations including Conservation International, United Nations Global Compact and WWF and is a trusted symbol for the environmental community. </p>

				<p class="resource-quote">Whether it’s a campaign to protect a special place in the world, the launch of a new business or product or a new address for an existing online presence, .eco helps organizations and companies get recognition for the good work they do.</p>
			</div>
		</div>
	</div>
</section>

	<section class="section registrar-resources">
		<div class="container">
			<h2 id="faq">Frequently asked questions about .eco</h2>
			<p>The following are answers to the most frequently-asked questions about .eco. It can be helpful to include these on .eco-related pages on your site.</p>

			<h3>Who is using .eco?</h3>
			<p>Companies, non-profits, individuals and governments from all over the world who are committed to positive change for the planet. From independent environmental consultants to national brands, .eco is being used as an emblem for a sustainable future.</p>

			<h3>Can I get a .eco domain?</h3>
			<p>Yes, you can. If you care about the planet, this is the best way for you to show it. .eco is open to anyone committed to positive change for the planet.</p>

			<p>To register and activate a .eco domain name, you need to make a commitment to environmental action. This simple pledge ensures that .eco endures as a trusted symbol for those working toward a sustainable future. </p>

			<h3>Why should I buy a .eco domain name?</h3>
			<p>Your domain name should tell a story about you. You put it in your email, on your brochure and your business card. What story does it tell? Are you proud to be a dot-whatever? Just like your work on the environment, a domain name can be something you’re proud of.</p>

			<p>A new .eco domain is a simple way to show you care about the planet and to connect with others who share your values.</p>
		</div>
	</section>

<section class="section resources-about inverted">
	<div class="container ">

	<h2 id="social-media">Social media resources</h2>
		<p>We've provided some suggested social media content to help you promote .eco:</p>

		<div class="row">

			<div class="col-sm-6">
				<p class="social-media-box">Show your customers you care about a sustainable future. Get a .eco domain today. <a href="https://go.eco">go.eco</a> #DotEco</p>
				<p class="social-media-box">.eco is a new domain ending for those committed to positive change for the planet. Learn more at <a href="https://go.eco">go.eco</a></p>
			</div>
			<div class="col-sm-6">
				<p class="social-media-box">.eco is a trusted symbol for those working toward a sustainable future. Learn more at <a href="https://go.eco">go.eco</a></p>
				<p class="social-media-box">Show your good side with .eco: <a href="https://go.eco">go.eco</a> #DotEco</p>
			</div>
		</div>


		<h3>Download these social cards and use them to accompany your tweets and Facebook and Instagram posts. </h3>

		<div class="row">
			<div class="col-sm-4">
				<div class="brand-images">
					<a href="/img/branding_images/NGO-1.png" target="_blank">
					<img src="/img/branding_images/NGO-1.png" alt="Meet .eco, a new emblem of the environmental movement" loading="lazy"></a>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="brand-images">
					<a href="/img/branding_images/NGO-2.png" target="_blank">
					<img src="/img/branding_images/NGO-2.png" alt="No greenwashing allowed" loading="lazy"></a>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="brand-images">
					<a href="/img/branding_images/NGO-3.png" target="_blank">
					<img src="/img/branding_images/NGO-3.png" alt=".eco, created by and for the environmental movement" loading="lazy"></a>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="brand-images">
					<a href="/img/branding_images/Business-1.png" target="_blank">
					<img src="/img/branding_images/Business-1.png" alt="Show your good side with .eco" loading="lazy"></a>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="brand-images">
					<a href="/img/branding_images/Business-2.png" target="_blank">
					<img src="/img/branding_images/Business-2.png" alt="Tell the story of your impact with .eco" loading="lazy"></a>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="brand-images">
					<a href="/img/branding_images/Business-3.png" target="_blank">
					<img src="/img/branding_images/Business-3.png" alt="Meet .eco, the new embelm of sustainability" loading="lazy"></a>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="brand-images">
					<a href="/img/branding_images/Case-2.png" target="_blank">
					<img src="/img/branding_images/Case-2.png" alt="Testimonial from goodonyou.eco" loading="lazy"></a>
				</div>
			</div>

			<div class="col-sm-4">
				<div class="brand-images">
					<a href="/img/branding_images/Case-3.png" target="_blank">
					<img src="/img/branding_images/Case-3.png" alt="Testimonal from salishsea.eco" loading="lazy"></a>
				</div>
			</div>
		</div>
	</div>
</section>

	<section class="section registrar-resources">
		<div class="container">
			<h2 id="images">Images</h2>
			<p>You can use any of the following photos and .eco logo to accompany .eco content on your website, in email and on social media.</p>

			<div class="row">
				<div class="col-sm-4">
					<div class="brand-images">
						<a href="/img/branding_images/market.jpg" target="_blank">
						<img src="/img/branding_images/market.jpg" alt="Market image" loading="lazy"></a>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="brand-images">
						<a href="/img/branding_images/windmills-1.jpg" target="_blank">
						<img src="/img/branding_images/windmills-1.jpg" alt="Windmills image" loading="lazy"></a>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="brand-images">
						<a href="/img/branding_images/orgs.jpg" target="_blank">
						<img src="/img/branding_images/orgs.jpg" alt="Orgs image" loading="lazy"></a>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="brand-images">
						<a href="/img/branding_images/biking.jpg" target="_blank">
						<img src="/img/branding_images/biking.jpg" alt="Biking image" loading="lazy"></a>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="brand-images">
						<a href="/img/branding_images/product-2.jpg" target="_blank">
						<img src="/img/branding_images/product-2.jpg" alt="Woman looking at profiles.eco website on her computer" loading="lazy"></a>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="brand-images">
						<a href="/img/branding_images/you.jpeg" target="_blank">
						<img src="/img/branding_images/you.jpeg" alt="You image" loading="lazy"></a>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="brand-images">
						<a href="/img/branding_images/orgs-2.jpg" target="_blank">
						<img src="/img/branding_images/orgs-2.jpg" alt="Orgs image" loading="lazy"></a>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="brand-images">
						<a href="/img/branding_images/sewing.jpg" target="_blank">
						<img src="/img/branding_images/sewing.jpg" alt="Sewing image" loading="lazy"></a>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="brand-images">
						<a href="/img/branding_images/knitting.jpg" target="_blank">
						<img src="/img/branding_images/knitting.jpg" alt="Knitting image" loading="lazy"></a>
					</div>
				</div>
			</div>

		</div>
	</section>

	<div class="section">
		<div class="container d-flex justify-content-end">
			<a href="/registrars/" class="btn btn-primary">Back to Registrars page</a>
		</div>
	</div>
</div>
