---
title: Registry policies | .eco
description: Setting out the .eco purpose and principles.
page-path: policies/
active: policies
og-image: opengraph/building-og.png
og-width: 1200
og-height: 630
---

<link rel="preload" as="image" href="/img/iStock-603187076-header.jpg">

<div class="jumbotron registrar-header" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/iStock-603187076-header.jpg')">
	<div class="container">
		<h1>Registry policies</h1>
	</div>
</div>
<div class="section eligibility">
	<div class="container">
		<h2>Eligibility</h2>
		<h3>.eco is open to organizations, businesses and people committed to positive change for the planet</h3>
		<p>If you're wondering who qualifies for a .eco domain, we want you to know the .eco community is for anyone who commits to a respectful, responsible, and sustainable use of the environment.</p>
		<p>Every .eco registrant is offered free membership in the .eco Community Organization, allowing them to join the online community. Our community includes:</p>

		<div class="row">
			<div class="col-md-6 criteria">
				<a href="/for/business/">
					<img src="/img/icons/eligibility-businesses.svg" alt="business icon" class="img-responsive criteria-icon">
					<h4>Businesses</h4>
				</a>
				<p>Businesses of all sizes committed to providing products and services that encourage positive environmental change.</p>
			</div>
			<div class="col-md-6 criteria">
				<a href="/for/nonprofits/">
					<img src="/img/icons/eligibility-not-for-profit.svg" alt="not for profit icon" class="img-responsive criteria-icon">
					<h4>Organizations</h4>
				</a>
				<p>Not-for-profit mission-based organizations, both small and large, that work for the good of the planet.</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 criteria">
				<img src="/img/icons/government-2-12.svg" alt="government icon" class="img-responsive criteria-icon">
				<h4>Governments</h4>
				<p>Government bodies that support sustainability through programs, infrastructure, and funding amongst other policies and actions.</p>
			</div>
			<div class="col-md-6 criteria">
				<img src="/img/icons/eligibility-people-1.svg" alt="people icon" class="img-responsive criteria-icon">
				<h4>People</h4>
				<p>People who participate in and support environmental change.</p>
			</div>
		</div>
	</div>
</div>

<div class="section inverted policies-activate">
	<div class="container">
		<h2>Activating a .eco domain</h2>
		<p>After you register your .eco domain, you will be invited to create a .eco profile. When creating your .eco profile, you will be asked to:</p>

		<div class="row">
			<div class="col-md-1">
				<img src="/img/icons/1-fill-19.svg" alt="first" class="img-responsive criteria-icon">
			</div>
			<div class="col-md-4">
				<h3>Take a simple pledge to show your commitment to environmental action.</h3>
			</div>
			<div class="col-md-1"></div>
			<div class="col-md-1">
				<img src="/img/icons/2-fill-20.svg" alt="first" class="img-responsive criteria-icon">
			</div>
			<div class="col-md-4">
				<h3>Affirm your eligibility by sharing your eco actions and commitments.</h3>
			</div>
		</div>
		<p>After activating your .eco profile, you can begin using your .eco domain. These requirements apply to all .eco domain names.</p>
	</div>
</div>

<div class="section container">
	<h2>Policy documents</h2>
	<div class="row button-panel">
		<div class="col-sm-6">
			<a class="btn btn-default policy-panel" href="/policies/eligibility/">
				<img src="/img/icons/eligibility-2-blue-10.svg" alt=".eco Eligibility Policy" class="file-icon">
				<p class="mb-0">Eligibility Policy</p>
			</a>
		</div>

		<div class="col-sm-6">
			<a class="btn btn-default policy-panel" href="/policies/acceptable-use/">
				<img src="/img/icons/eligibility-2-blue-10.svg" alt=".eco Acceptable Use Policy" class="file-icon">
				<p class="mb-0">Acceptable Use Policy</p>
			</a>
		</div>

		<div class="col-sm-6">
			<a class="btn btn-default policy-panel" href="/privacy/">
				<img src="/img/icons/eligibility-2-blue-10.svg" alt=".eco Eligibility Policy" class="file-icon">
				<p class="mb-0">Privacy Policy</p>
			</a>
		</div>

		<div class="col-sm-6">
			<a class="btn btn-default policy-panel" href="/policies/accessibility/">
				<img src="/img/icons/eligibility-2-blue-10.svg" alt=".eco Accessibility Statement" class="file-icon">
				<p class="mb-0">Accessibility Statement</p>
			</a>
		</div>

		<div class="col-sm-6">
			<a class="btn btn-default policy-panel" href="/impact/">
				<img src="/img/icons/eligibility-2-blue-10.svg" alt=".eco Environmental Policy" class="file-icon">
				<p class="mb-0">Sustainability Policy</p>
			</a>
		</div>
	</div>
</div>
