---
title: GlobalBlock | .eco
description: Protect your brand using the .eco top-level domain
page-path: registrars/globalblock/
og-image: opengraph/building-og.png
og-width: 1200
og-height: 630
active: registrars
---

<div class="jumbotron registrar-header">
	<div class="container">
		<h1>GlobalBlock</h1>
    <p>.eco partners with the Brand Safety Alliance</p>
	</div>
</div>

<section class="section">
	<div class="container policy">
    <p>
      We have partnered with the <a href="https://brandsafetyalliance.co/">Brand Safety Alliance</a> to support <a href="https://globalblock.co/">GlobalBlock</a> for .eco domains. Brand holders can work with supported registrars and resellers to ensure that their brand is protected within the .eco namespace.
    </p>
    <p>
      For <strong>domain registries</strong>, we have an extensible, hosted solution that can help you quickly get your extensions integrated with GlobalBlock. <a href="mailto:registrars@bigroom.eco">Contact us to learn more</a>.
    </p>

    <div class="row">
      <div class="col-sm-4">
        <h3>Businesses</h3>
        <p>If you are looking to protect your brand, please contact your preferred domain retailer about GlobalBlock. <a href="https://globalblock.co/where-to-buy/">Here are the retailers accredited by BSA</a>.</p>
      </div>
      <div class="col-sm-4">
        <h3>Registrars &amp; resellers</h3>
        <p>If you are already accredited by BSA, please let your clients know that their brand can be protected in .eco.</p>
        <p>If you are not yet an accredited agent, <a href="https://brandsafetyalliance.co/">please contact the BSA</a>.</p>
      </div>
      <div class="col-sm-4">
        <h3>Registries</h3>
        <p>We provide a BSA integration solution for domain registries. If you are looking for help integrating with the BSA gateway, <a href="mailto:registrars@bigroom.eco">please contact us</a>. Our approved and extensible solution can get you integrated quickly.</p>
      </div>
    </div>
  </div>

	<div class="container d-flex justify-content-end">
		<a href="/registrars/" class="btn btn-primary">Back to Registrars page</a>
	</div>
</section>
