---
collection:
- news
- studies
title: "Gaia: .eco champion"
excerpt: Want to learn more about the wild species living in your backyard? With Gaia you can explore biodiversity anywhere in the world.
description: "Gaia is a software application for exploring global biodiversity data."
header-img: /img/champion_logos/gaia-header.webp
header-img-alt: "Gaia logo with the subtitle Life On The Move on a constellation of different living species."
pubdate: 2025-10-09
author: Eco Domain (.eco)
layout: article.hbs
og-image: champion_logos/netto.png
og-width: 1200
og-height: 500
page-path: champions/gaia/
---

# Gaia: .eco&nbsp;champion

## {{{excerpt}}}

![{{header-img-alt}}]({{header-img}})

_We reached **David Jirout**, founder of Illuminum AB. They are building [Gaia.eco](https://gaia.eco/), <abbr title="Global Information System">GIS</abbr> software enabling you to explore the wealth of biodiversity on our planet._

### What is Gaia?
[gaia.eco](https://gaia.eco/) is a geographic search engine for nature. The application shows observations of animals, plants and fungi from all around the world, and their mutual biotic relationships. Gaia shows the history and the now of life on a map &mdash; like Google Maps for nature.

### Who is Gaia for?

We are building Gaia to empower conservationists, landscape architects, energy and infrastructure planners. However, natural photographers, teachers and foragers get a lot of inspiration from Gaia.

There are a dozen biodiversity startups that also use Gaia to cross-reference results from their own solutions.

### What problems are they trying to solve?
Today, biodiversity data is scattered across thousands of data providers. There are dozens of data types. Gaia aggregates as much as possible, so you need only 1 user account to get your work done globally.

Biodiversity data is encoded primarily in Latin. That’s not practical for most of us.
We have built our own translator for the tree of life taxonomy and our own AI prompts, so you can search with simple species descriptions, colloquial names and of course scientific names in Latin.

Biodiversity data can be dry and appealing only to scientists. To make it more accessible, we have added pretty images of species and quick links to Wikipedia.

### Where do you obtain biodiversity data from?

- The observations data is provided by the [Global Biodiversity Information Facility (GBIF)](https://www.gbif.org/). 
- Biotic relationships are provided by [the Global Biotic Interactions database (GLOBI)](https://www.globalbioticinteractions.org/about).
- Images are provided by Google Image Search.
- We’re working on integration of GPS tagged animals data from [Movebank](https://datarepository.movebank.org/home) to tell better stories for Wind Power planning.

Gaia stitches everything on the fly when you press that search button.

### What are some key insights you have gained from using Gaia?

My brain crashed for like 3 months to see how many species there are, where they live and how far they migrate. David Attenborough and Charles Darwin would go nuts if they knew this is possible to do today.

### What can the .eco community do to support you in your work?

[Sign up](https://map.gaia.eco/). Enjoy the Free Plan and show your kids, family and friends your favorite species. Tell your Gaia stories to people you love or you know love nature. If you do that, professionals who need to use biodiversity data, such as ecologists, landscape architects, urban planners, agronomists or foresters will find us, and we’ll grow together.

Please give us feedback via [Bluesky](https://bsky.app/profile/gaia.eco) or make a wish for a feature on our [Discord](https://discord.com/invite/XssHkPQkHY).

<aside class="inverted" title=".eco champion details">
  <ul>
    <li><strong>Domain</strong>: <a href="https://gaia.eco/">gaia.eco</a> (<a href="https://profiles.eco/gaia">.eco profile</a>)</li>
    <li><strong>Community member since</strong>: December 2023</li>
    <li><strong>Domain retailer</strong>: Squarespace</li>
  </ul>
</aside>

At .eco, we are fortunate to be surrounded by a community of businesses, organizations and individuals working hard to protect our planet. We are honoured to spread the word about the great work they're doing. If you are a member of the .eco community and would like to be featured, [get in touch](mailto:support@bigroom.eco).

