---
collection:
- news
- studies
title: "ABS - .eco champion"
excerpt: ABS creates products that use natural microorganisms to replace harmful chemicals in waste treatment and pollution remediation.
description: "ABS creates products that use natural microorganisms to replace harmful chemicals in waste treatment and pollution remediation."
header-img: /img/champion_logos/abs.webp
header-img-alt: "Skoot.eco logo against jungle background"
pubdate: 2024-06-11
author: Eco Domain (.eco)
layout: article.hbs
og-image: champion_logos/abs.jpg
og-width: 1200
og-height: 630
page-path: champions/abs/
---

# {{title}}

## {{excerpt}}

![{{header-img-alt}}]({{header-img}})

_We spoke with **Shannon Brien**, Head of Marketing and Communications at ABS, about how they are cleaning up wastewater management._

### What’s the history of ABS? Why was the company founded?

[Advanced Bacterial Solutions (ABS)](https://abs.eco) was established in the UK in 2019 to revolutionise wastewater management, pollution control and water remediation. The creation of our first product, URIZAP marked the beginning of ABS's journey in delivering innovative, eco-friendly solutions. By replacing toxic chemicals with safer alternatives, ABS embodies a vision of significantly reducing environmental pollutants through advanced scientific methods.

### How has wastewater traditionally been managed and how is the ABS approach different?

In the UK, traditional wastewater management involves collecting wastewater through an extensive sewer network and transporting it to treatment plants. The treatment process comprises primary treatment to remove large solids, secondary biological treatment to break down organic matter, and tertiary treatment for further purification. Treated water is then discharged into natural water bodies or reused, adhering to strict environmental standards.

The ABS approach significantly enhances this traditional process by targeting waste before it enters the sewer system and enabling users to eliminate the use of toxic chemicals. ABS’s solutions reduce the load on treatment plants. These products prevent blockages and more efficiently break down organic matter, improving the initial stages of wastewater treatment. By mitigating pollutants at the source, ABS's proactive strategy alleviates the burden on treatment facilities, enhances overall water quality, and provides better environmental protection. This innovative approach complements the existing system by ensuring a cleaner, more efficient wastewater management process.

### Often when people think of wastewater, they only think of a sewer system. However, waste and water management is much broader than that. How is ABS working to tackle the bigger problem?

Often overlooked are the touchpoints in the waste journey before it enters the sewer system, yet these points are crucial for mitigating what goes into our water. At ABS, we create products designed to reduce waste and toxic chemicals before they enter the sewer, thereby alleviating the burden on the entire system. 

Our [preventative maintenance solutions](https://abs.eco/products/) include URIZAP for urinals, SLUDGEZAP for drains and septic tanks, and FOGZAP for kitchen waste systems. Additionally, we offer a range of daily cleaners to complement these products and ensure the beneficial bacteria within the ZAPs remain active. Made from microbes and probiotics, our products are incredibly effective and continue to work for hours after application.

<div class="news-img-40pct">

![URIZAP product photo](/img/champion_logos/abs_urizap.webp)

</div>

### What are some of the benefits of using ABS solutions?

Using ABS products offers numerous benefits for customers, including significant water savings and improved infrastructure integrity, which reduces the need for frequent repairs and replacement of pipework. By utilising solutions like URIZAP, customers can achieve carbon savings from reduced flushing and fewer repairs. ABS products also eliminate the use of harsh chemicals, enhancing user safety and protecting the environment. Financially, customers save money on repairs, blockages, and potential reputational damage from customer complaints. Additionally, ABS products help reduce the use of single-use plastics and are non-toxic to humans and animals, thereby contributing to the preservation of biodiversity. Overall, ABS solutions provide a comprehensive approach to sustainable and efficient wastewater management.

### Can you give us some examples of where microbial solutions from ABS have been deployed to replace less environmentally friendly treatment solutions?

ABS's microbial solutions are replacing less environmentally friendly treatments in various sectors. Hawksmoor, a founding member of the Sustainable Restaurant Association, uses ABS's full suite of preventative maintenance products to ensure an eco-friendly supply chain. Numerous leading facilities management companies across the UK also apply ABS technology to maintain facilities for their end users. The Trafford Centre, a major shopping destination, utilises URIZAP to manage waste and hygiene sustainably. Similarly, Northamptonshire County Cricket Club employs URIZAP to maintain their facilities. These examples demonstrate the versatility and effectiveness of ABS’s microbial solutions in promoting sustainability across diverse industries.

### We’re pleased you chose a .eco domain for ABS. Why did you choose a .eco domain name?

We chose a .eco domain for ABS because it reflects our core values and commitment to environmental sustainability. This domain underscores our focus on protecting the environment, promoting health, and addressing biodiversity loss. By adopting a .eco domain, ABS establishes itself as a thought leader in the sustainability space, demonstrating our dedication to these crucial issues. This choice not only aligns with our mission but also enhances our authority and credibility in the industry, showing our stakeholders and clients that we are genuinely committed to making a positive environmental impact.

<aside>
  <ul>
    <li><strong>Domain</strong>: <a href="https://abs.eco">abs.eco</a> (<a href="https://profiles.eco/abs">.eco profile</a>)</li>
    <li><strong>Community member since</strong>: March 2021</li>
    <li><strong>Domain retailer</strong>: Name.com</li>
  </ul>
</aside>

At .eco, we are fortunate to be surrounded by a community of businesses, organizations and individuals working hard to protect our planet. We are honoured to spread the word about the great work they're doing. If you are a member of the .eco community and would like to be featured, [get in touch](mailto:support@bigroom.eco).

