---
collection:
- news
- studies
title: "Caspian Environmental Consortium: .eco champion"
excerpt: Launching an initiative to cultivate algae in the Caspian Sea to capture CO<sub>2</sub> and restore the local ecosystem.
description: "Interview with Yernar Sailybayev, the CEO of Caspian Environmental Consortium Ltd, about how they are harnessing biomass to capture CO2 in the Caspian Sea."
header-img: /img/champion_logos/caspian.webp
header-img-alt: "View from a sailboat of the Caspian Sea"
pubdate: 2024-11-14
author: Eco Domain (.eco)
layout: article.hbs
og-image: champion_logos/caspian.jpg
og-width: 1200
og-height: 630
page-path: champions/caspian/
---

# Caspian Environmental Consortium: .eco&nbsp;champion

## {{{excerpt}}}

![{{header-img-alt}}]({{header-img}})

_We connected with **[Yernar Sailybayev](https://www.linkedin.com/in/yernar-sailybayev-920683138/)**, co-founder and CEO of Caspian Environmental Consortium Ltd., about their work._

### What is the Caspian Environmental Consortium?

Caspian Environmental Consortium Ltd. is a bio-economy company. We are a research center with a mission to apply nature-based solutions to adapt humanity to environmental changes.

The era of hydrocarbon extraction has not only brought the Caspian region to the brink of ecological and social disaster, but has also replaced the agenda of harmonious development for the benefit of posterity.
However, any crisis is first and foremost an undiscovered opportunity, which is why we are exploring the untapped potential of the region's Blue and Green Economy.
Climate change has shaped global adaptation and mitigation efforts, so we are working to ensure that our region is not left behind and makes a meaningful contribution to solving the planetary crisis.

### What are some of the environmental crises affecting the Caspian region?
The Caspian Sea has a nearly century-long documented history of loss of biodiversity and useful productivity. The eutrophication of the Caspian Sea shows that anthropogenic influences are exacerbating this crisis. 
We are losing the population of the Caspian seal, the Caspian Sea's top predator. 
It is almost impossible to sustainably fish for valuable sturgeon in the Caspian Sea. 
Finally, the shoaling of the Caspian Sea, predicted by scientists, will lead to the emergence of a giant desert in the northern Caspian Sea &mdash; a repetition of the [Aral Sea catastrophe](https://en.wikipedia.org/wiki/Aral_Sea).

### How are you working to remove CO<sub>2</sub> in the Caspian region?
We are involved in research to adapt the technology being developed by Dr Raffaele Jovin, Dr Toby Boatman and their colleagues at [Brilliant Planet](https://www.brilliantplanet.com/) to the Caspian Sea.
The idea is to cultivate local algae and turn it into a stable biomass. This biomass is then buried where it remains stable for thousands of years. In this way, CO<sub>2</sub> is permanently removed from the atmosphere. The process also deoxidises a huge amount of seawater, strengthening the local coastal ecosystem. 

### Your project has been recognized by the [UNESCO Ocean Decade initiative](https://en.unesco.org/ocean-decade). How did that happen and what is the impact of this recognition?
It started in 2023, when I studied the works of Raffael Jovine and found similarities between the conditions of the eastern coast of the Caspian Sea and the Atlantic coast off Morocco, where the Brilliant Planet test site is located.
I published my vision on [caspian.eco](https://caspian.eco/) and it attracted the attention of Raffael Jovine, academia and climate funds. 

<div class="news-img-40pct">

![Picture of Yernar Sailybayev](/img/champion_logos/caspian-yernar.jpg)

</div>

In April 2023, we received an invitation from Nianzhi Jiao, one of the leaders of [GlobalONCE](https://www.global-once.org/) (a programme of the UNESCO Ocean Decade), to work together. 
I also became a member of the [Isometric Science Network](https://isometric.com/science-network-members) and one of the volunteer rapporteurs of the Columbia Law School [Sabin Center for Climate Change Law](https://climate.law.columbia.edu/).
In preparation for COP28, I met Dr Leonardo Valenzuela Pérez &mdash; Director of international partnership for Global Ecosystem for Ocean Solutions (GEOS) of the [Ocean Visions Foundation](https://oceanvisions.org/geos/), who invited us to join his programme for the UNESCO Ocean Decade. Finally, in 2024, our project was endorsed by UNESCO, the only one from a landlocked country. 

The endorsement from the UNESCO Ocean Decade programme has helped us gain worldwide academic support, visibility among climate initiatives, and not to mention a morale boost.

### The UN [Climate Change Conference COP29](https://unfccc.int/cop29) is in Baku. Will you be there? What is the impact of having the COP in the Caspian region?
As a participant in the UNESCO Ocean Decade, I am going to speak at three side events at COP29.

I hope that thanks to COP29 more people will learn about the Caspian disaster, old initiatives like the [Caspian Digital Twin](https://oceandecade.org/actions/the-caspian-sea-digital-twin-casseadi/) will be revived, and new initiatives like [CaspianCDR](https://www.caspian.eco/projects/caspiancdr) will appear.
But it should be realised that despite the Caspian Sea's exceptional research, its ecology remains hostage to complex intertwined political contradictions. There is a view that even the very choice of COP29 venue was influenced by Russia. 
I very much regret that conflicts and the rise of authoritarianism are creating an environment that is corrosive to the main issue &mdash; the survival of future generations.

### How did you learn about .eco and why did you choose a .eco domain for your consortium?
First of all, .eco is beautiful. It immediately came to mind when I was choosing a domain name. The commitment to the <abbr title="United Nations Sustainable Development Goals">SDGs</abbr>, having a public pledge and a public profile was an important advantage. 
I hope my little .eco story will encourage more people to start their own climate action.

<aside class="inverted" title=".eco champion details">
  <ul>
    <li><strong>Domain</strong>: <a href="https://caspian.eco">caspian.eco</a> (<a href="https://profiles.eco/caspian">.eco profile</a>)</li>
    <li><strong>Community member since</strong>: Apr 2023</li>
    <li><strong>Domain retailer</strong>: Porkbun</li>
  </ul>
</aside>

At .eco, we are fortunate to be surrounded by a community of businesses, organizations and individuals working hard to protect our planet. We are honoured to spread the word about the great work they're doing. If you are a member of the .eco community and would like to be featured, [get in touch](mailto:support@bigroom.eco).

