---
collection:
- news
- studies
title: "Octopass: .eco champion"
excerpt: Effective permit and pass management helps organisations streamline their operations, improve safety and protect the environment. Here's how Octopass tackles this challenge.
description: "We reached CTO Raj Bucktower about how Octopass boosts sustainability through more effective permit and pass management."
header-img: /img/champion_logos/octopass-work.webp
header-img-alt: "Worker wearing a hard hat and safety vest on a work site using a tablet."
pubdate: 2025-07-07
author: Eco Domain (.eco)
layout: article.hbs
og-image: champion_logos/octopass-work.png
og-width: 1200
og-height: 630
page-path: champions/octopass/
---

# Octopass: .eco&nbsp;champion

## {{{excerpt}}}

![{{header-img-alt}}]({{header-img}})

_We connected with **Raj Bucktower**, CTO at Mobile Worker Plus &mdash; the creators of [Octopass &reg;](https://octopass.eco/), about how helping clients manage passes and permits helps boost their sustainability._

### Octopass is a funky name &mdash; what is Octopass?

Octopass&reg; is a modern, cloud-based system for organisations that manages permits, passes, site access, and work-based permissions across locations. It’s used by national health care providers, universities and councils to reduce admin, simplify operations and enable smarter, more sustainable travel.

### What types of permits and passes do you help issue?

Octopass&reg; supports a wide range of flexible permit and pass types to suit different organisation needs, including:
- Time-based permits: daily, monthly, annual and custom durations
- Hybrid working permits: perfect for part-time or remote schedules
- Ongoing permits: for roles without a fixed end date
- Estate-wide access management: across multiple locations or buildings

This helps streamline operations while giving users clarity and control.

### How does permit and pass management boost sustainability?

Octopass&reg; is designed to significantly boost an organisation’s sustainability efforts. We empower our customers to make data-driven decisions and positively influence user behaviour. Our system helps reduce commuting emissions by encouraging car-sharing, electric vehicles and public transport, using intelligent permit allocation based on factors like vehicle type and distance. By encouraging paperless applications and permits, we drastically cut down on waste. Ultimately, Octopass&reg; provides sophisticated reporting and insights on commuter trends and vehicle details, offering a clear benchmark for informed decisions and crucial progress towards green targets and net-zero carbon goals.

### What’s the story behind your mascot?

Our mascot, Ollie the octopus, was a natural fit for Octopass&reg;. Just like Ollie, the platform is flexible, intelligent and adaptable &mdash; perfect for helping organisations manage all kinds of permits and passes. Ollie brings a bit of personality to what we do and reminds us (and all users!) that being agile, friendly and responsive is the key.

![The Octopass mascot, Ollie the octopus](/img/champion_logos/octopass.webp)

### You recently became accredited by [Good Business Charter](https://goodbusinesscharter.com/). What did it take to get certified?

[Achieving GBC accreditation](https://octopass.eco/news/accredited-good-business-charter/) meant demonstrating our commitment to ten responsible business practices &mdash; from environmental action and ethical sourcing to employee wellbeing and fair pay. It’s a great fit with our mission and how we approach partnerships in the public and private sector.

### You initially started with a different domain name. [Why did you decide to switch to .eco](https://octopass.eco/news/website-domain-change-eco/)?

The .eco domain fits our vision perfectly. Octopass&reg; helps organisations modernise how they manage travel and parking &mdash; which goes hand in hand with sustainability.

We wanted our web address to reflect not just what we do, but what we stand for. As we grow, we want every part of our brand to reinforce our values: sustainability, transparency and creating tools that empower users and reduce environmental impact. Moving to .eco made that message loud and clear.

<aside class="inverted" title=".eco champion details">
  <ul>
    <li><strong>Domain</strong>: <a href="https://octopass.eco/">octopass.eco</a> (<a href="https://profiles.eco/octopass">.eco profile</a>)</li>
    <li><strong>Community member since</strong>: Jan 2025</li>
    <li><strong>Domain retailer</strong>: GoDaddy</li>
  </ul>
</aside>

At .eco, we are fortunate to be surrounded by a community of businesses, organizations and individuals working hard to protect our planet. We are honoured to spread the word about the great work they're doing. If you are a member of the .eco community and would like to be featured, [get in touch](mailto:support@bigroom.eco).

