---
collection: news
title: "How .eco boosts your brand"
excerpt: A .eco domain clearly conveys that you care about our planet. Here's how we make sure that stays true.
description: "A .eco domain shows that you care about our planet. Here are 4 ways that the .eco registry ensures that .eco is stays true to that vision."
header-img: /img/news/kayak2.webp
header-img-alt: Deer Group archipelago, BC Canada
pubdate: 2024-08-27
author: Eco Domain (.eco)
layout: article.hbs
og-image: opengraph/kayak-og.jpg
og-width: 1200
og-height: 630
page-path: news/eco-boosts-your-brand/
more:
  - news/2023-eco-is-carbon-neutral/
  - news/eco-is-certified-b-corp/
  - news/finding-a-green-domain-retailer/
  - news/eco-website-tips/
---

# {{title}}

## {{excerpt}}

![{{header-img-alt}}]({{header-img}})

### Why do you need a domain name anyway?

Most of us only think about getting a domain name when we are looking to launch a new initiative and we need a website. But you don’t need your own domain name to set up a website: many website builders offer a free plan to create a web site under their domain. And there are billions of people with a `gmail.com` or `hotmail.com` email address.

So why bother going to the effort and expense of registering your own domain name?

It comes down to 3 things:
- **Identity**: a domain name clearly identifies who you are
- **Trust**: a domain name shows that you’re reputable and are invested in your online presence
- **Control**: a domain name gives you the freedom and flexibility to change your hosting platform without losing all your visitors

In other words, it’s all about your **brand**!

You can’t get a domain name that exactly matches your brand. As the Internet is a big place, domains exist within a namespace, under a top-level domain (**TLD**). As the TLD is appended to your domain name, most of us choose a TLD that tells people something about our brand. It could reflect where you’re located (eg. `.de` or `.nz` or `.ca`) or what you’re about (eg. `.shop` or `.blog`).

> What most people don’t consider is that by choosing a TLD, you are effectively affixing that TLD’s brand and reputation to yours.

### Who’s behind a TLD?

As it’s not that easy to switch domain names, it’s worth taking some time to understand who’s behind a TLD and whether their goals and values align with yours.

TLDs are operated by an organization called a **domain registry** that is the steward of the TLD. Some registries deal with many TLDs and others ([like us!](/about/system/)) are exclusively focused on a single TLD. The reputation of the registry and its ability to effectively manage the TLD are worth considering.

And it’s not just the registry that determines the reputation of the TLD. By choosing a TLD, your brand’s reputation is also affected by the reputation of the other domain holders that you are sharing that domain with. So it’s worth taking stock of who your neighbors are.

Here are **3 quick things** to try in your research:
- Identify and review the domain registry that operates the TLD. You can generally find the registry website by entering the domain `nic.<tld>` into your browser (for example, you can find the .eco registry at `nic.eco`). Check out the company and TLD policies to see if they meet your requirements.
- Find other websites using the TLD and determine if they are reputable and if they are using their domain in a way that aligns with your values. One way to do this is by entering the TLD into [Google’s Advanced Search](https://www.google.com/advanced_search). [Here’s the search for .eco](https://www.google.com/search?q=site%3A.eco).
- Look up the reputation of the TLD using sites that track DNS abuse such as [Spamhaus](https://www.spamhaus.org/reputation-statistics/gtlds/domains/) or [SURBL](https://surbl.org/tld). 

### How .eco boosts your brand

Here at the .eco registry, we take the trust placed in us by the .eco community and the broader environmental community very seriously. Our mission is to ensure that .eco is a trusted, recognized and reputable brand for everyone. Visitors to your website should see your domain and immediately know that you are committed to a more sustainable future.

Here are some of the ways that we do this:

#### Eligibility and Transparency

.eco is different from every other TLD. Grounded in the [policies](https://go.eco/policies/eligibility/) that came out of a [consensus of over 50 leading environmental organizations](https://org.eco), .eco is exclusively for those committed to supporting environmental action. You don’t need to be perfect, but you should be striving to make things better and it should be clear how you’re planning to do so.

This is the heart of the [.eco profile system](https://profiles.eco). Anyone who registers a .eco domain must create a .eco profile before their domain can be used. In creating a .eco profile, they take a pledge of environmental action and the profile serves a public, lightweight sustainability statement of their environmental commitments.

<div class="news-img-40pct">

![.eco profile for bigroom.eco](/img/news/bigroom-profile.webp)

</div>

The .eco profile provides transparency into who holds a .eco domain and what they stand for. Those who fail to provide accurate information on their .eco profile can face compliance action and can potentially lose access to their domain name. Via the .eco profile system, members of the .eco community and the general public can report .eco domains that fail to live up to their statements to our compliance team.

#### Our commitment to environmental action

As members of the .eco community ourselves, we feel compelled to live up to these commitments and try to [lead by example](https://go.eco/impact/). We were first recognized as [B Corp certified](/news/eco-is-certified-b-corp/) in 2010 and have worked hard to ensure that our business operates in alignment with the five Impact Areas of environment, workers, governance, customers and community. The registry has been [certified carbon neutral since 2022](/news/eco-is-carbon-neutral/). We try to [share what we learn](/news/) back to the community to create a path for others to follow.

<div class="news-img-40pct invert-icon">

![Graphic showing the 5 B Corp Impact Areas: Workers, Environment, Governance, Customers and Community](/img/news/B-Corp-impact-areas.svg)
</div>

As we operate at the intersection of sustainability and technology, we work to help others in the .eco community understand the environmental impact of digital technology to make more sustainable choices. We highlight the sustainability commitments of [domain retailers](/news/finding-a-green-domain-retailer/) and [web hosting platforms](/news/2023-eco-web-hosting-review/), how to [build websites with a low carbon footprint](/news/eco-website-tips/) and more.

Our belief is that through shared and unified action we can amplify our collective impact.

#### Elevating the community

One of the things that we love most about running the .eco registry is that we are continuously amazed and inspired by the ingenuity and dedication of the .eco community. There are members of the community working in [every corner of the globe](https://profiles.eco/profile/location) to help meet all [17 of the United Nations Sustainable Development Goals](https://sdgs.un.org/goals) and make a better world for us and those who come after.

We help others learn about the impactful work that the community is doing through our [.eco champions program](/champions). Community members can be nominated to be highlighted within the .eco community and beyond. Supporting each other is a big part of what makes us a community! If you would like to nominate a member of the .eco community for recognition, [please let us know](mailto:support@bigroom.eco).

#### Maintaining brand integrity

Finally, we work hard to keep misaligned people out of the community. This is done through our eligibility and compliance processes, as mentioned. We have zero tolerance for DNS abuse and have systems in place that alert us if a .eco domain is being used as a source of spam, botnets or phishing.

We avoid engaging in deep discounting tactics that tend to attract misaligned registrations. .eco is a premium, high-value brand and having a reasonable price helps ensure that those who register a .eco domain are intending to use it in a way that aligns with the community. We offset the impact of a premium price through our [domain grants program](/grants) that ensures that .eco domain names are still accessible to environmentally-focused organizations for whom price is a barrier to adoption. 

We also participate in the [Brand Safety Alliance GlobalBlock](https://globalblock.co/) program. This program allows brand holders to block domains that match their brand. This is good for the community as it reduces the likelihood of cybersquatting and domain disputes, which hurt the reputation of the TLD. We have taken measures to reserve domain names that are valuable to the environmental community that may overlap with known brands to ensure that those domains can still get into worthy hands.

### .eco and your brand

If you are committed to creating a more sustainable future for life on our planet, .eco is the domain name for you. But don’t just take our word for it. We encourage you to do some research next time you are searching for a domain name for a new initiative.

The environmental movement has always been driven by collective action. That’s why by getting a .eco domain, you are first and foremost joining an aligned and like-minded community. It’s a place where we can learn from each other and work together on this journey to build a more sustainable future. If the .eco community sounds like something for you, we would love for you to join us [by getting your own .eco domain](/search/).

