---
collection: news
title: "Rethinking social media strategy in 2025"
excerpt: As an eco-friendly organization, it's hard to figure out how best to engage with social media these days. Here's our approach for 2025.
description: As an eco-friendly organization, it's hard to figure out how best to engage with social media these days. Here's our approach for 2025.
header-img: /img/news/we-like-you-too.webp
header-img-alt: Framed sign on building that says 'We like you too'
pubdate: 2025-01-28
author: Eco Domain (.eco)
layout: article.hbs
og-image: opengraph/we-like-you-too-og.jpg
og-width: 1200
og-height: 630
page-path: news/social-media-strategy-2025/
more:
  - news/what-is-mastodon/
  - news/eco-is-certified-b-corp/
---

# {{title}}

## {{excerpt}}

<figure>
<img alt="{{header-img-alt}}" src="{{header-img}}">
<figcaption>
Photo by <a href="https://unsplash.com/@adamjang?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Adam Jang</a> on <a href="https://unsplash.com/photos/we-like-you-too-quotes-on-wall-8pOTAtyd_Mc?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
</figcaption>
</figure>

The past couple of years have been tumultuous for social media. The acquisition, rebranding and restructuring of Twitter has made it increasingly toxic to everyone who cares about environmental issues. The announcements from Facebook to disallow sharing news stories and eliminate fact checking indicate that it is moving in a similar direction. For those of us trying to drive positive environmental change, these platforms are no longer welcoming and effective channels to reach our members and customers.

Over the past decade, social media has been a great place to share information about green products and organize environmental campaigns. Collectively, we have invested a lot into building a community on these platforms, so it can be hard to say goodbye and go elsewhere. It’s tough to know how and where we should invest our focus and our marketing efforts.

However, all this upheaval also creates an opportunity to rethink how we engage with social media. We wanted to record and share how we will be interacting with social media in 2025. We are publishing this post to solicit feedback from the environmental community, provide transparency as to our approach and hopefully to leverage some network effects if we collectively move in a similar direction. 

### Social Media Platforms
Let’s first start with our current take on the major social media platforms.

#### X-it Twitter
We are stopping posting and engaging on Twitter/X. Our Twitter account has the largest number of followers of our social media accounts, but we have seen engagement plummet over the last few years. As it’s become an increasingly toxic environment, we can no longer in good conscience continue to use the platform. We will not delete our handle, as we don’t want it to be misused; however, we will do the minimum to keep it alive.

#### Facebook/Instagram/Threads
We haven’t been active on Facebook or Instagram for years, and with everything that’s happening at Meta that will continue to be the case for the foreseeable future.

#### LinkedIn
We started engaging more heavily with LinkedIn in 2024 and found that it has been a great way to connect with and stay in touch with the .eco community. There are many small- and medium-sized businesses that are part of .eco and LinkedIn has been very effective for B2B (business-to-business) connection.

#### Mastodon
We became [strong supporters of Mastodon](/news/what-is-mastodon/) after the dumpster fire started at Twitter. If you’re looking for a friendly alternative, [mastodon.eco](https://mastodon.eco) is run by a member of the .eco community and is a great place to start.

We really like Mastodon, especially because it provides portability to [migrate your posts and followers between servers](https://blog.joinmastodon.org/2019/06/how-to-migrate-from-one-server-to-another/) giving you more control over your account and content. One downside with Mastodon is that it can be difficult to find and connect with others due to its distributed nature. We haven’t found that we’ve been able to achieve the same reach that we’ve found on centralized social networks. If you are on Mastodon, please [connect with us](https://mastodon.eco/@doteco/).

#### Bluesky
We started using Bluesky in 2024 and have been quite happy with it. It’s full of other Twitter refugees. Bluesky now also [supports federation](https://bsky.social/about/blog/02-22-2024-open-social-web) (like Mastodon), so you avoid the risk of platform lock-in and can migrate your account and data to other servers if you want. Bluesky isn’t as decentralized as Mastodon, so it has been easier to find other eco-friendly folks over there. [Come say hi](https://bsky.app/profile/go.eco)!

One thing that we really like about Bluesky is that you can [use your domain name as your Bluesky handle](https://bsky.social/about/blog/4-28-2023-domain-handle-tutorial). We’re using the domain for this site (go.eco) for our handle. If you’re on Bluesky we highly recommend doing this as it gives you a shorter handle that clearly connects to your website.

### Social media strategy for 2025

Beyond the specific social media platforms, it's worth stepping back and taking stock of how and why we engage with social media. For us, it's principally a low touch way to share stories with and about our community.

Ultimately, it comes down to understanding the most effective way to connect with people. Everyone's preferences will be different, so we need to be prepared to meet them where they are.

We've assembled the 4 principles below that will guide how we interact with our community.

#### 1. Engage directly with your community
Our focus is on supporting the amazing .eco community by helping to spread the word about the great work they’re doing. Social media is just one of the possible channels where we can engage and share their message.

For members of the .eco community, one way to connect with us on social media is by adding your LinkedIn, Bluesky or Mastodon social media handles to your [.eco profile](https://profiles.eco/bigroom). We’d be happy to follow you and look forward to learning more about your work and sharing it with the community. If you have specific content that you would like our help promoting, please tag our handle in the post to make sure that we don’t miss it.

Beyond social media, we also have an email newsletter that we send out the .eco community every quarter. It is open to everyone and you can <a class="chat-link" href="#">send us a message to subscribe</a>.

We also have a [Slack community](https://go.eco/community/slack/) that allows for more direct conversations and collaboration between members of the .eco community. Come join and say hi!

#### 2. Own your own content
One thing that the meltdown at Twitter and Facebook have made clear is that these platforms are designed to lock you and your subscribers in. By design, there’s no easy way to export your content, followers or analytics. Losing access to what you have built over the course of years can be quite painful.

This is why we prefer social networks that provide portability and give you the freedom to export your content or move to other platforms if necessary. Both Mastodon and Bluesky (currently limited and in early access) offer this freedom making them a safer investment.

#### 3. Be aware of social media’s environmental impact
The environmental impact of social media is pretty significant. [This study](https://carbonliteracy.com/the-carbon-cost-of-social-media/) found that the top 10 social media platforms emit 262 million tonnes of CO<sub>2</sub>e per year. That’s 0.61% of global emissions, or almost the same as the carbon footprint of Malaysia.

This suggests being judicious when using social media and choosing to use platforms from companies that have strong environmental policies in place and power their data centres with renewable energy. 

#### 4. Don’t forget other online environmental communities
While social media platforms are easy ways to reach a large number of people, they are not the only way, let alone the best way, to connect with your customers or members. There are many online communities that are set up around specific areas of environmental activism.

As we are a [certified B Corporation](/news/eco-is-certified-b-corp/), we are also members of the [B Hive](https://usca.bcorporation.net/bcorp-resource/the-b-hive/) &mdash; an online community of other B Corps. It’s been a friendly and receptive place to connect with other like-minded organizations.

We are members of the [Climate Action Tech](https://climateaction.tech/) community, a global Slack community of tech workers trying to reduce the climate impacts of technology.

We’re happy to join and engage with other online communities dedicated to environmental causes. If you have some recommendations, <a class="chat-link" href="#">please let us know</a>.

### Buckle up for 2025 and beyond
The landscape of social media is continuing to shift in 2025. For people, businesses and organisations looking to make an environmental impact and wanting to connect with other like-minded and passionate environmental advocates, it’s worth assessing if how you have engaged with your community still makes sense or whether you need to make some changes. We’ve outlined what changes we’re planning to make this year. What changes are you planning to make? Please <a class="chat-link" href="#">let us know</a> if there are other changes we should consider.
