---
collection: news
title: ".eco is certified carbon neutral - 2025"
excerpt: .eco is certified carbon neutral under ISO 14068 for our 2025 fiscal year. This is our first year certifying to the new ISO standard.
description: ".eco is certified carbon neutral under ISO 14068 for the 2024/2025 fiscal year."
header-img: /img/news/golden-ears.webp
header-img-alt: View over the Coast Mountains from the peak of Golden Ears, BC
pubdate: 2026-01-20
author: Eco Domain (.eco)
layout: article.hbs
og-image: opengraph/golden-ears-og.jpg
og-width: 1200
og-height: 630
page-path: news/eco-is-carbon-neutral-2025/
more:
- news/eco-is-carbon-neutral-2024/
- news/2023-eco-is-carbon-neutral/
- news/eco-is-carbon-neutral/
---

# {{title}}

## {{excerpt}}

![{{header-img-alt}}]({{header-img}})

### Our 2025 carbon footprint

Over our 2025 fiscal year (Oct 1 2024 &mdash; Sep 30 2025), the .eco domain registry emitted approximately **3.96 tonnes of CO<sub>2</sub>e**. Please see our [FY2025 Greenhouse Gas report](/impact/ghg-report-2025/) for a detailed breakdown of the registry's emissions.

The FY2025 emissions are **2.12%** below our 2022 baseline. This is a slight increase in emissions over our last fiscal year due to an expanded scope of emissions reporting and business travel.

As we didn't have any specific emissions reduction activities planned for this year, our target was to remain level with last year. That was largely achieved, as the chart below shows; however, the added scope of emissions accounted for the increase versus last year. We have chosen not to rebaseline or recalculate prior year emissions as the increased scope is below our 5% recalculation threshold.

<figure>
<img alt="Stacked bar chart showing the annual emissions for each fiscal year including the baseline scope and the additional scope in the bar for each year" src="/img/news/ghg-emissions-by-year-2025.png">
<figcaption>
Total emissions by fiscal year, separating out the emissions that are not included in the baseline scope.
</figcaption>
</figure>

We have plans to eliminate the use of fossil fuels from our home offices over the next two fiscal years and that will help reduce emissions further.

### From PAS 2060 to ISO 14068

Over the past 3 years, we have certified as carbon neutral under the [PAS 2060 standard](https://en.wikipedia.org/wiki/BSI_PAS_2060). PAS 2060 was developed by the British Standards Institute (BSI) in 2009 with the goal of providing a clear and consistent definition of what carbon neutrality means. It is a robust standard that requires organizations to: 
- account for 100% of Scope 1 and 2 emissions and all sources of Scope 3 emissions that represent more than 1% of total emissions,
- have a publicly available plan for reducing emissions with specific targets and timelines,
- purchase carbon credits from an approved, high quality provider, and
- have all of this verified by a certified, independent auditor.

There were, however, some weaknesses with the PAS 2060 standard:
- it was primarily used in the UK (where there was legislation requiring adoption), but didn't gain traction globally.
- it did not require organisations to eliminate their emissions to meet science-backed net-zero targets. Claimants could simply purchase offsets to cover their emissions without significantly reducing them.
- a broad category of offsets were allowed under the standard. Emissions avoidance was an acceptable option, even though it does not directly counteract an organization's actual emissions and it is difficult to prove additionality.

ISO 14068 works to address those gaps:
- it is a true global standard under ISO. At this point, it is effectively the de facto global standard for carbon neutrality.
- it is aligned with science-backed targets where organizations must provide short and long term commitments to eradicate carbon emissions before offsets can be considered.
- only removal-based offsets with a high-degree of permanence are accepted.

As ISO 14068 is a new standard, there will undoubtedly be some learning and adjustment as more organizations start to comply. For example, there was some discussion about exactly what level of permanence was required for the offsets that we were considering.

With the [EU](https://www.europarl.europa.eu/news/en/press-room/20240112IPR16772/meps-adopt-new-law-banning-greenwashing-and-misleading-product-information), [the US](https://www.ftc.gov/news-events/news/press-releases/2022/12/ftc-seeks-public-comment-potential-updates-its-green-guides-use-environmental-marketing-claims) and other countries and regions strengthening regulation regarding green claims, adopting and adhering to tough standards like ISO 14068 ensures that the public can trust that certified organizations are making a real commitment to addressing climate change.

### Carbon neutral certification

We were happy to again be working with the great team at [Inhabit.eco](https://inhabit.eco) to review our GHG footprint and guide us in certifying as carbon neutral. They helped us prepare this detailed [Carbon Neutrality Report](https://docs.google.com/document/d/1jciIZ9NyYJmChGIP71hJ1BIFtpCIAC-2ER0EqqMVXUc/edit?tab=t.0#heading=h.s04834s3qd0t) demonstrating our compliance with ISO 14068.

<p class="article-logo">
  <img src="/img/news/inhabit-logo.svg" class="invert-icon" style="width:60%" alt="Inhabit.eco logo">
</p>

### Carbon removal with Klim.eco

We worked again with fellow .eco community member [Klim.eco](https://www.klim.eco/en) to obtain offsets to cover almost 3 times our residual emissions. Klim partners with farmers in Germany to sequester carbon in their soil through regenerative farming practices. Klim's credits are verified by TÜV Rheinland in alignment with Verra VCS.

![](/img/news/klim-offset-certificate-2025.webp)

We have learned a tonne on this journey to measure our footprint and meet global standards. If you are on a similar journey, <a class="chat-link" href="#">we’d love to hear from you and share what we've learned along the way</a>. If you are a member of the .eco community, we’d be happy to share your story through our [.eco champions programme](/champions/).

