---
collection:
- news
- studies
title: "Klim: .eco champion"
excerpt: With industrial agriculture accountable for around 25% of global GHG emissions, sustainable farming is a key part of tackling climate change and protecting biodiversity. Klim partners with farmers and businesses to do just that.
description: "Interview with Maja Wiegand, Marking Manager at Klim, about how they are addressing climate change through regenerative agriculture in partnership with farmers worldwide."
header-img: /img/champion_logos/klim.webp
header-img-alt: "Aerial view of harvester cutting grain"
pubdate: 2025-01-06
author: Eco Domain (.eco)
layout: article.hbs
og-image: champion_logos/klim.png
og-width: 1200
og-height: 630
page-path: champions/klim/
---

# Klim: .eco&nbsp;champion

## {{{excerpt}}}

![{{header-img-alt}}]({{header-img}})

_We reached **Maja Wiegand**, Marketing Manager at Klim about how they are working with farmers to tackle climate change through regenerative agriculture._

### What does Klim do?

[Klim](https://klim.eco/) is Berlin-based Agricultural Technology company that builds a joint movement with farmers and businesses to scale regenerative farming practices as quickly as possible, sustainably reduce CO₂ emissions, and improve soil health and biodiversity. Klim makes an important contribution to climate protection and food security. The digital platform offers farmers documentation and funding opportunities as well as access to agronomy expert knowledge. Companies that partner with Klim have the opportunity to support regenerative agriculture within or outside their own supply chains.


### What is regenerative agriculture and what are its benefits?

Regenerative agriculture refers to agricultural practices that contribute to humus enrichment in the soil. The principles of regenerative agriculture include year-round soil cover, diverse crop rotations, maintaining living roots, reducing soil disturbance, and integrating animals. This stores carbon, improves soil structure and increases biodiversity in fields. In this way, the soil is regenerated and its fertility and climate resilience are improved.

### What’s the difference between insetting and offsetting?

In the context of regenerative agriculture, insetting and offsetting are both strategies used to address carbon emissions and promote sustainability, but they differ in their scope. 

Insetting involves reducing or sequestering carbon emissions **within a company's supply chain** by supporting initiatives directly tied to its operations &mdash; meaning on farms that supply raw materials for the company’s supply chain. For example, a company that sells hemp clothing could encourage its growers adopt regenerative agricultural practices to reduce carbon emissions from growing the raw material.

Offsetting involves compensating for a company's unavoidable carbon emissions by investing in projects **outside its supply chain** that reduce or remove greenhouse gases from the atmosphere.

### How do you measure and track the climate impact of your business?

Klim measures its climate impact by tracking the number of farmers adopting regenerative practices, the hectares of land managed regeneratively, and the resulting carbon sequestration outcomes. This includes using Klim’s digital platform and soil organic carbon models, soil samples and remote sensing to quantify carbon sequestration in soils and vegetation.

![Klim app on mobile phone with field in the background](/img/news/klim-app.webp)

### How can someone acquire carbon credits from Klim?

To acquire carbon credits from Klim, you can reach out directly to [our team](https://www.klim.eco/en/co2-kompensation-fur-unternehmen). Klim will schedule a personal call with you and provide details on the availability of carbon credits, the specific regenerative agriculture projects they support, and the verification standards they adhere to.

### Why did you choose a .eco domain for your business?

We chose a .eco domain for our business to enhance brand recognition. The .eco domain signals to our audience that environmental responsibility is at the core of our mission, aligning our online presence with the values of transparency and ecological stewardship. It helps us stand out as an impact-driven company dedicated to positive climate action.

<aside class="inverted" title=".eco champion details">
  <ul>
    <li><strong>Domain</strong>: <a href="https://klim.eco">klim.eco</a> (<a href="https://profiles.eco/klim">.eco profile</a>)</li>
    <li><strong>Community member since</strong>: Nov 2020</li>
    <li><strong>Domain retailer</strong>: Namecheap</li>
  </ul>
</aside>

At .eco, we are fortunate to be surrounded by a community of businesses, organizations and individuals working hard to protect our planet. We are honoured to spread the word about the great work they're doing. If you are a member of the .eco community and would like to be featured, [get in touch](mailto:support@bigroom.eco).

