---
collection: news
title: "2025 Impact Report"
excerpt: As 2025 draws to a close, we are honored to share how .eco has contributed to positive change for our planet this year.
description: "Annual Impact Report for the .eco domain registry for 2025"
header-img: /img/news/beach-at-sunset.webp
header-img-alt: Girl walking on the beach at sunset in Tofino, Canada
pubdate: 2025-12-16
author: Eco Domain (.eco)
layout: article.hbs
og-image: opengraph/beach-at-sunset.jpg
og-width: 1200
og-height: 630
page-path: impact/impact-report-2025/
---

# {{title}}

## {{excerpt}}

![{{header-img-alt}}]({{header-img}})

### Mission

.eco is an inclusive and welcoming home for the global environmental community. Our community consists of over 6,800 businesses, non-profits, individuals and others committed to making positive change for our planet.

### 2025 Impact Highlights

Here are a few of the key accomplishments this year:

* Released [climate reports](/news/climate-reporting-for-eco-domains/) for every .eco domain name
* Compiled and compared the [carbon footprint of domain registries](/news/carbon-footprint-of-domain-registries/)
* [Highlighted domain retailers](/news/eco-friendly-web-host/) powered by renewable energy, with a low <abbr title="Power usage effectiveness">PUE</abbr>, and recycling their e-waste
* Collaborated with the [Green Web Foundation](https://www.thegreenwebfoundation.org/) on [Green Web Tracker](https://tracker.greenweb.org/) and [carbon.txt](https://carbontxt.org/)
* [Celebrated the .eco community](/news/leaning-into-community/) by featuring 10 [.eco champions](/champions/)
* Refocused on helping to meet the [UN Sustainable Development Goals](/news/aligning-with-the-sdgs/)
* Raised the alarm about the security risk of [invalid nameservers](/news/security-risk-of-invalid-nameservers/)
* Published our [calendar of 26 environmental events](/news/eco-event-calendar/) we celebrated this year
* Exited Twitter and shared our approach to [engaging on social media](/news/social-media-strategy-2025/). 

### 2025 Goals

At the start of this year, we set three main impact goals for ourselves:

* Share greenhouse gas footprints for each .eco domain
* Certify to the ISO 14068 carbon neutral standard
* Make SBTi Net Zero commitment

Publishing [climate reports for every .eco domain](/news/climate-reporting-for-eco-domains/) was something that we started thinking about once we began measuring our own climate footprint and realized how difficult it can be to obtain reporting data from our partners and suppliers. We wanted to lead by example and be transparent to the .eco community about the impact of operating their .eco domain. So we were excited to release these new climate reports in time for .eco's birthday in April. While a [few other domain registries](/news/carbon-footprint-of-domain-registries/) have measured their own greenhouse gas emissions and estimated the average emissions per domain, .eco climate reports are the first time that the domain industry has produced a custom climate report per domain that is tailored to the DNS traffic that domain receives.

In prior years, we certified that our operations are carbon neutral based on the [PAS 2060 standard](https://en.wikipedia.org/wiki/BSI_PAS_2060). That standard has been superseded by [ISO 14068](https://www.iso.org/standard/43279.html), which is more stringent in terms of prioritizing emissions reduction and the types of eligible carbon credits. We are just wrapping up this certification and will have more news to share about it in early 2026.

Unfortunately, we did not make progress registering our climate targets with SBTi. We did focus on a broad range of other initiatives as covered in the [2025 Highlights](#2025-impact-highlights), but we didn't get to this one.

![Climate protest](/img/news/climate-action-plan-2022-strip.jpeg)
### Community

The .eco community has continued to grow over the course of 2025 and now consists of over 6,800 members from all around the world. We are heartened to see this continued growth even as many nations backslide on their environmental commitments and ambitions.

Part of our role as stewards of the .eco community is highlighting the inspiring work done by our members. Through the [.eco Champions Programme](/champions/) we turn the spotlight on community members and help amplify their story through the case studies on our website and in our newsletters. In 2025, we featured **10 .eco champions** &mdash; the most in any year since we started the programme. If you would like to nominate a community member to be featured, <a class="chat-link" href="#">please get in touch</a>.

To keep the community updated about what’s new with .eco, we send out an email newsletter every three months. We also provide a [Slack community](/community/slack/) to serve as a forum for .eco community members to communicate directly, share what they’re working on and give feedback. Since launching on Slack in 2023, we’ve grown to over 300 members.

![Compliance header divider](/img/news/compliance-strip.jpeg)
### Safety &amp; Compliance

The other side of our work is ensuring that everyone using a .eco domain is doing so in line with [.eco's policies](/policies/). For members of our community, we know that your .eco domain name is [integral to your brand](/news/eco-boosts-your-brand/). Our mission is to make sure .eco continues to be recognized as a trusted symbol of sustainability.

We also strive to ensure that the .eco community is protected against various online threats. That's why we warned about risk of [invalid nameservers](/news/security-risk-of-invalid-nameservers/) and we worked with community members to address this issue.

We also wanted to let you know that we are members of the [Internet Watch Foundation](https://www.iwf.org.uk/about-us/), working to make sure that .eco domains are never used to serve <abbr title="Child Sexual Abuse Material">CSAM</abbr>.

![Climate Change stripes - increase in global temperatures since 1850](/img/news/climate-change-stripes-strip.png)
### Climate Action

Climate Action is a key UN Sustainable Development Goal that [we are committed to](https://profiles.eco/bigroom). Publishing [climate reports for every .eco domain](/news/climate-reporting-for-eco-domains/) is one of the steps that we took this year in support of climate action. We also continue to monitor, report on and find new ways to drive down the carbon footprint of running the .eco registry. We've published our [2025 Greenhouse Gas emissions report](/impact/ghg-report-2025/) and are finalizing our carbon neutral certification to ISO 14068.

One new initiative this year is we are working with our domain registrar partners to certify (or recertify) with the [Green Web Foundation](https://www.thegreenwebfoundation.org/) if they run in data centers powered by renewable energy. As we realized in this year's [Eco Web Hosting review](/news/2025-eco-web-hosting-review/), the number of certified hosting providers does not necessarily grow every year. We want to do our part to push more providers to register with the <abbr title="Green Web Foundation">GWF</abbr> and ensure that as many .eco domains as possible are recognized as using sustainable hosting.

![next year goal divider](/img/news/glacier-strip.jpeg)
### Impact Goals for 2026

Here are a few additional ways that we will be working to expand the impact of .eco in 2026:

#### Do more in support of the SDGs

There are fewer than 5 years left to meet the 17 UN Sustainable Development Goals. The SDGs are a core pillar of the .eco community: everyone with a .eco profile needs to identify the SDGs that they are working to support. We recognize that we have not done enough to support the .eco community in helping to meet the SDG goals. This year we will work to rectify that.

#### Encourage domain retailers to back Green Web Check

As mentioned above, we have started working with our partners to encourage them to certify with the Green Web Foundation if they are using a data center powered by renewable energy. As electricity grids use more low carbon energy, it should be increasingly attainable for hosting providers to show they're green.

#### Foster more collaboration between .eco members

The impact of our actions increase exponentially if we can do more to work together as a community. In 2026, we have plans to expand the opportunities for you to partner with other members of the .eco community. We are excited to share more with you in 2026!

#### Dark mode

One thing that we didn't talk much about is that we added support for dark mode on this website. We did this both to make the website more accessible to visitors with sensitivity to bright displays and to reduce the energy use of viewing the site. Work to support dark mode for the .eco profile system is in progress and we hope to roll this out in 2026.

### What do you think?

We are fortunate and privileged to operate the .eco top-level domain on behalf of the global environmental community. If there are areas that you would like the .eco registry to focus on, <a class="chat-link" href="#">please let us know</a>.
