---
title: .eco Registry Lock | .eco
description: Protect your customer's .eco domain using .eco Registry Lock
page-path: registrars/registry-lock/
og-image: opengraph/building-og.png
og-width: 1200
og-height: 630
active: registrars
---

<link rel="preload" as="image" href="/img/iStock-603187076-header.jpg">

<div class="jumbotron registrar-header">
	<div class="container">
		<h1>.eco Registry Lock</h1>
    <p>Protect your .eco domains using .eco Registry Lock</p>
	</div>
</div>

<section class="section policy">
	<div class="container">
    <p>
      At the .eco registry we take security seriously. Customers of all types are increasingly looking for an additional layer of security to keep their brand protected. With <strong>.eco Registry Lock</strong>, we can support you in meeting this demand and keeping your clients’ .eco domains secure.
    </p>

    <div class="row">
      <div class="col-sm-4">
        <h3>Secure &amp; self-service</h3>

        <p>Your account managers have direct control over locking and unlocking domains at your client’s request.</p>
        <p>There’s no need to contact the registry to complete the operation.</p>
        <p>Your account managers will use individual user accounts to access the .eco portal, which is secured with multi-factor authentication.</p>
      </div>
      <div class="col-sm-4">
        <h3>Simple to configure</h3>
        <p>It’s simple to get started with .eco Registry Lock. Let us know that you want to get configured.</p>
        <p>We will set up user accounts for designated team  members and you’ll be ready to go.</p>
        <p>We can provide basic training to get your team quickly up to speed.</p>
      </div>
      <div class="col-sm-4">
        <h3>Full transparency</h3>
        <p>All domain locking and unlocking operations are tracked and auditable.</p>
        <p>Your team has visibility into the full history of who locked or unlocked a domain, when it transpired and the rationale for changing the lock status.</p>
      </div>
    </div>

    <p><a href="mailto:registrars@bigroom.eco">Contact us today to get started</a></p>
  </div>

	<div class="container d-flex justify-content-end">
		<a href="/registrars/" class="btn btn-primary">Back to Registrars page</a>
	</div>
</section>
