---
collection: news
title: "Climate Action Plan - 2022"
excerpt: At .eco, we’re committed to being the world’s first **carbon neutral domain registry**. In this post, we wanted to lay out how we’re planning to get to net zero.
description: "The Climate Action Plan for the .eco registry for 2022-2023"
header-img: /img/news/climate-action-plan-2022.jpg
pubdate: 2022-09-01
author: Eco Domain (.eco)
layout: article.hbs
og-image: news/climate-action-plan-2022.jpg
og-width: 1200
og-height: 630
page-path: news/climate-action-plan-2022/
---

# {{title}}

## {{excerpt}}

<figure>
<img alt="There is no Planet B photo" src="{{header-img}}" />
<figcaption>
Photo by <a href="https://unsplash.com/@li_anlim?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Li-An Lim</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
</figcaption>
</figure>

The Climate Crisis is top of mind for all of us these days. Back in June, after reading news stories about heat waves and blackouts sweeping Europe and with memories from last summer of the heat dome, wildfires and flooding that afflicted the Pacific Northwest where we live, we felt a moral imperative to start investigating what climate action we could take. 

We set a goal of becoming carbon neutral as soon as we could and before 2025 at the latest. Initially, we weren’t too sure what this would entail, but over the past few months we have learned (and are continuing to learn) a lot. Our hope is that by sharing what we are learning, we can encourage other members of the .eco community to follow suit and we can collectively amplify our impact.

### Climate actions we’ve taken

Here are some of the actions that we’ve taken so far:
* We have moved the [.eco profile system](https://profiles.eco/) to a data center powered by 100% renewable energy.
* We have declared a [Climate Emergency](https://go.eco/news/we-declare-a-climate-emergency/), committing ourselves to climate action.
* We have joined the [Race to Zero](https://go.eco/news/race-to-zero-spotlight/) via the [SME Climate Hub](https://smeclimatehub.org), pledging ourselves to reach net zero emissions this decade.
* We are working with the [Green Web Foundation](https://www.thegreenwebfoundation.org/) to help members of the .eco community [check if they are using an eco-friendly web host](https://go.eco/news/green-web-check-ecolabel/).
* We have reviewed the [sustainability claims of .eco retailers](https://go.eco/news/finding-a-green-domain-retailer/) and are more prominently highlighting eco-friendly .eco retailers when [searching for .eco domain names](https://go.eco/search/) to help people take the carbon footprint of the retailer and web host into consideration when buying a .eco domain name.

### Where we’re headed
We still have a lot to do to get to net zero. We wanted to share what our plans are so you know where we’re going and to hold ourselves to account.

#### Climate Action Plan
The first thing is, well, this document. Part of our commitment in joining the [Race to Zero campaign](​https://unfccc.int/climate-action/race-to-zero-campaign#eq-3) is to publish a plan outlining the actions that we are going to take to get to net zero. Given the immediacy of the crisis there’s an emphasis on the actions to be taken over the short-to-medium term. Our goal is to be net-zero within the next year, so this plan is for the next 12 months. 

#### Measuring our footprint
We have been working to understand our carbon footprint. We will have some preliminary results to share in **September**. These results will be shared [on this site](https://go.eco/news/).

#### Taking action
Measuring our footprint serves as the basis for the specific actions that we will take to reduce our impact. We are a virtual organization with no head office and a small staff. The vast majority of our emissions come from the web sites and services involved in operating a domain registry. Between **September and December** we will take a number of steps to reduce those emissions. We will share the results of those reductions here.

#### Purchase offsets
Also over **September to December**, we will select an offset provider from whom we will purchase carbon offsets to mitigate the climate impact of our actions in 2022.

#### Audit and validate
Our carbon footprint and reduction results will initially be self-assessed, but we intend to find an external auditor to validate them. From the conversations that we have had with auditors so far, it seems like they are pretty backlogged. This is a good thing as it means that there is a lot of demand for carbon accounting services. However, it does make the timing of this more uncertain. Our goal is to have the audit conducted by **January 2023**. 

#### Continuous improvement
For the **rest of 2023**, we will be moving further up our virtual supply chain to assess the carbon footprint of our other providers not covered in the initial footprint calculation with the goal of applying pressure to reduce their impact or to switch providers where necessary.

#### Replan
We commit to updating this plan periodically throughout the year. By **September 2023**, we will publish a new Climate Action Plan for the next 12 months.

If there are other things that you think we should be doing, please let us know via chat or [email](mailto:support@bigroom.eco). Or if you belong to the .eco community and are also on the journey to net zero, let us know what you’re doing. We’d be happy to help share your story.
