---
collection: news
title: "How to show your website is eco-friendly"
excerpt: If you are considering an eco-friendly host for your website &mdash; or if you already are using one &mdash; here is how to highlight it.
description: "If you've put in the work to select an eco-friendly hosting provider for your website, here's how to tell the world about it."
header-img: /img/news/bear-totem.webp
header-img-alt: Bear totem pole at Totem Park in Burnaby, Canada
pubdate: 2025-07-16
author: Eco Domain (.eco)
layout: article.hbs
og-image: opengraph/bear-totem-og.png
og-width: 1200
og-height: 630
page-path: news/how-to-show-site-is-eco-friendly/
more:
- news/eco-friendly-web-host/
- news/finding-a-green-domain-retailer/
- news/green-web-check-ecolabel/
---

# {{title}}

## {{{excerpt}}}

![{{header-img-alt}}]({{header-img}})

In our last post, we wrote about [how choosing an eco-friendly web host](/news/eco-friendly-web-host/) is one of the most environmentally impactful decisions you can make for your website. We laid out the key impact areas to consider when evaluating potential hosting providers:

- ☀︎ Are they powered using renewable energy?
- ⚡︎ Are they highly energy efficient?
- ♺︎ Do they deal responsibly with electronic waste?

### Eco-friendly website badges

If you’re putting in the work to select an eco-friendly host for your website, you should make sure you can highlight that to your visitors.

Some hosting providers offer badges that you can put on your website to showcase that it is powered by renewable energy. However, these badges are generally vendor-specific and may not be broadly recognized.

![Assortment of green badges from different hosting providers](/img/news/green-badges.webp)

The most broadly recognized badge indicating that a website is powered by green energy is from the [Green Web Foundation](https://www.thegreenwebfoundation.org/). They maintain the most comprehensive dataset of data centres powered by carbon free  energy. As they are a non-profit organization working towards a fossil-free internet by 2030, they are reputable and they independently validate data centre sustainability claims.

They offer a free service called [Green Web Check](https://www.thegreenwebfoundation.org/green-web-check/) that will test if your website is running on a provider that is in their dataset. If it matches, they generate a custom badge with your domain name that you can add to your website. Here’s an example for one of our domains.

<div class="news-img-40pct">
<p>
  <img src="https://app.greenweb.org/api/v3/greencheckimage/bigroom.eco?nocache=true" alt="This website runs on green hosting - verified by thegreenwebfoundation.org">
</p>
</div>

If you are a member of the .eco community, you can also easily [add this badge to your .eco profile](/news/green-web-check-ecolabel/) to highlight that you’re using eco-friendly web hosting.

### What if you haven’t launched your website yet?

Green Web Check works well if your website is already up and running. However, if you haven’t yet launched your site, how can you make sure that you are choosing a host powered by renewable energy and that the host you select is the Green Web Foundation Directory? We collaborated with the Green Web Foundation to tackle this issue.

The Green Web Foundation has developed a tool called [Green Web Tracker](https://tracker.greenweb.org/). This tool checks a list of websites every few weeks to see if they are served from known green web hosts. The list of websites are organized by category or topic into indexes.

![Green Web Tracker by Green Web Foundation](/img/news/green-web-tracker.webp)

We teamed up with the Green Web Foundation to contribute a public [index of domain retailers and web hosting providers](https://tracker.greenweb.org/index/domain-retailers/). The index shows which retailers are using green energy to power their website and which aren’t. As the Green Web Tracker runs regularly, any updates to their green hosting status will be reflected in the index results.

If you are considering one of the providers listed in the index and it is marked as green hosted, it is likely that your website hosted with this provider will also pass Green Web Check.

There are a few caveats to be aware of:
- The index checks if the hosting provider’s website is green hosted. It presumes that their website is hosted in the same data center as yours will be. While that is often the case, it’s not guaranteed.
- Some hosting providers have data centers in many locations. It’s possible that some locations will pass Green Web Check and others won’t. The index is only testing the data center associated with the provider’s website. You should confirm that the data center that your website will run in will pass Green Web Check.
- Some hosting providers put a CDN (content delivery network) in front of their website. The green hosted result will show if the CDN passes Green Web Check instead of the data center where the website is hosted. It’s worth checking the hosting provider by clicking on the domain name in the index. If it is using a CDN provider (like Cloudflare), it’s worth extra scrutiny.

### What if you haven’t got a domain name yet?

Often the first step when setting up a new website is to search for the domain name you want to use. Many people end up hosting their website where they get their domain.

That’s why [when searching for a .eco domain](/search) we try to make it easy for you to see which providers pass Green Web Check. You can also set a filter to include only those providers that pass Green Web Check ✔︎.

We have gone through and verified that every provider passing Green Web Check has additional evidence to indicate that they are eco-friendly, so as to eliminate spurious results where the provider might be using a CDN.

### Next steps

If you haven’t set up your website yet, we encourage you to take the sustainability of your hosting provider into account. It's much easier to start with an eco-friendly host than it is to switch to one once your website is up and running. We hope that some of the tools described above will help you with your selection.

And if you have found an eco-friendly host for your website, promote that fact by using a badge. It will encourage others to consider using sustainable hosting as well.  Collectively we can help make the web more eco-friendly.
