---
collection:
- news
- studies
title: "Koala.eco - .eco champion"
excerpt: Safe, plant-based products for a clean home, body and mind made locally with Australian essential oils.
description: "Jessica Bragdon and her husband, Paul Davidson, were determined to find safe, non-toxic cleaning products that smelled good and kept Jessica from packing away her sons’ toothbrushes while cleaning."
header-img: /img/koala.jpg
header-img-alt: Collection of Koala Eco branded cleaning products
pubdate: 2017-04-18
author: Eco Domain (.eco)
layout: article.hbs
og-image: champion_logos/koala.png
og-width: 642
og-height: 310
page-path: champions/koala/
---

# {{title}}

## {{excerpt}}

![{{header-img-alt}}]({{header-img}})

_At .eco, we are fortunate to be surrounded by a community of businesses, organizations and individuals working hard to protect our planet. We are honoured to spread the word about the great work they're doing. If you are a member of the .eco community and would like to be featured, [get in touch](mailto:support@bigroom.eco)._

Jessica Bragdon and her husband, Paul Davidson, were determined to find safe, non-toxic cleaning products that smelled good and kept Jessica from packing away her sons’ toothbrushes while cleaning. Dissatisfied with what was available on the market, the couple decided to start Koala Eco – a line of non-toxic, all-natural, biodegradable cleaning products that use essential oils to make your house smell as natural and exotic as the Australian outback.

“There are a lot of ‘natural’ or ‘green’ cleaning products on the market and we love that this approach is becoming more mainstream,” says Jessica. “However, many still have synthetic fragrance or combine a large percentage of toxins with a small percentage of essential oils.  These so-called ‘green’ products can mislead customers into thinking what they’re using in their homes is free from harmful substances.”

Jessica is from the U.S. but has lived in Australia for over a decade with her Australian husband and two sons. She’s developed a deep appreciation for the flora and fauna of her new home country, which is why she named the company after Australia’s most loved creature, the koala.

Sadly, Australia’s koala population is plummeting and development has destroyed 80 percent of their natural habitat. Jessica wanted to ensure that Koala Eco products help protect the habitat of Australia’s creatures or their environment, which is why they also donate a percentage of sales to conservation charity One Percent for the Planet.

Although the company is still very new, joining the .eco community was important to the Koala Eco brand and mission. In fact, it was so key to the brand that they switched from a .com URL to [koala.eco](https://koala.eco).

“We chose a .eco domain to demonstrate our support for positive change for the planet and to support the .eco movement’s goals,” she says. “It’s more than a few letters at the end of the web address – it’s an identifier of a community priority, where its users are committed to sustainable practices and are not afraid to promote this ethos with customers and the public.”

The .eco domain name ending is backed by more than 50 environmental organizations including WWF and Conservation International. The .eco domain name is a symbol to followers that the business is part of an international network of organizations that are making positive change for the planet.

“Taking on the .eco domain has strengthened our purpose, and the international profile and support of the .eco movement continues to inspire us to make positive changes for the environment,” says Jessica. “After all, at the end of the day, there is no planet B.”

To learn more and shop Koala Eco products head to [koala.eco](https://koala.eco).

<aside class="inverted" title=".eco champion details">
  <ul>
    <li><strong>Domain</strong>: <a href="https://koala.eco">koala.eco</a> (<a href="https://profiles.eco/koala">.eco profile</a>)</li>
    <li><strong>Community member since</strong>: Apr 2017</li>
    <li><strong>Retailer</strong>: Namecheap</li>
  </ul>
</aside>
