---
collection: news
title: "Register your .eco for 2+ years and save"
excerpt: Environmentalism is about thinking long term. That's why we are giving back to everyone committed for the long haul.
description: "Save when registering a .eco domain for multiple years. Offer available at participating domain retailers"
header-img: /img/news/banyan.webp
header-img-alt: Giant old banyan tree
pubdate: 2024-03-15
update: 2024-08-12
author: Eco Domain (.eco)
layout: article.hbs
og-image: opengraph/banyan-og.jpg
og-width: 1200
og-height: 630
page-path: news/2024-multi-year-registration-discount/
---

# {{title}}

## {{excerpt}}

<figure>
<img alt="{{header-img-alt}}" src="{{header-img}}">
<figcaption>
Photo by <a href="https://unsplash.com/@brandgreen?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Brandon Green</a> on <a href="https://unsplash.com/photos/macro-shot-of-brown-tree-GEyXGTY2e9w?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
</figcaption>
</figure>

One of the main challenges that we face when confronting and addressing environmental issues is long-term thinking. Issues like climate change, biodiversity loss, toxic waste and plastic pollution accumulate over time. There isn’t a single crisis for everyone to rally around and there are no simple solutions. We need to be committed for the long haul and start planning years ahead to make the impact we need.

At .eco, we want to do our small part to support everyone in the environmental community thinking long term. That’s why we’re working with our domain retail partners to reduce the cost of multi-year domain registrations by up to **20%**. If you register a .eco domain for 2 or more years with participating retailers, the cost of registration will be reduced by **$10 USD** or more for each year beyond the first year.

Currently this promotion is a trial and is only available for the next **12 months (March 2024 - February 2025)**.

<aside class="inverted" title="Promotion extension">

📣 This promotion has now been extended for an additional 6 months to February 2025!

</aside>

This promotion is currently available at the following retailers:
- [GoDaddy](#godaddy)
- [Namecheap](#namecheap)
- [OVH](#ovh)
- [Name.com](#namecom)
- [Openprovider](#openprovider)

As it’s most common to register a domain for a single year and then renew for each subsequent year, here are some instructions showing how to take advantage of this promotion.

### GoDaddy

1. [Search for a .eco domain](/search?registrar=godaddy)
2. Click on the GoDaddy logo
3. Click on the **Make It Yours** button to add the domain to your cart
4. Click **Continue** to go to the cart page
5. On the cart page, you can adjust the length of the registration. By default, the registration term is set to 5 years. The discount is calculated for any registration of 2 or more years.

### Namecheap

1. [Search for a .eco domain](/search?registrar=namecheap)
2. Click on the Namecheap logo
3. On the Namecheap search result page, you should see a message letting you know that .eco domains are on sale for 2+ years
4. Add the domain to your cart
5. Click **Checkout**
6. On the cart page, you can increase the term to 2 or more years to take advantage of the discount

### OVH
1. [Search for a .eco domain](/search?registrar=ovh-cloud)
2. Click on the OVH Cloud logo
3. On the search results page, click the **Buy** button
4. Click **Continue Order** and select any additional items to add to your purchase
5. You will need to login to access the cart page and proceed to the **Order Summary** page
6. Once there, you can increase the duration from 1 year. An Offer code will then be added to cart with the applied discount


### Name.com
1. [Search for a .eco domain](/search?registrar=name-com)
2. Click on the Name.com logo
3. Add the domain you are looking for to your cart
4. You will then see a pop-up that will give you the option to register the domain for multiple years and save. The pop-up shows the cumulative discount for longer registration terms
5. If you miss the pop-up or click past it, you can also update the registration duration on the **Cart** page. The savings will show up in the **Order Summary**

### Openprovider
1. [Search for a .eco domain](/search?registrar=openprovider)
2. Click on the Openprovider logo
3. Add the domain to your cart
4. Click the **Go to the cart** button
5. On the cart page you can increase the term from 1 year. The reduced price will show on the cart page.

