---
collection:
- news
- studies
title: "Inhabit: .eco champion"
excerpt: Trying to understand the carbon footprint of your business? Inhabit can help you make sense of emissions reporting and aligning with carbon disclosure and certification standards.
description: "For SMEs trying to get a handle on their carbon footprint, Inhabit.eco provides professional climate consultants at a reasonable rate to guide you through your net-zero journey."
header-img: /img/champion_logos/inhabit-header.webp
header-img-alt: "Inhabit logo with subtitle 'Net Zero. Lets go' overlaid on a plowed field."
pubdate: 2025-12-09
author: Eco Domain (.eco)
layout: article.hbs
og-image: champion_logos/inhabit-header.webp
og-width: 1200
og-height: 285
page-path: champions/inhabit/
---

# Inhabit: .eco&nbsp;champion

## {{{excerpt}}}

![{{header-img-alt}}]({{header-img}})

_**Disclosure**: Big Room has partnered with Inhabit since 2023 to audit our carbon footprint. They have been a great partner and we recommend their services_

_We connected with **Sam Mckay**, founder and CEO of [Inhabit](https://inhabit.eco) about how they are helping <abbr title="small-to-medium enterprises">SMEs</abbr> decarbonise their business._

### What led you to start Inhabit?

Inhabit was born directly from a need we identified while measuring the carbon footprint of a previous company. At that time, there was a lack of clarity and direction when it came to carbon accounting, particularly for SMEs that may not have the budget to afford larger consultancies.

Whilst there is a wealth of information and services available today, either through tech-based carbon management platforms, [SME Climate Hub](https://smeclimatehub.org/) or technical guidance documentation, what we believed then is still at our core: we can have a significant impact by making climate professionals accessible to SMEs.

![Photo of Sam Mckay, founder of Inhabit](/img/champion_logos/inhabit-team.webp)

### How do you help your clients decarbonise their business?

We help our clients decarbonise by making the whole process clearer, more practical, and genuinely doable. We start by understanding how their business actually works, where their emissions come from, what really drives them, and what matters most to the client's team. From there, we build a focused action plan aligned to their ambition, and ensure it doesn't just sit on a shelf: every recommendation has a clear owner, timeline, cost and expected impact, so our clients always know what to do next.

What our clients may see as most valuable, however, is how we work with you afterwards. We don't just hand over a report and disappear. We stay close all year, answering questions, sense-checking decisions, helping engage suppliers, and supporting clients' teams as things evolve. Our goal isn't just to help our clients cut carbon, we want to give them confidence, skills and tools to keep making progress long after the initial project is done.

### What do you suggest as the first step for businesses wanting to get to Net-Zero?

The first step is always undertaking a robust baseline assessment. This initial carbon measurement is essential because it establishes the benchmark against which all future progress must be measured. Using this to identify those key emissions sources, and where the opportunities for reduction lie, is an important first step to meaningful decarbonisation.

### What certifications do you recommend pursuing for small and medium-sized businesses?

We strongly recommend the [SBTi (Science Based Targets initiative) SME Streamlined Pathway](https://sciencebasedtargets.org/blog/smoothing-the-way-for-small-and-medium-sized-businesses-to-set-science-based-climate-targets). This route is specifically designed to be an accessible and streamlined process for smaller businesses. It allows SMEs to validate their decarbonisation targets with the full robustness and credibility associated with all SBTi validation, but within an expedited timeframe and at a far more cost-friendly price point. 

### What is changing in the world of carbon reporting?

The world of carbon reporting is in constant evolution, driven not only by the push for greater accuracy and standardisation, but also by a growing urgency for organisations to take credible climate action. Technical guidance from bodies like the GHG Protocol and SBTi is updated regularly, for example, the GHG Protocol Scope 2 guidance is currently in a [major consultation phase](https://ghgprotocol.org/ghg-protocol-public-consultations) that will reshape how companies account for renewable energy claims. Our commitment is to stay ahead of these shifts so our clients’ data remains credible, compliant, and defensible in an environment where expectations, and the need to act, are only increasing.

### Why did you choose a .eco domain for your business?

For us, the choice of the .eco domain was obvious. There is a strong, direct alignment of values between the domain's mission of promoting positive environmental action and our own purpose. This made for a straightforward decision and we are proud to be supporting one another in our own respective journeys! 


<aside class="inverted" title=".eco champion details">
  <ul>
    <li><strong>Domain</strong>: <a href="https://inhabit.eco/">inhabit.eco</a> (<a href="https://profiles.eco/inhabit">.eco profile</a>)</li>
    <li><strong>Community member since</strong>: Aug 2019</li>
    <li><strong>Domain retailer</strong>: Namecheap</li>
  </ul>
</aside>

At .eco, we are fortunate to be surrounded by a community of businesses, organizations and individuals working hard to protect our planet. We are honoured to spread the word about the great work they're doing. If you are a member of the .eco community and would like to be featured, [get in touch](mailto:support@bigroom.eco).

