---
collection: news
title: ".eco is 25% off from March to June"
excerpt: We are offering big savings on new .eco domain registrations this spring via select retailers.
description: "Save up to 25% on registering .eco domains between March 1 and May 31 2026 at participating domain retailers."
header-img: /img/news/spring-flowers.webp
header-img-alt: Spring flowers pushing through the grass
pubdate: 2026-03-02
author: Eco Domain (.eco)
layout: article.hbs
og-image: opengraph/spring-flowers-og.jpg
og-width: 1200
og-height: 630
page-path: news/eco-spring-sale-2026/
more:
- news/2024-multi-year-registration-discount/
---

# {{title}}

## {{excerpt}}

![{{header-img-alt}}]({{header-img}})

Spring is a time of rebirth and renewal 🌱. When it feels like the global environmental movement could use some rejuvenation, we're happy to dig in and plant the seeds to help new environmental initiatives spring up.

To support this, we are offering **25%** off the first year price of new .eco domain registrations through our registrar partners. When you search for a [.eco domain](/search/), we have highlighted the domain retailers that are passing these savings on to you. Participating retailers include:
- [aHOST](/search/?registrar=ahost)
- [alldomains.hosting](/search/?registrar=alldomains-hosting)
- [bNamed.net](/search/?registrar=bnamed)
- [chilly.domains](/search/?registrar=chilly-domains)
- [Domain Cost Club](/search/?registrar=domain-cost-club)
- [Domaintechnik](/search/?registrar=domaintechnik)
- [DonDominio](/search/?registrar=dondominio)
- [GNAME](/search/?registrar=gname)
- [GoDaddy](/search/?registrar=godaddy)
- [Infomaniak](/search/?registrar=infomaniak)
- [INWX](/search/?registrar=inwx)
- [Joker.com](/search/?registrar=joker)
- [MrDomain](/search/?registrar=mrdomain)
- [name.com](/search/?registrar=name-com)
- [Namecheap](/search/?registrar=namecheap)
- [Netim](/search/?registrar=netim)
- [Netistrar](/search/?registrar=netistrar)
- [Openprovider](/search/?registrar=openprovider)
- [OVHCloud](/search/?registrar=ovh-cloud)
- [Porkbun](/search/?registrar=porkbun)
- [Spaceship](/search/?registrar=spaceship)
- [subreg](/search/?registrar=subreg)

This discount will be available from March 1 until May 31, so please hop to it 🐇. This deal also overlaps with .eco's birthday and Earth Day in April.

We are always working on ways to support and elevate the environmental community. If you have ideas or suggestions, <a class="chat-link" href="#">we’d love to hear from you</a>.

