---
collection: news
title: ".eco is certified carbon neutral - 2024"
excerpt: .eco has recertified as carbon neutral under PAS 2060 for the 2023/2024 fiscal year. All greenhouse gas emissions associated with operating the .eco top-level domain are accounted for and offset.
description: ".eco is certified carbon neutral under PAS 2060 for the 2024 fiscal year"
header-img: /img/news/cariboo-falls.webp
header-img-alt: Water flowing over Cariboo Falls, BC
pubdate: 2024-12-11
author: Eco Domain (.eco)
layout: article.hbs
og-image: opengraph/cariboo-falls-og.jpg
og-width: 1200
og-height: 630
page-path: news/eco-is-carbon-neutral-2024/
more:
- news/2023-eco-is-carbon-neutral/
- news/eco-is-carbon-neutral/
---

# {{title}}

## {{excerpt}}

![{{header-img-alt}}]({{header-img}})

### Our 2024 carbon footprint

Over our 2024 fiscal year (Oct 1 2023 &mdash; Sep 30 2024), we estimate that operating the .eco domain registry produced approximately [3.82 tonnes of CO<sub>2</sub>e]((/impact/ghg-report-2024/)). This represents a 5.34% reduction below our 2022 baseline. Most of the savings this year came from optimizing our home office emissions by converting some applicances from gas to electricity. We are looking to continue this work in 2025.

Our [Greenhouse Gas Emissions Report](/impact/ghg-report-2024/) was a bit more complicated this year as we opted to use the new version of the [Sustainable Web Design method](https://sustainablewebdesign.org/estimating-digital-emissions/) to estimate the emissions of our digital services. As the impact of this model change was material (ie. it changed our overall emissions by more than 5%), we decided to [recalculate our 2022 baseline](/news/rebaselining-carbon-footprint-2024/) using the new model. In the report, we calculated our footprint using both the old and new model, but going forward we will just use the figures from the new model.


### Carbon neutral certification

To guide us in measuring and validating our GHG footprint, we again worked with the fantastic folks at [Inhabit.eco](https://inhabit.eco). As in prior years, they certified our carbon neutral status under PAS 2060. PAS 2060 requires that we:
- account for 100% of Scope 1 and 2 emissions and all sources of Scope 3 emissions that represent more than 1% of total emissions
- report our esimated emissions in line with the [ISO 14064 Greenhouse Gas reporting standard](/impact/ghg-report-2024/)
- purchase carbon credits from an approved, high quality provider
- have a publicly available plan for reducing emissions
- verify all of this with an independent auditor

<p class="article-logo">
  <img src="/img/news/inhabit-logo.svg" class="invert-icon" style="width:60%" alt="Inhabit.eco logo">
</p>

Inhabit completed their assessment and you can read the full report [here](https://docs.google.com/presentation/d/1mbvFk_z2KmoGOu0u7d1VB7lEfVtNIbanwX-8I8CbkCU/edit#slide=id.g29cb805a1a0_0_53).

### Carbon removal with Klim.eco

To offset our residual emissions, we purchased carbon credits through [Klim.eco](https://www.klim.eco/en). Klim partners with farmers in Germany to sequester carbon in their soil through regenerative farming practices. In addition to capturing carbon, these practices also improve soil fertility, stengthen climate resilience and eliminate the use of chemical fertilizers. Klim's credits are verified by TÜV Rheinland in alignment with Verra VCS.

<p class="article-logo">
  <img src="/img/champion_logos/klim.svg" class="invert-icon" style="width:40%" alt="Klim.eco logo">
</p>

We were super happy to partner with a fellow member of the .eco community on this initiative. We acquired credits to offset 10 tonnes of emissions &ndash; covering almost three times what we emitted in the year.

### From PAS 2060 to ISO 18064

The British Standards Institute (BSI) have [superseded the PAS 2060 standard with ISO 14068](https://page.bsigroup.com/l/73472/2024-04-18/2c5zv8q) and will stop certifying new PAS 2060 claims as of January 1 2025. We applaud this move as ISO represents a more globally recognized standard and the move under ISO integrates the certification with the other standards in the ISO 14060 family. We will work to comply with ISO 14068 for next year's certification.

There are some changes introduced in ISO 14068. The new standard is more stringent as to the types of offsets it will accept: only removal offsets are valid for claiming carbon neutrality; abatement offsets will no longer be acceptable. It also requires full Scope 3 emissions reporting and that emissions reduction targets have to be science-based.

### Net Zero and SBTi

Last year, we set a goal of establishing a net zero target through the [Science-based Targets initiative](https://sciencebasedtargets.org/) (SBTi). Unfortunately, SBTi stopped accepting new applications from small-to-medium enterprises due to overwhelming demand. It appears that they have revamped their service offering and we will try to apply again this year. 

<p class="article-logo">
  <img src="/img/news/sbti.svg" class="invert-icon" style="width:60%" alt="Science-based Targets initiatve logo">
</p>

If you are a member of the .eco community also on the journey to net zero, <a class="chat-link" href="#">we’d love to hear from you</a>. We’d be happy to share your story with the rest of the .eco community.

