---
collection: news
title: "2025 Eco Events Calendar"
excerpt: Every year we recognize a number of eco-friendly event days and global conferences. Here's what we're supporting in 2025.
description: "The global environment event days recognized by the .eco registry"
header-img: /img/news/calendar-2025.webp
header-img-alt: Coffee cup on a daytimer
pubdate: 2025-01-16
author: Eco Domain (.eco)
layout: article.hbs
og-image: opengraph/calendar-2025-og.jpg
og-width: 1200
og-height: 630
page-path: news/eco-event-calendar/
more:
- news/eco-event-calendar-2024/

---

# {{title}}

## {{excerpt}}

<figure>
<img alt="{{header-img-alt}}" src="{{header-img}}">
<figcaption>
Photo by <a href="https://unsplash.com/@esteejanssens?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Estée Janssens</a> on <a href="https://unsplash.com/photos/white-ceramic-mug-with-coffee-on-top-of-a-planner-aQfhbxailCs?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
</figcaption>
</figure>

Every year, the United Nations and other international environmental organizations mark specific days to raise and focus awareness about global issues. These events often act in support of further the UN Sustainable Development Goals. Recognizing and amplifying these events is one way that .eco can act in solidarity with the environmental movement.

Here is the list of event days we recognize. If there are some important event days that you think we have missed, <a class="chat-link" href="#">please let us know</a>!

<div class="eco-event-table eco-event-sdg-shade">

|Event|Date|Sponsor|Social media hashtags|<abbr title="Sustainable Development Goals">SDGs</abbr>|
|-----|----|-------|---|--------|
|[International Day of Education](https://www.unesco.org/days/education)|Jan 24|<abbr title="United Nations Educational, Scientific and Cultural Organization">UNESCO</abbr>|#Education|![4. Quality education](/img/sdg/4-education.svg)|
|[World Wetlands Day](https://www.worldwetlandsday.org/)|Feb 2|<abbr title="United Nations Environment Programme">UNEP</abbr>|#WorldWetlandsDay<br>#ForWetlands|![6. Clean Water & Sanitation](/img/sdg/6-water.svg)![14. Life below water](/img/sdg/14-life-water.svg)![15. Life on land](/img/sdg/15-life-land.svg)|
|[Biodiversity COP16<br>Part 2](https://www.cbd.int/article/reconvene-cop16-rome-2024)|Feb 25-27|United Nations|#COP16|![14. Life below water](/img/sdg/14-life-water.svg)![15. Life on land](/img/sdg/15-life-land.svg)|
|[World Wildlife Day](https://wildlifeday.org/)|Mar 3|<abbr title="Convention on International Trade in Endangered Species of Wild Fauna and Flora">CITES</abbr>|#WorldWildlifeDay<br>#WWD2025|![15. Life on land](/img/sdg/15-life-land.svg)|
|[International Women’s Day](https://www.unwomen.org/news-stories/announcement/2024/12/international-womens-day-2025-for-all-women-and-girls-rights-equality-empowerment)|Mar 8|United Nations|#IWD2025<br>#AccelerateAction|![5. Gender equality](/img/sdg/5-gender.svg)|
|[Digital Cleanup Day](https://www.digitalcleanupday.org/)|Mar 15|Digital Cleanup Day|#digitalcleanupday|![13. Climate action](/img/sdg/13-climate-action.svg)|
|[International Day of Forests](https://www.fao.org/international-day-of-forests/)|Mar 21|<abbr title="Food and Agriculture Organization of the United Nations">UN FAO</abbr>|#IntlForestDay|![15. Life on land](/img/sdg/15-life-land.svg)|
|[World Water Day](https://www.unesco.org/days/world-water)|Mar 22|<abbr title="United Nations Educational, Scientific and Cultural Organization">UNESCO</abbr>|#WorldWaterDay|![6. Clean Water and Sanitation](/img/sdg/6-water.svg)|
|[International Day of Zero Waste](https://www.un.org/observances/zero-waste-day)|Mar 30|<abbr title="United Nations Environment Programme">UNEP</abbr><br>UN&nbsp;Habitat|#ZeroWasteDay|![12. Responsible consumption and production](/img/sdg/12-consumption-production.svg)|
|[World Health Day](https://www.who.int/europe/campaigns/world-health-day/)|Apr 7|<abbr title="World Health Organization">WHO</abbr>|#WorldHealthDay.|![3. Good health and well-being](/img/sdg/3-health.svg)|
|[Earth Day](https://www.earthday.org/)<br>(.eco’s birthday!)|Apr 22|Earth Day|#EarthDay|![17. Partnership for the goals](/img/sdg/17-partnership.svg)|
|[International Day for Biodiversity](https://www.cbd.int/biodiversity-day)|May 22|Convention on Biological Diversity|#BiodiversityDay|![14. Life below water](/img/sdg/14-life-water.svg)![15. Life on land](/img/sdg/15-life-land.svg)|
|[Hamburg Sustainability Conference](https://www.sustainability-conference.org/)|Jun 2-3|<abbr title="United Nations Development Programme">UNDP</abbr>|#HSC2025|![17. Partnership for the goals](/img/sdg/17-partnership.svg)|
|[World Environment Day](https://www.worldenvironmentday.global/)|Jun 5|<abbr title="United Nations Environment Programme">UNEP</abbr>|#WorldEnvironmentDay|![14. Life below water](/img/sdg/14-life-water.svg)![15. Life on land](/img/sdg/15-life-land.svg)|
|[World Ocean Day](https://unworldoceansday.org/)|Jun 8|United Nations|#WorldOceanDay|![14. Life below water](/img/sdg/14-life-water.svg)|
|[UN Ocean Conference UNOC3](https://unocnice2025.org/)|Jun 9-13|United Nations|#UNOC3|![14. Life below water](/img/sdg/14-life-water.svg)|
|[Show your Stripes Day](https://www.climatecentral.org/stripes-information)|Jun 21|Climate Central|#ShowYourStripes|![13. Climate action](/img/sdg/13-climate-action.svg)|
|[World Habitat Day](https://www.un.org/observances/habitat-day)|Oct 7|United Nations|#WorldHabitatDay|![11. Sustainable Cities and Communities](/img/sdg/11-sustainable-cities.svg)|
|[World Food Day](https://www.fao.org/world-food-day)|Oct 16|<abbr title="Food and Agriculture Organization of the United Nations">UN FAO</abbr>|#WorldFoodDay|![2. Zero hunger](/img/sdg/2-zero-hunger.svg)|
|[World Vegan Day](https://vegan-day.org/)|Nov 1|World Vegan Day|#VeganDay|![12. Responsible consumption and production](/img/sdg/12-consumption-production.svg)![13. Climate action](/img/sdg/13-climate-action.svg)|
|[Climate COP30](https://unfccc.int/)|Nov 10 - 21|<abbr title="United Nations Framework Convention on Climate Change">UNFCC</abbr>|#COP30|![13. Climate action](/img/sdg/13-climate-action.svg)|
|[World Soil Day](https://www.fao.org/world-soil-day/)|Dec 5|<abbr title="Food and Agriculture Organization of the United Nations">UN FAO</abbr>|#WorldSoilDay|![15. Life on land](/img/sdg/15-life-land.svg)|
|[Human Rights Day](https://www.un.org/observances/human-rights-day/)|Dec 10|United Nations|#HumanRightsDay|![16. Peace and justice](/img/sdg/16-justice.svg)|

</div>
