---
collection: news
title: "2024 Eco Events Calendar"
excerpt: Every year we recognize a number of eco-friendly event days and global conferences. This year we wanted to share our list.
description: "The global environment event days recognized by the .eco registry"
header-img: /img/news/calendar.webp
header-img-alt: Open dayplanner with some writing and dates
pubdate: 2024-01-18
author: Eco Domain (.eco)
layout: article.hbs
og-image: opengraph/calendar-og.jpg
og-width: 1200
og-height: 630
page-path: news/eco-event-calendar/
---

# {{title}}

## {{excerpt}}

<figure>
<img alt="{{header-img-alt}}" src="{{header-img}}">
<figcaption>
Photo by <a href="https://unsplash.com/@erothermel?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Eric Rothermel</a> on <a href="https://unsplash.com/photos/white-printer-paperr-FoKO4DpXamQ?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
</figcaption>
</figure>

Every year, the United Nations and other international environmental organizations mark specific days to raise and focus awareness about global issues. Recognizing and amplifying these events is one way that .eco can act in solidarity with the environmental movement.

Here is the list of event days we recognize. If there are some important event days that you think we have missed, <a class="chat-link" href="#">please let us know</a>!

<div class="eco-event-table">

|Event|Date|Sponsor|<abbr title="Sustainable Development Goals">SDGs</abbr>|Social media hashtags|
|-----|----|-------|---|--------|
|[International Day of Education](https://www.unesco.org/en/days/education)|Jan 4|UNESCO|![4. Quality education](/img/sdg/4-education.svg)|#Education|
|[World Wetlands Day](https://www.worldwetlandsday.org/)|Feb 2|UNEP|![6. Clean Water & Sanitation](/img/sdg/6-water.svg)<br>![14. Life below water](/img/sdg/14-life-water.svg)<br>![15. Life on land](/img/sdg/15-life-land.svg)|#WorldWetlandsDay<br>#ForWetlands|
|[World Water Day](https://www.unesco.org/en/days/world-water)|Feb 22|UNESCO|![6. Clean Water & Sanitation](/img/sdg/6-water.svg)|#WorldWaterDay|
|[World Wildlife Day](https://wildlifeday.org/en/about-us)|Mar 1|CITES|![15. Life on land](/img/sdg/15-life-land.svg)|#WorldWildlifeDay<br>#WWD2023|
|[International Women’s Day](https://www.unwomen.org/en)|Mar 8|United Nations|![10. Reduced inequalities](/img/sdg/10-inequality.svg)|#IWD2023|
|[Digital Cleanup Day](https://www.digitalcleanupday.org/)|Mar 16|Digital Cleanup Day|![13. Climate action](/img/sdg/13-climate-action.svg)|#digitalcleanupday|
|[International Day of Forests](https://www.fao.org/international-day-of-forests/en/)|Mar 21|UN FAO|![15. Life on land](/img/sdg/15-life-land.svg)|#IntlForestDay|
|[Earth Day](https://www.earthday.org/)<br>(.eco’s birthday!)|Apr 22|Earth Day|![17. Partnership for the goals](/img/sdg/17-partnership.svg)|#EarthDay|
|[World Environment Day](https://www.worldenvironmentday.global/)|Jun 5|UNEP|![14. Life below water](/img/sdg/14-life-water.svg)<br>![15. Life on land](/img/sdg/15-life-land.svg)|#WorldEnvironmentDay|
|[World Ocean Day](https://unworldoceansday.org/)|Jun 8|United Nations|![14. Life below water](/img/sdg/14-life-water.svg)|#WorldOceanDay|
|[Show your Stripes Day](https://www.climatecentral.org/climate-matters/showyourstripes-day-2023)|Jun 21|Climate Central|![13. Climate action](/img/sdg/13-climate-action.svg)|#ShowYourStripes|
|[SDG Summit](https://www.un.org/en/conferences/SDGSummit2023)|Sep 18-19|United Nations|![17. Partnership for the goals](/img/sdg/17-partnership.svg)|#SDGSummit<br>#SDG|
|[World Habitat Day](https://www.un.org/en/observances/habitat-day)|First Monday of Oct|United Nations|![11. Sustainable Cities and Communities](/img/sdg/11-sustainable-cities.svg)|#WorldHabitatDay|
|[World Vegan Day](https://vegan-day.org/en/)|Nov 1|World Vegan Day|![2. Zero hunger](/img/sdg/2-zero-hunger.svg)<br>![12. Responsible consumption and production](/img/sdg/12-consumption-production.svg)<br>![13. Climate action](/img/sdg/13-climate-action.svg)<br>|#VeganDay|
|[Climate Conference of the Parties](https://unfccc.int/)|Nov 11 - 14|UNFCC|![13. Climate action](/img/sdg/13-climate-action.svg)|#COP29|
|[World Soil Day](https://www.fao.org/world-soil-day/en/)|Dec 5|UN FAO|![15. Life on land](/img/sdg/15-life-land.svg)|#WorldSoilDay|

</div>
