---
collection:
- news
- studies
title: "GoodOnYou.eco - .eco champion"
excerpt: Is my wardrobe bad for the planet? The fashion industry is one of the most polluting and is notorious for labour abuses. Making ethical fashion choices is a serious challenge for consumers.
description: "Want Green Fashion? There’s an app for that."
header-img: /img/champion_logos/goodonyou.webp
header-img-alt: Woman is informed of the rating of different clothing items while shopping
pubdate: 2017-04-18
author: Eco Domain (.eco)
layout: article.hbs
og-image: champion_logos/goodonyou.webp
og-width: 910
og-height: 303
page-path: champions/goodonyou/
---

# {{title}}

## {{excerpt}}

![{{header-img-alt}}]({{header-img}})

_At .eco, we are fortunate to be surrounded by a community of businesses, organizations and individuals working hard to protect our planet. We are honoured to spread the word about the great work they're doing. If you are a member of the .eco community and would like to be featured, [get in touch with us](mailto:support@bigroom.eco)._

“Many people are motivated to make ethical shopping choices but it was just too hard to find out how brands impact people, animals and the environment,” said Sandra Capponi. Along with Gordon Renouf, Sandra created Good On You, an ethical shopping platform and app for learning how online and bricks-and-mortar clothing brands impact the planet.

Shoppers use Good On You to search for specific brands or browse by category. Each fashion retailer is rated on a five-point system based on more than 50 certifications, standards and NGO rating initiatives. “The information is already out there,” said Sandra, “We bring it all together in one place with Good On You, which makes it easy for anyone to shop to their values.” The app has also become an effective way for emerging ethical fashion brands to connect with conscientious shoppers with special offers.

Shoppers find the app at [GoodOnYou.eco](https://goodonyou.eco). “We saw a lot of value in using a .eco domain for Good On You,” said Sandra. “It immediately demonstrates our commitment to environmental sustainability. Being part of the .eco community helps us shine a brighter light on these important issues.”

This year, Good On You will expand to include cosmetics brands. Shop more ethically with [GoodOnYou.eco](https://goodonyou.eco).

<aside class="inverted" title=".eco champion details">
  <ul>
    <li><strong>Domain</strong>: <a href="https://goodonyou.eco">goodonyou.eco</a> (<a href="https://profiles.eco/goodonyou">.eco profile</a>)</li>
    <li><strong>Community member since</strong>: Apr 2017</li>
    <li><strong>Retailer</strong>: Namecheap</li>
  </ul>
</aside>
