---
collection: news
title: "6 Mastodon tips for marketers"
excerpt: If you are a business or non-profit considering the move to Mastodon, here are a few things we've found to be helpful.
description: "Some simple ways that businesses and non-profits can get started with Mastodon"
header-img: /img/news/mastodon.jpg
pubdate: 2022-12-08
author: Eco Domain (.eco)
layout: article.hbs
og-image: opengraph/mastodon-og.jpg
og-width: 1200
og-height: 630
page-path: news/mastodon-for-marketers/
---

# {{title}}

## {{excerpt}}

<figure>
<img alt="Wooden Mastodon sculpture by Guthrie Gloag" src="{{header-img}}">
<figcaption>
<a href="http://guthriegloag.com/mastodon-project">"Mourn" an American Mastodon (M. americanum)</a>. Artist: Guthrie Gloag
</figcaption>
</figure>

Here at .eco HQ, we’ve been following the growth of Mastodon with interest. The environmental movement has always been grassroots, bottom-up, and community-centric. We see that Mastodon has the potential to support that in a way that isn’t entirely met within the walled gardens of the dominant social networks.

So far, most of the growth on Mastodon has been personal accounts. We’ve seen relatively few businesses and non-profits set up a presence on the platform. This is perhaps understandable as migrating to a new social platform is a pretty daunting task. However, as marketing professionals, campaigners or community organizers, we need to go where our customers or members are. So if you’re looking to dip your toe into the Mastodon pool, here are **6 tips** that we’ve found to be helpful in taking the leap.

### 1. Just get started already
The first barrier that everyone encounters when getting started with Mastodon is figuring out which server to join. This decision is not to be taken lightly as different instances will have their own flavor and you may want to make sure it aligns with your brand. You will also be beholden to the policies and operational capabilities of the maintainer of that instance.

That said, Mastodon makes it relatively easy [to migrate to other instances](https://docs.joinmastodon.org/user/moving/). Given that it’s a bit of the Wild West out there, it’s best to approach this with the expectation that **changing instances may be necessary at some point**. With Twitter, there’s no real built-in support to migrate to a different social media platform; whereas with Mastodon it’s a feature of the ecosystem, so the experience is going to continue to improve.

Another option is to [run your own Mastodon instance](https://martinfowler.com/articles/your-org-run-mastodon.html). This may be where larger organizations with dedicated IT staff end up as it gives them more control. But it does bypass the community-centric nature of Mastodon.

If you or your organization care about sustainability and the environment, we suggest trying out [mastodon.eco](https://mastodon.eco/). Come join us there!

> **Protip:** when you create your Mastodon account, make sure that your Mastodon address matches your Twitter profile. This will make it much easier for others migrating from Twitter to Mastodon to find you (see more below).

### 2. Let everyone know you’re on Mastodon
Now that your Mastodon account is set up, you need to let folks know where to find you. We recommend **including your Mastodon address in your Twitter profile**. If you’re fully on the Twitter Exit train, we’ve seen some people change their name on Twitter to their Mastodon account. This will ensure that it clearly shows up in all of Twitter posts. But we imagine that most of you aren’t ready to burn that bridge quite yet.

You should also include your Mastodon address in the various places that you showcase your other social media accounts, such as your website footer. If you’re looking for a Mastodon icon to use, the Mastodon organization has [branding guidelines on their site](https://joinmastodon.org/branding).

If you are a member of the .eco community, you can also now include a link to your Mastodon account on your .eco profile. We’ve included [an example on ours](https://profiles.eco/bigroom).

### 3. Migrating followers
Your organization may have thousands of followers on Twitter. Trying to regain all of those followers on Mastodon seems like an impossible undertaking. Given its decentralized nature, how do you even figure out where someone is on Mastodon?

Fortunately there are tools, like [Debirdify]() and [Fedifinder](https://fedifinder.glitch.me/), that make automating this a bit easier. By connecting these tools to your Twitter account, they will go through all of your Twitter followers and followed accounts and attempt to match them with accounts across the Fediverse. These services will then provide you with a file that you can import into your Mastodon account. Hopefully those imported will choose to follow you back.

As many of your followers may not yet have accounts on Mastodon, you may need to **run this import on a regular basis** so that you are able to rebuild as much of your presence as possible.

### 4. Posting
Every social media platform has its own flavor. Cross-posting across different social media platforms doesn’t always work. What works on Twitter does not work that well on Instagram. For the most part, posts on Twitter and Mastodon are pretty similar and cross-posting works. It may still be wise to tailor the message, at least slightly, as the audience and conventions may differ. If you want to save yourself the extra clicks, [moa.party](https://moa.party/) enables you to post to both platforms at once.

Also, Mastodon does not currently have built-in support for scheduling posts. For those of us with a global customer base, staying up all night to time your posts isn’t really going to fly. Fortunately, there are tools that are being added to extend Mastodon. For scheduled posting, one option is [Mastodon Scheduler](https://www.scheduler.mastodon.tools/).

### 5. Analytics
Mastodon doesn’t currently have a built-in analytics service like [analytics.twitter.com](https://analytics.twitter.com/), so you will have less visibility into impressions and interactions will have to be tabulated manually. Mastodon is extensible and it’s just a matter of time before analytics solutions become available.

If you use Google Analytics, one thing to be aware of is that links on Mastodon open by default using the `noreferrer` attribute. **This means that clicks from your posts will show up in GA under the dreaded Direct channel**. To counteract this, you can use UTM parameters. Try adding these parameters to all links included in your post `?utm_source=mastodon&utm_medium=social`.

### 6. No ads
If you were heavily invested in Twitter Ads to get your message out, you’re out of luck on Mastodon. The platform is currently ad-free. It’s conceivable that some instance maintainers could introduce ads in order to subsidize the cost of maintaining the servers in the future. But for now, you have to get your message out the old fashioned way.

### That’s a wrap
Given that Mastodon is still a very new platform to market on, it’s likely that the landscape will change significantly over the next 12 months. If you’ve found these tips to be helpful or if you thought of something that we missed, we’d love to hear. Let us know by [email](mailto:support@bigroom.eco) or [chat](javascript:Intercom('show')).


