---
title: .eco TLD Configuration
description: .eco top-level domain configuration details for registrars
page-path: registrars/configuration/
og-image: opengraph/building-og.png
og-width: 1200
og-height: 630
active: registrars
---

<div class="jumbotron registrar-header">
	<div class="container">
		<h1>.eco Configuration</h1>
    <p>Key configuration settings for the .eco top-level domain</p>
	</div>
</div>

<section class="section policy">
	<div class="container">
    <h2>General configuration</h2>
    <p>
      The configuration details on this page are primarily for the information of current or prospective .eco retailers.
      If you are a .eco registrant and have questions about the configuration of your .eco domain or how to enable particular features, please contact your domain retailer (where you registered your .eco domain).
    </p>
    <table class="table table-striped table-bordered">
      <thead>
        <tr><th>Property</th><th>Value</th></tr>
      </thead>
      <tbody class="table-group-divider">
        <tr>
          <td>Domain length</td><td>1 - 63 characters</td>
        </tr>
        <tr>
          <td>Registration term</td><td>1 - 10 years</td>
        </tr>
        <tr>
          <td>On domain expiry</td><td>Auto-renew</td>
        </tr>
        <tr>
          <td>Privacy supported</td><td>Yes</td>
        </tr>
        <tr>
          <td>Transfer lock supported</td><td>Yes</td>
        </tr>
        <tr>
          <td>Authorization code required for transfer</td><td>Yes</td>
        </tr>
        <tr>
          <td>Number of hosts / name servers</td><td>0 or 2 - 13</td>
        </tr>
        <tr>
          <td>Premiums</td><td>Yes (Supporting EPP fee extensions: 0.9, 0.11, 1.0)</td>
        </tr>
        <tr>
          <td>Internationalized domain names (IDNs)</td><td>Not at this time</td>
        </tr>
        <tr>
          <td>DNSSEC</td><td>Yes (Algorithms: 3, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16)</td>
        </tr>
        <tr>
          <td>Registry lock</td><td><a href="/registrars/registry-lock/">Yes</a></td>
        </tr>
        <tr>
          <td>Contacts</td><td>Registrant required; other contact types are optional. See <a href="/policies/registration-data/">Registration Data Policy</a> for details.</td>
        </tr>
        <tr>
          <td>Resellers</td><td>Support for <a href="https://datatracker.ietf.org/doc/html/rfc8543/">IETF RFC 8543</a></td>
        </tr>
        <tr>
          <td>Whois</td><td>whois.nic.eco:43 or <a href="https://go.eco/whois/">https://go.eco/whois/</a></td>
        </tr>
        <tr>
          <td>RDAP</td><td><a href="https://rdap.eco.fury.ca/rdap/">https://rdap.eco.fury.ca/rdap/</a></td>
        </tr>
        <tr>
          <td>Registry policies</td><td><a href="https://go.eco/policies/">https://go.eco/policies/</a></td>
        </tr>
        <tr>
          <td>Registry support email</td><td><a class="email-link" data-name="support" data-domain="bigroom.eco">support@bigroom.eco</a></td>
        </tr>
        <tr>
          <td>Registry support site</td><td><a href="https://support.go.eco/">https://support.go.eco/</a></td>
        </tr>
        <tr>
          <td>General availability</td><td>2017-04-22</td>
        </tr>
      </tbody>
    </table>
	</div>

	<div class="container">
		<h2>Domain lifecycle</h2>

    <table class="table table-striped table-bordered">
      <thead>
        <tr><th>Lifecycle period (EPP Status codes)</th><th>Duration (days)</th></tr>
      </thead>
      <tbody class="table-group-divider">
        <tr>
          <td>addPeriod</td><td>5</td>
        </tr>
        <tr>
          <td>autoRenewPeriod</td><td>45</td>
        </tr>
        <tr>
          <td>pendingDelete</td><td>5</td>
        </tr>
        <tr>
          <td>pendingRestore</td><td>5</td>
        </tr>
        <tr>
          <td>redemptionPeriod</td><td>30</td>
        </tr>
        <tr>
          <td>renewPeriod</td><td>5</td>
        </tr>
        <tr>
          <td>transferPeriod</td><td>5</td>
        </tr>
      </tbody>
    </table>    
  </div>

	<div class="container d-flex justify-content-end">
		<a href="/registrars/" class="btn btn-primary">Back to Registrars page</a>
	</div>
</section>
