---
title: Domain Grants | .eco
description: Receive a .eco domain for free for the first year for eligible non-profits
page-path: grants/
og-image: opengraph/sewing-og.jpg
og-width: 1200
og-height: 630
active: grants
header-image: /img/sewing-hero.jpg
faq: true
---
<link rel="preload" as="image" href="{{header-image}}">

<div class="jumbotron grants-header">
 <div class="container">
	 <h1>.eco Domain Grants</h1>
 </div>
</div>

<div class="section section-grants policy">
  <div class="container">
  <h2>Get a free .eco domain</h2>

  <p>Are you looking to launch a website for a new environmental non-profit or campaign? We can help get you started.</p>

  <p>One way that we help the global environmental community is through our <strong>Domain Grants Program</strong>. We give a .eco domain name for <strong>free</strong> for the first year of registration to eligible non-profits. Simply complete this short questionnaire. We will review your application and be in touch.</p>

  <p>
    <a href="https://forms.gle/kQU5eNMpZ16qfYjC9" class="btn btn-primary text-center d-block mx-auto" style="width: 300px">Request a .eco domain</a>
  </p>
  </div>
</div>

<div class="section section-grants-faq policy inverted">
  <div class="container">
    <h2>Frequently asked questions</h2>

    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
      <h3 itemprop="name">Can I get a free .eco domain name?</h3>
      <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <p itemprop="text">We grant access to a .eco domain name for <strong>free</strong> for the first year of registration to eligible applicants. This will enable you to get your website up and running to grow and engage your membership without bearing the cost of a domain name.</p>
      </div>
    </div>

    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
      <h3 itemprop="name">Am I eligible to receive a free .eco domain name?</h3>
      <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <p itemprop="text">Domains are granted to eligible <strong>non-profit organizations</strong> with an environmental mission and a focus on engaging citizens to act in support of our planet. We prioritize applications from developing nations where the cost of domain name registration is a more significant barrier to getting started.</p>
      </div>
    </div>

    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
      <h3 itemprop="name">What kind of .eco domain name can I get?</h3>
      <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <p itemprop="text">You can receive an available .eco domain name that matches or is similar to your organization name. You may submit a few requested domain names for consideration. Please check if your <a href="https://go.eco/search/">preferred .eco domain names are available</a>.</p>
      </div>
    </div>

    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
      <h3 itemprop="name">What are my obligations if I am granted a domain name?</h3>
      <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <p itemprop="text">We would like to ensure that your granted domain name is put in use as soon as possible so that you can gain the greatest benefit from the free first year of registration. We require that your .eco profile is activated within the first month of receiving the domain grant and that a website is set up using the granted domain name within 6 months of granting. Please view the <a href="/grants/terms/">Domain Grant terms and conditions</a> for details.</p>
      </div>
    </div>
  </div>
</div>
