---
collection:
- news
- studies
title: "Netto: .eco champion"
excerpt: There is huge potential in reducing the climate pollution from buildings. Netto is helping banks figure out where to focus.
description: "We connected with Netto CEO Erlend Bolle about how they are helping banks improve the energy efficiency of their portfolio of commerical buildings."
header-img: /img/champion_logos/netto.webp
header-img-alt: "The top of a brick-clad commercial building and blue sky."
pubdate: 2025-06-24
author: Eco Domain (.eco)
layout: article.hbs
og-image: champion_logos/netto.png
og-width: 1200
og-height: 630
page-path: champions/netto/
---

# Netto: .eco&nbsp;champion

## {{{excerpt}}}

![{{header-img-alt}}]({{header-img}})

_We connected with **Erlend Bolle**, CEO of [Netto](https://netto.eco/), a Norwegian software company helping banks improve the energy efficiency of commerical buildings._

### At Netto, how are you working to reduce climate pollution?

Buildings are responsible for almost [40% of global CO<sub>2</sub> emissions](https://www.unep.org/resources/report/global-status-report-buildings-and-construction). By helping banks upgrade these properties to greener options, we’re unlocking one of the biggest issues concerning emission reduction: how capital is allocated. Things often don’t change until you shine a light on them. Netto does that with the inefficiencies in commercial real estate and green financing.

### Why focus on the banking industry?

Banks hold the greatest leverage, they can either entice or force the building owners to act through better rates, financing access, or compliance pressures. Shift the banks, and the buildings follow. Plus, if [banks make the transition to net zero](https://netto.eco/en/blog/net-zero-by-2050) both faster and more efficient, we all win. 

### How does your software help banks make better property financing decisions? 

We start by identifying data gaps and supplying missing insights, then provide each building a net-zero transition plan. The software acts as a bridge connecting banks to the property owners in a way that wasn’t happening before. One of our most powerful tools is [asset-level risk scoring](https://netto.eco/en/blog/transition-risk-in-property-portfolios), helping banks understand exposure across their portfolios, everything from regulatory risk to climate risk. From there, we recommend the best upgrades based on building specs and energy data, including how much financing each asset can support. The result? Lower risk, and more green lending for the bank, as well as future-proofed buildings, and lower energy bills and emissions for the customer.

### What types of buildings have the greatest potential for energy savings and emissions reduction? 

We’re focused on commercial properties, the low-hanging fruit, as it were. This is where up to 90% are rated below C and many lack basic energy data. Large, older buildings are often the worst offenders and the biggest opportunities. But residential real estate and infrastructure are also huge opportunities so we have our eyes there as well.

### Why did you choose a .eco domain for your business?

The reason my co-founders and I set this business up is that we wanted to help safeguard the future in some way. A .eco domain seemed the right way to underscore the purpose of our mission, and the positive impact on the environment we’d like to have with Netto when all is said and done. 

<aside class="inverted" title=".eco champion details">
  <ul>
    <li><strong>Domain</strong>: <a href="https://netto.eco/">netto.eco</a> (<a href="https://profiles.eco/netto">.eco profile</a>)</li>
    <li><strong>Community member since</strong>: Jan 2024</li>
    <li><strong>Domain retailer</strong>: GoDaddy</li>
  </ul>
</aside>

At .eco, we are fortunate to be surrounded by a community of businesses, organizations and individuals working hard to protect our planet. We are honoured to spread the word about the great work they're doing. If you are a member of the .eco community and would like to be featured, [get in touch](mailto:support@bigroom.eco).

