---
collection:
- news
- studies
title: "Green Worx - .eco champion"
excerpt: A leading manufacturer and supplier of eco-friendly cleaning products across Africa.
description: "African-made eco-friendly cleaning products"
header-img: /img/champion_logos/greenworx.webp
header-img-alt: Green Worx logo, cleaning product and potted plants
pubdate: 2023-07-10
author: Eco Domain (.eco)
layout: article.hbs
og-image: opengraph/greenworx-og.png
og-width: 1200
og-height: 600
page-path: champions/greenworx/
---

# {{title}}

## {{excerpt}}

![{{header-img-alt}}]({{header-img}})

_We talked to **John Coetzee**, CEO of [Green Worx Cleaning Solutions](https://greenworx.eco/), about his journey to build South Africa’s foremost eco-accredited bio-technology company._

### What motivated you to start Green Worx?
My passion is to see the world cleaner, healthier and with less environmental and health issues. We want to educate the globe, starting with Africa, that conscientiousness, superior, sustainable and affordable cleaning solutions are a reality.

### How is Green Worx different from other cleaning solution companies in Africa and abroad?
We do way more than clean your conscience. We strive to make the world a greener, cleaner, smarter place by providing innovative, effective and high-quality products and solutions. 
We do not hedge our bets in supplying conventional cleaning chemicals, we only supply and manufacture eco-friendly products. 
With **ISO 14001**, **Global GreenTag**, **SABS** and **Green Building Council of South Africa (GBCSA)** certification, you can rest assured that when we say we mean clean, we deliver &ndash; without damaging you or the environment.

Green Worx services the South African market through a trusted network of distribution partners. These distributors are committed to quality service, green practices, sustainable cleaning and smart facilities management. With a view to facilitate job creation and empowerment, the distributor becomes a Green Worx regional business owner. With this approach, each distributor takes ownership of his/her region, ensuring customer satisfaction.

### Green Worx has achieved a wide range of certifications. Which was the most difficult to attain? Which one do you see as the most meaningful?
All our sustainability certifications are equally meaningful. None of our certifications were difficult to achieve as the accolades followed our planned conscientiousness and ethical strategies to develop and bring to market the most sustainable green cleaning products in Africa.

### What is the greatest challenge that Green Worx is facing?
The greatest challenge is to convince more people to go green &ndash; how else are we going to challenge climate change?

### What’s the story behind selecting your .eco domain?
Following market research we realised that our then domain was too complicated. **.eco** was a brilliant new addition bringing more people to our website every day.

<aside class="inverted" title=".eco champion details">
  <ul>
    <li><strong>Domain</strong>: <a href="https://greenworx.eco">greenworx.eco</a> (<a href="https://profiles.eco/greenworx">.eco profile</a>)</li>
    <li><strong>Community member since</strong>: Feb 2022</li>
    <li><strong>Retailer</strong>: Namecheap</li>
  </ul>
</aside>

_At .eco, we are fortunate to be surrounded by a community of businesses, organizations and individuals working hard to protect our planet. We are honoured to spread the word about the great work they're doing. If you are a member of the .eco community and would like to be featured, [get in touch](mailto:support@bigroom.eco)._

