---
collection:
- news
- studies
title: "SKOOT - .eco champion"
excerpt: 
description: "SKOOT helps businesses and individuals understand their carbon footprint and take climate action."
header-img: /img/champion_logos/skoot.webp
header-img-alt: "Skoot.eco logo against jungle background"
pubdate: 2024-01-22
author: Eco Domain (.eco)
layout: article.hbs
og-image: opengraph/skoot-og.png
og-width: 1200
og-height: 630
page-path: champions/skoot/
---

# {{title}}

## {{excerpt}}

![{{header-img-alt}}]({{header-img}})

_Recently named one of the [UK's most innovative new businesses](https://skoot.eco/articles/skoot-named-among-uks-most-innovative-new-businesses), we spoke with **Naomi Marden**, SKOOT's Head of Operations, about how they are helping businesses and individuals take climate action._

### How does SKOOT help businesses and individuals understand and address their climate impact?

SKOOT is an award-winning Top 5% [B Corp](https://www.bcorporation.net/find-a-b-corp/company/skootridecom-ltd/) with a mission to help people make a positive climate impact today.

SKOOT empowers businesses and individuals through a multifaceted approach. Our [carbon calculator](https://skoot.eco/solutions/carbon-calculator) is a user-friendly tool, allowing SMEs to easily estimate the carbon footprint of their employees, travel, and office. Within hospitality, [Eco-contribution](https://skoot.eco/solutions/eco-contribution) is a direct way for hotels, events, and restaurants to enable their guests to make a small contribution towards environmental and humanitarian projects.

By utilizing these tools, SKOOT facilitates education, awareness, and tangible action to address climate impacts. Through a SKOOT Life subscription or a holistic carbon offset model for corporations, we help users counter their emissions. All these contributions go towards reforestation, collecting ocean-bound plastics, restoring coral reefs, and certified carbon reduction and removal projects. These certified initiatives cover clean water for impoverished communities, improved cookstoves to reduce indoor smoke, renewable electricity and many more projects globally.

### SKOOT started out in the personal mobility space. Why did you choose to pivot and focus on carbon footprint and offset solutions?

SKOOT was a carbon negative mobility business focussed on providing solutions for congestion, reducing transport greenhouse gas emissions, and providing affordable solutions in leisure and commuting.

As we grew, we noted a growing awareness and demand for affordable and in-the-moment solutions to stop climate change. Being specialists in travel, we saw the need to help the hospitality sector where close to **25% of carbon emissions come from hospitality and food production**. In January 2022, this led to an evolution to the wider SKOOT ECO platform. This pivot transformed the company to a provider of tools for businesses and individuals to combat climate change.

### With a carbon-negative workforce, how is SKOOT working to address the carbon footprint of its business and employees?

SKOOT is committed to maintaining a carbon-negative workforce. The SKOOT platform is 100% green and we encourage remote work to minimise commuting emissions. We offset our remaining carbon footprint through our tree planting and carbon reduction projects from around the world. Additionally, our transparent reporting ensures accountability, creating a culture where every team member is actively involved in the carbon reduction efforts of the company.

We give all businesses the ability to offer [SKOOT Life](https://www.skootlife.eco/) as a benefit for staff for carbon positive living from as little as $2 a month. 

![SKOOT team photo](/img/champion_logos/skoot-team.webp)

### As a Top 5% B Corp, any tips or guidance on becoming B Corp certified? What benefits have you seen from becoming a B Corp?

Achieving B Corp certification requires a legal commitment to the triple bottom line which includes people, planet, and profit. Begin by aligning your company's values with the B Corp standards. Engage your team and stakeholders in the process, ensuring transparency and accountability. And go in eyes wide open. It takes real commitment to become a B Corp and it is not just a badging exercise. 

The benefits of B Corp certification include enhanced credibility, access to a like-minded community, and a framework for continuous improvement. It aligns perfectly with our 'win-win' values, as it benefits not just the environment but also the community and stakeholders as well as financial profit.

### How did you end up selecting a .eco domain for your company?

Choosing a .eco domain aligns with SKOOT's commitment to environmental responsibility. The .eco domain signifies SKOOT's dedication to sustainability and provides a clear online identity that resonates with our mission. It serves as a symbol of our company's values and underscores our position as a leader in eco solutions.

<aside>
  <ul>
    <li><strong>Domain</strong>: <a href="https://skoot.eco">skoot.eco</a> (<a href="https://profiles.eco/skoot">.eco profile</a>)</li>
    <li><strong>Community member since</strong>: Nov 2021</li>
    <li><strong>Domain retailer</strong>: domaindiscount24</li>
  </ul>
</aside>

At .eco, we are fortunate to be surrounded by a community of businesses, organizations and individuals working hard to protect our planet. We are honoured to spread the word about the great work they're doing. If you are a member of the .eco community and would like to be featured, [get in touch](mailto:support@bigroom.eco).

