---
collection: news
title: "2024 Eco Web Hosting Review"
excerpt: "How many .eco websites are using eco-friendly web hosting in 2024? We reviewed all active .eco domains to find out."
description: "Review of all active .eco domains and websites to analyze the number that are using eco-friendly hosting."
header-img: /img/news/server-rack.webp
header-img-alt: Server rack in a data center
pubdate: 2024-09-17
author: Eco Domain (.eco)
layout: article.hbs
og-image: opengraph/server-rack-og.jpg
og-width: 1200
og-height: 630
page-path: news/2024-eco-web-hosting-review/
more:
- news/2023-eco-web-hosting-review/
- news/eco-friendly-hosts-results/
- news/finding-a-green-domain-retailer/
- news/green-web-check-ecolabel/

---

# {{title}}

## {{excerpt}}

<figure>
<img alt="{{header-img-alt}}" src="{{header-img}}">
<figcaption>
Image by <a href="https://pixabay.com/users/dlohner-4631193/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=3100049">dlohner</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=3100049">Pixabay</a>
</figcaption>
</figure>

Part of our mission at .eco is to help people make more **eco-friendly technology choices**. One of the most consequential decisions that you make when setting up a new website is choosing your web hosting provider. That’s why whenever someone [searches for a .eco domain on this site](/search/), we highlight domain retailers and web hosts that are [operating more sustainably](/news/finding-a-green-domain-retailer/), such as by being powered by renewable energy, running a highly energy-efficient data center or having clear environmental policies and commitments.

To better understand how many people are heeding this advice, we annually review all active .eco domains to see who is using sustainable web hosting. We do this by checking those domains against [Green Web Check](https://www.thegreenwebfoundation.org/green-web-check/) from the Green Web Foundation.

This is our third year doing this analysis. Over the course of the past three years, we’ve seen a steady increase in the number of .eco domains using eco-friendly web hosting. [In 2022](/news/eco-friendly-hosts-results/), we found that **31%** of active .eco domains were hosted sustainably. [In 2023]((/news/2023-eco-web-hosting-review/), this jumped to **40%**. 

### 2024 Results

As of September 12, 2024, **42%  of active .eco domains** use an eco-friendly web hosting provider. This is a modest increase from last year.

.eco domains use 154 different green web hosting providers, up 13% from last year. This increase is likely due to the continued growth of web hosting providers signing up for the [Green Hosting Directory](https://www.thegreenwebfoundation.org/tools/directory/).

Here are the **top 10** eco-friendly hosting providers with the largest number of .eco domains:

| Hosting provider | # of sites | % of active domains | % of eco-friendly websites |
| -----------------| ---------- | ------------------- | -------------------------- |
| [Cloudflare](https://www.cloudflare.com/impact/) | 569 | 9% | 21% |
| [Google and Firebase](https://sustainability.google/) | 363 | 6%  | 15% |
| [OVH](https://corporate.ovhcloud.com/en/sustainability/environment/) | 363 | 6% | 15% |
| [Amazon AWS](https://sustainability.aboutamazon.com/) | 342 | 6% | 14% |
| [Hetzer](https://www.hetzner.com/unternehmen/umweltschutz/) | 138 | 2% | 6% |
| [IONOS](https://www.ionos.com/environment) | 82 | 1% | 3% |
| [Domeneshop](https://domainname.shop/about) | 75 | 1% | 3% |
| [Infomaniak](https://www.infomaniak.com/en/ecology) | 62 | 1% | 2% |
| [InternetX](https://www.internetx.com/en/internetx/green-economy/) | 79 | 1% | 3% |
| [Microsoft Azure](https://azure.microsoft.com/en-gb/explore/global-infrastructure/sustainability) | 52 | 1% | 2% |

### Is 42% any good?

On its own, it’s hard to know whether 42% of .eco domains using eco-friendly hosting is any good without a frame of reference. We need a baseline that we can compare against.

Given the size and scope of the Internet, it’s not feasible to include every website out there, so we need a representative sample. We opted to use the [Cloudflare Radar](https://radar.cloudflare.com/domains) list of the top 10,000 most popular websites ([based on](https://developers.cloudflare.com/radar/glossary/#domain-rankings) the number of requests via their DNS resolvers).

Running Cloudflare Radar’s top 10,000 websites through the Green Web Check, we found that **42%** of those websites use eco-friendly hosting, basically the same proportion of sites as for the list of .eco domains. This seemed to suggest that the .eco community was on par with the rest of the Internet.

However, it is not exactly a fair comparison. The Cloudflare Radar consists almost entirely of popular, high traffic websites. Closer analysis of the list of active .eco domains includes many sites that don’t resolve or redirect to a non-.eco domain or point to temporary landing or parking pages. Filtering those websites out gives a fairer comparison.

By removing those domains, we end up with **52%** of accessible .eco websites using eco-friendly web hosting. This is 10% above the Cloudflare benchmark. But 52% is a barely passing grade and it feels like there is lots of opportunity for improvement. We recognize that we also have work to do as some of our websites are not showing as using green hosting (this is due to the CDN we are using not being marked as green, even though the origin server where the data is hosted is).
 
### What’s next

If you want to know if your website is using eco-friendly web hosting, you can enter your domain into the [Green Web Check](https://www.thegreenwebfoundation.org/green-web-check/). If your site is using a green host and you are using a .eco domain name, you can add a badge to your [.eco profile](https://profiles.eco/profile/certification/green-web-check) showing that. [Here’s how to do it](/news/green-web-check-ecolabel/).

If your site isn’t using an eco-friendly host, check out our [post on eco-friendly domain retailers](https://go.eco/news/finding-a-green-domain-retailer/) - they also offer web hosting services.

Let’s work together to achieve a **fossil-fuel free Internet by 2030**. Choosing a sustainable web hosting provider is a great place to start.
