	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-1">
					<a href="https://www.bcorporation.net/community/big-room-inc"><img class="bcorp-logo" alt="B Corporation logo" src="{{img-root}}/bcorp.png" /></a>
				</div>
				<div class="col-sm-2">
					<a href="https://climatesmartbusiness.com/"><img class="climate-smart" alt="Climate Smart logo" src="{{img-root}}/climate-smart-logo.png" /></a>
				</div>


				<div class="col-sm-2">
					<ul>
						<li><a href="/registrars/">Becoming a Registrar</a></li>
						<li><a href="/registrars/funding/">Funding Your Account</a></li>
						<li><a href="/registrars/resources/">Registrar Resources</a></li>
						<li><a href="/registrars/policies/">Registry Policies</a></li>
						<li><a href="/registrars/partners/">Registar Partners</a></li>

					</ul>
				</div>
				<div class="col-sm-2">
					<ul>
						<li><a href="/community/tradenames/">Tradenames</a></li>
						<li><a href="/community/grants">Grants Program</a></li>
						<li><a href="https://org.eco">.eco Governance</a></li>
						<li><a href="/champions/">Champions</a></li>
						<li><a href="/about/story/">Our story</a></li>
						<li><a href="/about/system/">About the .eco system</a></li>
						<li><a href="/about/marketing/">Marketing resources</a></li>
					</ul>
				</div>
				<div class="col-sm-2">
					<ul>
						<li><a href="/privacy/">Privacy Policy</a></li>
						<li><a href="/impact/">Environmental Policy</a></li>
						<li><a href="http://whois.nic.eco">.eco WHOIS</a></li>
						<li><a href="/assets/DNSSECPracticesStatement.pdf">DNSSEC Practice Statement (PDF)</a></li>
						<li><a href="/contact/">Contact Us</a></li>
					</ul>
				</div>
				<div class="col-sm-3">
					<ul>
						<li>&copy; {{year}} <a href="http://bigroom.eco">Big Room Inc.</a></li>
						<li>332-237 Keefer Street</li>
						<li>Vancouver, BC, Canada</li>
						<li>V6A 1X6</li>
						<li>+1 (604) 682-6673</li>
					</ul>
				</div>
			</div>
		</div>
    </footer>