	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-2">
					<a href="https://www.bcorporation.net/community/big-room-inc"><img class="bcorp-logo" alt="B Corporation logo" src="{{img-root}}/bcorp.png" /></a>
				</div>
				<div class="col-sm-2">
					<ul>
						<li><a href="/registrars/">Registrars</a></li>
						<li><a href="/grants/">Domain Grants</a></li>
					</ul>
				</div>
				<div class="col-sm-2">
					<ul>
						<li><a href="/faq/">FAQ</a></li>
						<li><a href="/contact/">Contact Us</a></li>
					</ul>
				</div>
				<div class="col-sm-2">
					<ul>
						<li><a href="/privacy/">Privacy Policy</a></li>
						<li><a href="/impact/">Environmental Policy</a></li>
					</ul>
				</div>
				<div class="col-sm-2">
					<ul>
						<li><a href="http://whois.nic.eco">.eco WHOIS</a></li>
						<li><a href="/assets/DNSSECPracticesStatement.pdf">DNSSEC Practice Statement (PDF)</a></li>
					</ul>
				</div>
				<div class="col-sm-2">
					<ul>
						<li>&copy; 2016 <a href="http://bigroom.ca">Big Room Inc.</a></li>
					</ul>
				</div>
			</div>
		</div>
    </footer>