	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-2 col-sm-2">
					<a href="https://www.bcorporation.net/community/big-room-inc"><img class="bcorp-logo" src="{{img-root}}/bcorp.png" /></a>
				</div>
				<div class="col-md-2 col-sm-2">
					<ul>
						<a href="{{site-root}}/registrar/"><li>Registrars</li></a>
					</ul>
				</div>
				<div class="col-md-2 col-sm-2">
					<ul>
						<a href="{{site-root}}/faq/"><li>FAQ</li></a>
					</ul>
				</div>
				<div class="col-md-2 col-sm-2">
					<ul>
						<li>Policies</li>
						<a href=""><li>Privacy</li></a>
						<a href=""><li>Environmental</li></a>
					</ul>
				</div>
				<div class="col-md-2 col-sm-2">
					<ul>
						<a href="https://whois.icann.org/en"><li>ICANN</li></a>
						<a href="http://whois.nic.eco"><li>.eco WHOIS</li></a>
						<a href="{{root}}/assets/DNSSECPracticesStatement.pdf" download><li>DNSSEC Practice Statement (PDF)</li></a>
					</ul>
				</div>
				<div class="col-md-2 col-sm-2">
					<ul>
						<a href="{{site-root}}/contact/"><li>Contact</li></a>
					</ul>
				</div>
			</div>
			<div class="copyright">
				&copy; 2016 Big Room Inc.
			</div>
		</div>
    </footer>