	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">
					<img alt=".eco logo" src="{{img-root}}/doteco-logo-white.svg">
				</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-links">
					<li class="dropdown">
	          <a href="#" class="dropdown-toggle {{#equal active "community"}}active{{/equal}}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Community <span class="caret"></span></a>
	          <ul class="dropdown-menu">
			        <li><a class="dropdown-link" href="https://profiles.eco">Profiles.eco</a></li>
	            <li><a class="dropdown-link" href="https://org.eco">.eco governance</a></li>
	          </ul>
	        </li>
					<li class="dropdown">
	          <a href="#" class="dropdown-toggle {{#equal active "names"}}active{{/equal}}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Domain names <span class="caret"></span></a>
					  <ul class="dropdown-menu">
							<li><a class="dropdown-link" href="/search/">Get your .eco</a></li>
					  </ul>
					</li>
	       	<li class="dropdown">
	          <a href="#" class="dropdown-toggle {{#equal active "about"}}active{{/equal}}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a class="dropdown-link" href="/about/story/">Our story</a></li>
	            <li><a class="dropdown-link" href="/about/system/">About the .eco system</a></li>
	            <li><a class="dropdown-link" href="/about/press/">.eco in the news</a></li>
	            <li><a class="dropdown-link" href="/contact/">Contact us</a></li>
	          </ul>
	        </li>
 					<li><a href="https://news.home.eco/">News</a></li>
					<li><a class="{{#equal active "faq"}}active{{/equal}}" href="https://support.home.eco">Support</a></li>

				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="social">
						<a href="https://twitter.com/doteco"><img src="{{img-root}}/Twitter_Social_Icon_Circle_White.png" alt="Twitter logo"></a>
						<a href="https://www.facebook.com/Dot-Eco-Domain-54761026407/"><img src="{{img-root}}/FB-f-Logo__white_50.png" alt="Facebook logo"></a>
						<a href="https://www.instagram.com/dot_eco_domain/"><img src="{{img-root}}/Instagram.png" alt="Instagram logo"></a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
