	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">
					<img alt=".eco logo" src="{{img-root}}/doteco-logo-white.svg" width="36" height="36">
				</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle language-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{lang}} <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="{{sites.en}}" class="dropdown-link">English</a></li>
							<li><a href="{{sites.de}}" class="dropdown-link">Deutsch</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
