	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">
					<img alt=".eco logo" src="{{img-root}}/doteco-logo-white.svg">
				</a>
			</div>
		</div>
	</nav>
