<div class="row logos">
  <div class="col-xs-6 col-md-2">
    <img src="/img/logos/WWF_logo-2.png" alt="WWF logo" class="img-responsive logo-80" loading="lazy">
  </div>
  <div class="col-xs-6 col-md-2">
    <img src="/img/logos/UNEP_logo.png" alt="United Nations Environment Programme" class="img-responsive" loading="lazy">
  </div>
  <div class="clearfix visible-xs-block visible-sm-block"> </div>
  <div class="col-xs-6 col-md-4">
    <img src="/img/logos/ocean-conservancy-logo.png"  alt="Ocean Conservancy logo" class="img-responsive logo-80-md" loading="lazy">
  </div>
  <div class="col-xs-6 col-md-4">
    <img src="/img/logos/IUCN-logo.png"  alt="IUCN logo" class="img-responsive logo-70 logo-50-md" loading="lazy">
  </div>
  <div class="clearfix visible-xs-block visible-sm-block visible-md-block"> </div>
  <div class="col-xs-6 col-md-2">
    <img src="/img/logos/green-cross.png" alt="Green Cross logo" class="img-responsive logo-80" loading="lazy">
  </div>
  <div class="col-xs-6 col-md-2">
    <img src="/img/logos/green-seal.png"  alt="Green Seal logo" class="img-responsive logo-80" loading="lazy">
  </div>
  <div class="col-xs-11 col-md-4">
    <img src="/img/logos/greenpeace.png" alt="Greenpeace logo" class="img-responsive" loading="lazy">
  </div>
  <div class="col-xs-11 col-md-4">
    <img src="/img/logos/conservation-international.png"  alt="Conservation International logo" class="img-responsive" loading="lazy">
  </div>
</div>

<p>
  <a href="https://org.eco/coalition/">{{t 'global:partners.cta'}}</a>
</p>
