<div class="row logos">
  <div class="col-6 col-md-2">
    <img src="/img/logos/wwf.svg" alt="WWF logo" class="img-responsive logo-80" loading="lazy" width="108" height="158">
  </div>
  <div class="col-6 col-md-2">
    <img src="/img/logos/unep.svg" alt="United Nations Environment Programme" class="img-responsive" loading="lazy" width="85" height="100">
  </div>
  <div class="col-6 col-md-4">
    <img src="/img/logos/ocean-conservancy.svg"  alt="Ocean Conservancy logo" class="img-responsive logo-90-md" loading="lazy" width="312" height="188">
  </div>
  <div class="col-6 col-md-4">
    <img src="/img/logos/iucn.svg"  alt="IUCN logo" class="img-responsive logo-70 logo-55-md" loading="lazy" width="150" height="143">
  </div>
  <div class="col-6 col-md-2">
    <img src="/img/logos/green-cross.svg" alt="Green Cross logo" class="img-responsive logo-70" loading="lazy" width="121" height="168">
  </div>
  <div class="col-6 col-md-2">
    <img src="/img/logos/green-seal.svg"  alt="Green Seal logo" class="img-responsive logo-80" loading="lazy" width="214" height="192">
  </div>
  <div class="col-12 col-md-4">
    <img src="/img/logos/greenpeace.svg" alt="Greenpeace logo" class="img-responsive logo-greenpeace" loading="lazy" width="676" height="104">
  </div>
  <div class="col-12 col-md-4">
    <img src="/img/logos/conservation-international.svg"  alt="Conservation International logo" class="img-responsive" loading="lazy" width="360" height="150">
  </div>
</div>
