<div class="row logos">
  <div class="col-xs-4 col-md-2">
    <img src="/img/logos/wwf-logo.png" alt="WWF logo" class="img-responsive" loading="lazy">
  </div>
  <div class="col-xs-8 col-md-4">
    <img src="/img/logos/UL_Environment.png" alt="UL Environment logo" class="img-responsive" loading="lazy">
  </div>
  <div class="clearfix visible-xs-block visible-sm-block"> </div>
  <div class="col-xs-4 col-md-2">
    <img src="/img/logos/IUCN-logo.png"  alt="IUCN logo" class="img-responsive logo-iucn" loading="lazy">
  </div>
  <div class="col-xs-6 col-md-4">
    <img src="/img/logos/cdp-transparent-resize.png"  alt="Carbon Disclosure Project logo" class="img-responsive" loading="lazy">
  </div>
  <div class="clearfix visible-xs-block visible-sm-block"> </div>
</div>

<div class="row logos">
  <div class="col-xs-4 col-md-2">
    <img src="/img/logos/green-cross.png" alt="Green Cross logo" class="img-responsive logo-iucn" loading="lazy">
  </div>
  <div class="col-xs-8 col-md-4">
    <img src="/img/logos/greenpeace.png" alt="Greenpeace logo" class="img-responsive" loading="lazy">
  </div>
  <div class="clearfix visible-xs-block visible-sm-block"> </div>

  <div class="col-xs-4 col-md-2">
    <img src="/img/logos/green-seal.png"  alt="Green Seal logo" class="img-responsive logo-iucn" loading="lazy">
  </div>
  <div class="col-xs-8 col-md-4">
    <img src="/img/logos/conservation-international.png"  alt="Conservation International logo" class="img-responsive" loading="lazy">
  </div>
</div>

<p>
  <a href="https://org.eco/coalition/">See the full list of organizations who are part of the .eco coalition.</a>
</p>
