<div class="row logos">
  <div class="col-6 col-md-2">
    <img src="/img/logos/wwf.svg" alt="WWF logo" class="img-responsive logo-80" loading="lazy">
  </div>
  <div class="col-6 col-md-2">
    <img src="/img/logos/unep.svg" alt="United Nations Environment Programme" class="img-responsive" loading="lazy">
  </div>
  <div class="col-6 col-md-4">
    <img src="/img/logos/ocean-conservancy.svg"  alt="Ocean Conservancy logo" class="img-responsive logo-90-md" loading="lazy">
  </div>
  <div class="col-6 col-md-4">
    <img src="/img/logos/iucn.svg"  alt="IUCN logo" class="img-responsive logo-70 logo-55-md" loading="lazy">
  </div>
  <div class="col-6 col-md-2">
    <img src="/img/logos/green-cross.png" alt="Green Cross logo" class="img-responsive logo-80" loading="lazy">
  </div>
  <div class="col-6 col-md-2">
    <img src="/img/logos/green-seal.svg"  alt="Green Seal logo" class="img-responsive logo-80" loading="lazy">
  </div>
  <div class="col-12 col-md-4">
    <img src="/img/logos/greenpeace.svg" alt="Greenpeace logo" class="img-responsive logo-greenpeace" loading="lazy">
  </div>
  <div class="col-12 col-md-4">
    <img src="/img/logos/conservation-international.svg"  alt="Conservation International logo" class="img-responsive" loading="lazy">
  </div>
</div>

<p>
  <a href="https://org.eco/coalition/">{{t 'global:partners.cta'}}</a>
</p>
