<div class="community-profiles__container grid grid--m1d2">
  {{#each profiles as |profile| }}
  {{> profile profile=profile }}
  {{/each}}
</div>

<div class="row">
  <div class="col-sm-12">
    <a href="/search/" class="btn btn-primary float-end">{{t 'global:members.cta'}}</a>
  </div>
</div>
