<div class="community-profiles__container grid grid--m1d2">
  <div class="grid__cell">
    <a href="https://profiles.eco/leap" class="profile-tile" data-custom-bg="true" style="background-image: url('https://cdn.profiles.eco/images/leap.eco/5eddd04e-44ba-4834-a737-7fa72880c7a7_1500x500.jpeg')">
      <div class="profile-tile__wrapper">
        <span class="profile-tile__label"><strong>leap</strong>.eco</span>
      </div>
    </a>
    <div class="profile-tile-details">
      <p><a href="https://leap.eco">Leap</a> is a design studio that believes in designing with purpose and creating work that matters. As a BCorp, they create responsible and high-impact design solutions that exceed triple bottom line standards.</p>
      <p class="profile-tile-details__section"><span class="profile-type__section"><img src="https://cdn.profiles.eco/img/icons/org-type/business.svg" class="profile-type__icon" />Business</span><span class="profile-type__section"><span class="profile-type__globe glyphicon glyphicon-globe"></span>UK</span></p>
    </div>
  </div>

  <div class="grid__cell">
    <a href="https://profiles.eco/preserve" class="profile-tile" data-custom-bg="true" style="background-image: url('https://cdn.profiles.eco/images/preserve.eco/e809d85e-2f52-4e03-921c-aed2da6c7cfa_1500x500.jpeg')">
      <div class="profile-tile__wrapper">
        <span class="profile-tile__label"><strong>preserve</strong>.eco</span>
      </div>
    </a>
    <div class="profile-tile-details">
      <p><a href="https://preserve.eco">Preserve</a>, a certified B Corporation, makes stylish, eco-friendly products for the home including a full line of reusable tableware, food storage, and personal care products, using 100% recycled plastic.</p>
      <p class="profile-tile-details__section"><span class="profile-type__section"><img src="https://cdn.profiles.eco/img/icons/org-type/business.svg" class="profile-type__icon" />Business</span><span class="profile-type__section"><span class="profile-type__globe glyphicon glyphicon-globe"></span>US</span></p>
    </div>
  </div>

  <div class="grid__cell">
    <a href="https://profiles.eco/grunbag" class="profile-tile" data-custom-bg="true" style="background-image: url('https://cdn.profiles.eco/images/grunbag.eco/2436f994-4fbc-4d0e-9ce0-167f630bbb01_1500x500.jpeg')">
      <div class="profile-tile__wrapper">
        <span class="profile-tile__label"><strong>grunbag</strong>.eco</span>
      </div>
    </a>
  </div>

  <div class="grid__cell">
    <a href="https://profiles.eco/supplychainresearch" class="profile-tile" data-custom-bg="true" style="background-image: url('https://cdn.profiles.eco/images/supplychainresearch.eco/957cafa7-8153-495e-858f-332f5b7d8aad_1500x500.jpeg')">
      <div class="profile-tile__wrapper">
        <span class="profile-tile__label"><strong>supplychainresearch</strong>.eco</span>
      </div>
    </a>
  </div>

  <div class="grid__cell">
    <a href="https://profiles.eco/beep" class="profile-tile" data-custom-bg="true" style="background-image: url('https://cdn.profiles.eco/images/beep.eco/7eabe794-fe2a-41b4-9972-1000d1e07a96_1500x500.jpg')">
      <div class="profile-tile__wrapper">
        <span class="profile-tile__label"><strong>beep</strong>.eco</span>
      </div>
    </a>
  </div>

  <div class="grid__cell">
    <a href="https://profiles.eco/bleu" class="profile-tile" data-custom-bg="true" style="background-image: url('https://cdn.profiles.eco/images/bleu.eco/cd4a2de1-a12b-4c6a-99c9-2a5b91e66926_1500x500.jpeg')">
      <div class="profile-tile__wrapper">
        <span class="profile-tile__label"><strong>bleu</strong>.eco</span>
      </div>
    </a>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <a href="https://profiles.eco" class="btn btn-primary pull-right">{{t 'global:members.cta'}}</a>
  </div>
</div>
