<div class="community-profiles__container grid grid--m1d3">
  <div class="grid__cell">
    <a href="https://profiles.eco/leap" class="profile-tile" data-custom-bg="true" style="background-image: url('https://cdn.profiles.eco/images/leap.eco/5eddd04e-44ba-4834-a737-7fa72880c7a7_350x350.jpeg')">
      <div class="profile-tile__wrapper">
        <span class="profile-tile__label"><strong>leap</strong>.eco</span>
      </div>
    </a>
  </div>

  <div class="grid__cell">
    <a href="https://profiles.eco/preserve" class="profile-tile" data-custom-bg="true" style="background-image: url('https://cdn.profiles.eco/images/preserve.eco/e809d85e-2f52-4e03-921c-aed2da6c7cfa_350x350.jpeg')">
      <div class="profile-tile__wrapper">
        <span class="profile-tile__label"><strong>preserve</strong>.eco</span>
      </div>
    </a>
  </div>

  <div class="grid__cell">
    <a href="https://profiles.eco/grunbag" class="profile-tile" data-custom-bg="true" style="background-image: url('https://cdn.profiles.eco/images/grunbag.eco/2436f994-4fbc-4d0e-9ce0-167f630bbb01_350x350.jpeg')">
      <div class="profile-tile__wrapper">
        <span class="profile-tile__label"><strong>grunbag</strong>.eco</span>
      </div>
    </a>
  </div>

  <div class="grid__cell">
    <a href="https://profiles.eco/supplychainresearch" class="profile-tile" data-custom-bg="true" style="background-image: url('https://cdn.profiles.eco/images/supplychainresearch.eco/957cafa7-8153-495e-858f-332f5b7d8aad_350x350.jpeg')">
      <div class="profile-tile__wrapper">
        <span class="profile-tile__label"><strong>supplychainresearch</strong>.eco</span>
      </div>
    </a>
  </div>

  <div class="grid__cell">
    <a href="https://profiles.eco/beep" class="profile-tile" data-custom-bg="true" style="background-image: url('https://cdn.profiles.eco/images/beep.eco/7eabe794-fe2a-41b4-9972-1000d1e07a96_350x350.jpg')">
      <div class="profile-tile__wrapper">
        <span class="profile-tile__label"><strong>beep</strong>.eco</span>
      </div>
    </a>
  </div>

  <div class="grid__cell">
    <a href="https://profiles.eco/bleu" class="profile-tile" data-custom-bg="true" style="background-image: url('https://cdn.profiles.eco/images/bleu.eco/cd4a2de1-a12b-4c6a-99c9-2a5b91e66926_350x350.jpeg')">
      <div class="profile-tile__wrapper">
        <span class="profile-tile__label"><strong>bleu</strong>.eco</span>
      </div>
    </a>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <a href="https://profiles.eco" class="btn btn-primary pull-right">See more on profiles.eco</a>
  </div>
</div>
