<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
<script>
	// email obfuscation
	(function ($) {
		$(".email-link").html(function () {
			var email = $(this).data("name") + "@" + $(this).data("domain");
			return "<a href=\"mailto:" + email +"\">" + email + "</a>";
		});
	})(jQuery);
</script>

{{#if intercomAppID }}
<script>
  window.intercomSettings = {
    app_id: '{{ intercomAppID }}'
  }
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/{{ config.intercom.appID }}';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
{{/if}}

{{#if pixel}}

{{/if}}

{{#if livereload}}
<script src="http://localhost:35729/livereload.js"></script>
{{/if}}
