<script>
	function forEachNodeList (nodelist, fn) {
		if (nodelist && nodelist.forEach) {
			nodelist.forEach(fn)
		} else {
			var els = [].slice.call(nodelist, 0)
			for (i = 0; i < els.length; i++) {
				fn(els[i])
			}
		}
	}

  function track(eventId) {
    if (typeof fathom === 'object') {
      fathom.trackGoal(eventId)
    }
  }

  function trackEvent(eventId) {
    if (typeof fathom === 'object') {
      fathom.trackEvent(eventId)
    }
  }

	function wireEmailObfuscation () {
		forEachNodeList(document.querySelectorAll(".email-link"), function (el) {
			var email = el.dataset.name + "@" + el.dataset.domain
			el.innerHTML = "<a href=\"mailto:" + email +"\">" + email + "</a>"
		})
	}

	document.addEventListener('DOMContentLoaded', function () {
		wireEmailObfuscation()
	})
</script>
<script>
	function getStoredTheme () {
		return localStorage && localStorage.getItem('theme')
	}
	function storeTheme (theme) {
		localStorage && localStorage.setItem('theme', theme)
	}
	function darkToggle (event) {
		const theme = event.target.dataset.theme
		document.body.dataset.bsTheme = theme
		setThemeIcon(theme)
		storeTheme(theme)
	}
	function setThemeIcon (theme) {
		const selectedIcon = document.getElementById('dark-toggle-icon-selected')
		selectedIcon.childNodes[0].setAttribute('href', '#' + theme + '-theme-icon')
	}
	const theme = getStoredTheme()
	if (theme) {
		document.body.dataset.bsTheme = theme
		setThemeIcon(theme)
	}
	document.addEventListener('DOMContentLoaded', function () {
		forEachNodeList(document.querySelectorAll('.dark-toggle-option'), function (el) {
			el.addEventListener('click', darkToggle)
		})
	})
</script>


{{#if intercomAppID }}
<script>
  window.intercomSettings = {
    api_base: "https://api-iam.intercom.io",
    app_id: "{{ intercomAppID }}"
  };
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',w.intercomSettings);}else{var d=document;var i=function(){i.c(arguments);};i.q=[];i.c=function(args){i.q.push(args);};w.Intercom=i;var l=function(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/{{ config.intercom.appID }}';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);};if(document.readyState==='complete'){l();}else if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script>
<script>
	function wireChatLink () {
		forEachNodeList(document.querySelectorAll('.chat-link'), function(el) {
			el.addEventListener('click', function (e) {
				e.preventDefault()
				Intercom('show')
			})
		})
	}

	document.addEventListener('DOMContentLoaded', function () {
		wireChatLink()
	})
</script>
{{/if}}

{{#if livereload}}
<script src="http://localhost:35729/livereload.js"></script>
{{/if}}
