<script> // email obfuscation
	document.querySelectorAll(".email-link").forEach(function (el) {
		var email = el.dataset.name + "@" + el.dataset.domain;
		el.innerHTML = "<a href=\"mailto:" + email +"\">" + email + "</a>";
	});
</script>

{{#if intercomAppID }}
<script>
  window.intercomSettings = {
    api_base: "https://api-iam.intercom.io",
    app_id: "{{ intercomAppID }}"
  };
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',w.intercomSettings);}else{var d=document;var i=function(){i.c(arguments);};i.q=[];i.c=function(args){i.q.push(args);};w.Intercom=i;var l=function(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/{{ config.intercom.appID }}';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);};if(document.readyState==='complete'){l();}else if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script>
<script>
	document.addEventListener('DOMContentLoaded', function () {
		document.querySelectorAll('.chat-link').forEach(function (e) {
			e.addEventListener('click', function (e) {
				e.preventDefault()
				Intercom('show')
			})
		})
	})
</script>
{{/if}}

{{#if livereload}}
<script src="http://localhost:35729/livereload.js"></script>
{{/if}}
