<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script
  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous" async></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js" async></script>
<script>
var addClass = function (el, className) {
  if (el.classList) {
    el.classList.add(className)
  } else {
    el.className += ' ' + className
  }
}

var removeClass = function (el, className) {
  if (el.classList) {
    el.classList.remove(className)
  } else {
    el.className = el.className.replace(new RegExp('(^|\\b)' + className + '(\\b|$)', 'gi'), ' ')
  }
}
</script>
<script>
	// email obfuscation
	(function ($) {
		$(".email-link").html(function () {
			var email = $(this).data("name") + "@" + $(this).data("domain");
			return "<a href=\"mailto:" + email +"\">" + email + "</a>";
		});
	})(jQuery);
</script>
<script type="text/javascript">
	// handle form post to iframe
	(function ($) {
		var submitted = false;
		var form = $(".iframe-form");
		form.submit(function (e) {
			if (! e.isDefaultPrevented()) {
				submitted = true;
				form.find(".submit-application").button("loading");
				return true;
			}
		});

		$(".iframe-form-iframe").on("load", function (e) {
			if (submitted) {
				$(".confirmation-alert").collapse("show");
				$("body").animate({scrollTop: $(".confirmation-alert").offset().top - 100}, 200);
				form.find(".submit-application").button("reset");
				ga('send', 'event', form.attr("id"), 'submit');
				typeof fbq !== 'undefined' && fbq('track', 'CompleteRegistration');
				submitted = false;
			}
		});
	})(jQuery);
</script>

<script>
$('#home-carousel').on('slid.bs.carousel', function () {
	curSlide = $('.active');
	if(curSlide.is( ':first-child' )) {
		$('.left').hide();
		return;
	} else {
		$('.left').show();
	}
	if (curSlide.is( ':last-child' )) {
		$('.right').hide();
		return;
	} else {
		$('.right').show();
	}
});
</script>

<!-- Start of doteco Zendesk Widget script -->
<script>/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(e){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var o=this.createElement("script");n&&(this.domain=n),o.id="js-iframe-async",o.src=e,this.t=+new Date,this.zendeskHost=t,this.zEQueue=a,this.body.appendChild(o)},o.write('<body onload="document._l();">'),o.close()}("https://assets.zendesk.com/embeddable_framework/main.js","doteco.zendesk.com");
/*]]>*/</script>
<!-- End of doteco Zendesk Widget script -->

{{#if ga-tracking-id}}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ga-tracking-id}}', 'auto');
  ga('send', 'pageview');
</script>
{{/if}}

{{#if pixel}}
<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '1960916174145206'); // Insert your pixel ID here.
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1960916174145206&ev=PageView&noscript=1"
/></noscript>
<!-- DO NOT MODIFY -->
<!-- End Facebook Pixel Code -->
{{/if}}

{{#if livereload}}
<script src="http://localhost:35729/livereload.js"></script>
{{/if}}