<div class="section launch-timeline">
	<div class="container">
		<h2>.eco Launch Schedule</h2>
		<p>The launch schedule has the following phases and dates. Each phase starts at 16:00 UTC.</p>

		<div class="row">
			<div class="col-sm-3 hidden-xs">
				<img class="img-responsive" src="/img/icons/key-icon.png" alt="Key icon" />
				<i class="fa fa-chevron-down" aria-hidden="true"></i>
			</div>
			<div class="col-sm-9">
				<h3>Domain Grants (Complete)</h3>
				<h5>Oct 17 &ndash; Dec 16, 2016</h5>
				<p>Domain Granting Program: Non-profits <a href="/grants">may apply</a> for the right to use any generic domain through our Domain Grants Program.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3 hidden-xs">
				<img class="img-responsive" src="/img/icons/sunrise-icon.png" alt="Sunrise icon" />
				<i class="fa fa-chevron-down" aria-hidden="true"></i>
			</div>
			<div class="col-sm-9">
				<h3>Sunrise</h3>
				<h5>Feb 1 &ndash; Apr 2, 2017</h5>
				<p>Trademark Clearinghouse (TMCH) Sunrise for rights holders that have registered their trademark.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3 hidden-xs">
				<img class="img-responsive clock-icon" src="/img/icons/clock-icon.png" alt="Clock icon" />
				<i class="fa fa-chevron-down" aria-hidden="true"></i>
			</div>
			<div class="col-sm-9">
				<h3>Early Access</h3>
				<h5>April 18 &ndash; 25, 2017 (Earth Week)</h5>
				<p>Advanced registration open to everyone via a first-come, first-served, 7-day early access program.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3 hidden-xs">
				<img class="img-responsive www-icon" src="/img/icons/www-icon.png" alt="Browser icon" />
			</div>
			<div class="col-sm-9">
				<h3>General Availability</h3>
				<h5>April 25, 2017 &ndash;</h5>
				<p>Domains will be available on a first-come, first-serve basis.</p>
			</div>
		</div>
	</div>
</div>