<div class="section launch-timeline">
	<div class="container">
		<h2>.eco Launch Schedule</h2>

		<ul class="nav nav-tabs nav-justified hidden-xs">
			<li role="presentation" class="active">
				<img class="img-responsive" src="/img/icons/key-icon.png" alt="Key icon" />
				<i class="fa fa-chevron-right" aria-hidden="true"></i>
				<a href="#grants" aria-controls="grants" role="tab" data-toggle="tab" class="tab-header">Domain Grants</a>
			</li>
			<li role="presentation">
				<img class="img-responsive" src="/img/icons/sunrise-icon.png" alt="Sunrise icon" />
				<i class="fa fa-chevron-right" aria-hidden="true"></i>
				<a href="#sunrise" aria-controls="sunrise" role="tab" data-toggle="tab" class="tab-header">Sunrise</a>
			</li>
			<li role="presentation">
				<img class="img-responsive clock-icon" src="/img/icons/clock-icon.png" alt="Clock icon" />
				<i class="fa fa-chevron-right" aria-hidden="true"></i>
				<a href="#early-access" aria-controls="early-access" role="tab" data-toggle="tab" class="tab-header">Early Access</a>
			</li>
			<li role="presentation">
				<img class="img-responsive www-icon" src="/img/icons/www-icon.png" alt="Browser icon" />
				<a href="#general-availability" aria-controls="general-availability" role="tab" data-toggle="tab" class="tab-header">General Availability</a>
			</li>
		</ul>

		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active fade in" id="grants">
				<h3 class="visible-xs-block">Domain Grants</h3>
				<h5>Oct 17 &ndash; Dec 16, 2016</h5>
				<p>Domain Granting Program: Non-profits <a href="/grants">may apply</a> for the right to use any generic domain through our Domain Grants Program.</p>
			</div>
			<div role="tabpanel" class="tab-pane fade in" id="sunrise">
				<h3 class="visible-xs-block">Sunrise</h3>
				<h5>Feb 1 &ndash; Apr 3, 2017</h5>
				<p>TMCH Sunrise: For rights holders that have registered their trademark as part of the Trademark Clearinghouse (TMCH)</p>
				<p>Environmental Community Trademarks and Tradenames: Allows governments and not-for-profits to register a .eco domain for their trade names in advance of General Availability.</p>
			</div>
			<div role="tabpanel" class="tab-pane fade in" id="early-access">
				<h3 class="visible-xs-block">Early Access</h3>
				<h5>April 25, 2017 (Earth Week)</h5>
				<p>Advanced registration via a 7-day early access program</p>
			</div>
			<div role="tabpanel" class="tab-pane fade in" id="general-availability">
				<h3 class="visible-xs-block">General Availability</h3>
				<h5>May 2, 2017</h5>
				<p>Domains will be available on a first-come, first-serve basis.</p>
			</div>
		</div>
	</div>
</div>