---
collection: news
title: "2024 Impact Report"
excerpt: We are pleased to share our third Annual Impact Report highlighting the continuing growth of the .eco community and the impact that it is having on creating positive change for our planet.
description: "Annual Impact Report for the .eco domain registry for 2024"
header-img: /img/news/cowichan-bay.webp
header-img-alt: Boat houses moored at Cowichan Bay, BC, Canada
pubdate: 2024-12-17
author: Eco Domain (.eco)
layout: article.hbs
og-image: opengraph/cowichan-bay-og.jpg
og-width: 1200
og-height: 630
page-path: impact/impact-report-2024/
---

# {{title}}

## {{excerpt}}

![{{header-img-alt}}]({{header-img}})

### Mission

.eco exists as an inclusive and welcoming home for the global environmental community online. The community currently consists of over 6,500 businesses, non-profits, individuals and others committed to making positive change for our planet.

### 2024 Impact Highlights

* Recertified as a [B Corporation](/news/eco-is-certified-b-corp/)
* Reduced our [GHG footprint](/impact/ghg-report-2024/) by 7.71%, slightly short of the 8% reduction target that we established last year
* Featured [7 .eco champions](/champions/)
* [Granted](/grants/) 4 .eco domains to eligible environmental non-profits
* Published our calendar of [19 environmental events](/news/eco-event-calendar/) that we would recognize this year
* [Discounted](/news/2024-multi-year-registration-discount/) new registrations of .eco domains for 2 or more years
* Found that 52% of .eco websites are using an [eco-friendly web hosting](/news/2024-eco-web-hosting-review/)
* Shared how we reduced the carbon footprint of [our websites](/news/low-carbon-diet-eco-websites/)

### 2024 Goals

At the start of this fiscal year, we set three main impact goals for ourselves:
* Complete our B Corp recertification
* Continue as certified carbon neutral
* Award more domain grants

We are proud to have [recertified as a B Corp](/news/eco-is-certified-b-corp/) in April with an assessment score of [92.5](https://www.bcorporation.net/en-us/find-a-b-corp/company/big-room-inc/). This was the culmination of 9 months of preparation, review and follow up with B Lab to complete the certification. We have been happy to join the ranks of other [members of the .eco community who are also B Corp certified](https://profiles.eco/profile/certification/b-corporation).

We also renewed our PAS 2060 carbon neutral certification for our 2023 and 2024 fiscal years. Working with our awesome partners at [Inhabit.eco](https://inhabit.eco/), we measured, verified and published the [carbon footprint of our business operations](/impact/ghg-report-2024/). This year we targeted an 8% reduction from our 2022 baseline. We fell just short of that target with a 7.71% reduction.

Finally, we granted 4 .eco domains this year to eligible non-profits, which is double last  year. Domains were granted to organizations in Uganda, Algeria, Jamaica and Bangladesh. If you’re launching an environmental non-profit and the cost of getting the right domain name is a barrier, consider [submitting your application](/grants/) for a .eco domain grant.

![Climate protest](/img/news/climate-action-plan-2022-strip.jpeg)
### Community

The .eco community consists of everyone who has registered a .eco domain and joined the community by activating their associated .eco profile. In the past year, the community grew by over 450 members. There are now over 6,500 of us spanning every corner of the globe. We’re happy to see sustained growth as more members help get the word out about .eco.

We are continually inspired by the amazing work happening within the community. We run the [.eco Champions Programme](/champions) specifically to highlight and amplify this work. In the past year, we featured 7 of these .eco champions on our websites, on social media and in our newsletters. If you would like to nominate a community member, <a class="chat-link" href="#">please get in touch</a>; we are always happy to help tell your story.

To keep the community updated about what’s new with .eco, we have an email newsletter that we send out every three months. We also operate a [Slack community](/community/slack/) as a forum for .eco community members to interact, share what they’re working on and give guidance to the .eco community. Since launching on Slack in 2023, we’ve grown to over 230 members.

![Compliance header divider](/img/news/compliance-strip.jpeg)
### Compliance

As stewards of how .eco is perceived by the world, we are responsible for ensuring that .eco is aligned with the mission and policies that were set by the environmental community when .eco was founded. With input from the public and the .eco community, we monitor the use of .eco domains to ensure that stays consistent.

For members of the community, your .eco domain name is integral to your brand. It’s our goal to make sure that .eco continues to be recognized as a trusted symbol of sustainability. We wrote about the steps we take to make that happen and [why it matters to the community](/news/eco-boosts-your-brand/).

This year we joined the newly launched [Brand Safety Alliance’s GlobalBlock](https://globalblock.co/) program that helps protect domain names from being used for cybersquatting. Keeping domains in the hands of legitimate brand holders helps uphold the sterling reputation of the TLD.

![Climate Change stripes - increase in global temperatures since 1850](/img/news/climate-change-stripes-strip.png)
### Climate Action

Climate Action is one of the main UN Sustainable Development Goals that [we are focused on](https://profiles.eco/bigroom). In support of this, our business operations have been [certified carbon neutral under PAS 2060](/news/2023-eco-is-carbon-neutral/) for the past three years. The PAS 2060 certification has been merged into [ISO 14068](https://page.bsigroup.com/l/73472/2024-04-18/2c5zv8q), which is the standard that we will be certifying to next year.

We did establish a goal this year of pledging to meet Net Zero under SBTi. Unfortunately, SBTi stopped accepting commitments from SMEs. We will look to do this once they reopen their applications.

We are proud that our registry partner at [CIRA](https://www.cira.ca/) have released their [GHG report for their 2024 fiscal year](https://www.cira.ca/en/sustainability/) and announced they are now carbon neutral. It’s great news for the .eco community when key partners in our supply chain commit to climate action. As we are dependent on their services, it ensures that our own reported GHG footprint is accurate and our partners are incentivized to reduce their carbon footprint to meet their own net zero targets.

![2025 goal divider](/img/news/glacier-strip.jpeg)
### Impact Goals for 2025

#### Certify to the ISO 18064 carbon neutral standard

While ISO 18064 has the advantage of being a globally recognized standard for carbon neutrality, it is also more stringent. We will work to understand what we need to do to comply with and meet the new standard as part of our greenhouse gas reporting for our 2025 fiscal year.

#### Greenhouse gas footprint allocation for .eco community members

A portion of the emissions associated with operating the .eco top-level domain are technically part of the Scope 3 emissions for every member of the .eco community. We are developing an allocation model and a set of reports that will allow .eco community members to see the GHG footprint of their .eco domain to include in their own GHG report.


#### Make SBTi Net Zero commitment

Last year, we had intended to pledge our business to a net zero target under SBTi. We weren't able to complete this goal as SBTi stopped accepting new applications in order to scale and revamp their service. It appears that they have reopened applications for SMEs, so we will work to complete the application in 2025.

### What do you think?

We are privileged to operate the .eco top-level domain for and on behalf of the global environmental community. Our objective is to provide more visibility into how the .eco registry is working to serve this community. If you think that there are things that we should focus on, [please let us know](mailto:support@bigroom.eco).
