{{> head }}
	{{> header }}

  <div class="container breadcrumbs">
    <a href="/news/">News</a> > {{title}}
  </div>
  <article class="container">
	{{{ contents }}}
  </article>
	
  {{> footer }}
	{{> scripts }}
{{> foot }}
