{{> head }}
	{{> header }}

  <div class="container breadcrumbs">
    <a href="/news/">News</a> > {{title}}
  </div>
  <article class="container">
	{{{ contents }}}

    <a href="/news" class="btn btn-primary pull-right">More .eco news</a>
  </article>

  {{> footer }}
	{{> scripts }}
{{> foot }}
