<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{title}}</title>

	<!-- Fonts -->
 	<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
 	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,700" rel="stylesheet">

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="{{css-root}}/index.css">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body id="doteco">
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{site-root}}/">
					<img alt=".eco logo" src="{{img-root}}/doteco-logo-white.svg">
				</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="{{#equal active "contact"}}active{{/equal}}"><a href="{{site-root}}/contact">Contact Us</a></li>
					<li class="{{#equal active "faq"}}active{{/equal}}"><a href="{{site-root}}/faq/">FAQ</a></li>
					<li class="{{#equal active "registrar"}}active{{/equal}}"><a href="{{site-root}}/registrar">Become a Registrar</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{{site-root}}/register"><span class="bordered-box">Register your interest</span></a></li>
					<li class="social">
						<a href="https://www.facebook.com/EnvironmentalDomain/"><img src="{{img-root}}/FB-f-Logo__white_50.png"></a>
						<a href="https://twitter.com/doteco"><img src="{{img-root}}/Twitter_Social_Icon_Circle_White.png"></a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		{{{ contents }}}
	</div>
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-2 col-sm-2">
					<a href="https://www.bcorporation.net/community/big-room-inc"><img class="bcorp-logo" src="{{img-root}}/bcorp.png" /></a>
				</div>
				<div class="col-md-2 col-sm-2">
					<ul>
						<a href="{{site-root}}/registrar/"><li>Registrars</li></a>
					</ul>
				</div>
				<div class="col-md-2 col-sm-2">
					<ul>
						<a href="{{site-root}}/faq/"><li>FAQ</li></a>
					</ul>
				</div>
				<div class="col-md-2 col-sm-2">
					<ul>
						<li>Policies</li>
						<a href=""><li>Privacy</li></a>
						<a href=""><li>Environmental</li></a>
					</ul>
				</div>
				<div class="col-md-2 col-sm-2">
					<ul>
						<a href="https://whois.icann.org/en"><li>ICANN</li></a>
						<a href="http://whois.nic.eco"><li>.eco WHOIS</li></a>
						<a href="{{root}}/assets/DNSSECPracticesStatement.pdf" download><li>DNSSEC Practice Statement (PDF)</li></a>
					</ul>
				</div>
				<div class="col-md-2 col-sm-2">
					<ul>
						<a href="{{site-root}}/contact/"><li>Contact</li></a>
					</ul>
				</div>
			</div>
			<div class="copyright">
				&copy; 2016 Big Room Inc.
			</div>
		</div>
    </footer>



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>