<!DOCTYPE html>
<html id="doteco" lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{description}}">
	<meta name="keywords" content="domains,registry,top-level domain,TLD,ECO,.eco,environmental action,sustainability,ngo">
	<meta name="author" content="BigRoom.eco">
	{{#if noindex}}
	<meta name="robots" content="noindex">
	{{/if}}

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="{{twitter-id}}">
	<meta property="og:title" content="{{title}}">
	<meta property="og:description" content="{{description}}">
	<meta property="og:url" content="{{site-url}}/{{page-path}}">
	<meta property="og:type" content="website">
	<meta property="og:image" content="{{site-url}}/img/{{og-image}}">
	<meta property="og:image:width" content="{{og-width}}">
	<meta property="og:image:height" content="{{og-height}}">
	<meta property="fb:app_id" content="744238272415478">

	<title>{{title}}</title>

	<!-- Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Lato:300,700|Open+Sans:300,700&display=swap' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- Bootstrap -->
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
	<link rel="stylesheet" href="/{{ fingerprint.[css/main.css] }}">

	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#9f1744">
	<meta name="theme-color" content="#ffffff">
	<link rel="canonical" href="{{site-url}}/{{page-path}}">
	<script type="application/ld+json">
	{
	  "@context": "https://schema.org",
	  "@type": "Organization",
	  "name": ".eco",
	  "url": "{{site-url}}",
	  "logo": "{{site-url}}/android-chrome-512x512.png",
	  "contactPoint": [{
	    "@type": "ContactPoint",
	    "telephone": "+1 604 682 6673",
	    "contactType": "sales"
	  },
	  {
	    "@type": "ContactPoint",
	    "telephone": "+1 604 682 6673",
	    "contactType": "customer service"
	  }],
	  "sameAs": [
	    "https://www.facebook.com/DotEcoDomain/",
	    "https://www.instagram.com/dot_eco_domain/",
	    "https://www.linkedin.com/company/15215049",
	    "https://twitter.com/doteco",
	    "https://www.youtube.com/user/doteco"
	  ]
	}
	</script>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="/js/jquery-3.6.0.min.js"></script>
	{{#if ga-tracking-id}}
	<script>
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', '{{ga-tracking-id}}', 'auto');
	ga('require', 'eventTracker');
	ga('require', 'maxScrollTracker');
	ga('require', 'outboundFormTracker');
	ga('require', 'outboundLinkTracker');
	ga('require', 'pageVisibilityTracker');
	ga('require', 'urlChangeTracker');
	ga('send', 'pageview');
	</script>
	<script async src="https://www.google-analytics.com/analytics.js"></script>
	<script async src="/js/autotrack.js"></script>
	{{/if}}
	<script
	  src="https://browser.sentry-cdn.com/6.13.1/bundle.min.js"
	  integrity="sha384-vUP3nL55ipf9vVr3gDgKyDuYwcwOC8nZGAksntVhezPcr2QXl1Ls81oolaVSkPm+"
	  crossorigin="anonymous"
	></script>
	<script>
	if (typeof Sentry !== 'undefined') {
		Sentry.init({
		  dsn: "{{sentryDSN}}"
		})
	}
	</script>
</head>
<body{{#if active}} class="page-{{active}}"{{/if}}>

	{{> header }}

	{{{ contents }}}

	{{> footer }}

	{{> scripts }}

</body>
</html>
