{{> head }}
	{{> header }}

  <main class="container policy">
    <h1>{{title}}</h1>

    <p class="policy-date"><em>Updated: {{formatDay updated}}</em></p>

{{{ contents }}}

    <div class="d-flex justify-content-end">
      <a href="/policies/" class="btn btn-primary">.eco policies</a>
    </div>

  </main>

  {{> footer }}
	{{> scripts }}
{{> foot }}
