{{> head }}
	{{> header }}

  <main class="container policy">
    <h1 class="title">{{title}}</h1>

    <p><em>Updated: {{formatDay updated}}</em></p>
	{{{ contents }}}
  </main>

  {{> footer }}
	{{> scripts }}
{{> foot }}
