---
collection: news
title: ".eco is 6 years old!"
excerpt: Growing up, but still lots to learn
description: "In celebration of our 6th birthday, we review the highlights of the past year."
header-img: /img/news/sixth-birthday.webp
header-img-alt: Composite of logos of website carbon audit tools reviewed in the article
pubdate: 2023-04-25
author: Eco Domain (.eco)
layout: article.hbs
og-image: opengraph/sixth-birthday-og.png
og-width: 1200
og-height: 695
page-path: news/eco-is-6-years-old/
more:
  - news/eco-5-year-anniversary/
---

# {{title}}

## {{excerpt}}

![{{header-img-alt}}]({{header-img}})

Birthdays seem to come faster as you get older. Instead of it taking **forreeeever** until you get to have another birthday party, you start wondering, "didn't we just do this"?

It feels a bit like that at .eco. For our first few years, when we were smaller, we had a lot of questions and did a lot of learning. _Who would use .eco? How would they use it? Would they use it the way we hoped? How will people find .eco? Would it be useful? Could we maintain its values? Can we have an impact?_

Now that we’re a bit older, the years are flying by. We’re also starting to get (a bit) wiser, because we have answers to some of those questions. And in those answers, we like what we see. Because what we see is **all of you**. A community of thousands of .eco community members who are committed to positive change for the planet.

Those answers are helping us to drive our priorities at .eco – what we do and how we do it. Here's just a few of the things we’ve done since our last birthday:

* We know that a lot of you run small, medium, or even large businesses. For .eco to be more than just a domain name, we're constantly adding features to the .eco profile system to make it a **lightweight sustainability report** for you to link from your website.
* Because not everyone can afford a domain name for their organization or campaign, we've relaunched our [grants program](/grants/).
* We've launched a [refer-a-friend](https://profiles.eco/user/referral) program – because you've been brilliant about telling your friends about .eco and the community we're building, so we want to say thanks. If you have a .eco domain, log in to the .eco profile system to find out how you can get your friends a discount on their .eco name.
* Beyond just telling your friends about us, we want to tell the world about you – this year we accelerated our [.eco Champions](/champions) program, sharing stories about some of your peers through our .eco case studies series.
* With all of the expertise and experience in the community, we also want to experiment with how we share that knowledge – so if you're a .eco community member, sign up to our [new Slack community](/community/slack).

The point of .eco is not just to be bigger – it's also to unlock larger opportunities for collective action. Beyond just showing our values through the domain extension we choose, it's an opportunity for us to learn from each other – and share with others – the strategies, tactics, and tools we can use to reduce our impact.

On our 5th birthday, we wrote:

> As we look forward to the next 5 years and beyond, we know there’s more work to do – for all of us. Faced with a climate emergency, we’re all going to have to do better, faster, and with less impact.

We've made some good progress on this, including,

* Declaring a [climate emergency](/news/we-declare-a-climate-emergency/) and joining like-minded companies at [Business Declares](/news/business-declares/), the [Race to Zero](/news/race-to-zero-spotlight/), and SME Climate Hub
* Becoming one of the first certified carbon neutral registries (with the help of .eco community members inhabit and zeroCO2)
* Releasing our [2022 Impact Report](/news/2022-impact-report/)
* Publishing a [series of articles](/news/) on .eco friendly domain retailers, assessing your website's carbon footprint, and specific tactics you can use to reduce the size of your website (like using .svg images)
* Offering **free website carbon audits** to our first cohort of community members

Our work is nowhere near done. We have a domain registry to operate, climate commitments to meet, new communities to engage, and lots more to learn.

To do this, we need your help. Are you proud of your work? <a href="#" class="chat-link">Tell us</a>, so we can tell the community. Do you have things to share and learn? Join our new [Slack community](/community/slack/). Do you know someone who could use a .eco domain name? [Refer-a-friend](https://profiles.eco/user/referral), or share the news about our [grants program](/grants/).

Together, let's work to make our impact greater – and smaller.

**Happy birthday, .eco community!**

