---
collection: news
title: "Ecolabel Spotlight: B Corporation"
excerpt: "Environmental certifications are a powerful way for organizations to demonstrate and validate their commitment to positive change for our planet. One of the most stringent certifications out there is B Corporation, or B Corp for short."
description: "The B Corporation certification is a clear signal of your company's commitment to our planet. Many members of the .eco community are B Corp certified."
header-img: /img/news/ecolabel-bcorp.webp
header-img-alt: B Corproation logo with trees in the background
pubdate: 2023-10-11
author: Eco Domain (.eco)
layout: article.hbs
og-image: opengraph/ecolabel-bcorp-og.jpeg
og-width: 1200
og-height: 630
page-path: news/bcorporation-certification/
more:
- news/2022-impact-report/

---

# {{title}}

## {{excerpt}}

![{{header-img-alt}}]({{header-img}})

Started in the US in 2006, <a href="https://www.bcorporation.net/">B Corp</a> has spread around the world and, as of October 2023, there are now over **7,300 B Corps** operating in 93 countries and 161 industries. The B Corp certification is managed by B Lab, a global nonprofit organization. It is founded on the belief that the power of business can be harnessed as a force for good with the right guidance and influence.

<figure>
<img alt="B Corporations are 2.5x more likely to be carbon neutral and 1.5x more likely to be zero waste" src="/img/news/bcorp-environmental-impact.png">
<figcaption>
B Corporation environmental impact vs ordinary businesses - <a href="https://infogram.com/1te9x6k1pgzx0lbwo7490melglizo4md81">B Lab Global 2022 Annual Report</a>
</figcaption>
</figure>

### How does my company become a B Corp?

Certifying as a B Corp requires a deep review across all aspects of your business. The expectation is that most businesses will not be able to meet the certification without undergoing structural or operational change.

The certification process begins with an online disclosure questionnaire of almost 100 questions that assess your company in 5 main areas: governance, workers, community, environment and customers. A score is tabulated based on your answers to the questions. A minimum score of 80 (out of 200) is required to proceed to the next step in the process.

Once the questions have been answered and the submission fee paid, a reviewer at B Lab reaches out to initiate the **evaluation process**. Depending on the backlog and where your company is located, this could take a few weeks or months. The analyst will review your responses to determine your company’s readiness and eligibility for certification.

If you pass this evaluation phase, next up is **verification** where your company will be required to submit evidence in support of your answers to the questionnaire. This will be in the form of interviews and supplying supporting documentation. This can take 1 to 3 months to complete.

Once you clear the verification stage, your company will be B Corp certified. You will be permitted to use the B Corp mark on your website and public materials and your company will be included in the B Corp directory.

In addition, you need to recertify every three years to retain your B Corp status.

### B Corp and the .eco community

There are many amazing members of the .eco community that are [B Corp certified](https://profiles.eco/profile/certification/b-corporation). Here are just a few: 

<div class="row align-items-center h-100">
  <div class="col-sm-7">

#### [Tapio.eco](https://tapio.eco) - Belgium
Tapio helps businesses measure, reduce and manage their carbon footprint.
  </div>
  <div class="col-sm-5 d-none d-sm-block">
    <a href="https://www.bcorporation.net/en-us/find-a-b-corp/company/tapio/"><img class="article-logo" src="/img/champion_logos/tapio.png" alt="Logo for tapio.eco" loading="lazy"></a>
  </div>
</div>

<div class="row align-items-center h-100">
  <div class="col-sm-7">

#### [The Positive Project](https://thepositiveproject.eco/) - Switzerland
The Positive Project guides organizations in transforming themselves to support a more just, resilient and equitable world.
  </div>
  <div class="col-sm-5 d-none d-sm-block">
    <a href="https://www.bcorporation.net/en-us/find-a-b-corp/company/the-positive-project/"><img class="article-logo" src="/img/champion_logos/positive-project.webp" alt="Logo for thepositiveproject.eco" loading="lazy"></a>
  </div>
</div>

<div class="row align-items-center h-100">
  <div class="col-sm-7">

#### [Preserve.eco](https://preserve.eco) - US
Preserve makes reusable, eco-friendly products using 100% recycled plastic.
  </div>
  <div class="col-sm-5 d-none d-sm-block">
    <a href="https://www.bcorporation.net/en-us/find-a-b-corp/company/preserve/"><img class="article-logo" src="/img/champion_logos/preserve.avif" alt="Logo for Preserve" loading="lazy"></a>
  </div>
</div>

<div class="row align-items-center h-100">
  <div class="col-sm-7">

#### [Leap.eco](https://leap.eco) - UK
Leap is a creative agency using the power of design and strategy to make positive change.
  </div>
  <div class="col-sm-5 d-none d-sm-block">
    <a href="https://www.bcorporation.net/en-us/find-a-b-corp/company/leap/"><img class="article-logo" src="/img/champion_logos/leap.svg" alt="Logo for Leap" loading="lazy"></a>
  </div>
</div>


<div class="row align-items-center h-100">
  <div class="col-sm-7">

#### [Sleepn.eco](http://sleepn.eco/) - Spain
Sleepn is working to promote more sustainable and eco-conscious tourism.
  </div>
  <div class="col-sm-5 d-none d-sm-block">
    <a href="https://www.bcorporation.net/en-us/find-a-b-corp/company/sleepn-atocha/"><img class="article-logo" src="/img/champion_logos/sleepn.png" alt="Logo for sleepn.eco" loading="lazy"></a>
  </div>
</div>

<div class="row align-items-center h-100">
  <div class="col-sm-7">

#### [Boox.eco](https://boox.eco) - US
Boox is on a mission to eliminate single-use waste through reusable packaging.
  </div>
  <div class="col-sm-5 d-none d-sm-block">
    <a href="https://www.bcorporation.net/en-us/find-a-b-corp/company/boox/"><img class="article-logo" src="/img/champion_logos/boox.svg" alt="Logo for Boox" loading="lazy"></a>
  </div>
</div>

<div class="row align-items-center h-100">
  <div class="col-sm-7">

#### [Bambu.eco](https://bambu.eco) - US
Bambu creates innovative products made from renewable and organic materials.
  </div>
  <div class="col-sm-5 d-none d-sm-block">
    <a href="https://www.bcorporation.net/en-us/find-a-b-corp/company/bambu/"><img class="article-logo" src="/img/champion_logos/bambu.avif" alt="Logo for bambu" loading="lazy"></a>
  </div>
</div>

<div class="row align-items-center h-100">
  <div class="col-sm-7">

#### [zeroCO2.eco](https://zeroco2.eco) - Italy
zeroCO2 helps fight the climate crisis with high social impact reforestation.
  </div>
  <div class="col-sm-5 d-none d-sm-block">
    <a href="https://www.bcorporation.net/en-us/find-a-b-corp/company/zeroco2/"><img class="article-logo" src="/img/champion_logos/zeroco2.svg" alt="Logo for zeroCO2" loading="lazy"></a>
  </div>
</div>

In addition, there are a few local B Local chapters using .eco domains, such as [blocalvancouver.eco](https://www.blocalvancouver.eco/) and [bldwesterncanada.eco](https://bldwesterncanada.eco).

### B Corp and the .eco registry

Prior to launching .eco, we were proud to be one of the first B Corporations in Canada. Moreover, B Lab representatives played a valuable role on the [.eco Stakeholder Council](https://org.eco/) – the group of organizations who helped develop the consensus on .eco’s mission and values.

In our [2023 Impact Plan](https://go.eco/news/2022-impact-report/), we set a goal of recertifying as a B Corp this year. We are currently in the evaluation stage and are looking forward to rejoining the B Corporation community. Stay tuned!
