---
title: .eco Acceptable use policy
description: Terms for the acceptable use of .eco domain names and web sites
page-path: privacy/
og-image: opengraph/windmill-hill-brown-og.jpg
og-width: 1200
og-height: 630
i18nNamespace: privacy
resourceFiles:
  body: privacy.html
---
<div class="container">
	{{{t "body" }}}
</div>