---
title: .eco vs .earth
description: A summary of how the .eco top-level domain compares with the .earth TLD
page-path: about/eco-vs-earth/
og-image: opengraph/watering-earth-og.jpg
og-width: 1200
og-height: 630
---

<link rel="preload" as="image" href="/img/watering-earth.webp">

<div class="jumbotron compare-header" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/watering-earth.webp'); background-size: cover">
	<div class="container">
		<h1>.eco vs .earth </h1>
		<p>.earth domains are occasionally used for environmentally-friendly sites. Here's how .earth compares with .eco.</p>
	</div>
</div>

<div class="section policy">
	<div class="container">
		<p><strong>.eco</strong> is more than just a domain name: it's a globally-recognized symbol that shows you are working towards a more sustainable future. By choosing a .eco domain, you are joining a global community of like-minded people committed to positive change for our planet.</p>
		<p>We recognize that there are other top-level domains out there. As <strong>.earth</strong> domains are sometimes used by environmentally-friendly organisations, we want to share how .eco is different.</p>

		<table>
			<thead>
				<tr><td style="width: 33%"></td><th style="width: 33%">.eco</th><th style="width: 33%">.earth</th></tr>
			</thead>
			<tbody>
				<tr>
					<td>Eligibility</td>
					<td>.eco is exclusively for <a href="/for/business">businesses</a>, <a href="/for/nonprofits">non-profits</a> and <a href="/for/individuals">individuals</a> that care about our planet.</td>
					<td>.earth domains can be used for any purpose.</td>
				</tr>
				<tr>
					<td>Type</td>
					<td><a href="https://icannwiki.org/Community_TLD">Community TLD</a></td>
					<td><a href="https://en.wikipedia.org/wiki/Generic_top-level_domain">Generic TLD</a></td>
				</tr>
				<tr>
					<td>Length</td>
					<td>3</td>
					<td>5</td>
				</tr>
				<tr>
					<td>Applicable languages</td>
					<td>English, French, German, Spanish, Italian and many others</td>
					<td>English</td>
				</tr>
				<tr>
					<td>Domain Registry</td>
					<td><a href="https://bigroom.eco/">Big Room</a></td>
					<td><a href="https://www.interlink.or.jp/company/">Interlink</a></td>
				</tr>
				<tr>
					<td>Number of managed TLDs</td>
					<td>1 (just .eco!)</td>
					<td><a href="https://ntldstats.com/registry/Interlink-Co-Ltd">2</a></td>
				</tr>
				<tr>
					<td>Sustainability policy</td>
					<td><a href="/impact/">Yes</a></td>
					<td><a href="https://www.interlink.or.jp/env/">Yes</a></td>
				</tr>
				<tr>
					<td>Environmental certifications</td>
					<td>
						<a href="https://www.bcorporation.net/en-us/find-a-b-corp/company/big-room-inc/">B Corporation</a><br>
						<a href="/news/eco-is-carbon-neutral-2024/">Certified carbon neutral</a>
					</td>
					<td>None</td>
				</tr>
				<tr>
					<td>Support of the environmental community</td>
					<td>
						.eco is backed by a <a href="https://org.eco/">consortium of over 50 leading environmental organizations</a>.
					</td>
					<td>No</td>
				</tr>
				<tr>
					<td>Includes</td>
					<td>.eco domain<br>.eco community membership<br>.eco profile<br>.eco trustmark
					</td>
					<td>.earth domain</td>
				</tr>
			</tbody>
		</table>

		<p>
			We believe that selecting the right domain name is an important and far-reaching decision. It is worthwhile doing some research to make sure that you choose a domain that will benefit your brand. Here is our <a href="/news/eco-boosts-your-brand/">guidebook for choosing the right domain name</a>. 
			If you want to see if your preferred .eco domain is available, please search for it below.
		</p>
	</div>
</div>

{{>search hnum=2 }}
