---
collection:
- news
- studies
title: "Arbor - .eco champion"
excerpt: Trying to get a handle on your company's carbon impact? Arbor's carbon management software makes this simple.
description: "Arbor builds carbon management tools for companies of every size."
header-img: /img/champion_logos/arbor-header.webp
header-img-alt: "Champion your company's carbon strategy with Arbor"
pubdate: 2023-11-16
author: Eco Domain (.eco)
layout: article.hbs
og-image: opengraph/arbor-og.png
og-width: 1200
og-height: 400
page-path: champions/arbor/
---

# {{title}}

## {{excerpt}}

![{{header-img-alt}}]({{header-img}})

_We connected with Danny Grande, Co-Founder and Chief Product Officer at [Arbor](https://arbor.eco/), about how they are working to revolutionize carbon reporting._

### Arbor started with a shared dream of four individuals working together in a basement? What inspired you to launch the company?

My three co-founders and I have always had entrepreneurial aspirations. Arbor is the third company we’ve started together.

The first company was a social enterprise aimed at helping <abbr title="Science, technology, engineering and math">STEM</abbr> university students gain practical experience by connecting them with projects in the industry. The main goal of this was to help people. We quickly found that our revenue model wasn’t sustainable, and decided to go a different direction.

The second company was a software development firm. We built out projects for different companies across western Canada. The revenue model was much more sustainable; however, as entrepreneurs, we weren’t fulfilled by working on multiple smaller projects at the same time.

Right before COVID hit, we entered into a hackathon hosted by a local bank. The hackathon was focused on open banking, so we built out the very first iteration of Arbor. We won third place in the hackathon, but we really thought we had something special.

Over the following months, we entered into multiple different competitions with our idea and ended up winning almost all of them. For the first time in our entrepreneurial journey, we had a company that helped people, had a sustainable revenue model, and brought the founders fulfillment through building an innovative product. Because we’re focused on social and environmental good, we get to work with so many brilliant, inspiring and passionate people.

### How does Arbor differ from other carbon management tools?

Arbor has two main differentiators from other carbon management tools: [accuracy and accessibility](https://www.arbor.eco/product/carbon-calculator).

Through our research and development, we’ve found that carbon management tools in the industry are using global averages and proxy data in their calculations. These data have a massive effect on the accuracy of the end calculation. For example, cotton t-shirts sourced and manufactured in Brazil have a much different impact than cotton t-shirts sourced and manufactured in Bangladesh. Arbor has developed **regional-specific impact metrics** to take these nuances into account.

Arbor believes that every company has the right and the responsibility to measure and manage its carbon footprint. Traditional carbon management practices are difficult to use, time-intensive, and are extremely costly. Arbor’s platform is designed for anyone from a small “mom and pop shop” to the largest global organizations to use. Clients have consistently recommended us as one of the easiest platforms to start your carbon management journey with. Juan Calvet, former CTO and now Director of Data at Schibsted, stated, “I truly believe that Arbor has the technology to accelerate the transition towards sustainable e-commerce, and revolutionize the consumer experience."


### Where do you see carbon reporting headed in 2024 and beyond?

Over the past three years, the whole sustainability industry has been flipped on its head. We’re experiencing a “demand squeeze” on businesses. Investors, stakeholders, consumers and governments are all demanding that businesses operate more transparently and reduce their overall carbon footprint.

[Carbon management](https://www.arbor.eco/blog/simplified-carbon-management) has become a mandatory requirement for future-facing companies. 80% of consumers stated that they would be willing to pay increased prices for sustainably produced products. 1,500 climate laws and policies have been proposed globally, and sustainable investment funds are growing at extraordinary rates. With all this demand on businesses to manage and measure carbon emissions, carbon reporting is necessary for any profitable company.

### How does diversity factor into your success?

[Global warming is a global problem](https://www.arbor.eco/blog/global-carbon-emissions-impact-breakdown). In order for Arbor’s mission to succeed, we need to address diverse problems. Diverse perspectives drive innovation by bringing together individuals with different backgrounds and experiences. 

### Why did you select a .eco domain for your brand?

When we were choosing a domain for Arbor, we wanted something that immediately reflected our commitment to sustainability. The .eco domain was a natural fit for Arbor. It aligns perfectly with Arbor's mission to simplify carbon management and our dedication to environmental responsibility.

With this domain, every time someone visits the Arbor website, they're reminded of our core focus on eco-friendly practices. Our domain, [Arbor.eco](https://www.arbor.eco/) reinforces Arbor's identity as a leader in sustainable solutions, and it's a constant reminder to our team at Arbor of the environmentally-conscious ethos we embody in all our efforts.

Selecting this domain was a deliberate choice to ensure that Arbor’s digital presence resonates with our environmental values and our commitment to helping businesses reduce their carbon impact effectively.

<aside class="inverted">
  <ul>
    <li><strong>Domain</strong>: <a href="https://arbor.eco">arbor.eco</a> (<a href="https://profiles.eco/arbor">.eco profile</a>)</li>
    <li><strong>Community member since</strong>: Oct 2020</li>
    <li><strong>Domain retailer</strong>: Namecheap</li>
  </ul>
</aside>

_At .eco, we are fortunate to be surrounded by a community of businesses, organizations and individuals working hard to protect our planet. We are honoured to spread the word about the great work they're doing. If you are a member of the .eco community and would like to be featured, [get in touch](mailto:support@bigroom.eco)._

