---
collection: news
title: "We are B Corp certified!"
excerpt: We’re excited to announce that [Big Room](https://bigroom.eco/), the company behind .eco, has just recertified as a [B Corporation](https://www.bcorporation.net/find-a-b-corp/company/big-room-inc/).
description: Big Room Inc, operator of the .eco top-level domain registry, is a certified B Corporation with a score of 92.5
header-img: /img/news/bigroom-bcorp.webp
header-img-alt: B Corp and Big Room logos
pubdate: 2024-04-16
author: Eco Domain (.eco)
layout: article.hbs
og-image: opengraph/bigroom-bcorp-og.png
og-width: 1200
og-height: 630
page-path: news/eco-is-certified-b-corp/
---

# {{title}}

## {{excerpt}}

![{{header-img-alt}}]({{header-img}})

This renewal is the culmination of 9 months of work completing the certification process - just in time for Earth Month and .eco’s 7th birthday.

We originally certified in 2010. At that time, we were one of the first certified B Corporations in Canada. We believe that the B Corporation 5 Impact Area Pillars (Workers, Environment, Governance, Customers and Community) are well-aligned with principles of .eco. We felt strongly that the .eco registry should lead by example and demonstrate how we are trying to live by those values.

<div class="news-img-40pct">

![Graphic showing the 5 B Corp Impact Areas: Workers, Environment, Governance, Customers and Community](/img/news/B-Corp-impact-areas.svg)
</div>

Obtaining and maintaining B Corp certification is a pretty thorough and rigorous process. We did not have the capacity to renew the certification in 2018, but last year we set a goal to restore our B Corp certification. That work is now complete.

With this recertification, we achieved a score of **92.5**. This is quite a bit higher than our 2013 certification score of **82.4**. Our score was boosted as we were recognized as being “Mission Locked”, a company working to create a positive outcome for its stakeholders, and having a focus on Environmental Education & Information. This score is a baseline for us to continue to improve against as we go through future recertifications.

![Overall B Impact Score for Big Room Inc is 92.5](/img/news/BImpactScore.webp)

We are proud to join the other [members of the .eco community](https://profiles.eco/profile/certification/b-corporation) who are currently certified B Corporations. We are happy to highlight our B Corp certification on our [website](https://go.eco/) and our [.eco profile](https://profiles.eco/bigroom).

We are looking forward to learning from the community of other B Corps. And we will [continue sharing](/news/bcorporation-certification/) what we’ve learned about being a B Corp. If you want to find out more, [let's connect](javascript:Intercom('show')).
