---
collection:
- news
- studies
title: "Live Lightly - .eco champion"
excerpt: Trying to live a more sustainable life? The Live Lightly podcast is full of healthy living tips that leave a light footprint on the planet.
description: "Interview with Jessica Franklin, the host of the Live Lightly podcast that explores how to live sustainably."
header-img: /img/champion_logos/livelightly.webp
header-img-alt: "Herbs growing in jars"
pubdate: 2024-09-26
author: Eco Domain (.eco)
layout: article.hbs
og-image: champion_logos/livelightly.jpg
og-width: 1200
og-height: 630
page-path: champions/livelightly/
---

# {{title}}

## {{excerpt}}

![{{header-img-alt}}]({{header-img}})

_**Jessica Franklin** created the Live Lightly podcast to explore how to live more sustainably. We caught up with her about her show._

### What inspired you to start a podcast about sustainable living?

As a mother who has been trying to figure out the sustainable living puzzle for over a decade now, and as someone who values health and wellness just as much as living in balance with Mother Nature, I have come to realize that sustainability and wellness are not separate.
On one hand, you have people talking about topics such as plastic, <abbr title="Perfluorooctanoic acid">PFOAs</abbr>, commercial farming, or glyphosate, and how these things are affecting the environment. And on the other hand, you have people talking about those same topics and how they affect human health.

The major problem that I see is that **no one is talking about these topics in the same context**. There is a disconnect. I feel that it is important for us not only to know about the environmental problems that we face both locally and globally and the causes of these problems, but to also understand the correlation with human health and wellbeing.

So I started this podcast in the hopes of connecting the dots between these two conversations. Ultimately, I envision a future where people are cutting out personal plastic use intentionally for the planet AND for their own health and well-being. Let’s be real: it’s easy for someone to decide to make cleaner, greener, and more sustainable, healthier choices, but it is almost impossible to do it on your own. We live in a society that is set up to be convenient, and therefore, disposable and filled with chemicals.

Companies know that people care about the environment and their health, and therefore want to make better choices. Labeling has changed in an effort to attract these customers. Unfortunately, very little of the product actually falls into alignment with the customer's intentions or desires because they are still made to be convenient (think chemicals) and disposable (think plastic).

I believe that knowledge is power, and so my intention is to bring people information that will both inspire them to make swaps that are better for their health and the health of the planet, but also to empower them with the knowledge on how to do it in a way that is truly sustainable and healthy. 


### Do you have a favorite episode so far?

I have truly enjoyed the all of the conversations that I’ve had with my guests, so it’s hard to pick a favorite. Everyone has had valuable wisdom to share.

I’ve found it to be especially inspiring to hear stories from owners of small businesses who are dedicated to offering truly sustainable products to their customers.  It’s really eye-opening to learn about what it takes to offer sustainably made, sourced, and packaged products. Once you hear about the obstacles and challenges they have to overcome to be a good citizen of the planet you want to jump on board to support them and ditch the products that are being mass produced by large corporations who could do better for the health of the planet and their customers, but choose not to in favor the bottom line.  

If I were to guide a new listener to an episode to start with, I would have to go back to [Episode 1](https://livelightly.eco/episodes/earth-day-planet-vs-plastic-with-director-of-earth-day-end-plastic-initiatives-aiden-charron) where I spoke with the Director of Global Earth Day at the [Earth Day Organization](https://www.earthday.org/).  He explained the basics of what people need to know about plastic (what it’s made of, how it impacts the environment once discarded), and the bigger picture of what that means for human health now and in the long run. For someone to decide to go green it’s important to fully understand what’s at stake for their own health and wellbeing which is often an overlooked connection.  So, this is a great episode to become familiar with one of the most serious threats that the environment is facing today.

### What’s a good starting point for anyone looking to live more sustainably?

Just start! My favorite place to start is by **eliminating plastic use**. I know it sounds impossible, but you can start with the next purchase that you make. I realize that it can be overwhelming and frustrating to find new products to switch to because greenwashing is so prevalent in marketing and plastic is EVERYWHERE! 

So I wrote a [sustainable living guide](https://livelightly.myflodesk.com/) that I offer as a free resource to take out the guesswork and stress. It’s user-friendly which makes it less intimidating to find new companies to trust. Keep in mind that you don't have to do it all at once: just use the guide to find truly sustainable and healthy swaps anytime you need to purchase something for yourself or for your household (such as cleaning products, make-up, personal hygiene, clothing, shoes, or furniture).    

But whether it is swapping to a reusable water bottle or coffee mug, saying no to straws or fast fashion, shopping second hand, cutting out meat a few meals a week, or buying organic food grown on regenerative farms at your local farmers' market, it doesn’t matter, just start!  

### How are you growing your audience?

Right now, word of mouth. I also have a weekly newsletter (please [feel free to join](https://livelightly.myflodesk.com/)) with updates on new episodes, helpful tips and reminders of how to live lightly!  Through the podcast itself, I’m building a community of sustainable small business owners, environmental leaders, doctors, scientists, concerned mothers, and youth, who all have a common goal &mdash; to protect the health of Mother Earth so that humans can live healthy lives.  I believe that with community and a common goal we can all support one another in having a more powerful reach and impact.  

I invite you to listen to The Live Lightly Podcast.  You can find it at [livelightly.eco](https://livelightly.eco/), on [YouTube](https://www.youtube.com/@livelightlybyjessica), or any platform where you listen to podcasts. If you feel inspired by any of the episodes, please share them with your own community of friends, family and coworkers.  Subscribing and leaving us a review and rating will also help us to grow our community to reach more people who may need the information that we share, and is greatly appreciated!

### Why did you choose a .eco domain name for your podcast’s website?

I feel that having a .eco domain helps me to keep my messaging and brand consistent.  

<aside class="inverted" title=".eco champion details">
  <ul>
    <li><strong>Domain</strong>: <a href="https://livelightly.eco">livelightly.eco</a> (<a href="https://profiles.eco/livelightly">.eco profile</a>)</li>
    <li><strong>Community member since</strong>: March 2024</li>
    <li><strong>Domain retailer</strong>: Porkbun</li>
  </ul>
</aside>

At .eco, we are fortunate to be surrounded by a community of businesses, organizations and individuals working hard to protect our planet. We are honoured to spread the word about the great work they're doing. If you are a member of the .eco community and would like to be featured, [get in touch](mailto:support@bigroom.eco).

