---
collection: news
title: ".eco is now carbon neutral"
excerpt: Last year, we set a goal of making .eco the first **certified carbon neutral top-level domain**. We’re proud to announce that .eco has been verified to meet carbon neutrality under **PAS 2060**.
description: ".eco has been certified to meet the requirements of carbon neutrality under PAS 2060"
header-img: /img/news/tombstone-mountains.jpg
header-img-alt: Tombstone mountains, Yukon, Canada
pubdate: 2023-01-11
author: Eco Domain (.eco)
layout: article.hbs
og-image: opengraph/tombstone-mountains2-og.jpg
og-width: 1200
og-height: 630
page-path: news/eco-is-carbon-neutral/
more:
- news/2022-greenhouse-gas-report/
- news/carbon-footprint-audit/
- news/carbon-footprint-2022/
- news/climate-action-plan-2022/
---

# {{title}}

## {{excerpt}}

![{{header-img-alt}}]({{header-img}})

### Carbon neutral and PAS 2060

Carbon neutral is generally defined as:

> an entity that has either reduced their greenhouse gas emissions to zero or is fully offsetting those emissions.

Environmental claims can be ambiguous if they’re not clearly defined. ‘Carbon neutral’ is one of those nebulous terms and that ambiguity can make it vulnerable to greenwashing. For example, this definition doesn’t clearly stipulate which emissions have been accounted for and offset. Are these direct or indirect emissions? Does it include all known emissions or just those emissions that have been measured?

The PAS 2060 standard, defined by the [British Standards Institute (BSI)](https://www.bsigroup.com/), sets out to address that. Under [PAS 2060](https://en.wikipedia.org/wiki/BSI_PAS_2060) to be carbon neutral:

> The carbon footprint measurements should include 100% of Scope 1 and Scope 2 emissions, plus all Scope 3 emissions that contribute more than 1% of the total footprint.

This definition is pretty rigorous and complete. All direct and all material indirect emissions must be accounted for and offset.

### High-quality carbon offsets and zeroCO2.eco

Completely eliminating greenhouse gas emissions is currently not feasible for most organizations. Some amount of carbon emissions are associated with pretty much everything we do. That includes browsing the internet or visiting this website.

When we calculated our [carbon footprint](/impact/ghg-report-2022), we set a goal of being as expansive as possible in what we considered in scope. That includes any emissions associated with operating the .eco domain registry, the various web sites we manage and even emissions from our homes. 

> We estimate the emissions for our 2022 fiscal year (September 2021 - October 2022) are approximately 4.4 metric tons of carbon dioxide equivalent.

To offset these emissions, we had 4 goals in mind:
1. We wanted to ensure that we invested in the highest quality offset projects.
2. Given the potential impermanence of carbon offsets, we wanted to offset much more than we had emitted.
3. We wanted the offset project to have global scope, reflecting the global nature of the environmental community.
4. We wanted to work with the .eco community on this goal

We selected [zeroCO2](https://zeroco2.eco) as our carbon offset partner. In addition to being a [.eco champion](/champions/), zeroCO2 is a [B Corp](https://www.bcorporation.net/) that creates innovative solutions to mitigate the climate crisis with the goal of safeguarding biodiversity and supporting people.

<p class="article-logo">
  <img src="/img/champion_logos/ZCO2-Logo.svg" style="width:20%" alt="zeroCO2.eco logo">
</p>

Based on our criteria, zeroCO2 recommended investing in a project in Brazil that is protecting an area of the Amazon rainforest. The project meets the [VERRA Verified Carbon Standard](https://verra.org/programs/verified-carbon-standard/) and protects essential biodiversity in the Amazon basin and supports local communities in forest stewardship. The Verified Carbon Standard is one of the high-quality standards recognized by PAS 2060.

<p class="article-logo">
  <img src="/img/news/VCS-Logo-Verra-Color.jpg" style="width:60%" alt="VERRA Verified Carbon Standard logo">
</p>

Through zeroCO2, we acquired credits to offset 10 tons of CO2e - **more than double our estimated emissions for 2022**.

### PAS 2060 certified by Inhabit.eco

Meeting the PAS 2060 standard requires verification by a certified independent auditor. With our carbon offset credits secured, we worked with our carbon accounting partner, [Inhabit.eco](https://inhabit.eco), to validate our compliance under PAS 2060. Inhabit completed their verification in December 2020 and provided us with their Certificate of Achievement. 

<p class="article-logo">
  <img src="/img/news/inhabit-logo.svg" style="width:60%" alt="Inhabit.eco logo">
</p>

The full [audit report is available here](https://docs.google.com/presentation/d/1XU6Ky10fuZO1KvZR_2efq3AKH0BEFt1W/edit?usp=sharing&ouid=109816306484790685767&rtpof=true&sd=true).


### Carbon neutrality and the .eco community

In terms of the impact to the .eco community, this means that any emissions associated with managing your .eco domain name is accounted for and offset accordingly. Whenever someone looks up a .eco domain name in their browser or whenever a .eco domain name is registered or updated, we account for any emissions associated with those operations.

Note that this does not include any emissions associated with .eco websites created by members of the .eco community. Please consider using an eco-friendly web host for that - see our [article for more information](/news/finding-a-green-domain-retailer/).

### What’s next

As per our [Climate Action Plan](/news/climate-action-plan-2022/), we have met our target of declaring carbon neutrality by January 2023 🎉. 

For the remainder of 2023, we are focusing on driving down the emissions from our operations with the goal of improving the **efficiency of our digital services by 25%**. We will continue to update you on our progress and share what we’re learning along the way.

Now that we’re officially carbon neutral, our goal is to maintain and strengthen this position going forward. So you can expect an account of our carbon footprint for the 2023 fiscal year before the end of this year.

How is your journey to carbon neutral and net zero going? We would love to hear from you and help share or learn from your story. [Send us a note](mailto:support@bigroom.eco) to continue the conversation.
