---
collection: news
title: Finding an eco-friendly domain retailer
excerpt: Looking for a .eco domain retailer that is environmentally friendly? In this article, we've got you covered.
description: "Summarizing the sustainability claims of where you can buy a .eco domain name from eco-friendly retailers."
header-img: /img/news/market.jpg
header-img-alt: Market stall with fruit and vegetables
pubdate: 2022-06-13
author: Eco Domain (.eco)
layout: article.hbs
og-image: opengraph/market-og.jpg
og-width: 1200
og-height: 630
page-path: news/finding-a-green-domain-retailer/
update: 2024-10-01
---

# {{title}}

## {{excerpt}}

![{{header-img-alt}}]({{header-img}})

There are now [over a hundred places you can buy a new .eco domain](/search/). We are often asked which retailers we recommend. Our answer is that, well, it depends…

When buying a new domain name there's a lot to consider:
* finding a retailer in your region or that accepts your currency
* the services that the retailer offers such as web hosting, email or DNS
* the price of the domain name and hosting packages
* [the security features they offer to keep your domain secure](/news/securing-your-eco-domain/)

We have tried to make it as easy as possible on [go.eco](https://go.eco/search/) (or [kauf.eco](https://kauf.eco/search/) for German-speakers or [allez.eco](https://allez.eco/search/) for French-speakers) to filter the list of retailers to find one that meets your needs.

One of the things that makes .eco unique is our focus on supporting the environmental community. We think it is really important to consider the environmental impact of the technology choices we make - and that includes deciding where to register your domain name.

### The environmental impact of a domain name

Managing your domain name and hosting your website requires a lot of electricity.
How that electricity is generated has a big impact on the carbon footprint of your website.
Some data centers depend on electricity generated using coal or other fossil fuels.
This means that a lot of greenhouse gasses could be emitted to keep your site running.

Fortunately, there are many .eco retailers who are concerned about the climate impact of their operations and power their data center with **electricity generated 100% from renewable sources**,
like wind or hydro electricity. Renewable energy may not be available in all data center locations or for all business activities, so some retailers purchase **renewable energy credits** or invest in **carbon credits** to offset the emissions produced by their operations.

It's important to consider not just how the electricity is generated, but also how efficiently that electricity is used.
Less energy efficient data centers require more cooling, more computers and other equipment to handle the same processing load.
A data center can be evaluated based on its [Power Usage Effectiveness (PUE)](https://en.wikipedia.org/wiki/Power_usage_effectiveness).
**Data centers with a PUE of 1.2 or lower are currently considered to be highly efficient**.

Running a data center requires lots of computers, cables, routers and other electronic equipment.
That equipment fails periodically and needs to be replaced or upgraded. Some retailers are dealing with that **electronic waste (e-waste) by recycling it**
and disposing of it responsibly to keep it from impacting our environment.

> It may not make sense to save a few bucks per month on hosting only to select a retailer that doesn't have a clear sustainability policy or isn't powering their services using renewable energy.

In addition, domain retailers operate an office. Like most businesses there are steps that they can take to reduce their environmental footprint,
such as encouraging **sustainable commuting, teleworking or running a paperless office**.

### Eco-friendly domain retailers

When [searching for a .eco name on our sites](https://go.eco/search/?envPolicy=Yes), you can use the Eco-friendly &#x1F33F; filter to see only those retailers that are operating sustainably.

Here is more information about those eco-friendly retailers and the actions they are taking to protect the environment.

| Retailer | Country | Sustainability policy |
| -------- | ------- | --------------------- |
|[20i](https://www.20i.com/green-hosting) | UK | Powered by 100% renewable energy<br>Energy efficient data center<br>E-waste recycling<br>Paperless office<br>Sustainable commuting |
|[34SP.com](https://www.34sp.com/sustainable-hosting) | UK | Powered by 100% renewable energy<br>Energy efficient data center<br>E-waste recycling<br>Purchases carbon offsets |
|[BIOHOST](https://www.biohost.de/) | Germany | Powered by 100% renewable energy<br>Energy efficient data center<br>Paperless office<br>Sustainable commuting |
|[Canspace Solutions](https://www.canspace.ca/about.html) | Canada | Powered by 100% renewable energy |
|[checkdomain](https://www.checkdomain.net/en/company/why-checkdomain) | Germany | Powered by 100% renewable energy |
|[Cloud Next](https://www.cloudnext.uk/green-hosting) | UK | Powered by 100% renewable energy<br>Energy efficient data center<br>Purchases carbon offsets<br>Paperless office<br>Sustainable commuting |
|[Combell](https://www.combell.com/en/datacenters) | Belgium | Powered by 100% renewable energy |
|[CrazyDomains](https://www.crazydomains.com/about/eco-friendly/) | Australia | Energy efficient data center<br>E-waste recycling<br>Paperless office |
|[Dinahosting](https://en.dinahosting.com/somos-dinahosting/responsabilidad-social) | Spain | Energy efficient data center<br>E-waste recycling |
|[do.de](https://www.do.de/umweltschutz/) | Germany | Powered by green electricity<br>Energy efficient data center<br>Tree planting for climate protection |
|[dogado](https://www.dogado.de/firma/ueber-uns) | Germany | Powered by renewable energy<br>Tree planting for climate protection |
|[domaindiscount24](https://www.domaindiscount24.com/en/about-us) | Germany | Purchases carbon offsets |
|[domainnameshop](https://domainnameshop.com/jpg/stromgaranti.jpg) | Norway | Powered by 100% renewable energy | 
|[GoDaddy](https://www.godaddy.com/godaddy-for-good/sustainability) | USA | Commitment to reduce Scope 1, 2 GHG emission by at least 50% before 2025<br>Energy efficiency, water conservation, recycling programs<br>Powered by 100% renewable energy (offices and data centres in Europe, the Middle East, and Africa) |
|[Green.ch](https://www.green.ch/en/sustainable-data-centers) | Switzerland | Energy efficient data center<br>Powered by renewable energy<br>Waste heat recovery<br>Powered by solar panels |
|[Greenhost](https://greenhost.net/products/hosting/) | Netherlands | Powered by 100% renewable energy<br>E-waste recycling<br>Sustainable procurement (food) |
|[GreenWebspace](https://greenwebspace.com/ueber-uns/transparenz/) | Austria | Powered by 100% renewable energy<br>Purchases carbon offsets<br>Sustainable commuting |
|[guebs](https://www.guebs.com/nosotros/sostenibilidad) | Spain | Powered by 98% renewable energy<br>Energy efficient data center<br>E-waste recycling<br>Purchases carbon offsets<br>Paperless office<br>Sustainable commuting |
|[Hetzner](https://www.hetzner.com/unternehmen/umweltschutz/) | Germany | Powered by 100% renewable energy<br>Energy efficient data center |
|[hostsharing eG](https://www.hostsharing.net/vorteile/nachhaltigkeit-und-soziale-gemeinschaft/) | Germany | Powered by 100% renewable energy<br>Energy efficient data center<br>Sustainable commuting<br>Sustainable procurement<br>E-waste recycling |
|[Infomaniak](https://www.infomaniak.com/en/ecology)[<span class="eco-profile-icon" title=".eco profile"></span>](https://profiles.eco/infomaniak) | Switzerland | Powered by 100% renewable energy<br>Energy efficient data center<br>Purchases carbon offsets<br>E-waste recycling<br>ISO 140001, ISO 50001 |
|[InterNetX](https://snapshot.internetx.com/en/green-data-center-be-successful-with-sustainability/) | Germany | Powered by 100% renewable energy |
|[Krystal](https://krystal.io/green)[<span class="eco-profile-icon" title=".eco profile"></span>](https://profiles.eco/krystal) | UK | Powered by 100% renewable energy<br>Energy efficient data center<br>B Corporation<br>1% for the Planet<br>Tree planting for climate protection |
|[kualo](https://www.kualo.com/company) | UK | Powered by 100% renewable energy<br>Energy efficient data center<br>Paperless office<br>Sustainable commuting<br>Purchases carbon offsets<br>Tree planting for climate protection |
|[Lexsynergy](https://www.lexsynergy.com/environmental-pledge) | UK | Office powered by solar power<br>Tree planted for every .eco registered |
|[Netcetera](https://netcetera.uk/) | UK | Powered by 100% renewable energy |
|[OVH](https://corporate.ovhcloud.com/en/sustainability/environment/) | Germany | Powered by 78% renewable energy<br>Energy efficient data center<br>E-waste recycling |
|[Pair Domains](https://www.pairdomains.com/kb/posts/556) | USA | Purchases carbon offsets<br>Sustainable commuting |
|[Petricore](https://petricore.eco/vision/)[<span class="eco-profile-icon" title=".eco profile"></span>](https://profiles.eco/petricore) | Germany / Iceland | Powered by 100% renewable energy<br>Energy efficient data center<br>Purchase carbon offsets |
|[Porkbun](https://porkbun.com/blog/promoting-sustainability-exploring-the-eco-community/)[<span class="eco-profile-icon" title=".eco profile"></span>](https://profiles.eco/porkbun) | USA | Powered by 95% renewable energy<br>Energy efficient data center |
|[PlanetHoster](https://www.planethoster.com/fr/Hebergement-Vert) | Canada / France | Powered by 100% renewable energy<br>Energy efficient data centre<br>E-waste recycling<br>Paperless office<br>Sustainable commuting |
|[Rebel.com](https://blog.rebel.com/digital-and-tech-hacks-to-reduce-enviro-impact/) | Canada | Powered by 100% renewable energy (Montreal)<br>Energy efficient data center<br>Sustainable commuting<br>Donation matching |
|[Squarespace](https://support.squarespace.com/hc/en-us/articles/15648952502925-What-does-Squarespace-do-for-environmental-sustainability-) | USA | Energy efficient data centers<br>LEED Silver office |
|[United Domains](https://www.united-internet.de/en/company/sustainability/our-approach.html) | Germany | Powered by 100% renewable energy<br>Purchases carbon offsets<br>E-waste recycling |
|[Variomedia](https://www.variomedia.de/ueber-uns/) | Germany | Powered by 100% renewable energy |
|[Viridio](https://viridio.net/environmental-sustainability) | US | Powered by 100% renewable energy (solar)<br>Energy efficient data center<br>E-waste recycling<br>Purchases carbon offsets<br>Paperless office<br>Sustainable commuting |
|[Web Hosting Canada](https://whc.ca/green-hosting/) | Canada | Powered by 100% renewable energy<br>Energy efficient data center<br>Paperless office<br>Green Business Bureau certified |
|[Web Wiz](https://www.webwiz.co.uk/green-hosting/) | UK | Powered by 100% renewable energy<br>Energy efficient data center<br>Purchases carbon offsets |
|[Webnames.ca](https://www.webnames.ca/about/about-webnames.aspx) [<span class="eco-profile-icon" title=".eco profile"></span>](https://profiles.eco/webnames) | Canada | Climate Smart certified |

In compiling this data, we've relied on the self-reported claims from the retailers based on their websites.
If you have any questions or comments based on this analysis, please let us know at [support@bigroom.eco](mailto:support@bigroom.eco).

_We hope that this information makes finding an eco-friendly domain retailer a bit easier and will give you peace of mind that you can host your website without adversely affecting the environment._
