---
collection:
- news
- studies
title: "CARL - .eco champion"
excerpt: Helping every worker become a climate chanmpion
description: "African-made eco-friendly cleaning products"
header-img: /img/champion_logos/carl.webp
header-img-alt: Climate Action Resource Library logo and photo collage of workers
pubdate: 2023-07-17
author: Eco Domain (.eco)
layout: article.hbs
og-image: opengraph/carl-og.png
og-width: 1200
og-height: 600
page-path: champions/carl/
---

# {{title}}

## {{excerpt}}

![{{header-img-alt}}]({{header-img}})

_We spoke with the founding team of [CARL](https://carl.eco/) (Climate Action Resource Library) about how workers can take climate action through their jobs._

### Tell us a bit about CARL? What is it and why did you set it up?

[CARL](https://carl.eco/) is a website that empowers people to make their jobs more sustainable. We collaborate with workers and sustainability professionals to create climate action resources that are job-specific and realistic. In the future, we will have programming and events to support a community of workers taking climate action.

CARL grew out of our desire to do something more about the climate crisis. Each of us on the team has found ways to take climate action in our regular workplaces: from starting **green teams** to switching to **solar power** to **waste diversion** initiatives. We have found it to be positive for the environment and for our careers. We want to help others do the same.

Our hope is that workers at all levels and industries can use their power and influence to transform our economy into a sustainable system for future generations. 

### What’s your advice for someone looking to take climate action in their professional life? How can CARL help?

First, we’re excited that you’re bringing climate action into the workplace! Welcome to the club! Second, we recommend finding a coworker or a colleague who also cares about climate. It’s helpful to have someone to bounce ideas off of and to stay accountable to.

Third, find out which climate actions are relevant to your work. See if CARL has any resources for your job function. If not, try searching online for _“climate action [your job]”_ or _“sustainability [your job]”_. 

In general, you’re trying to find ways to reduce electricity use, fuel consumption, material/supplies use, waste, and pollution. Select an action that is feasible (that is, it’s part of your job and won’t get you in trouble) and meaningful to you. We recommend starting with small changes. Go for easy wins to gain momentum.

For example, if you’re a web designer, you could follow sustainable web design practices like setting a [page weight budget](https://sustainablewebdesign.org/has-the-design-team-set-a-page-weight-budget/). Or if you’re a delivery person, you could practice [fuel-efficient driving techniques](https://www.epa.gov/greenvehicles/discover-fuel-saving-tips).

If you’re not finding information that’s a good fit, [email us](mailto:team@carl.eco)! We can brainstorm with you and write a guide for others in your profession. 

### What are your future plans for CARL?

Right now we’re developing **job-specific climate action guides** for the most common jobs in the United States. After that, our next step is to start spreading the word and building a community. We want people to use [CARL](https://carl.eco/resources/) as a place to exchange ideas with other workers and get support if they need it. 

### How can members of the .eco community help support CARL?

Please [check out the site](https://carl.eco/resources/) and share it with your colleagues who are concerned about climate change. We’re also [looking for contributors](https://carl.eco/join-us/) and we’re open to suggestions. You can reach us at [team@carl.eco](mailto:team@carl.eco).

### What’s the story behind selecting your .eco domain?

The .eco domain is a great match for our mission. It immediately tells people that CARL is environmentally-focused. We were really excited to find out that [CARL.eco](https://carl.eco) was available and that we didn’t have to use an abbreviated or mispelled version of ClimateActionResourceLibrary.eco 😁.

It’s also great that the .eco actually means something. All .eco sites need to share their sustainability commitments and pledge to take environmental action. We are proud to have a .eco domain and are looking forward to learning from the rest of the community!

### What do you enjoy about working on CARL &amp; climate? 

Working on CARL and climate has been incredibly enriching. We get to meet people who care deeply about building community and creating a better future. Together, we imagine different ways of working together and try them out. It’s very hopeful! Once you start looking for ways to be more sustainable at work, you’ll start seeing the potential for climate action everywhere! 

**Team CARL**: Melissa Hsiung, Josh Herrig, Shruti Chander, Saba Gebreamlak

<aside>
  <ul>
    <li><strong>Domain</strong>: <a href="https://carl.eco">carl.eco</a> (<a href="https://profiles.eco/carl">.eco profile</a>)</li>
    <li><strong>Community member since</strong>: Jul 2021</li>
    <li><strong>Retailer</strong>: Namecheap</li>
  </ul>
</aside>

_At .eco, we are fortunate to be surrounded by a community of businesses, organizations and individuals working hard to protect our planet. We are honoured to spread the word about the great work they're doing. If you are a member of the .eco community and would like to be featured, [get in touch](mailto:support@bigroom.eco)._

