---
title: .eco Registrars & Resellers
description: Information for domain retailers about selling .eco domains.
page-path: registrars/
og-image: opengraph/building-og.png
og-width: 1200
og-height: 630
active: registrars
---

<link rel="preload" as="image" href="/img/windmill-hill-brown.jpeg">

<div class="registrar-hero jumbotron" style="background-image: url('/img/windmill-hill-brown.jpeg')">
	<div class="container">
		<h1>A domain for change</h1>
		<p>.eco is the top-level domain for anyone committed to positive change for our planet.</p>
	</div>
</div>

<div class="section registrar-why inverted policy">
	<div class="container">
		<h2>People want to be eco-friendly</h2>

		<p>With <strong>.eco</strong>, your customers will be recognized for the good work they do. A <a href="https://www.businesswire.com/news/home/20140616006605/en/Global-Consumers-Are-Willing-to-Put-Their-Money-Where-Their-Heart-is-When-It-Comes-to-Goods-and-Services-from-Companies-Committed-to-Social-Responsibility">study by Nielsen research</a> found that over half of global online consumers in 60 countries want products and services that are better for people and the planet.</p>

		<p>A potent symbol for positive action, <strong>.eco</strong> is:</p>

		<div class="row image-row">
			<div class="col-sm-4">
				<img src="/img/icons/authentic-gray.png" class="img-responsive" alt="Target icon">
				<p><strong>Authentic:</strong> Created with the support of <a href="https://org.eco/">over 50 environmental organizations</a> from around the world, .eco is the <strong>only</strong> domain extension backed by the environmental community.</p>
			</div>
			<div class="col-sm-4">
				<img src="/img/icons/trusted-gray.png" class="img-responsive" alt="Checkmark icon">
				<p><strong>Trusted:</strong> More than just a domain name, the <a href="/about/system/">.eco System</a> includes a .eco domain name, <a href="https://profiles.eco">.eco profile</a> and <a href="https://support.go.eco/en/articles/578592-what-is-the-eco-trustmark">.eco Trustmark</a> so your customers will be instantly recognized for the good work they do.</p>
			</div>
			<div class="col-sm-4">
				<img src="/img/icons/global-gray.png" class="img-responsive" alt="Conversation icon">
				<p><strong>Global:</strong> Understood around the world, the word "eco" means environment, so people know your customer is part of a worldwide movement committed to making positive change for the planet.</p>
			</div>
		</div>

	</div>
</div>

<div class="section registrar-contact policy">
	<div class="container registrar-join">
		<h2>Selling .eco domains</h2>

		<h3>Starting to sell .eco domains is simple. Get on board today.</h3>

		<div class="row image-row">
			<div class="col-sm-6">
				<div class="text-center">
					<img src="/img/icons/availability-blue-24.svg" class="w-50" alt="Browser icon">
				</div>
				<p><strong>ICANN-accredited registrars</strong>: if you are interested in carrying .eco domains, we'd be happy to help you get set up. We have partnered with <a href="https://cira.ca">CIRA</a>, the Canadian Internet Registration Authority, to provide .eco registry services.</p>
				<p class="text-center">
					<a href="mailto:registrars@bigroom.eco?subject=Registrar%20signup" class="btn btn-primary">Contact us</a>
				</p>
			</div>
			<div class="col-sm-6">
				<div class="text-center">
					<img src="/img/icons/Sunrise.svg" class="w-50" alt="Sunrise icon">
				</div>
				<p><strong>Domain resellers</strong>: to offer .eco domains, please contact your reseller platform partner; .eco is already carried by most reseller platforms. If you are already selling .eco domains, please contact us about being <a href="/search/">listed as a retailer</a>.</p>
				<p class="text-center">
					<a href="mailto:registrars@bigroom.eco?subject=Reseller%20listing" class="btn btn-primary">Get listed on go.eco</a>
				</p>
			</div>
		</div>

		<p class="pt-3">Want to <strong>buy a .eco domain name</strong>? <a href="/search/">Search to see if the name you are looking for is available</a>.</p>
	</div>
	<div class="container">
		<h2 class="pb-3">Registrar resources</h2>
		<div class="row image-row text-center">
			<a href="resources/" class="col-sm-4">
				<img src="/img/icons/Symbol-Diagram-Asset-5.svg" alt="lightbulb icon" class="w-50">
				<h3>Marketing resources</h3>
			</a>
			<div class="col-sm-4">
				<a href="configuration/" class="col-sm-4">
					<img src="/img/icons/eligibility.svg" alt="task list icon" class="w-50">
					<h3>Domain configuration</h3>
				</a>
			</div>
			<div class="col-sm-4">
				<a href="registry-lock/" class="col-sm-4">
					<img src="/img/icons/trust-lock.svg" alt="hand and lock icon" class="w-50">
					<h3>Registry lock</h3>
				</a>
			</div>
		</div>

	</div>
</div>

<div class="section registrar-contact inverted">
	<div class="container">
		<h2>Get in touch</h2>

		<address>
			<strong>Big Room Inc.</strong><br>
			1231 Pacific Boulevard, Suite 581<br>
			Vancouver, BC<br>
			Canada V6Z 0E2<br>
			T: <a href="tel:+16046826673">+1 604 682 6673</a> (9am - 5pm PT Mon-Fri)<br>
			E: <span class="email-link" data-name="support" data-domain="go.eco"></span><br>
		</address>
	</div>
</div>

