---
title: Becoming a registrar | .eco
description: If you are interested in become a registrar for the .eco domain, please let us know.
page-path: registrars/
og-image: opengraph/building-og.png
og-width: 1200
og-height: 630
active: registrars
---

<link rel="preload" as="image" href="/img/windmill-hill-brown.jpeg" />

<div class="registrar-hero jumbotron" style="background-image: url('/img/windmill-hill-brown.jpeg')">
	<div class="container">
		<h1>A domain for change</h1>
		<p class="subheader">.eco is the must-have extension for anyone committed to positive change for the planet.</p>
	</div>
</div>

<div class="section registrar-why inverted">
	<div class="container">
		<h2>People want to be eco-friendly</h2>

		<p>With <strong>.eco</strong>, your customers will be recognized for the good work they do. A <a href="http://www.nielsen.com/ca/en/press-room/2014/global-consumers-are-willing-to-put-their-money-where-their-heart-is.html">recent study by Nielsen research</a> found that over half of global online consumers in 60 countries say they want products and services that are better for people and the planet.</p>

		<p>A new symbol for positive action, <strong>.eco</strong> is:</p>

		<div class="row image-row">
			<div class="col-sm-4">
				<img src="/img/icons/authentic-gray.png" class="img-responsive hidden-xs" alt="Target icon" />
				<p><strong>Authentic:</strong> Created with the support of over 50 environmental organizations from around the world, .eco is the only domain extension back by the environmental community.</p>
			</div>
			<div class="col-sm-4">
				<img src="/img/icons/trusted-gray.png" class="img-responsive hidden-xs" alt="Checkmark icon" />
				<p><strong>Trusted:</strong> The .eco System includes a .eco domain name, .eco Profile and .eco Trustmark so your customers will instantly be recognized for the good work they do in support of the planet.</p>
			</div>
			<div class="col-sm-4">
				<img src="/img/icons/global-gray.png" class="img-responsive hidden-xs" alt="Conversation icon" />
				<p><strong>Global:</strong> Understood around the world, the word "eco" means environment, so people will know your customer is part of a worldwide movement committed to making positive environmental progress.</p>
			</div>
		</div>

	</div>
</div>

<div class="section registrar-contact">
	<div class="container">
		<h2>Become a .eco registrar</h2>

		<h5>The process to become a <strong>.eco registrar</strong> is simple. Get on board today.</h5>

 		<p>We have partnered with CIRA, the Canadian Internet Registration Authority to provide .eco registry services. If you're an ICANN-accredited registrar interested in carrying .eco domains, contact us at <span class="email-link" data-name="support" data-domain="go.eco"></span>. We'd be happy to help you get set up.</p>

		<p>If you are a reseller and would like to carry .eco domains, please contact your registrar partner to enable support for .eco.</p>

		<p>If you are looking to buy a .eco domain name, <a href="/search/">search to see if the name you are looking for is available</a>.</p>
	</div>

	<div class="container">
		<h2>Accredited Registrars</h2>

		<div id="registrar-list"></div>
	</div>
</div>

<div class="section registrar-contact inverted">
	<div class="container">
		<h2>Get in touch</h2>

		<address>
			<strong>Big Room Inc.</strong><br/>
			1231 Pacific Boulevard, Suite 581<br/>
			Vancouver, BC<br/>
			Canada V6Z 0E2<br/>
			T: <a href="tel:+16046826673">+1 604 682 6673</a> (9am - 5pm PT Mon-Fri)<br/>
			E: <span class="email-link" data-name="support" data-domain="go.eco"></span><br/>
			<a href="https://bigroom.eco">bigroom.eco</a><br />
		</address>
	</div>
</div>

<script src="/{{ fingerprint.[js/domain-search.js] }}"></script>
<script>
	if (typeof fetchRegistrars === 'function') {
		function registrarColHtml (registrars) {
			const registrarHtml = registrars.map(function (registrar) {
				return '<li><a data-registrar="' + registrar.registrar + '" rel="noopener" href="' + registrar.url + '">' + registrar.label + '</a></li>'
			})
			return '<div class="col-sm-4"><ul>' + registrarHtml.join('\n') + '</ul></div>'
		}
		fetchRegistrars({
  		searchUrl: '{{ searchUrl }}',
		}).then(function(response) {
			const registrars = response.registrars
			registrars.sort(function(registrar1, registrar2) { return registrar1.label.localeCompare(registrar2.label) })

			const registrarLists = [
				registrars.slice(0, registrars.length / 3),
				registrars.slice(registrars.length / 3, registrars.length / 3 * 2),
				registrars.slice(registrars.length / 3 * 2, registrars.length),
			]

			document.getElementById('registrar-list').innerHTML = '<div class="row">' + registrarLists.map(function (rl) {return registrarColHtml(rl) }).join('\n') + '</div>'
		})
	}
</script>
