---
collection: news
title: "Rebaselining our carbon footprint"
excerpt: This year we are updating our carbon footprint baseline. Here's why.
description: "Recalculating a carbon footprint baseline can become necessary as new data and models become available. Here's why we are rebaselining this year."
header-img: /img/news/scale-oranges.webp
header-img-alt: Man slicing and weighing oranges
pubdate: 2024-10-22
author: Eco Domain (.eco)
layout: article.hbs
og-image: opengraph/scale-oranges-og.jpg
og-width: 1200
og-height: 630
page-path: news/rebaselining-carbon-footprint-2024/
more:
  - news/carbon-footprint-2022/
  - news/low-carbon-diet-eco-websites/
  - news/climate-impact-of-a-domain-name/
  - news/2023-eco-is-carbon-neutral/
---

# {{title}}

## {{excerpt}}

![{{header-img-alt}}]({{header-img}})

2024 is the third year we’ve [estimated our carbon footprint](/impact). Part of declaring a carbon footprint is establishing a baseline that can be used to measure all subsequent reductions against. We defined our 2022 fiscal year as our base year and have been able to make a steady drop in our carbon footprint since then, achieving a preliminary **13% reduction** to date.

When we started out [estimating our carbon footprint](/news/carbon-footprint-2022/), we understood that there was uncertainty and assumptions in the estimates. Moreover, we also knew that new and better data would become available over time.

This is especially true when estimating the footprint of the digital services we operate. Like many technology companies these days, we don’t run our own data centers. We leverage cloud computing and technical infrastructure managed by our partners to operate the .eco domain registry. As a result, we don’t have access to the utility bills for the data centers where those digital services are located. Even if we did, the data isn’t available to isolate our share of the overall energy consumption.

The standard practice in greenhouse gas accounting when calculating supply chain emissions where primary utility data is not available is to rely on proxy measures. To date, we have used data transfer as a proxy as proposed by the [Sustainable Web Design methodology](https://sustainablewebdesign.org/estimating-digital-emissions/). While it’s [not perfect](/news/low-carbon-diet-eco-websites/), data transfer has the benefit of being readily available, broadly correlated with energy consumption for electronic devices, and a metric that we can optimize.

### Sustainable Web Design v4

This year, a new version of the Sustainable Web Design method &mdash; version 4 &mdash; [was released](https://www.thegreenwebfoundation.org/news/understanding-the-latest-sustainable-web-design-model-update/). This new version is based on more accurate data sources. It also makes it easier to isolate components of the overall footprint &mdash; more clearly separating data center, end use devices and embedded emissions.

Based on these improvements, we were keen to adopt this new version to improve the accuracy of the footprint of our digital services. However, one effect of the new model is that it produces estimates that are approximately **60% lower than the prior version**. If we were to just use the new model for calculating our footprint this year, it would represent a massive drop in our estimated emissions that was not in any way attributable to actions that we had taken.

> The only way to appropriately use the new model is to also recalculate the footprint for prior years using it.

### Recalculating our baseline

Normally when we hear that a company is recalculating their emissions baseline, it’s natural to be suspicious. Are they trying to cover something up? Are they trying to make themselves look better in light of new data or changes in their business?

We can assure you that this is not the case. There are [many reasons](https://www.sweep.net/insights/what-is-emissions-rebaselining-when-should-it-be-done) why it may be necessary for an organization to recalculate its baseline. In fact, rebaselining create some real headaches and challenges:

- **Public record**: changing the baseline means that reported emission reductions have also changed. Those reductions have been publicly reported, both by us and by others. It’s not feasible to go and update those reports and announcements, and even if we could it’s not appropriate to change public records. This means that there will be discrepancies between new and historical reports for the same period, which may cause confusion.
- **Changing priorities**: the new model reduces the estimated footprint of our digital services by approximately 60%. On the one hand, it’s great to have a smaller footprint. On the other hand, this means that digital services now make up a much smaller proportion of our overall emissions. Typically it makes sense to focus on the largest source of emissions. Under the new model, efforts to improve the efficiency of digital services (both historically and in the future) have a diminished impact on reducing our overall footprint.
- **Changing targets**: when we set emissions reduction targets for a given fiscal year, those targets are based on the baseline and models in use at that point in time. Changing the model and baseline may make it harder to achieve the planned targets. We have chosen to continue to report our targets and our progress toward hitting those targets using the baseline and models that were used to set the targets.
- **Many figures**: now instead of having one set of targets and actuals, we’re now dealing with at least two sets of figures: one calculated with the old model and one calculated with the new model. This makes reporting more complex and potentially confusing as it’s necessary to clarify which model is used in each case that figures are reported.

Despite this additional complexity, we felt that it was necessary to adopt the latest model to improve the accuracy of our estimates and to be transparent about doing so ([transparency is one of the principles](https://go.eco/about/system/) that .eco is founded on).

However, we can foresee that in this era of [greenhushing](https://www.fastcompany.com/90858144/what-is-green-hushing-the-new-negative-sustainability-trend-explained), many companies may be reluctant to take on the headaches of rebaselining out of fear of criticism and controversy. There’s a growing inclination to keep GHG reporting private, especially as some companies are walking back their climate commitments.

Our belief is that it’s much better to be clear and transparent about these kinds of changes and engage openly with the potential questions that arise.

We recognize that carbon footprint accounting is still a new and evolving space. It’s based on estimates and assumptions, some of which are going to be revised as better data becomes available. We believe that it’s better to start now with imperfect data and to take climate action than to wait for everything to settle and be sorted out. By then it may be too late. 

This is our first time updating our baseline, but we’re certain that this won’t be the last. Our belief is that it is best to get in front of this change and learn from the process.

If you’ve estimated the carbon footprint of your organization, we’d love to <a class="chat-link" href="#">hear from you</a>. Have you also had to recalculate your baseline or have concerns about inevitably doing so? What steps have you taken or will you take to handle it when it happens?
