---
collection: news
title: "7 podcasts from the .eco community"
excerpt: "Looking for something inspiring to listen to? Many amazing members of the .eco community are into podcasting! We had a listen and wanted to share some of the great stories we heard."
description: "Looking for something inspiring to listen to? Many amazing members of the .eco community are into podcasting! We had a listen and wanted to share some of the great stories we heard."
header-img: /img/news/breakfast.webp
header-img-alt: Eating a bowl of museli and reading a book
pubdate: 2023-06-29
author: Eco Domain (.eco)
layout: article.hbs
og-image: opengraph/breakfast-og.jpg
og-width: 1200
og-height: 630
page-path: news/eco-podcasts/
---

# {{title}}

## {{excerpt}}

![{{header-img-alt}}]({{header-img}})

<div class="row align-items-center h-100">
  <div class="col-sm-9">

### [Good Together](https://brightly.eco/podcast) podcast from [Brightly](https://brightly.eco/)
Looking for authentic, eco-lifestyle advice? Brightly's founder and CEO, Laura Alexander Wittig, brings answers to top sustainability questions while interviewing experts around the world.

  </div>
  <div class="col-sm-3 d-none d-sm-block">
    <a href="https://brightly.eco/podcast"><img class="podcast-logo" src="/img/news/podcast-goodtogether.png" alt="Logo for the Good Together podcast" /></a>
  </div>
</div>

<div class="row align-items-center h-100">
  <div class="col-sm-9">

### [Planet Possible](https://planetpossible.eco/)
Planet Possible tells the stories of the people paving the way for positive planetary and societal change in the UK. Host Niki Roach explores what’s possible on issues like adaptation and resilience to climate change, enhancing our natural environment and improving equality, diversity and inclusion in the environment sector.

  </div>
  <div class="col-sm-3 d-none d-sm-block">
    <a href="https://planetpossible.eco/"><img class="podcast-logo" src="/img/news/podcast-planetpossible.png" alt="Logo for the Planet Possible podcast" /></a></div></div>

<div class="row align-items-center h-100">
  <div class="col-sm-9">

### [VeggieWorld](https://veggieworld.eco/thema/podcast/) (German)
The VeggieWorld Podcast is one of the most popular vegan podcasts in German-speaking countries. The podcast is full of tips, information and interviews about a vegan lifestyle.

  </div>
  <div class="col-sm-3 d-none d-sm-block">
    <a href="https://veggieworld.eco/thema/podcast/"><img class="podcast-logo" src="/img/news/podcast-veggieworld.png" alt="Logo for the VeggieWorld podcast" /></a>
  </div>
</div>

<div class="row align-items-center h-100">
  <div class="col-sm-9">

### [LEAF](https://leaf.eco/news-and-events/podcasts)
[LEAF](https://leaf.eco) explores the link between environmentalism and farming. The podcast discusses sustainable farming practices with a range of key people in the farming industry.

  </div>
  <div class="col-sm-3 d-none d-sm-block">
    <a href="https://leaf.eco/news-and-events/podcasts"><img class="podcast-logo" src="/img/news/podcast-leaf.png" alt="Logo for the LEAF.eco podcast" /></a>
  </div>
</div>

<div class="row align-items-center h-100">
  <div class="col-sm-9">

### [Chiara](https://www.chiara.eco/podcast/) (Italian)

The Chiara podcast follows the Municipality of Bologna in its work to transition towards a future that is sustainable and leaves no one behind. 

  </div>
  <div class="col-sm-3 d-none d-sm-block">
    <a href="https://www.chiara.eco/podcast/"><img class="podcast-logo" src="/img/news/podcast-chiara.svg" alt="Logo for the Chiara.eco podcast" /></a>
  </div>
</div>

<div class="row align-items-center h-100">
  <div class="col-sm-9">

### [Copy This](https://carboncopy.eco/copy-this) by [Carbon Copy](https://carboncopy.eco/)

Copy This is a podcast about big-thinking local climate action. It covers the actions that environmentalists across the UK are inspiring and taking action.

  </div>
  <div class="col-sm-3 d-none d-sm-block">
    <a href="https://carboncopy.eco/copy-this"><img class="podcast-logo" src="/img/news/podcast-copythis.png" alt="Logo for the Copy This podcast" /></a>
  </div>
</div>

<div class="row align-items-center h-100">
  <div class="col-sm-9">

### [Rags to Riches](https://crispina.eco/rags-to-riches-podcast/) with [Crispina ffrench](https://crispina.eco/)

The Rags to Riches Textile Upcycling Podcast stitches together environmental business school, ethical fashion, creative textile crafting, and notable high design. Learn how creative textile upcyclers become successful entrepreneurs in a way that's meaningful to them and the world.

  </div>
  <div class="col-sm-3 d-none d-sm-block">
    <a href="https://crispina.eco/rags-to-riches-podcast/"><img class="podcast-logo" src="/img/news/podcast-crispina.png" alt="Logo for the Rags to Riches podcast" /></a>
  </div>
</div>

---

**What are you listening to?** If you've heard some great new podcasts from members of the .eco community [let us know](mailto:support@bigroom.eco) and we'll add them to the list.
