---
title: .eco Sustainability policy
description: These sustainability policies are what we try to live by here at Big Room, the registry for .eco.
page-path: impact/
og-image: opengraph/building-og.png
og-width: 1200
og-height: 630
---

<div class="container policy">

	<h1>.eco Sustainability Policy</h1>

	<div class="content-section">
		<em>Updated: September 18, 2025</em>
	</div>

 	<div class="content-section">
		<p><a href="https://bigroom.eco">Big Room Inc.</a> is the registry for the .eco domain, the online home for the global environmental community. As an active member of the community, we are working to build an eco-friendly internet and a better world.</p>

		<p>We having formalized our commitment to environmental and social action by becoming a <a href="/news/eco-is-certified-b-corp/">Certified B Corporation</a>.</p>

		<p>We are the world's first <a href="/news/eco-is-carbon-neutral/">carbon neutral domain registry</a> certified under PAS 2060. This means that this means that any emissions associated with managing .eco domain names is accounted for and offset. We are committed to reporting regularly on our environmental impacts.</p>

		<p>We believe that by working with like-minded people and organizations throughout the .eco community, we can collectively act to reduce waste, water, energy use, and greenhouse gas emissions.</p>

	</div>

 	<div class="content-section">
		 <h2>Sustainability Reporting</h2>
		 <p>We believe that transparency is the best way to lead by example and to counter greenwashing. We encourage transparency within the <a href="https://profiles.eco">.eco community</a> and we try to live by these ideals.</p>

		 <h3>2024</h3>
		 <ul>
			<li><a href="/impact/impact-report-2024/">2024 Impact Report</a></li>
			<li><a href="/news/eco-is-carbon-neutral-2024/">2024 Carbon Neutral Statement</a></li>
			<li><a href="/impact/ghg-report-2024/">2024 Greenhouse Gas Emissions Report</a></li>
		 </ul>

		 <h3>2023</h3>
		 <ul>
			<li><a href="/news/2023-impact-report/">2023 Impact Report</a></li>
			<li><a href="/impact/ghg-report-2023/">2023 Greenhouse Gas Emissions Report</a></li>
		 </ul>

		 <h3>2022</h3>
		 <ul>
			<li><a href="/news/2022-impact-report/">2022 Impact Report</a></li>
			<li><a href="/impact/ghg-report-2022/">2022 Greenhouse Gas Emissions Report</a></li>
			<li><a href="/news/climate-action-plan-2022/">2022 Climate Action Plan</a></li>
		 </ul>
	</div>

	<div class="content-section">
		<h2>Sustainable Development Goals</h2>
		<p>We are proud to support the United Nation <a href="https://sdgs.un.org/">Sustainable Development Goals (SDGs)</a> through our operations and through our work with the .eco community. Here are the SDGs that we are focused on meeting:</p>

		<div class="row py-3 align-items-center border-bottom">
			<div class="col-sm-2">
				<img src="/img/sdg/7-energy.svg" alt="SDG 7 - Affordable and clean energy">
			</div>
			<div class="col-sm-10">
				<p>We strive to use energy from clean and renewable sources in all of our operations. We also try to ensure that our digital services operate as efficiently as possible.</p>
				<p>We track and measure the energy use of our home offices and we are working towards 100% of our home energy use coming from renewable sources.</p>
			</div>
		</div>
		<div class="row py-3 align-items-center border-bottom">
			<div class="col-sm-2">
				<img src="/img/sdg/9-industry.svg"  alt="SDG 9 - Industry, innovation and infrastructure">
			</div>
			<div class="col-sm-10">
				<p>We have built .eco as a <a href="/about/system/">unique and innovative global platform</a> exclusively for environmentally-focused organizations and individuals to show visitors that they stand for positive change for our planet. The .eco community is forum for collaboration and amplifying our collective impact.</p>
			</div>
		</div>
		<div class="row py-3 align-items-center border-bottom">
			<div class="col-sm-2">
				<img src="/img/sdg/12-consumption-production.svg" alt="SDG 12 - Responsible consumption and production">
			</div>
			<div class="col-sm-10">
				<p>We are committed to sustainability and transparency, as reinforced by our <a href="/news/eco-is-certified-b-corp/">B Corp certification</a> and our annual Impact Reports. We use our <a href="/policies/supplier/">Supplier Policy</a> to review our key suppliers and advocate for commitments and improvements.</p>
				<p>We are dedicated to helping people make <a href="/news/">more sustainable technology choices</a>. As a virtual good, domain names are inherently low impact and are circular by design.</p>
			</div>
		</div>
		<div class="row py-3 align-items-cente border-bottom">
			<div class="col-sm-2">
				<img src="/img/sdg/13-climate-action.svg" alt="SDG 13 - Climate action">
			</div>
			<div class="col-sm-10">
				<p>The .eco registry has been <a href="/news/eco-is-carbon-neutral/">carbon neutral since 2022</a>. We publicly report our greenhouse emissions every year and set reduction targets to drive those emissions to zero.</p>
				<p>We are also active in raising awareness about the climate impacts of digital technology and are committed to helping people choose low carbon technology options.</p>
			</div>
		</div>
		<div class="row py-3 align-items-center border-bottom">
			<div class="col-sm-2">
				<img src="/img/sdg/17-partnership.svg" alt="SDG 17 - Partnership for the goals">
			</div>
			<p class="col-sm-10">
				The SDGs are a <a href="/news/aligning-with-the-sdgs/">foundational pillar of the .eco community</a>. We are committed to raising awareness about the SDGs within the global environmental community and in support our members in taking action to support the SDGs.
			</p>
		</div>
	</div>

 	<div class="content-section">
		 <h2>Digital Infrastructure</h2>
		 <p>The most significant impact of the business is related to the energy use of digital infrastructure and services. We have prioritized providers committed to reducing their carbon footprint. We are actively working with <a href="https://cira.ca">CIRA</a>, our key registry service provider, to better understand, reduce, and mitigate the impact of .eco.</p>
	</div>

 	<div class="content-section">
		<h3>Key digital suppliers and their sustainability policies</h3>

		<table class="table table-striped table-bordered">
			<thead>
				<tr><th>Supplier</th><th>Role</th><th>Sustainability policy</th></tr>
			</thead>
			<tbody>
				<tr><td>ActiveCampaign LLC (Postmark)</td><td>Cloud email service</td><td><a href="https://wildbit.com/blog/wildbits-2020-environmental-footprint">Wildbit&apos;s 2020 environmental footprint</a></td></tr>
				<tr><td>Amazon Web Services, Inc.</td><td>Cloud service provider</td><td><a href="https://sustainability.aboutamazon.com/environment/the-cloud">Sustainability in the cloud</a></td></tr>
				<tr><td>Canadian Internet Registration Authority (CIRA)</td><td>Domain registry services</td><td><a href="https://www.cira.ca/sustainability">CIRA&apos;s commitment to the environment</a></td></tr>
				<tr><td>Escode (NCC)</td><td>Data escrow</td><td><a href="https://www.nccgroupplc.com/sustainability/">Sustainability strategy</a></td></tr>
				<tr><td>Fathom Analytics</td><td>Visitor analytics</td><td>Not publicly available</td></tr>
				<tr><td>Google, Inc.</td><td>Workplace productivity tools and maps</td><td><a href="https://sustainability.google/">Google Sustainability</a></td></tr>
				<tr><td>Intercom, Inc.</td><td>Cloud-based customer support</td><td>Not publicly available</td></tr>
			</tbody>
  	</table>

		<p>See our <a href="/policies/supplier/">Supplier policy</a> for additional information.</p>
	</div>

 	<div class="content-section">
		 <h2>Operations</h2>
		 <p>Big Room is operated 100% remotely. We incorporate the energy use of our home offices into our carbon footprint. We also maintain a set of policies related to procurement, energy efficiency, waste, and travel.</p>
	</div>

 	<div class="content-section">
		<h3>Energy</h3>

		<p><strong>Policy:</strong> To limit our energy consumption, we</p>
		<ul>
			<li>ensure computers and monitors operate in energy saving mode, and turn them off when not in use</li>
			<li>use LED lighting wherever possible and turn off lighting when the office is not in use</li>
		</ul>
	</div>

 	<div class="content-section">
		<h3>Greenhouse gas emissions</h3>

		<p><strong>Policy:</strong> To limit the greenhouse gas emissions that we create, we</p>
		<ul>
			<li>Track our carbon emissions and actively work to reduce them, offsetting the residuals through high-quality carbon offsets</li>
			<li>Minimize our road and air travel by using video-conferencing and encouraging working from home</li>
		</ul>
	</div>

 	<div class="content-section">
		<h3>Waste</h3>

		<p><strong>Policy:</strong> To limit the amount of garbage that goes to landfill, we</p>

		<ul>
			<li>Extend the life of all our existing electronic equipment wherever possible</li>
			<li>Recycle any end-of-life electronics through a responsible on-shore electronics recycling service</li>
			<li>Reduce printing</li>
			<li>Recycle all paper and paper products</li>
			<li>Recycle toner cartridges with a reputable provider</li>
		</ul>
	</div>

 	<div class="content-section">
		<h3>Purchasing</h3>

		<p><strong>Policy:</strong> To encourage and support businesses that are part of the global environmental community we maintain a <a href="/policies/supplier/">Supplier Policy</a> that outlines our criteria for evaluating and reviewing suppliers.</p>

	</div>
</div>

{{>search hnum=3 }}
