---
title: Sustainability policy | .eco
description: These sustainability policies are what we try to live by here at Big Room, the registry for .eco.
page-path: impact/
og-image: opengraph/building-og.png
og-width: 1200
og-height: 630
---

<div class="container policy">

	<h1>.ECO Sustainability Policy</h1>

	<div class="content-section">
		<em>Updated: October 23, 2023</em>
	</div>

 	<div class="content-section">
 		<p><a href="https://bigroom.eco">Big Room Inc.</a> is the registry for the .ECO domain, the online home for the global environmental community. As an active member of the community, we are working to build an eco-friendly internet and a better world.</p>

		<p>We are the world's first <a href="/news/eco-is-carbon-neutral/">carbon neutral domain registry</a> certified under PAS 2060. This means that this means that any emissions associated with managing .eco domain names is accounted for and offset. We are committed to reporting regularly on our environmental impacts.</p>

		<p>We believe that by working with like-minded people and organizations throughout the .eco community, we can collectively act to reduce waste, water, energy use, and greenhouse gas emissions.</p>

	</div>

 	<div class="content-section">
		 <h2>Reporting</h2>
		 <p>We believe that transparency is the best way to lead by example and to counter greenwashing. We encourage transparency within the <a href="https://profiles.eco">.eco community</a> and we try to live by these ideals.</p>

		 <h3>2023</h3>
		 <ul>
			<li><a href="/news/2023-impact-report/">2023 Impact Report</a></li>
		 </ul>

		 <h3>2022</h3>
		 <ul>
			<li><a href="/news/2022-impact-report/">2022 Impact Report</a></li>
			<li><a href="/impact/ghg-report-2022/">Greenhouse Gas Emissions Report</a></li>
			<li><a href="/news/climate-action-plan-2022/">2022 Climate Action Plan</a></li>
		 </ul>
	</div>

 	<div class="content-section">
		 <h2>Infrastructure</h2>
		 <p>Our most significant impact is related to the energy use of our core infrastructure and services. We have prioritized providers committed to reducing their carbon footprint. We are actively working with <a href="https://cira.ca">CIRA</a>, our key infrastructure provider, to better understand, reduce, and mitigate the impact of .eco.</p>
	</div>

 	<div class="content-section">
		<h3>Key suppliers and their policies</h3>

		<table class="table table-striped table-bordered">
			<tr><th>Supplier</th><th>Role</th><th>Relevant policies</th></tr>
			<tr><td>Canadian Internet Registration Authority (CIRA)</td><td>Domain registry services</td><td><a href="https://www.cira.ca/sustainability">CIRA&apos;s commitment to the environment</a></td></tr>
			<tr><td>Amazon Web Services, Inc.</td><td>Cloud Service Provider</td><td><a href="https://sustainability.aboutamazon.com/environment/the-cloud">Sustainability in the cloud</a></td></tr>
			<tr><td>Google, Inc.</td><td>Workplace productivity tools and maps</td><td><a href="https://sustainability.google/">Google Sustainability</a></td></tr>
			<tr><td>Fathom Analytics</td><td>Visitor analytics</td><td><a href="https://usefathom.com/about/">About Fathom Analytics</a></td></tr>
			<tr><td>Wildbit LLC (Postmark)</td><td>Cloud Email Service</td><td><a href="https://wildbit.com/blog/wildbits-2020-environmental-footprint">Wildbit&apos;s 2020 environmental footprint</a></td></tr>
			<tr><td>Intercom, Inc.</td><td>Cloud-based Customer Support Services</td><td>Not available</td></tr>
  	</table>
	</div>

 	<div class="content-section">
		 <h2>Operations</h2>
		 <p>Big Room is operated 100% remotely. We incorporate the energy use of our home offices into our carbon footprint. We also maintain a set of policies related to procurement, energy efficiency, waste, and travel.</p>
	</div>

 	<div class="content-section">
		<h3>Energy</h3>

		<p><strong>Policy:</strong> To limit our energy consumption, we</p>
		<ul>
			<li>ensure computers and monitors operate in energy saving mode, and turn them off when not in use</li>
			<li>use LED lighting wherever possible and turn off lighting when the office is not in use</li>
		</ul>
	</div>

 	<div class="content-section">
		<h3>Greenhouse gas emissions</h3>

		<p><strong>Policy:</strong> To limit the greenhouse gas emissions that we create, we</p>
		<ul>
			<li>Track our carbon emissions and actively work to reduce them, offsetting the residuals through high-quality carbon offsets</li>
			<li>Minimize our road and air travel by using video-conferencing and encouraging working from home</li>
		</ul>
	</div>

 	<div class="content-section">
		<h3>Waste</h3>

		<p><strong>Policy:</strong> To limit the amount of garbage that goes to landfill, we</p>

		<ul>
			<li>Extend the life of all our existing electronic equipment wherever possible</li>
			<li>Recycle any end-of-life electronics through a responsible on-shore electronics recycling service</li>
			<li>Reduce printing</li>
			<li>Recycle all paper and paper products</li>
			<li>Recycle toner cartridges with a reputable provider</li>
		</ul>
	</div>

 	<div class="content-section">
		<h3>Purchasing</h3>

		<p><strong>Policy:</strong> To encourage and support businesses that are part of the global environmental community we maintain a Supplier Policy outlining actions we undertake, including</p>

		<ul>
			<li>Favouring suppliers with certifications, including B Corporations, and those that support diversity including minority and women-owned businesses</li>
			<li>Purchasing electronic equipment that is Energy Star and/or EPEAT Gold certified</li>
			<li>Buying FSC certified paper</li>
			<li>Choosing environmentally certified cleaning products</li>
			<li>Buy goods that are locally produced where possible</li>
		</ul>
	</div>
</div>

