---
collection:
- news
- studies
title: "Leap - .eco champion"
excerpt: Leap is an award-winning design studio and certified B Corp that is igniting the creative change our planet needs.
description: "Leap is an award-winning design studio and certified B Corp that is igniting the creative change our planet needs."
header-img: /img/champion_logos/leap-hero.webp
header-img-alt: "Design for Change board and awards on the peg wall at the Leap office"
pubdate: 2024-04-15
author: Eco Domain (.eco)
layout: article.hbs
og-image: opengraph/leap-og.jpg
og-width: 1200
og-height: 630
page-path: champions/leap/
---

# {{title}}

## {{excerpt}}

![{{header-img-alt}}]({{header-img}})

_We spoke with [Matt Hocking](https://leap.eco/team/matt-hocking/), Founder and Creative Sustainability Officer at Leap - one of the first members of the .eco community - about their ground-breaking sustainability campaigns and his guidance on becoming a B Corp._

### What is Leap? Why did you start the company?

We are a design and impact agency, here to ignite the creative change our planet needs. We’re here to challenge the brief and we’ve been doing that positively and relentlessly since I founded [leap.eco](https://leap.eco) in October 2004 after heading up the graphics team for the [www.edenproject.com](https://www.edenproject.com).

Leap uses our tools of design craft – pixels, paper, typography, icons, illustrations, websites, logos – to move hearts and minds, driving positive change collaboratively for all who wish to be the change.

Leap is a catalyst for change. We set out to show that it is possible to work planet-centred rather than human-centred; we are part of nature, not separate from it.

Not a business with purpose but a purpose that was born on our first day as a business, born of wondering why there wasn’t law or legislation to how creatives create. So we created our own planet-centred reasons and processes.

We work with our clients to help them understand their current positive impact and what more they can do: what that means for their customers, products, and stakeholders, and how we can communicate the value of that.

Strategy, campaigns, branding, design for print, environmental graphics, website design and dev, ecotrophies, renewable hosting,  industry change events — we do a lot — but the common denominator is always the planet and putting it at the centre of every decision, every conversation, every design, everything we do, all of the time.

### Leap has been [B Corp Certified](https://www.bcorporation.net/en-us/find-a-b-corp/company/leap/) since 2016. What are the biggest benefits you have seen from becoming a B Corp? Any advice you have to share about the certification with others in the .eco community who are considering it?

In Leap’s history, we've had many certifications (Ethical Standard, [ISO 14001](https://www.iso.org/standard/60857.html), [Investors in People](https://www.investorsinpeople.com/)) to show that we cared as much about people and our planet as our creative work. However, they were always just one circle in a Venn diagram and we wanted our planet, people, creative circles to have an overlap that was planet-centred.
<div class="news-img-40pct">

![Venn diagram showing People, Planet and Profit](/img/news/venn.webp)

</div>

That’s where B Corp came in. The US agency [Freerange](https://freerange.com/) was our inspiration. I love one of their projects, [The Story of Stuff](https://www.storyofstuff.org/). I was looking through their site and saw the ‘B’ of B Corp. My ever-curious mind wondered what it was. What I found excited me. This was in 2008 or 2009, I think, and B Corp finally arrived in the UK in 2015. Much like .eco, we got an email asking if we were interested. I started the process instantly. I did over-think it, even with other certifications where we’d done the harder, more rigorous work. Then, someone from B Lab UK called up to ask why we’d not submitted. Leap had 103 points, 23 above what was needed. So why not submit? So I did. That was December, January 31st 2016 we became the UK’s first certified design agency. 

It was a watershed moment: absolute clarity, alignment, and a community of action. It was a lot faster to get certified then and there were very few of us. Leap was the 70th business in the UK. Not long after this, I decided to end our certifications with other orgs as I felt B Corp’s holistic approach where five areas, all interconnected, worked so much better for our purposes. Third party certifications do give extra points but it’s not about the points or even the certification, it's about the journey and that journey is about always improving and arriving as the best version of ourselves every day.

I think the biggest benefit is the spirit of collaboration and community: to be part of the movement. Working together with others — both clients and other agencies — to help solve some of the biggest challenges we face, not in silos but as a community. The spirit of B Corp, and initiatives like the UK's [Better Business Act](https://betterbusinessact.org/), are what we all need to be part of in business for today and in readiness for tomorrow.

![Screenshot of the Business Impact Assessment tool](/img/news/bia.webp)

B Corp certification (and staying a B Corp) can be a tough, lengthy and rigorous process. The standards are high but that is why it’s valuable and worthwhile. In the next year or so the process will go through some changes too that are worth being aware of, that will raise the bar again.

Here are a few tips:
- **Don’t go for the highest score, keep it sustainable for you**. You will already be doing better than you think you are doing. We all have work to do. We are all perfectly imperfect. The Impact Assessment allows you to go back and forth with questions. Try different ones but make sure for your final answers you have the paper trail to prove it. Remember it’s assessing your previous fiscal year, so you should have everything you are reporting on from that year.
- **Policies matter, but make sure your team knows about them**. Use them. Don’t be afraid to reach out to us or B Corps in your region, we are a pretty friendly bunch. We love community growth, but also don’t worry if you aren’t a B Corp.
- **Non-B Corps can still attend B Socials in your region**. We host a number of events in our region from B Creative bootcamps to larger business awareness in-person events, to B Socials in our region.

### At Leap, you’ve been early and strong advocates for businesses to take a lead on climate action. You are supporters of [The Race To Zero](https://unfccc.int/climate-action/race-to-zero-campaign) and [Business Declares](https://businessdeclares.com/). You created a badge for people to show that they recognize the [climate emergency](https://climate-emergency.com/). What is your approach to blending environmental activism and business?

We don’t see the difference! The goal is a business where day-to-day operations and work champions environmental activism. To embed it as a foundation, a value, a keystone, and not just a service. As creatives, we are a nexus, a bridge, between society, industry, planet and future. It’s a rare privilege and as [Uncle Ben said to Peter Parker](https://youtu.be/guuYU74wU70?feature=shared) — “with great power comes great responsibility”.

> 80% of all we do in life is decided at the design stage. So all who create can either be:
> - Activists - taking action. 
> - Re-activists: leaving it to the last minute, probably too late. 
> - In-activists: assuming someone else will do it.

We choose the path of the doer, the path of action, to be a creative activist each and every time, anyway we can. And we share it with others as it’s not about us, it's about all of us, together.

This means looking at the industry and the economic landscape and finding (or making) opportunities to learn and educate about these issues &ndash; **pathfinding** as we call it. If we’re passionate about a cause and its goals but it lacks a brand, campaign, or distinctive mark, we'll create one if needed. It all starts with that question. Followed by action.

### One of your newest initiatives is [The Sustainable Creative Charter](https://sustainablecreativecharter.com/). What is it and who is it for?

This was a collective outcome from our co-founded event, [Goodfest](https://goodfestcornwall.com/). The attendees who showed up on the day co-created it while we facilitated.

Creativity is a powerful force — a dynamic spark that drives innovation and progress. Whether it's an artist using their work to shed light on societal issues, a scientist thinking creatively to address environmental challenges, or a community leader innovating ways to empower their local patch — creativity is at the heart of making a positive difference. And we are all creative (even if sometimes education makes us think we aren’t).

> “Creativity is inventing, experimenting, growing, taking risks, breaking rules, making mistakes, and having fun.”
> — Mary Lou Cook

<div class="news-img-40pct">

![Sustainable Creative Charter logo](/img/news/sustainable-creative-charter-pledged-logo-tealontransaprent.webp)

</div>

It has the word “creative” in the name but our shared goal is to compile the universal thoughts, feelings and desire to create a better planet and articulate them as a simple roadmap for people to agree on and follow.

It’s a constant work in progress, a manifesto of sorts (it was called manifesto in the first iteration but the community chose for it to be called a ‘charter’), constantly being reviewed and refined to reflect the passion, determination and diversity of the people we meet on a daily basis that simply have a desire to use their creativity for good, for change, for the future!

### Leap was one of the first businesses to sign up for a .eco domain back in 2017. Thank you for putting your trust in .eco. Do you recall how you found out about .eco and why you decided to switch domains?

This was something as founder of Leap I had been searching and hoping for for around 7 years. First, wondering if such a domain would exist, and then finding yourselves and the plans to make it happen. As soon as I saw it was possible, I was in. I believe we were the first design agency in Europe to become a .eco.

What I loved about .eco was it wasn’t a straight transaction, there were requirements, it was triple bottom line accountability, we had to take a pledge. More thought, rigour and true action. It’s good to pause before purchasing something to make sure we are all committed.

We switched instantly and it allowed us to have that rare simple domain that evoked curiosity — [leap.eco](https://leap.eco) — it's beautiful in its simplicity. On top of that, it completed a long journey from 2004 and having had various **leap.*** domains. This felt a perfect fit for our websites, all powered by 100% renewable energy, with our investment in the planet and its people. It was a perfect partnership.

Every part of Leap has a story based on an action. When we present, we talk about why we use a .eco domain, why there are invisible carbon footprints in our digital world. Why low carbon website design, building and development is key to a sustainable and regenerative future. But we’ve all got work to do, anything is everything when it comes to a climate positive future.

Thank you .eco team for making our small but mighty dreams build.

> “The world always seems brighter when you’ve just made something that wasn’t there before.”
> — Neil Gaiman


<aside class="inverted" title=".eco champion details">
  <ul>
    <li><strong>Domain</strong>: <a href="https://leap.eco">leap.eco</a> (<a href="https://profiles.eco/leap">.eco profile</a>)</li>
    <li><strong>Community member since</strong>: Apr 2017</li>
    <li><strong>Domain retailer</strong>: 101domain</li>
  </ul>
</aside>

At .eco, we are fortunate to be surrounded by a community of businesses, organizations and individuals working hard to protect our planet. We are honoured to spread the word about the great work they're doing. If you are a member of the .eco community and would like to be featured, [get in touch](mailto:support@bigroom.eco).

