---
collection: news
title: ".eco recertified as carbon neutral"
excerpt: .eco has been certified as carbon neutral under PAS 2060 for the [second year in a row](/news/eco-is-carbon-neutral/). Any greenhouse gas emissions associated with the .eco top-level domain are accounted for and offset accordingly.
description: ".eco is certified carbon neutral under PAS 2060 for the 2023 fiscal year"
header-img: /img/news/powder-at-silverstar.webp
header-img-alt: Powder snow at Silverstar, BC
pubdate: 2024-01-16
author: Eco Domain (.eco)
layout: article.hbs
og-image: opengraph/powder-at-silverstar-og.jpg
og-width: 1200
og-height: 630
page-path: news/2023-eco-is-carbon-neutral/
more:
- news/eco-is-carbon-neutral/
- news/2023-impact-report/
---

# {{title}}

## {{excerpt}}

![{{header-img-alt}}]({{header-img}})

### Recertifying as carbon neutral

We have renewed our commitment to climate action by recertifying under [PAS 2060](https://en.wikipedia.org/wiki/BSI_PAS_2060) for our 2023 fiscal year. We worked again with the fantastic team at [Inhabit.eco](https://inhabit.eco) to validate our carbon footprint and meet the requirements of the PAS 2060 certification.

<p class="article-logo">
  <img src="/img/news/inhabit-logo.svg" class="invert-icon" style="width:60%" alt="Inhabit.eco logo">
</p>

Under PAS 2060, an organization can claim to be carbon neutral if:
- It accounts for 100% of Scope 1 and 2 emissions and all sources of Scope 3 emissions that represent more than 1% of total emissions
- Emissions are reported in line with the [ISO 14064 Greenhouse Gas reporting standard](/impact/ghg-report-2023/)
- Carbon offsets are purchased from an approved, high quality provider
- There is a published, publicly available plan for reducing emissions
- All of this has been verified by an independent auditor

Here is the [full Carbon Neutrality Report prepared by Inhabit](https://docs.google.com/presentation/d/1ULG6-G1Ts7VaCB4-0f3pC5WSGuPzuRpDcQvwUHiifGk/edit?usp=sharing).

### Carbon offsets from SkootEco

The [estimated greenhouse gas footprint](/impact/ghg-report-2023/) of the .eco registry over the 2023 fiscal year was **4.24 tCO<sub>2</sub>e**. This is a **3.68%** reduction from our 2022 emissions – slightly short of the 4% reduction target that we had established for ourselves.

To offset those emissions, we worked with another awesome member of the .eco community and a Top 5% B&nbsp;Corp, [SkootEco](https://skoot.eco) to obtain the necessary carbon credits. We invested in a [Gold Standard wind energy project in India](https://registry.goldstandard.org/projects/details/1835) to cover 10 metric tonnes of CO<sub>2</sub>e. [Gold Standard](https://en.wikipedia.org/wiki/Gold_Standard_(carbon_offset_standard)) is a global standard for certifying high quality carbon reduction and removal projects. These credits cover more than twice our estimated emissions.

<p class="article-logo">
  <img src="/img/champion_logos/skooteco.png" class="invert-icon" style="width:60%" alt="Skoot.eco logo">
</p>

### Where next? Net zero and beyond!

The [2015 Paris Agreement](https://unfccc.int/process-and-meetings/the-paris-agreement) committed countries to reach net zero before 2050 to keep the average rise in global temperature below 1.5°C preventing the worst effects of climate change.

> **Net zero** means that we are removing as much greenhouse gases (GHGs) from the atmosphere as we are emitting in order to stabilize our impact on the climate.

While the terms “carbon neutral” and “net zero” are often used interchangeably, there are some key differences. **Net zero** is:

* **Aligned with the 1.5°C target**: reaching carbon neutrality is not enough as the GHGs that we have emitted are already changing the climate. To meet the 1.5°C goal, we will also need to drawdown GHGs from the atmosphere.
* **Not just business-as-usual**: One common criticism of carbon neutrality is that it provides an excuse for businesses to continue to operate without reducing emissions. It’s generally cheaper to purchase offsets than it is to make meaningful reductions in emissions. A commitment to net zero is to also achieve a 90% reduction in Scope 1, 2 and 3 emissions before 2050.
* **More than just carbon**: There are other greenhouse gases, such as methane, that have much greater warming potential than carbon dioxide. By focusing on preventing global temperature increase, we need to consider all emissions that contribute to global warming.

For organizations that are aiming to reach net zero, the [Science-based Targets initiative](https://sciencebasedtargets.org/) (SBTi) has become the standard bearer. SBTi is a collaboration between the [CDP](https://www.cdp.net/en), the [United Nations Global Compact](https://unglobalcompact.org/), [World Resources Institute](https://www.wri.org/) (WRI) and the [World Wide Fund for Nature](https://www.worldwildlife.org/) (WWF) to help companies set science-based net zero targets.

<p class="article-logo">
  <img src="/img/news/sbti.svg" class="invert-icon" style="width:60%" alt="Science-based Targets initiatve logo">
</p>

The next step in the climate action journey for .eco is to **register our net zero targets with SBTi**. We should have more to share on this in the upcoming months.

In the meantime, <a class="chat-link" href="#">we’d love to hear from you</a> about your own climate action journey. We’re happy to share your story with the rest of the .eco community.

