---
title: .eco for nonprofits
description: Environmental action is at the heart of the .eco community. .eco stands with leading non-profits in promoting positive change for our planet.
page-path: for/nonprofits/
og-image: opengraph/activist-og.jpg
og-width: 1200
og-height: 579
active: for
---

<link rel="preload" as="image" href="/img/activist.webp">

 <div class="jumbotron" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/activist.webp'); background-size: cover; background-position: center">
	<div class="container">
		<h1>.eco for organizations</h1>
    <h2>.eco is for non-profits, associations and community groups protecting our planet</h2>
	</div>
</div>

<div class="section inverted">
	<div class="container for-justify">
    <p>
      Environmental activism is in our <strong>DNA</strong>. .eco was launched by a team of environmentalists in partnership with a <a href="https://org.eco/history/">consortium</a> of leading environmental organizations that shaped the policies that make .eco what it is today.
    </p>
    <p>If you are part of the environmental movement, come join the .eco community.</p>
	</div>
</div>

<div class="section business-sectors">
	<div class="container">
    <h3>Leading organizations</h3>
    <p>Whether through regenerative agriculture, wetlands preservation, protecting marine life or raising awareness about the climate crisis, .eco non-profits are leading the way to a more sustainable planet.</p>

    <div class="sector-profiles grid grid--m1d2">
      {{> profile profile=(lookupProfile featuredProfiles 'carl.eco') }}
      {{> profile profile=(lookupProfile featuredProfiles 'carboncopy.eco') }}
      {{> profile profile=(lookupProfile featuredProfiles 'mico.eco') }}
      {{> profile profile=(lookupProfile featuredProfiles 'sustainableagriculture.eco') }}
    </div>
	</div>
</div>

<div class="section business-leadership inverted">
	<div class="container">
    <h3>UN Sustainable Development Goals</h3>
    <p>.eco is built in support of the <a href="https://sdgs.un.org/goals">United Nations Sustainable Development Goals</a> (SDGs). The goals are a shared blueprint for peace and prosperity for people and the planet, now and into the future. Every community member must identify the SDGs they are actively working on supporting.</p>
    <a href="https://sdgs.un.org/goals" class="d-block text-center">
      <img style="width: 40%" src="{{ img-root }}/sdg-logo.png" alt="United Nations Sustainable Development logo and colour wheel">
    </a>
  </div>
</div>

<div class="section business-leadership">
	<div class="container">
    <h3>Certifications</h3>
    <p>Environmental certifications are at the heart of distinguishing between a good cause and greenwashing. When we launched .eco we were inspired by global standards to make .eco a clearly recognizable mark of environmental responsibility.</p>
    <p>In turn, many certification organizations have joined the .eco community and are using .eco domains. Some of these global leaders include:</p>

    <div class="grid grid--m1d3 leadership-logos">
      <div class="grid__cell">
        <a href="https://geca.eco/" title="Good Environmental Choice Australia"><img src="/img/champion_logos/geca.webp" alt="Good Environmental Choice Australia logo"></a>
      </div>
      <div class="grid__cell">
        <a href="https://greenseal.eco/" title="Green Seal"><img src="/img/champion_logos/green_seal_logo.png" alt="Green Seal logo"></a>
      </div>
      <div class="grid__cell">
        <a href="https://gots.eco/" title="Global Organic Textile Standard"><img src="/img/logos/gots.svg" alt="Global Organic Textile Standard logo"></a>
      </div>
    </div>
  </div>
</div>

{{>search }}
