---
collection: news
title: "Where's your sustainability report?"
excerpt: Trying to find sustainability information about company can be a major pain. Here are two ways to make this easier.
description: .eco profiles and carbon.txt are two solutions making it easier to find information about how an organization is working in support of our planet.
header-img: /img/news/hiroshima-sunset.webp
header-img-alt: Sunset over the skyline in Hiroshima, Japan
pubdate: 2026-04-22
author: Eco Domain (.eco)
layout: article.hbs
og-image: opengraph/hiroshima-sunset-og.png
og-width: 1200
og-height: 630
page-path: news/where-is-your-sustainability-report/
more:

---

# {{title}}

## {{excerpt}}

<figure>
<img alt="" src="{{header-img}}">
<figcaption>
{{header-img-alt}}</a>
</figcaption>
</figure>

Have you ever been frustrated trying to look up sustainability information about a company? We can relate! Often it can be hard to find policies or reports on a company’s website. It’s not that they’re necessarily trying to hide it, but it’s not their main focus. It might be buried under their company page or in their section for investors. Every website puts it in a different place, if they report on it at all! You need to be Sherlock Holmes just to track this down 🕵.

Moreover, there’s not even a standard name for these types of documents. Is it an impact report? An ESG report? A benefit report? Or is it in an appendix in the annual financial report? Trying to search for and figure out environmental claims can be a big headache. If you are trying to find and evaluate suppliers this can take a lot of time and effort.

> What if there was a way to make it easy to find out the sustainability information for a given company? What if every company put all of the relevant information in a common, known location? You could just go to a single web page and easily find what you’re looking for.

We have two solutions to this problem that now synergistically work together:
1. .eco profiles
2. carbon.txt

### .eco profiles

Addressing this issue is a key motivation behind the [.eco profile system](https://profiles.eco/). We believe that anyone should be able to learn about the sustainability commitments made and actions taken by the members of the .eco community. A .eco profile summarizes the environmental claims for each business, non-profit or individual with a .eco domain.

We have extended the capabilities of the .eco profile system to include a new section where you can list and link to your environmental policies and impact reports, making it easier for your visitors to find this information. Learn more about how to add this information to your .eco profile in our [support article](https://support.go.eco/en/articles/14712401-can-i-link-to-my-environmental-policies-or-impact-reports-from-my-eco-profile).

### carbon.txt

While we may wish it were otherwise, we recognize that not every business with an environmental mission uses a .eco domain. Enter carbon.txt.

[Carbon.txt](https://carbontxt.org/) is a new standard from the [Green Web Foundation](https://www.thegreenwebfoundation.org/) that defines a common, machine-readable file format for storing links to environmental claims. This file is stored in a known location on your website, making it easy to find. If you want to look up sustainability information for a company, you can go to its website, open carbon.txt and then navigate to the documents linked there. Think of it as a sustainability-specific sitemap.

The fact that it uses a machine-readable format means that this information can be used to automate compliance checking. For example, the European Union has introduced the [Corporate Sustainability Reporting Directive (CSRD)](https://finance.ec.europa.eu/financial-markets/company-reporting-and-auditing/company-reporting/corporate-sustainability-reporting_en) that requires companies to publicly disclose their sustainability reports on their website. CSRD does not, however, stipulate where this information needs to be stored. Carbon.txt can be used to point to the current CSRD report. There could be similar checks to ensure that [B Corporations](https://bcorporation.net/) publish an annual impact report.

### .eco profiles 💚 carbon.txt

One advantage of carbon.txt is that it is a file that you control that’s in a central location. This means that other services can ingest this information when needed with you having to enter or maintain this information in multiple places. This is especially useful for information that changes regularly, such as for annual impact reports.

We don’t want to burden you with having to maintain links to your policies and reports on your .eco profile. That’s why we’ve made it possible for you to load this information directly from your carbon.txt file onto your .eco profile.

If you don’t have a carbon.txt file, you can manage this information on your .eco profile. In future, we may enable you to generate a carbon.txt file directly from your .eco profile to then take and upload to your website.

### Next steps

The environmental community is built on a foundation of transparency and accountability. .eco profiles and carbon.txt are two initiatives in support of this, making it easier for your visitors to find the information they’re looking for.

In terms of next steps, if you have environmental policies and reports on your website, try referencing them in a carbon.txt file and uploading it to your .eco profile. Your visitors and customers will thank you for making this information a bit easier to find.
