---
collection: news
title: "Register .eco in over 19 languages"
excerpt: You can now get a .eco domain containing non-Latin characters.
description: ".eco now supports internationalized domain names (IDNs). Register a .eco domain in any of 19 different languages."
header-img: /img/news/idn-flags.webp
header-img-alt: Collage of flags from Belarus, Bosnia, Bulgaria, Denmark, Finland, Hungary, Iceland, Italy, South Korea, Latvia, Lithuania, Macedonia, Montenegro, Poland, Portugal, Russia, Serbia, Sweden, Ukraine
pubdate: 2026-03-16
author: Eco Domain (.eco)
layout: article.hbs
og-image: opengraph/idn-flags-og.png
og-width: 1200
og-height: 630
page-path: news/eco-internationalized-domain-names/
---

# {{title}}

## {{excerpt}}

![{{header-img-alt}}]({{header-img}})

<span lang="is">Halló!</span>
<span lang="pt">Olá!</span>
<span lang="ko">안녕하세요!</span>
<span lang="uk">Привіт!</span>

Icelandic, Portuguese, Korean and Ukrainian are just some of the languages that you can now use to register a .eco domain.

With the .eco community consisting of people from all around the world, .eco domains should reflect the breadth and diversity of the global environmental movement. As many languages cannot be represented only using the letters <strong>a</strong> to <strong>z</strong>, our goal is to ensure .eco domains are recognizable and readable in your local language.

We are excited to announce that it is now possible to register .eco domains using extended characters and symbols from over 19 languages. These are known as Internalitionalized Domains Names or <abbr title="Internalitionalized Domains Names">IDNs</abbr> for short. Please see our [support article to check the languages that are supported](https://support.go.eco/en/articles/14050488-can-i-register-a-eco-domain-using-non-latin-characters).

Not all retailers carrying .eco domains support internationalized domain names at this point in time. We are working with our partners to grow this support.

For the time being, if you want to register a .eco IDN, your best bet is to use our [domain search](/search). The available retailers are automatically filtered to list only those where you can register the domain.

Our plan is to continue to expand the list of supported languages and retailers over the coming months. A big thank you to [CIRA](https://cira.ca), our registry platform provider, for supporting us in this endeavour.

If you are interested in .eco IDNs and you are looking for additiopnal languages or retailers, please <a class="chat-link" href="#">get in touch</a> and we can update you on their status.
