---
title: Meet our .eco Champions | .eco
description: These .eco members share our vision for a globally connected, online community committed to environmental sustainability.
page-path: champions/
og-image: opengraph/fishing-og.jpg
og-width: 1200
og-height: 630
---
<div class="section inverted">
	<div class="container">
		<h1>Meet our .eco champions</h1>
		<div class="image-center" style="margin:auto;width:20%">
			<img src="/img/icons/mountain-summit-copy-01.svg" alt="champion icon" class="img-responsive logo-gri">
		</div>
		<p>These companies, nonprofits and people from around the world share our vision for a globally connected, online community committed to environmental sustainability. We're honoured to recognize their innovative spirit here.</p>
	</div>
</div>

<div class="section container">
	{{> profiles profiles=featuredProfiles }}
</div>
