---
title: .eco and GreenGeeks
description: How to use your .eco domain with GreenGeeks web hosting
page-path: about/eco-and-green-geeks/
og-image: opengraph/filling-water-bottle-og.jpg
og-width: 1200
og-height: 630
notes: Supported TLDs and pricing https://www.greengeeks.com/support/article/domain-pricing/
---

<link rel="preload" as="image" href="/img/filling-water-bottle.webp">

<div class="jumbotron compare-header" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/filling-water-bottle.webp'); background-size: cover">
	<div class="container">
		<h1>.eco and GreenGeeks</h1>
		<p>GreenGeeks is a popular eco-friendly web hosting platform that you can use for your .eco website.</p>
	</div>
</div>

<div class="section policy">
	<div class="container">
		<p><strong>.eco</strong> is more than just a domain name: it's a globally-recognized symbol that shows you care about sustainability. By choosing a .eco domain, you are joining a global community of like-minded people committed to positive change for our planet.</p>
		<p>When it comes to setting up the website for your .eco domain, where you choose to <a href="/news/where-you-host-your-website-really-matters/">host it really matters</a>. Choosing an eco-friendly web hosting provider is the best way to reduce the impact associated with using your .eco domain.</p>
		<p><a href="https://greengeeks.com">GreenGeeks</a> is a popular web hosting provider that is powered by renewable energy and plants trees to offset its impact.</p>

		<p>It is not currently possible to register a .eco domain through GreenGeeks. To host your website at GreenGeeks you need to register your .eco domain at another domain retailer (please choose from our list of <a href="/news/finding-a-green-domain-retailer/">eco-friendly domain retailers</a>). Once you have registered your .eco domain, you can then choosing a hosting plan at GreenGeeks for your .eco domain. Just enter your .eco domain into the Existing Domain Name textbox and then proceed with signing up for the hosting plan.</p>

		<figure>
			<img src="/img/about/green-geeks-signup.png" alt="" width="100%">
			<figcaption>
			Screenshot of the page for signing up for a GreenGeeks hosting plan.
			</figcaption>
		</figure>
		
		<p>
			To get started with using a .eco domain at GreenGeeks, go ahead and search for your ideal .eco domain in the searchbox below and register it with your selected domain retailer.
		</p>
	</div>
</div>

{{>search hnum=2 }}
