---
collection: news
title: "How to find an eco-friendly web host"
excerpt: When you set up a new website, choosing where to host it is one of the most environmentally impactful decisions you can make. We have reviewed the sustainability claims of over 100 hosting providers to simplify your decision.
description: "Choosing an eco-friendly web host is one of the most environmentally impactful decisions you can make when setting up a new website. Here are 3 key things to check when evaluating the sustainability of a hosting provider."
header-img: /img/news/windmills.webp
header-img-alt: Many windmills on the top of low hills
pubdate: 2025-06-30
author: Eco Domain (.eco)
layout: article.hbs
og-image: opengraph/windmills-og.jpg
og-width: 1200
og-height: 630
page-path: news/eco-friendly-web-host/
more:
- news/finding-a-green-domain-retailer/
- news/eco-website-tips/
---

# {{title}}

## {{excerpt}}

![{{header-img-alt}}]({{header-img}})

The information and communication technology sector is accountable for around [3.7% of global CO<sub>2</sub> emissions](https://theshiftproject.org/wp-content/uploads/2019/03/Lean-ICT-Report_The-Shift-Project_2019.pdf). That’s more than the emissions from global air travel! So making eco-conscious choices when it comes to digital technology matters.

When launching a new website, choosing where to register your domain name and host your website can make a big difference. Most people consider the price and the services offered by their provider, but it’s worth taking their sustainability into consideration as well. Some providers are leaders when it comes to energy efficiency and renewable energy, and others have not made it a priority.

If you have a domain registrar or web host that you’ve used in the past, it’s worth checking out their sustainability policy. Or if you haven’t set up a website before, we hope this guide will help you make a sustainable choice.

When considering the environmental impact of a hosting provider, there are three main impact areas to consider:
- ☀︎ Are they powered using renewable energy?
- ⚡︎ Are they highly energy efficient?
- ♺︎ How do they deal with electronic waste?

We will go through each of these impact areas in turn.

### ☀︎ Powered by renewable energy

Your domain name and website are run in data centers &mdash; basically buildings with lots of computers and telecommunication equipment. This equipment requires a huge amount of electricity to operate. Unless this electricity is fully produced using renewable energy, climate pollution is emitted when it is generated.

While some data centers are connected directly to a solar farm or a hydroelectric dam, most just pull electricity from the local power grid. Hence the emissions associated with powering your website will depend on how the local energy utility generates electricity.

Choosing a provider running in places where electricity is generated mainly by renewables such as solar, wind, hydro or even nuclear will help minimize your website's emissions. Locations where the electrical grid are mainly powered by renewables, such as Switzerland, the Netherlands or Quebec, Canada are great options. Use a tool like [Electricity Maps](https://app.electricitymaps.com/map) to see the greenhouse gas emissions in the region you are considering running your website.

At this point, most energy utilities still generate some amount of electricity by burning fossil fuels. Providers operating in those regions can still claim that they are powered by renewable energy by purchasing Renewable Energy Certificates (RECs). This means that they have paid a renewable energy supplier, such as a solar farm, to generate the electricity that they would require. This doesn’t mean that they are consuming that renewable electricity specifically as it could be generated at a different time or in a different location from what they need. This isn’t as good as running your website in a region that is powered by renewables, but it’s a good backup option.

### ⚡︎ High resource efficiency

Even if the data center is powered by renewable energy, it’s still essential for that data center to use the energy it needs as efficiently as possible. Most data center operators are keenly focused on energy efficiency as energy use is a significant cost of their operations.

In addition to consuming a lot of energy, all of the equipment running in a data center generates a tonne of heat. Dealing with that heat is a major challenge for data centers as equipment will fail if it gets too hot.

So data centers need a way to keep cool. That typically involves air handling units that also consume a lot of electricity.

<figure>
  <img src="/img/news/air-conditioning.webp" alt="Air handling units mounted in a concrete wall next to a door">
  <figcaption>
    Photo by <a href="https://unsplash.com/@kienday?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Kien Nguyen</a> on <a href="https://unsplash.com/photos/a-wall-with-a-few-doors-994AH40vmVs?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a> 
  </figcaption>
</figure>

One metric commonly used to measure the energy efficiency of data centers is called Power Usage Effectiveness (PUE). It measures the ratio of the total energy required to power the data center versus the energy required to power only the IT equipment running in it. A high PUE implies that the data center is less efficient because it expends a lot of extra energy on cooling and lighting or other incidental needs. It’s generally easier for a data center in a cold climate to have a lower PUE than one running in a hot climate. But data centers running energy efficient equipment that emit less heat will also have a lower PUE.

> A data center PUE of 1.3 or lower is currently considered best practice.

It’s also worth considering what happens to that waste heat. Is it just blown outside heating the surrounding area? Or is it converted into something useful? In some cases that waste heat is used to [supply heat to neighbouring buildings and homes](https://news.infomaniak.com/en/infomaniak-inaugurates-a-revolutionary-data-center-that-recovers-100-of-its-energy-for-building-heating/).

Many data centers use water as a liquid coolant. Drawing that water can be an issue if the data center is operating in an area where water is scarce (deserts and other arid areas). Once the water has absorbed the heat, releasing it back into rivers or the ocean can be harmful to aquatic life. So how a data center uses water also impacts its sustainability.

### ♺︎ Handling electronic waste

Data centers rely on a huge quantity of electronic equipment that fails or becomes obsolete eventually. Dealing with the waste from all that failed or unused equipment is a growing issue.

<figure>
  <img src="/img/news/e-waste.webp" alt="A pile of discarded circuit boards and computing equipment">
  <figcaption>
    Photo by <a href="https://unsplash.com/@nathan_cima?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Nathan Cima</a> on <a href="https://unsplash.com/photos/a-pile-of-assorted-electronic-components-sitting-on-top-of-each-other-G09BIFdUAGU?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
  </figcaption>
</figure>

Electronics often contain toxic chemicals or metals that shouldn’t be disposed of in a landfill or incinerator. Many of those materials are also valuable if they can be recycled; however, the equipment is not designed to be deconstructed. This waste is often shipped to developing countries where workers operate in unsafe and toxic environments to recover value from this material.

> Currently only [20% of e-waste is recycled](https://www.unep.org/news-and-stories/press-release/un-report-time-seize-opportunity-tackle-challenge-e-waste); the rest is unaccounted for.

Hosting providers should have policies in place extending the life of their equipment wherever possible and then ensuring that it is responsibly recycled or disposed of.

### Selecting an eco-friendly host

At .eco, we’re keen to help you find the most eco-friendly domain retailer or web hosting provider that meets your needs. That’s why [searching for a .eco domain](/search/) highlights the providers that address these three impact areas. Each retailer is tagged using the icons shown above, so you can see at a glance which are powered by renewable energy ☀︎, operating with high resource efficiency ⚡︎, and dealing responsibly with electronic waste ♺︎. You can also filter the list of retailers based on these and other relevant criteria to narrow down to the provider that meets your needs.

While the icons provide high-level guidance as to which retailers are addressing these impact areas, it’s worth doing your due diligence to check their sustainability policies. We’ve included [a list of eco-friendly retailers with a summary of their sustainability policy and associated links in this post](/news/finding-a-green-domain-retailer/). In the article, we also highlight other social and environmental attributes of these hosting providers that are worth considering, such as if they are a B Corp or if they report on their emissions or labor practices.

### Next steps

If you are planning to register a domain name or set up a new website, please take the sustainability of your hosting provider into account. It's much easier to start with an eco-friendly host that it is to switch to one once your website is up and running.

If you aren't sure which hosting provider to use, try checking out our [list of eco-friendly providers](/news/finding-a-green-domain-retailer/). If there are providers issing from the list that you would like us to add, <a class="chat-link" href="#">please let us know</a>.

Once you've selected an eco-friendly web host, there's a lot more you can do to ensure that your website is running as sustainably as possible. Check out [this article for 5 more things you can do](/news/eco-website-tips/).
