---
collection: news
title: "Climate reporting for .eco domains"
excerpt: If you have a .eco domain, you can view its carbon footprint via your [.eco profile account](https://profiles.eco/).
description: "Climate reports are now available for every .eco domain via profiles.eco."
header-img: /img/news/hiking.webp
header-img-alt: Several hikers walking on a trail in the mountains
pubdate: 2025-04-10
author: Eco Domain (.eco)
layout: article.hbs
og-image: opengraph/hiking-og.jpg
og-width: 1200
og-height: 630
page-path: news/climate-reporting-for-eco-domains/
more:
- news/climate-impact-of-a-domain-name/
- news/carbon-footprint-of-domain-registries/
---

# {{title}}

## {{excerpt}}

![{{header-img-alt}}]({{header-img}})

We are **thrilled** to announce that members of the .eco community can now see the carbon footprint of their .eco domains via their [.eco profile](https://profiles.eco). This is a first for the domain name industry and aligns .eco with the aim of bringing greater transparency into the carbon footprint of the goods and services we use every day.

.eco has been [certified carbon neutral since 2022](/impact/ghg-report-2022/). As part of the process of measuring our carbon footprint every year, we need to contact our suppliers to understand the share of their carbon footprint that is attributable to our operations. In some cases, they are able to supply us with this information. In other cases, they do not have data to share and we have to approximate it using proxy measures. In the best cases, suppliers publish this data for us to obtain without us needing to ask them for it.

Our goal in offering climate reporting for the .eco community is to align with what is best-in-class. If you have a .eco domain, you can directly see the estimated carbon emissions associated with managing your domain name by [logging into your account on profiles.eco](https://profiles.eco/user/reports). You can tally these monthly figures and include it in your own carbon report. We recommend including it under _Scope 3 Category 1: Purchased Goods and Services_, but please consult with your auditor for guidance.

### Climate Report

For each .eco domain that you register, your Climate Report gives an estimate of the emissions from operating the domain name over the lifetime of the registration. This represents the share of .eco’s carbon footprint associated with managing your domain. It covers the operation of the domain registry systems and authoritative DNS infrastructure used to run the .eco top-level domain. It does not include emissions associated with hosting your website or providing email for the domain. Those would need to be obtained from your website or email hosting providers.

<figure>
<img src="/img/news/climate-report-go-eco.png" alt="">
<figcaption>
Screenshot of the Climate Report for go.eco (the domain for this website)
</figcaption>
</figure>

### Methodology

Most people don’t think about domain names as having a climate impact, [but they do](/news/climate-impact-of-a-domain-name/). Domain registries like .eco run many servers in data centres all around the world to handle requests from browsers looking up websites or determining where to route emails. Those servers require electricity to operate and are made from a range of metals and materials, all of which contribute to climate change.

In our [post about the carbon footprint of different domain registries](/news/carbon-footprint-of-domain-registries/), we explored ways to divide the corresponding emissions by domain name. As we discussed in the article, it is handling authoritative DNS lookups that makes up the majority of the technical infrastructure associated with running a domain registry. So it is appropriate that the carbon footprint of a domain name should scale based on the number of DNS requests that it receives.

To calculate the carbon footprint of a .eco domain, we consider the proportion of total DNS traffic that a domain receives in a given month. The model then attributes the share of the registry’s monthly carbon footprint to that domain. In other words, if a .eco domain accounts for 10% of the authoritative DNS requests that we receive in a given month, its carbon footprint would be 10% of the registry’s carbon footprint. We believe this model to be a fair and equitable way to distribute and allocate the carbon footprint.

### DNS reporting

As the carbon footprint for each .eco domain is based on authoritative DNS data, we also want to share that data with you so that you can understand the volume of requests for your .eco domains. The DNS Report shows the number of authoritative DNS requests handled by our servers for your domain. You can view this data by the total requests for all record types or split out by requests for A, AAAA or MX records.

> A records are used to look up the IPv4 address of your website. This is typically the most common type of request. AAAA records are used to look up the IPv6 address of your website (if it supports IPv6). MX records are used to locate the mail servers managing email for your domain.

<figure>
<img src="/img/news/dns-report-go-eco.png" alt="">
<figcaption>
Screenshot of the DNS Report for go.eco
</figcaption>
</figure>

### Let us know what you think

We are really excited to launch these new reports! .eco is the first top-level domain to offer this level of transparency into the carbon footprint of a domain name. We would love to <a class="chat-link" href="#">hear from you</a> if you find these reports useful and have incorporated the data into your climate reports.
