---
collection: news
title: "Aligning with the Sustainable Development Goals"
excerpt: With 5 years left to meet the 17 UN Sustainable Development Goals, the time make the SDGs a reality is now.
description: Our guide on how to apply the UN Sustainable Develpment Goals to your business, your organization or your day-to-day life.
header-img: /img/news/weaving.webp
header-img-alt: Person engaged in traditional Andean weaving
pubdate: 2025-09-16
author: Eco Domain (.eco)
layout: article.hbs
og-image: opengraph/weaving-og.jpg
og-width: 1200
og-height: 630
page-path: news/aligning-with-the-sdgs/
more:
- news/eco-event-calendar/
---

# {{title}}

## {{excerpt}}

![{{header-img-alt}}]({{header-img}})

On September 25, 2015, the United Nation General Assembly adopted the 2030 Development Agenda giving rise to the [Sustainable Development Goals (SDGs)](https://sdgs.un.org/). Never before had there been such broad consensus to tackle the world’s most pressing global challenges, such as ending hunger and preventing climate change.

The SDGs are a call-to-action for every country to support sustainable development in a way that is **just and equitable** for everyone while simultaneously **protecting our planet**. The SDGs are organized into 17 interconnected topics that serve as a way to focus and organize the efforts of governments, companies and civil society to address these issues.

![UN Sustainable Development Goals logo](/img/news/sdg-logo.webp)

When the SDGs were adopted, the UN set a deadline to meet these 17 goals by 2030. This September marks the ten-year anniversary of their launch and we are just past the half-way point to 2030. Every year the UN publishes [a report tracking the progress we are collectively making towards meeting this target](https://unstats.un.org/sdgs/report/2025/) and it isn’t looking great. The world is making progress, but only 35% of SDG targets are on track, nearly half are progressing too slowly, and 18% are actually regressing.

<figure>
  <a href="https://www.youtube.com/watch?v=PUvTgVTm5iE" target="_blank">
    <img alt="" src="/img/news/what-are-you-going-to-do-video.webp">
  </a>
  <figcaption>
    Video on Youtube of Al Pacino giving a a pep talk to rally meeting the SDGs
  </figcaption>
</figure>


### How can you help?

We know that many of you reading that the world is struggling to meet these laudable goals are wondering how you can jump in and help. First, it helps to clarify what it means for us to meet the Sustainable Development Goals.

Every SDG has an associated set of targets – 169 in total. These targets define specifically what the world is trying to achieve. They are accompanied by an associated set of indicators used to track our progress towards meeting those targets.

Taking [Goal 14: Life Below Water](https://sdgs.un.org/goals/goal14#overview) as an example, there are 10 targets ranging from preventing and reducing marine pollution to preserving 10% of global coastal and marine areas. These are big targets written as goals for nation states and it can be hard to see how we as individuals or businesses can play our part.

<div class="news-img-40pct">

![14. Life below water SDG icon](/img/sdg/14-life-water.svg)

</div>

To address this, there have been initiatives designed to make the SDGs more approachable and accessible to everyone. 

### The SDGs at home

For individuals, this involves reframing the SDGs and scaling down their targets to the level of actions we can take in our everyday lives. The [Good Life Goals](https://sdghub.com/goodlifegoals/) are an initiative to do just that. Each goal is associated with a cute emoji and includes 5 specific actions you can take arranged in order of increasing effort. Goal 14 mentioned above is reframed as **Clean Our Seas** and involves actions such as refusing unnecessary plastic and buying sustainably harvested fish and seafood.

![Good life goal #14 - Clean our seas](/img/news/glg-14.webp)

If you or your family are looking to take action in support of the SDGs, the Good Life Goals are a great place to start. Here are **three things** you can do:
1. Review the Good Life Goals and discuss them with others in your household
2. Pick 2 or 3 that you feel like you can have the most impact on. Write them down in a prominent place
3. Every month review what actions you’ve taken in support of those goals. Feel free to swap goals in and out if you feel like you are no longer making progress or are looking for new challenges.

### The SDGs at work

For businesses, it can be challenging to connect the SDGs to your operations. Most businesses are not working directly to tackle these global challenges, so it can feel daunting and outside of scope to understand where you can have an impact. 

The [UN Global Compact](https://unglobalcompact.org/) is a regional network set up to engage and connect companies in support of sustainability and social responsibility. Joining the Compact is one way to learn from others working on the SDGs.

The UN Global Compact published the [SDG Blueprint](https://blueprint.unglobalcompact.org/) to give guidance to businesses looking to support the SDGs. It makes the SDG targets more accessible for businesses and provides a set of standardized actions that businesses can take to help meet those targets. Most helpfully, it includes examples of other businesses and the actions that they are taking to meet those targets.

Examples can help make clear connections between business activities and the SDGs that aren't directly obvious. Sticking with **SDG #14 - Life below water**, the Blueprint suggests cases such as:
- an agricultural company working to eliminate pollution of pesticides in agricultural run off
- a grocery chain to transition away from plastic packaging to help keep plastic waste from entering the ocean
- a shipping company equipping its fleet with sails to reduce emissions and ocean pollution

![SDG Blueprint home page screenshot](/img/news/sdg-blueprint.webp)

If you are trying to determine if a given SDG is applicable to your business, it is worth reviewing the associated SDG Blueprint to cross-check it. 

Here are **four things** your business can do to support the SDGs:
1. Determine the SDGs where your business can have the most impact.
2. Publish a statement listing the SDGs you support and the actions that you are taking in your sustainability policy and on your website.
3. Integrate the SDGs into your annual planning and reporting.
4. Consider joining the UN Global Compact.

### The SDGs and the .eco community

When we launched the .eco top-level domain in 2017, we made the Sustainable Development Goals a pillar of the .eco community. Every member of the community needs to [select the SDGs that they support](https://profiles.eco/) before they can start using their domain name. We did this to raise awareness about the SDGs and to provide a way for the community to organize and rally around addressing these challenges.

We have now had over 12,000 people go through the process of selecting the SDGs as part of activating their .eco profile. However, we acknowledge that for some members of the community, setting up their .eco profile is their first encounter with the SDGs. For others, while they may be aware of the SDGs, they have not considered which SDGs apply to them or their work. We recognize that we haven’t done enough to assist and guide our members in understanding the SDGs. This article is a step to address that and we pledge to focus more on the SDGs going forward.

![SDG tiles in the .eco profile system](/img/news/sdgs-profiles.webp)


For members of the .eco community, here are **three things** we encourage you to try:
1. Review the SDGs that you have selected on your .eco profile. Are they still the most appropriate ones for where you are now? While all of the SDGs are laudable, it is better to focus and highlight a few than to select them all. By selecting SDGs you aren’t actively working on, you may be taking attention away from those for whom that SDG is a core focus.
2. Consider the specific actions that you are taking or planning to take in service of those SDGs. You can highlight those actions on your .eco profile. This is a great way to showcase how you are helping to achieve the SDGs.
3. Publish the SDGs that you are focusing on directly on your website, in your sustainability policy or in your impact reports. This provides further transparency and accountability in support of the SDGs and helps your visitors learn more about them and what you are doing.

Several members of the .eco community have gone the extra mile to publish on their website how they are working to support the SDGs. We recommend checking these out for a bit of inspiration:
- [Leap](https://leap.eco/un-sustainable-development-goals/) has written about the workshop that they ran to engage employees in selecting and supporting the SDGs.
- [Retyre](https://www.retyre.eco/sustainable-goals/) have published the actions that they are taking to further the SDGs
- [The Positive Project](https://thepositiveproject.eco/developpement-durable-entreprises/) (French) describe how they help fellow businesses support the SDGs and go through their own commitments

### How .eco can help meet the 2030 Agenda

We are still 5 years out from 2030. While there’s still a lot to be done to meet the UN Sustainable Goals, **by working more closely together** we can overcome these challenges. At .eco, we are committed to supporting the global environmental community in rallying behind the Global Goals. We would love to learn more from you about what the SDGs have meant to you or your organization and how .eco can better serve you. <a href="#" class="chat-link">Please get in touch</a> &mdash; there’s so much more we can do together.
